.outer {
    margin-top: 15px;
    width: 100%;
    height: 100vh;
    box-shadow: 0 1pt 12pt rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 0 25px 30px;
    background-color: #fff;
}

.rule {
    border-right: 5px solid #00a0e3;
    content: "";
    margin: 10px 0;
}

#outer-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        width: 20%;
        height: auto;
    }
    h5 {
        text-transform: uppercase;
        margin: 15px 0;
    }
    .confirm-button {
        button {
            margin: 0 20px;
            text-transform: uppercase;
        }
    }
}
@media only screen and (max-width: 1024px) {
    #outer {
        zoom: 0.8 !important;
    }    
}
.title-header {
    font-size: 130%;
    padding-right: 10px;
}
.title-header-chirl{
    font-size: 120%;
}
.table-small {
    margin-top: 15px;
    width: 100%;
    // height: 50vh;n
    box-shadow: 0 1pt 12pt rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 10px 20px 35px;
    // padding: 0 25px;
    background-color: #fff;
}
.icon-sort{
    width: 15px;
    cursor: pointer;
}
.icon-sort-down-up{
    width: 9px;
    cursor: pointer;
}
.table-layout{
    table-layout: fixed;
}
.w-80{
    width: 80%;
}
.w-40{
    width: 40% !important;
}
.w-35{
    width: 35%;
}
.w-30{
    width: 30% !important;
}
.w-25{
    width: 25% !important;
}
.w-10{
    width: 10% !important;
}
.w-15{
    width: 15% !important;
}
.set-stt--width{
    width: 5% !important;
    width: 3rem !important;
}
.set-manipulation--width{
    width: 5% !important;
    width: 4rem !important;
}
table.dataTable th {
    background-color: #f68e56 !important;
    border: 1px solid #dddddd;
}
.btn:focus,
.btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(0, 160, 227, 0.25) !important;
}
.dropdown-toggle::after{
    display: none;
}
.dropdown.show .dropdown-menu{
    cursor: pointer;
}