<form [formGroup]="packagePermissionReviewForm" *ngIf="packagePermissionReviewForm">
    <div class="boder-table mt-3">
        <div class="">
            <div class="media-header" style="text-align: right; padding-right: 1rem; margin-top: -0.75rem;">
                <span class="action-bar alignment-but">
                    <button type="submit" (click)="onSubmit()" class="btn btn-primary">Lưu
                    </button>
                    <button type="submit" class="btn btn-secondary">Hủy
                    </button>
                </span>
            </div>
        </div>
        <div style="margin-top: -1rem; margin-right: 1rem">
            <h5 class="mb-3 text-uppercase">Quản lý hồ sơ dự thầu</h5>
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table-selection stripe hover">
                <thead>
                    <tr style="width: 100%">
                        <th style="width: 280px !important">
                            <div class="text-center">Triển khai & phân công tiến độ</div>
                        </th>
                        <th></th>
                        <th>
                            <div class="text-center">Upload file</div>
                        </th>
                        <th>
                            <div class="text-center">Tải xuống tệp tin</div>
                        </th>
                        <th>
                            <div class="text-center">Xóa file</div>
                        </th>
                        <th>
                            <div class="text-center">Tải template</div>
                        </th>
                        <th>
                            <div class="text-center">Thông báo triển khai</div>
                        </th>
                        <th>
                            <div class="text-center">Xác nhận phân công</div>
                        </th>
                        <th>
                            <div class="text-center">Gửi/ Gửi lại phân công tiến độ</div>
                        </th>
                        <th>
                            <div class="text-center">Bắt đầu lập HSDT</div>
                        </th>
                    </tr>
                </thead>
                <tbody [formGroupName]="'TrienKhaiVaPhanCongTienDo'">
                    <ng-container [formArrayName]="'permission'">
                        <tr *ngFor="let item of packagePermissionReviewForm.get('TrienKhaiVaPhanCongTienDo').get('permission').controls; let i = index;"
                            [formGroupName]="i" [class.odd]="i % 2 == 0">
                            <td>
                                <div class="grid-container-3">
                                    <div class="btn-icon btn-icon-plus" (click)="addFormArrayItem(listFormData[0], {})">
                                        <i class="fa fa-plus" style="margin-top: 2px" aria-hidden="true"></i>
                                    </div>
                                    <div class="btn-icon btn-icon-minus" [class.invisible]="i == 0" (click)="removeFormItem(listFormData[0], i)">
                                        <i class="fa fa-minus" style="margin-top: 2px" aria-hidden="true" *ngIf="i != 0"></i>
                                    </div>
                                    <div>
                                        <span style="margin-left: 12px" class="custom-dropdown w-100">
                                            <select class="form-control" formControlName="userName">
                                                <option [ngValue]="null">--Chọn--</option>
                                                <option *ngFor="let user of listBidGroupUser" [value]="user.id">{{user.desc}}</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" (click)="checkAll($event.target.checked, 'TrienKhaiVaPhanCongTienDo', i)">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="UploadFile">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="TaiXuongTepTin">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="XoaFile">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="TaiTemplate">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="ThongBaoTrienKhai">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="XacNhanPhanCong">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="GuiGuiLaiPhanCongTienDo">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="BatDauLapHSDT">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>

            <div [formGroupName]="'LapHoSoDuThau'" class="mt-4 table-striped-fake">
                <div class="table-fake header">
                    <div class="text-center">Lập hồ sơ dự thầu</div>
                    <div class="text-center">Loại tài liệu</div>
                    <div></div>
                    <div class="text-center" appSameWidth="col1">Upload file</div>
                    <div class="text-center" appSameWidth="col2">Tải xuống tệp tin</div>
                    <div class="text-center" appSameWidth="col3">Xóa file</div>
                    <div class="text-center" appSameWidth="col4">Tải template</div>
                    <div class="text-center" appSameWidth="col5">Chốt file</div>
                </div>
                <div [formArrayName]="'permission'">
                    <div *ngFor="let item of packagePermissionReviewForm.get('LapHoSoDuThau').get('permission').controls; let i = index;" [formGroupName]="i">
                        <div formArrayName="documentTypes" [class.odd]="i % 2 == 0">
                            <div class="table-fake content" *ngFor="let itemBid of item.get('documentTypes').controls; let j = index;" [formGroupName]="j">
                                <div>
                                    <div class="grid-container-3" *ngIf="j == 0">
                                        <div class="btn-icon btn-icon-plus" (click)="addFormArrayBidItem(listFormData[1], {})">
                                            <i class="fa fa-plus" style="margin-top: 2px" aria-hidden="true"></i>
                                        </div>
                                        <div class="btn-icon btn-icon-minus" [class.invisible]="i == 0" (click)="removeFormItem(listFormData[1], i)">
                                            <i class="fa fa-minus" style="margin-top: 2px" aria-hidden="true" *ngIf="i != 0"></i>
                                        </div>
                                        <div>
                                            <span style="padding-left: 12px" class="custom-dropdown w-100">
                                                <select class="form-control" formControlName="userName">
                                                    <option [ngValue]="null">--Chọn--</option>
                                                    <option *ngFor="let user of listBidGroupUser" [value]="user.id">{{user.desc}}</option>
                                                </select>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid-container-3-child">
                                    <div>
                                        <span style="padding-left: 12px" class="custom-dropdown w-100">
                                            <select class="form-control" formControlName="documentId">
                                                <option [ngValue]="null">--Chọn--</option>
                                                <option *ngFor="let document of listDocumentType" [value]="document.id">{{document.text}}</option>
                                            </select>
                                        </span>
                                    </div>
                                    <div class="btn-icon btn-icon-plus" (click)="addFormArrayDocumentTypeItem(listFormData[1], i)">
                                        <i class="fa fa-plus" style="margin-top: 2px" aria-hidden="true"></i>
                                    </div>
                                    <div class="btn-icon btn-icon-minus" [class.invisible]="j == 0" (click)="removeFormBidItem(listFormData[1], i, j)">
                                        <i class="fa fa-minus" style="margin-top: 2px" aria-hidden="true" *ngIf="j != 0"></i>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" (click)="checkAllBidItem($event.target.checked, i, j)">
                                        <span class="custom-control-indicator"></span>
                                    </label>
                                </div>
                                <div class="text-center col1">
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" formControlName="UploadFile">
                                        <span class="custom-control-indicator"></span>
                                    </label>
                                </div>
                                <div class="text-center col2">
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" formControlName="TaiXuongTepTin">
                                        <span class="custom-control-indicator"></span>
                                    </label>
                                </div>
                                <div class="text-center col3">
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" formControlName="XoaFile">
                                        <span class="custom-control-indicator"></span>
                                    </label>
                                </div>
                                <div class="text-center col4">
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" formControlName="TaiTemplate">
                                        <span class="custom-control-indicator"></span>
                                    </label>
                                </div>
                                <div class="text-center col5">
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" formControlName="ChotFile">
                                        <span class="custom-control-indicator"></span>
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table-selection stripe hover mt-4">
                <thead>
                    <tr style="width: 100%">
                        <th style="width: 280px !important">
                            <div class="text-center">Trình duyệt giá</div>
                        </th>
                        <th></th>
                        <th>
                            <div class="text-center">Upload file</div>
                        </th>
                        <th>
                            <div class="text-center">Tải xuống tệp tin</div>
                        </th>
                        <th>
                            <div class="text-center">Xóa file</div>
                        </th>
                        <th>
                            <div class="text-center">Tải template</div>
                        </th>
                        <th>
                            <div class="text-center">In file</div>
                        </th>
                        <th>
                            <div class="text-center">Chốt trình duyệt giá</div>
                        </th>
                    </tr>
                </thead>
                <tbody [formGroupName]="'TrinhDuyetGia'">
                    <ng-container [formArrayName]="'permission'">
                        <tr *ngFor="let item of packagePermissionReviewForm.get('TrinhDuyetGia').get('permission').controls; let i = index;" [formGroupName]="i"
                            [class.odd]="i % 2 == 0">
                            <td>
                                <div class="grid-container-3">
                                    <div class="btn-icon btn-icon-plus" (click)="addFormArrayItem(listFormData[2], {})">
                                        <i class="fa fa-plus" style="margin-top: 2px" aria-hidden="true"></i>
                                    </div>
                                    <div class="btn-icon btn-icon-minus" [class.invisible]="i == 0" (click)="removeFormItem(listFormData[2], i)">
                                        <i class="fa fa-minus" style="margin-top: 2px" aria-hidden="true" *ngIf="i != 0"></i>
                                    </div>
                                    <div>
                                        <span style="margin-left: 12px" class="custom-dropdown w-100">
                                            <select class="form-control" formControlName="userName">
                                                <option [ngValue]="null">--Chọn--</option>
                                                <option *ngFor="let user of listBidGroupUser" [value]="user.id">{{user.desc}}</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" (click)="checkAll($event.target.checked, 'TrinhDuyetGia', i)">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="UploadFile">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="TaiXuongTepTin">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="XoaFile">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="TaiTemplate">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="InFile">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="ChotTrinhDuyetGia">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>

            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table-selection stripe hover mt-4">
                <thead>
                    <tr style="width: 100%">
                        <th style="width: 280px !important">
                            <div class="text-center">Đơn báo giá dự thầu</div>
                        </th>
                        <th></th>
                        <th>
                            <div class="text-center">Upload file</div>
                        </th>
                        <th>
                            <div class="text-center">Tải xuống tệp tin</div>
                        </th>
                        <th>
                            <div class="text-center">Xóa file</div>
                        </th>
                        <th>
                            <div class="text-center">Tải template</div>
                        </th>
                        <th>
                            <div class="text-center">In file</div>
                        </th>
                        <th>
                            <div class="text-center">Chốt đơn báo giá</div>
                        </th>
                        <th>
                            <div class="text-center">In và gửi duyệt HSDT</div>
                        </th>
                    </tr>
                </thead>
                <tbody [formGroupName]="'DonBaoGiaDuThau'">
                    <ng-container [formArrayName]="'permission'">
                        <tr *ngFor="let item of packagePermissionReviewForm.get('DonBaoGiaDuThau').get('permission').controls; let i = index;" [formGroupName]="i"
                            [class.odd]="i % 2 == 0">
                            <td>
                                <div class="grid-container-3">
                                    <div class="btn-icon btn-icon-plus" (click)="addFormArrayItem(listFormData[3], {})">
                                        <i class="fa fa-plus" style="margin-top: 2px" aria-hidden="true"></i>
                                    </div>
                                    <div class="btn-icon btn-icon-minus" [class.invisible]="i == 0" (click)="removeFormItem(listFormData[3], i)">
                                        <i class="fa fa-minus" style="margin-top: 2px" aria-hidden="true" *ngIf="i != 0"></i>
                                    </div>
                                    <div>
                                        <span style="margin-left: 12px" class="custom-dropdown w-100">
                                            <select class="form-control" formControlName="userName">
                                                <option [ngValue]="null">--Chọn--</option>
                                                <option *ngFor="let user of listBidGroupUser" [value]="user.id">{{user.desc}}</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" (click)="checkAll($event.target.checked, 'DonBaoGiaDuThau', i)">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="UploadFile">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="TaiXuongTepTin">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="XoaFile">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="TaiTemplate">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="InFile">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="ChotDonBaoGia">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="InVaGoiDuyetHoSoDuThau">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>

            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table-selection stripe hover mt-4">
                <thead>
                    <tr style="width: 100%">
                        <th style="width: 280px !important">
                            <div class="text-center">Hồ sơ dự thầu đã ký</div>
                        </th>
                        <th></th>
                        <th>
                            <div class="text-center">Tải xuống tệp tin</div>
                        </th>
                        <th>
                            <div class="text-center">Tải template</div>
                        </th>
                        <th>
                            <div class="text-center">Hiệu chỉnh HSDT</div>
                        </th>
                        <th>
                            <div class="text-center">Xác nhận đã ký HSDT</div>
                        </th>
                        <th>
                            <div class="text-center">Upload file scan HSDT đã ký</div>
                        </th>
                        <th>
                            <div class="text-center">Nộp HSDT</div>
                        </th>
                    </tr>
                </thead>
                <tbody [formGroupName]="'HoSoDuThauDaKy'">
                    <ng-container [formArrayName]="'permission'">
                        <tr *ngFor="let item of packagePermissionReviewForm.get('HoSoDuThauDaKy').get('permission').controls; let i = index;" [formGroupName]="i"
                            [class.odd]="i % 2 == 0">
                            <td>
                                <div class="grid-container-3">
                                    <div class="btn-icon btn-icon-plus" (click)="addFormArrayItem(listFormData[4], {})">
                                        <i class="fa fa-plus" style="margin-top: 2px" aria-hidden="true"></i>
                                    </div>
                                    <div class="btn-icon btn-icon-minus" [class.invisible]="i == 0" (click)="removeFormItem(listFormData[4], i)">
                                        <i class="fa fa-minus" style="margin-top: 2px" aria-hidden="true" *ngIf="i != 0"></i>
                                    </div>
                                    <div>
                                        <span style="margin-left: 12px" class="custom-dropdown w-100">
                                            <select class="form-control" formControlName="userName">
                                                <option [ngValue]="null">--Chọn--</option>
                                                <option *ngFor="let user of listBidGroupUser" [value]="user.id">{{user.desc}}</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" (click)="checkAll($event.target.checked, 'HoSoDuThauDaKy', i)">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="TaiXuongTepTin">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="TaiTemplate">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="HieuChinhHSDT">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="XacNhanDaKyHSDT">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="UpLoadFIleScanHSDTDaKy">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="NopHSDT">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>

            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table-selection stripe hover mt-4">
                <thead>
                    <tr style="width: 100%">
                        <th style="width: 280px !important">
                            <div class="text-center">Quản lý phỏng vấn thương thảo</div>
                        </th>
                        <th></th>
                        <th>
                            <div class="text-center">Tạo lời mời phỏng vấn</div>
                        </th>
                        <th>
                            <div class="text-center">Chỉnh sửa lời mời phỏng vấn</div>
                        </th>
                        <th>
                            <div class="text-center">Thông báo phỏng vấn</div>
                        </th>
                        <th>
                            <div class="text-center">Tải xuống tệp tin</div>
                        </th>
                        <th>
                            <div class="text-center">Tải template</div>
                        </th>
                        <th>
                            <div class="text-center">Chốt công tác chuẩn bị PV</div>
                        </th>
                        <th>
                            <div class="text-center">Đã thực hiện phỏng vấn</div>
                        </th>
                        <th>
                            <div class="text-center">Upload biên bản PV</div>
                        </th>
                        <th>
                            <div class="text-center">In</div>
                        </th>
                        <th>
                            <div class="text-center">Đóng phỏng vấn</div>
                        </th>
                    </tr>
                </thead>
                <tbody [formGroupName]="'QuanLyPhongVanThuongThao'">
                    <ng-container [formArrayName]="'permission'">
                        <tr *ngFor="let item of packagePermissionReviewForm.get('QuanLyPhongVanThuongThao').get('permission').controls; let i = index;"
                            [formGroupName]="i" [class.odd]="i % 2 == 0">
                            <td>
                                <div class="grid-container-3">
                                    <div class="btn-icon btn-icon-plus" (click)="addFormArrayItem(listFormData[5], {})">
                                        <i class="fa fa-plus" style="margin-top: 2px" aria-hidden="true"></i>
                                    </div>
                                    <div class="btn-icon btn-icon-minus" [class.invisible]="i == 0" (click)="removeFormItem(listFormData[5], i)">
                                        <i class="fa fa-minus" style="margin-top: 2px" aria-hidden="true" *ngIf="i != 0"></i>
                                    </div>
                                    <div>
                                        <span style="margin-left: 12px" class="custom-dropdown w-100">
                                            <select class="form-control" formControlName="userName">
                                                <option [ngValue]="null">--Chọn--</option>
                                                <option *ngFor="let user of listBidGroupUser" [value]="user.id">{{user.desc}}</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" (click)="checkAll($event.target.checked, 'QuanLyPhongVanThuongThao', i)">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="TaoLoiMoiPhongVan">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="ChinhSuaLoiMoiPhongVan">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="ThongBaoPhongVan">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="TaiXuongTepTin">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="TaiTemplate">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="ChotCongTacChuanBiPV">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="DaThucHienPhongVan">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="UploadBienBanPV">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="In">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="DongPhongVan">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>

</form>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.7)" size = "default" color="#fff" type="ball-scale"></ngx-spinner>