<form [formGroup]="packagePermissionReviewForm" *ngIf="packagePermissionReviewForm">
    <div class="boder-table mt-3">
        <div class="">
            <div class="media-header" style="text-align: right; padding-right: 1rem; margin-top: -0.75rem;">
                <span class="action-bar alignment-but">
                    <button type="submit" (click)="onSubmit()" class="btn btn-primary">Lưu
                    </button>
                    <button type="submit" class="btn btn-secondary" (click)="routeToPackageInfo()">Hủy
                    </button>
                </span>
            </div>
        </div>
        <div style="margin-top: -1rem; margin-right: 1rem">
            <h5 class="mb-3 text-uppercase">Quản lý hồ sơ dự thầu</h5>

            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table-selection stripe hover mt-4">
                <thead>
                    <tr style="width: 100%">
                        <th style="width: 280px !important">
                            <div class="text-center">Phiếu đề nghị dự thầu</div>
                        </th>
                        <th>

                        </th>
                        <th>
                            <div class="text-center">Tạo mới ĐNDT</div>
                        </th>
                        <th>
                            <div class="text-center">Xem ĐNDT</div>
                        </th>
                        <th>
                            <div class="text-center">Sửa ĐNDT</div>
                        </th>
                        <th>
                            <div class="text-center">Xóa ĐNDT</div>
                        </th>
                        <th>
                            <div class="text-center">In ĐNDT</div>
                        </th>
                        <th>
                            <div class="text-center">Xác nhận ký</div>
                            <div class="text-center">(GDDT)</div>

                        </th>
                        <th>
                            <div class="text-center">Gửi duyệt DNDT</div>
                        </th>
                        <!-- <th>
                            <div class="text-center">Chấp thuận/Không chấp thuận ĐNDT (BGĐ)</div>
                        </th> -->
                        <th>
                            <div class="text-center">Tải template ĐNDT</div>
                        </th>
                    </tr>
                </thead>
                <tbody formGroupName="PhieuDeNghiDuThau">
                    <ng-container formArrayName="permission">
                        <tr *ngFor="let item of packagePermissionReviewForm.get('PhieuDeNghiDuThau').get('permission').controls; let i = index;"
                            [formGroupName]="i" [class.odd]="i % 2 == 0">
                            <td>
                                <div class="grid-container-3">
                                    <div>
                                        <div class="btn-icon btn-icon-plus" *ngIf="packagePermissionReviewForm.get('PhieuDeNghiDuThau').get('permission').value.length < this.listBidGroupUser.length"
                                            (click)="addFormArrayItem(listFormData[0], {})">
                                            <i class="fa fa-plus" style="margin-top: 2px" aria-hidden="true"></i>
                                        </div>
                                    </div>

                                    <div class="btn-icon btn-icon-minus" [class.invisible]="i == 0" (click)="removeFormItem(listFormData[0], i)">
                                        <i class="fa fa-minus" style="margin-top: 2px" aria-hidden="true" *ngIf="i != 0"></i>
                                    </div>
                                    <div>
                                        <span style="margin-left: 12px" class="custom-dropdown w-100">
                                            <select class="form-control" formControlName="userName">
                                                <option [ngValue]="null">--Chọn--</option>
                                                <ng-container *ngFor="let user of listBidGroupUser">
                                                    <ng-container *ngIf="checkOption(user.id, index)">
                                                        <option [value]="user.id">{{user.desc}}</option>
                                                    </ng-container>
                                                </ng-container>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" formControlName="all" class="custom-control-input" (click)="checkAll($event.target.checked, 'PhieuDeNghiDuThau', i)">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="TaoMoiDNDT">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="XemDNDT">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="SuaDNDT">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="XoaDNDT">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="InDNDT">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="XacNhanKy">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="GuiDuyetDNDT">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <!-- <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="ChapThuanKhongChapThuan">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td> -->
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="TaiTemplate">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>



            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="mt-4 table-selection stripe hover">
                <thead>
                    <tr style="width: 100%">
                        <th style="width: 280px !important">
                            <div class="text-center">Triển khai & phân công tiến độ</div>
                        </th>
                        <th>

                        </th>
                        <th>
                            <div class="text-center">Thông báo triển khai</div>
                        </th>
                        <th>
                            <div class="text-center">Xem email</div>
                        </th>
                        <th>
                            <div class="text-center">Tạo mới bảng PCTĐ</div>
                        </th>
                        <th>
                            <div class="text-center">Xem Bảng PCTĐ</div>
                        </th>
                        <th>
                            <div class="text-center">Sửa Bảng PCTĐ</div>
                        </th>
                        <th>
                            <div class="text-center">Xoá Bảng PCTĐ</div>
                        </th>
                        <th>
                            <div class="text-center">In Bảng PCTĐ</div>
                        </th>
                        <th>
                            <div class="text-center">Xác nhận ký (Prepared by)</div>
                        </th>
                        <th>
                            <div class="text-center">Xác nhận ký (Approved by)</div>
                        </th>
                        <th>
                            <div class="text-center">Gửi PCTĐ</div>
                        </th>
                        <th>
                            <div class="text-center">Tải template PCTĐ</div>
                        </th>
                        <th>
                            <div class="text-center">Bắt đầu lập HSTD</div>
                        </th>
                    </tr>
                </thead>
                <tbody [formGroupName]="'TrienKhaiVaPhanCongTienDo'">
                    <ng-container [formArrayName]="'permission'">
                        <tr *ngFor="let item of packagePermissionReviewForm.get('TrienKhaiVaPhanCongTienDo').get('permission').controls; let i = index;"
                            [formGroupName]="i" [class.odd]="i % 2 == 0">
                            <td>
                                <div class="grid-container-3">
                                    <div>
                                        <div class="btn-icon btn-icon-plus" *ngIf="packagePermissionReviewForm.get('TrienKhaiVaPhanCongTienDo').get('permission').value.length < this.listBidGroupUser.length"
                                            (click)="addFormArrayItem(listFormData[1], {})">
                                            <i class="fa fa-plus" style="margin-top: 2px" aria-hidden="true"></i>
                                        </div>
                                    </div>

                                    <div class="btn-icon btn-icon-minus" [class.invisible]="i == 0" (click)="removeFormItem(listFormData[1], i)">
                                        <i class="fa fa-minus" style="margin-top: 2px" aria-hidden="true" *ngIf="i != 0"></i>
                                    </div>
                                    <div>
                                        <span style="margin-left: 12px" class="custom-dropdown w-100">
                                            <select class="form-control" formControlName="userName">
                                                <option [ngValue]="null">--Chọn--</option>
                                                <option *ngFor="let user of listBidGroupUser" [value]="user.id">{{user.desc}}</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" formControlName="all" class="custom-control-input" (click)="checkAll($event.target.checked, 'TrienKhaiVaPhanCongTienDo', i)">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="ThongBaoTrienKhai">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="XemEmail">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="TaoMoiBangPCTD">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="XemBangPCTD">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="SuaBangPCTD">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="XoaBangPCTD">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="InBangPCTD">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="XacNhanKyPrepared">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="XacNhanKyApproved">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="GuiPCTD">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="TaiTemplatePCTD">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="BatDauLapHSDT">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>

            <div class="d-flex flex-row-reverse mt-1 mb-1">
                <div>
                    <i> *Triển khai và phân công tiên độ: Trưởng phòng thông báo triển khai</i>
                </div>
            </div>
            <div [formGroupName]="'LapHoSoDuThauFile'" class="mt-4 table-striped-fake">
                <div class="table-fake header">
                    <div class="text-center">Lập HSDT (upload file)</div>
                    <div class="text-center">Loại tài liệu</div>
                    <div></div>
                    <div class="text-center" appSameWidth="col1">Upload file</div>
                    <div class="text-center" appSameWidth="col2">Download file</div>
                    <div class="text-center" appSameWidth="col3">Xóa file</div>
                    <div class="text-center" appSameWidth="col4">Tải template</div>
                </div>
                <div [formArrayName]="'permission'">
                    <div *ngFor="let item of packagePermissionReviewForm.get('LapHoSoDuThauFile').get('permission').controls; let i = index;"
                        [formGroupName]="i">
                        <div formArrayName="documentTypes" [class.odd]="i % 2 == 0">
                            <div class="table-fake content" *ngFor="let itemBid of item.get('documentTypes').controls; let j = index;"
                                [formGroupName]="j">
                                <div>
                                    <div class="grid-container-3" *ngIf="j == 0">
                                        <div>
                                            <div class="btn-icon btn-icon-plus" *ngIf="packagePermissionReviewForm.get('LapHoSoDuThauFile').get('permission').value.length < this.listBidGroupUser.length"
                                                (click)="addFormArrayBidItem(listFormData[2], {})">
                                                <i class="fa fa-plus" style="margin-top: 2px" aria-hidden="true"></i>
                                            </div>
                                        </div>

                                        <div class="btn-icon btn-icon-minus" [class.invisible]="i == 0" (click)="removeFormItem(listFormData[2], i)">
                                            <i class="fa fa-minus" style="margin-top: 2px" aria-hidden="true" *ngIf="i != 0"></i>
                                        </div>
                                        <div>
                                            <span style="padding-left: 12px" class="custom-dropdown w-100">
                                                <select class="form-control" formControlName="userName">
                                                    <option [ngValue]="null">--Chọn--</option>
                                                    <option *ngFor="let user of listBidGroupUser" [value]="user.id">{{user.desc}}</option>
                                                </select>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid-container-3-child">
                                    <div>
                                        <span style="padding-left: 12px" class="custom-dropdown w-100">
                                            <select class="form-control" formControlName="documentId">
                                                <option [ngValue]="null">--Chọn--</option>
                                                <option *ngFor="let document of listDocumentType" [value]="document.id">{{document.text}}</option>
                                            </select>
                                        </span>
                                    </div>
                                    <div>
                                        <div class="btn-icon btn-icon-plus" *ngIf="item.get('documentTypes').value.length < this.listDocumentType.length"
                                            (click)="addFormArrayDocumentTypeItem(listFormData[2], i)">
                                            <i class="fa fa-plus" style="margin-top: 2px" aria-hidden="true"></i>
                                        </div>
                                    </div>

                                    <div class="btn-icon btn-icon-minus" [class.invisible]="j == 0" (click)="removeFormBidItem(listFormData[2], i, j)">
                                        <i class="fa fa-minus" style="margin-top: 2px" aria-hidden="true" *ngIf="j != 0"></i>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" formControlName="all" class="custom-control-input"
                                            (click)="checkAllBidItem($event.target.checked, i, j)">
                                        <span class="custom-control-indicator"></span>
                                    </label>
                                </div>
                                <div class="text-center col1">
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" formControlName="UploadHSDT">
                                        <span class="custom-control-indicator"></span>
                                    </label>
                                </div>
                                <div class="text-center col2">
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" formControlName="DownloadFile">
                                        <span class="custom-control-indicator"></span>
                                    </label>
                                </div>
                                <div class="text-center col3">
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" formControlName="XoaFile">
                                        <span class="custom-control-indicator"></span>
                                    </label>
                                </div>
                                <div class="text-center col4">
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" formControlName="TaiTemplate">
                                        <span class="custom-control-indicator"></span>
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div [formGroupName]="'LapHoSoDuThauLiveForm'" class="mt-4 table-striped-fake">
                <div class="table-fake header">
                    <div class="text-center">Lập HSDT (Liveform)</div>
                    <div class="text-center">Loại tài liệu</div>
                    <div></div>
                    <div class="text-center xuong-dong">
                        <div>Tạo mới </div>
                        <div>liveform</div>
                    </div>
                    <div class="text-center xuong-dong">
                        <div>
                            Xem
                        </div>
                        <div>
                            liveform
                        </div>
                    </div>
                    <div class="text-center xuong-dong">
                        <div>
                            Sửa
                        </div>
                        <div>
                            liveform
                        </div>
                    </div>
                    <div class="text-center xuong-dong">
                        <div>
                            Xóa
                        </div>
                        <div>
                            liveform
                        </div>
                    </div>
                    <div class="text-center xuong-dong">
                        <div>
                            In
                        </div>
                        <div>liveform</div>
                    </div>
                    <div class="text-center xuong-dong">Tải template</div>
                    <div class="text-center xuong-dong">Chốt HSDT</div>

                </div>
                <div [formArrayName]="'permission'">
                    <div *ngFor="let item of packagePermissionReviewForm.get('LapHoSoDuThauLiveForm').get('permission').controls; let i = index;"
                        [formGroupName]="i">
                        <div formArrayName="documentTypes" [class.odd]="i % 2 == 0">
                            <div class="table-fake content" *ngFor="let itemBid of item.get('documentTypes').controls; let j = index;"
                                [formGroupName]="j">
                                <div>
                                    <div class="grid-container-3" *ngIf="j == 0">
                                        <div>
                                            <div class="btn-icon btn-icon-plus" *ngIf="packagePermissionReviewForm.get('LapHoSoDuThauLiveForm').get('permission').value.length < this.listBidGroupUser.length"
                                                (click)="addFormArrayBidItem(listFormData[6], {})">
                                                <i class="fa fa-plus" style="margin-top: 2px" aria-hidden="true"></i>
                                            </div>
                                        </div>

                                        <div class="btn-icon btn-icon-minus" [class.invisible]="i == 0" (click)="removeFormItem(listFormData[6], i)">
                                            <i class="fa fa-minus" style="margin-top: 2px" aria-hidden="true" *ngIf="i != 0"></i>
                                        </div>
                                        <div>
                                            <span style="padding-left: 12px" class="custom-dropdown w-100">
                                                <select class="form-control" formControlName="userName">
                                                    <option [ngValue]="null">--Chọn--</option>
                                                    <option *ngFor="let user of listBidGroupUser" [value]="user.id">{{user.desc}}</option>
                                                </select>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid-container-3-child">
                                    <div>
                                        <span style="padding-left: 12px" class="custom-dropdown w-100">
                                            <select class="form-control" formControlName="documentId">
                                                <option [ngValue]="null">--Chọn--</option>
                                                <option *ngFor="let document of listLiveformType" [value]="document.id">{{document.text}}</option>
                                            </select>
                                        </span>
                                    </div>
                                    <div>
                                        <div class="btn-icon btn-icon-plus" *ngIf=" item.get('documentTypes').value.length < this.listLiveformType.length"
                                            (click)="addFormArrayDocumentTypeItem(listFormData[6], i)">
                                            <i class="fa fa-plus" style="margin-top: 2px" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div class="btn-icon btn-icon-minus" [class.invisible]="j == 0" (click)="removeFormBidItem(listFormData[6], i, j)">
                                        <i class="fa fa-minus" style="margin-top: 2px" aria-hidden="true" *ngIf="j != 0"></i>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" (click)="checkAllBidItemLiveForm($event.target.checked, i, j)">
                                        <span class="custom-control-indicator"></span>
                                    </label>
                                </div>
                                <div class="text-center">
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" formControlName="TaoMoiLiveForm">
                                        <span class="custom-control-indicator"></span>
                                    </label>
                                </div>
                                <div class="text-center">
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" formControlName="XemLiveForm">
                                        <span class="custom-control-indicator"></span>
                                    </label>
                                </div>
                                <div class="text-center">
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" formControlName="SuaLiveForm">
                                        <span class="custom-control-indicator"></span>
                                    </label>
                                </div>
                                <div class="text-center">
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" formControlName="XoaLiveForm">
                                        <span class="custom-control-indicator"></span>
                                    </label>
                                </div>
                                <div class="text-center">
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" formControlName="InLiveForm">
                                        <span class="custom-control-indicator"></span>
                                    </label>
                                </div>
                                <div class="text-center">
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" formControlName="TaiTemplate">
                                        <span class="custom-control-indicator"></span>
                                    </label>
                                </div>
                                <div class="text-center">
                                    <label class="custom-control custom-checkbox" *ngIf="j == 0">
                                        <input type="checkbox" class="custom-control-input" formControlName="ChotHSDT">
                                        <span class="custom-control-indicator"></span>
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table-selection stripe hover mt-4">
                <thead>
                    <tr style="width: 100%">
                        <th style="width: 280px !important">
                            <div class="text-center">Trình duyệt giá</div>
                        </th>
                        <th></th>
                        <th>
                            <div class="text-center">Tạo mới TDG</div>
                        </th>
                        <th>
                            <div class="text-center">Xem TDG</div>
                        </th>
                        <th>
                            <div class="text-center">Sửa TDG</div>
                        </th>
                        <th>
                            <div class="text-center">Xoá TDG</div>
                        </th>
                        <th>
                            <div class="text-center">In TDG</div>
                        </th>
                        <th>
                            <div class="text-center">Duyệt TDG (TNDT)</div>
                        </th>
                        <th>
                            <div class="text-center">Tải template TDG</div>
                        </th>
                        <th>
                            <div class="text-center">Duyệt TDG (TP.DT)</div>
                        </th>
                        <th>
                            <div class="text-center">Gửi duyệt/Gửi duyệt lại TDG</div>
                        </th>
                        <!-- <th>
                            <div class="text-center">Duyệt TDG (BGĐ)</div>
                        </th> -->
                    </tr>
                </thead>
                <tbody [formGroupName]="'TrinhDuyetGia'">
                    <ng-container [formArrayName]="'permission'">
                        <tr *ngFor="let item of packagePermissionReviewForm.get('TrinhDuyetGia').get('permission').controls; let i = index;"
                            [formGroupName]="i" [class.odd]="i % 2 == 0">
                            <td>
                                <div class="grid-container-3">
                                    <div>
                                        <div class="btn-icon btn-icon-plus" *ngIf="packagePermissionReviewForm.get('TrinhDuyetGia').get('permission').value.length < this.listBidGroupUser.length"
                                            (click)="addFormArrayItem(listFormData[3], {})">
                                            <i class="fa fa-plus" style="margin-top: 2px" aria-hidden="true"></i>
                                        </div>
                                    </div>

                                    <div class="btn-icon btn-icon-minus" [class.invisible]="i == 0" (click)="removeFormItem(listFormData[3], i)">
                                        <i class="fa fa-minus" style="margin-top: 2px" aria-hidden="true" *ngIf="i != 0"></i>
                                    </div>
                                    <div>
                                        <span style="margin-left: 12px" class="custom-dropdown w-100">
                                            <select class="form-control" formControlName="userName">
                                                <option [ngValue]="null">--Chọn--</option>
                                                <option *ngFor="let user of listBidGroupUser" [value]="user.id">{{user.desc}}</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input formControlName="all" type="checkbox" class="custom-control-input" (click)="checkAll($event.target.checked, 'TrinhDuyetGia', i)">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="TaoMoiTDG">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="XemTDG">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="SuaTDG">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="XoaTDG">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="InTDG">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="DuyetTDGTNDuThau">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>

                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="TaiTemplateTDG">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="DuyetTDGTPDuThau">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="GuiDuyet">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>


            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table-selection stripe hover mt-4">
                <thead>
                    <tr style="width: 100%">
                        <th style="width: 280px !important">
                            <div class="text-center">Chốt và nộp HSDT</div>
                        </th>
                        <th></th>
                        <th>
                            <div class="text-center">Chốt hồ sơ</div>
                        </th>
                        <th>
                            <div class="text-center">Nộp HSDT</div>
                        </th>
                        <th>
                            <div class="text-center">Hiệu chỉnh HSDT</div>
                        </th>
                    </tr>
                </thead>
                <tbody [formGroupName]="'ChotVaNopHSDT'">
                    <ng-container [formArrayName]="'permission'">
                        <tr *ngFor="let item of packagePermissionReviewForm.get('ChotVaNopHSDT').get('permission').controls; let i = index;"
                            [formGroupName]="i" [class.odd]="i % 2 == 0">
                            <td>
                                <div class="grid-container-3">
                                    <div>
                                        <div class="btn-icon btn-icon-plus" *ngIf="packagePermissionReviewForm.get('ChotVaNopHSDT').get('permission').value.length < this.listBidGroupUser.length"
                                            (click)="addFormArrayItem(listFormData[4], {})">
                                            <i class="fa fa-plus" style="margin-top: 2px" aria-hidden="true"></i>
                                        </div>
                                    </div>

                                    <div class="btn-icon btn-icon-minus" [class.invisible]="i == 0" (click)="removeFormItem(listFormData[4], i)">
                                        <i class="fa fa-minus" style="margin-top: 2px" aria-hidden="true" *ngIf="i != 0"></i>
                                    </div>
                                    <div>
                                        <span style="margin-left: 12px" class="custom-dropdown w-100">
                                            <select class="form-control" formControlName="userName">
                                                <option [ngValue]="null">--Chọn--</option>
                                                <option *ngFor="let user of listBidGroupUser" [value]="user.id">{{user.desc}}</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input formControlName="all" type="checkbox" class="custom-control-input" (click)="checkAll($event.target.checked, 'ChotVaNopHSDT', i)">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="ChotHoSo">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="NopHSDT">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="HieuChinhHSDT">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>

            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table-selection stripe hover mt-4">
                <thead>
                    <tr style="width: 100%">
                        <th style="width: 280px !important">
                            <div class="text-center">Quản lý phỏng vấn/thương thảo</div>
                        </th>
                        <th></th>
                        <th>
                            <div class="text-center">Tạo lời mời PV</div>
                        </th>
                        <th>
                            <div class="text-center">Cập nhật lời mời PV</div>
                        </th>
                        <th>
                            <div class="text-center">Thông báo PV</div>
                        </th>
                        <th>
                            <div class="text-center">Xem email thông báo PV</div>
                        </th>
                        <th>
                            <div class="text-center">Chốt công tác chuẩn bị PV</div>
                        </th>
                        <th>
                            <div class="text-center">Upload BBPV</div>
                        </th>
                        <th>
                            <div class="text-center">Đóng PV</div>
                        </th>
                    </tr>
                </thead>
                <tbody [formGroupName]="'QuanLyPhongVanThuongThao'">
                    <ng-container [formArrayName]="'permission'">
                        <tr *ngFor="let item of packagePermissionReviewForm.get('QuanLyPhongVanThuongThao').get('permission').controls; let i = index;"
                            [formGroupName]="i" [class.odd]="i % 2 == 0">
                            <td>
                                <div class="grid-container-3">
                                    <div>
                                        <div class="btn-icon btn-icon-plus" *ngIf="packagePermissionReviewForm.get('QuanLyPhongVanThuongThao').get('permission').value.length < this.listBidGroupUser.length"
                                            (click)="addFormArrayItem(listFormData[5], {})">
                                            <i class="fa fa-plus" style="margin-top: 2px" aria-hidden="true"></i>
                                        </div>
                                    </div>

                                    <div class="btn-icon btn-icon-minus" [class.invisible]="i == 0" (click)="removeFormItem(listFormData[5], i)">
                                        <i class="fa fa-minus" style="margin-top: 2px" aria-hidden="true" *ngIf="i != 0"></i>
                                    </div>
                                    <div>
                                        <span style="margin-left: 12px" class="custom-dropdown w-100">
                                            <select class="form-control" formControlName="userName">
                                                <option [ngValue]="null">--Chọn--</option>
                                                <option *ngFor="let user of listBidGroupUser" [value]="user.id">{{user.desc}}</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input formControlName="all" type="checkbox" class="custom-control-input" (click)="checkAll($event.target.checked, 'QuanLyPhongVanThuongThao', i)">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="TaoMoiLMPV">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="CapNhatLMPV">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="ThongBaoPV">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="XemEmailTBPV">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="ChotCongTacChuanBiPhongVan">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="UploadBBPV">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="DongPV">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>

</form>
<!-- <ngx-spinner bdColor="rgba(51, 51, 51, 0.7)" size="default" color="#fff" type="ball-scale"></ngx-spinner> -->