.no-boder {
    border: none;
}

.textarea-content {
    resize: none;
    width: 90%;
    background-color: white;
}

.pre-content {
    width: 90%;
    background-color: white;
}

.boder-table {
    // border: 1px solid #dadada;
    padding: 20px 0px 35px 30px; // border-top: none;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
    background-color: #ffff;
}

.layout-table {
    table-layout: fixed;
}

.form-control {
    min-height: 33px;
}

.text-right-m2 {
    float: right;
}

.btn-icon {
    color: white;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 12px;
    margin-top: 7px;
    cursor: pointer;
}

.btn-icon-plus {
    background-color: #00a0e3;
}

.btn-icon-minus {
    background-color: #EA5552;
}

.grid-container-3 {
    display: grid;
    grid-template-columns: 32px 32px 200px;
}

.grid-container-3-child {
    display: grid;
    grid-template-columns: 200px 32px 32px;
}

.table-fake {
    display: grid;
    grid-template-columns: 280px 280px 34px auto auto auto auto auto auto auto;
    &.header {
        border-bottom: 1px solid #f68e56 !important;
        background-color: #f68e56;
        color: #ffff;
        font-weight: bold;
        font-size: 0.875rem;
        line-height: 1.5;
        padding: 6px 8px;
    }
    &.content {
        height: 44.08px;
        padding: 6px 8px;
    }
    
}

.table-fake-2 {
    display: grid;
    grid-template-columns: 280px 280px 34px auto auto auto auto;
    &.header {
        border-bottom: 1px solid #f68e56 !important;
        background-color: #f68e56;
        color: #ffff;
        font-weight: bold;
        font-size: 0.875rem;
        line-height: 1.5;
        padding: 6px 8px;
    }
    &.content {
        height: 44.08px;
        padding: 6px 8px;
    }
    
}

.table-striped-fake {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    .odd {
        background-color: #fafbfc;
    }
    .custom-checkbox {
        margin-top: 4px;
    }
    .custom-control {
        margin-right: -1rem !important;
    }
}
.xuong-dong{
  //  white-space: pre-line;
    padding-left: 3px;
    padding-right: 3px;
}