<form [formGroup]="packagePermissionReviewForm">
    <div class="boder-table mt-3">
        <div class="">
            <div class="media-header" style="text-align: right; padding-right: 1rem; margin-top: -0.75rem;">
                <span class="action-bar alignment-but">
                    <button type="submit" (click)="testSubmit()" class="btn btn-primary">Lưu
                    </button>
                    <button type="submit" class="btn btn-secondary" [routerLink]="['/package/detail']">Hủy
                    </button>
                </span>
            </div>
        </div>
        <div style="margin-top: -1rem; margin-right: 1rem">
            <h5 class="mb-3 text-uppercase">Quản lý hồ sơ dự thầu</h5>
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table-selection stripe hover">
                <thead>
                    <tr style="width: 100%">
                        <th>
                            <div class="text-center">Triển khai & phân công tiến độ</div>
                        </th>
                        <th></th>
                        <th>
                            <div class="text-center">Upload file</div>
                        </th>
                        <th>
                            <div class="text-center">Tải xuống tệp tin</div>
                        </th>
                        <th>
                            <div class="text-center">Xóa file</div>
                        </th>
                        <th>
                            <div class="text-center">Tải template</div>
                        </th>
                        <th>
                            <div class="text-center">Thông báo triển khai</div>
                        </th>
                        <th>
                            <div class="text-center">Xác nhận phân công</div>
                        </th>
                        <th>
                            <div class="text-center">Gửi/ Gửi lại phân công tiến độ</div>
                        </th>
                        <th>
                            <div class="text-center">Bắt đầu lập HSDT</div>
                        </th>
                    </tr>
                </thead>
                <tbody formArrayName="trienKhai">
                    <tr *ngFor="let item of packagePermissionReviewForm.get('trienKhai').controls; let i = index;" [formGroupName]="i" [class.odd]="i % 2 == 0">
                        <td>
                            <div class="grid-container-3">
                                <div class="btn-icon btn-icon-plus" (click)="addFormItem('trienKhai')">
                                    <i class="fa fa-plus" style="margin-top: 2px" aria-hidden="true"></i>
                                </div>
                                <div [class.btn-icon]="i != 0" [class.btn-icon-minus]="i != 0" [class.invisible]="i == 0" (click)="removeFormItem('trienKhai', i)">
                                    <i class="fa fa-minus" style="margin-top: 2px" aria-hidden="true" *ngIf="i != 0"></i>
                                </div>
                                <div>
                                    <span style="padding-left: 12px" class="custom-dropdown w-100">
                                        <select class="form-control">
                                            <option [ngValue]="null">--Chọn--</option>
                                        </select>
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td class="text-center">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="text-center">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="text-center">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="text-center">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="text-center">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="text-center">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="text-center">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="text-center">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="text-center">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table-selection stripe hover mt-4">
                <thead>
                    <tr style="width: 100%">
                        <th>
                            <div class="text-center">Hợp đồng ký kết & họp kick-off</div>
                        </th>
                        <th>
                            <div class="text-center">Upload hợp đồng ký kết</div>
                        </th>
                        <th>
                            <div class="text-center">Xóa</div>
                        </th>
                        <th>
                            <div class="text-center">In</div>
                        </th>
                        <th>
                            <div class="text-center">Tải xuống tệp tin</div>
                        </th>
                        <th>
                            <div class="text-center">Tải template</div>
                        </th>
                        <th>
                            <div class="text-center">Thông báo kí kết hợp đồng</div>
                        </th>
                        <th>
                            <div class="text-center">Thông báo họp kick-off</div>
                        </th>
                    </tr>
                </thead>
                <tbody formArrayName="createBid">
                    <ng-container *ngFor="let item of packagePermissionReviewForm.get('createBid').controls; let i = index;" [formGroupName]="i">
                        <ng-container formArrayName="types">
                            <ng-container *ngFor="let bidItem of item.get('types').controls; let j = index" [formGroupName]="j">
                                <tr [class.odd]="i % 2 == 0">
                                    <td>
                                        <div class="grid-container-3">
                                            <div class="btn-icon btn-icon-plus" (click)="addCreateBidFormItem()">
                                                <i class="fa fa-plus" style="margin-top: 2px" aria-hidden="true"></i>
                                            </div>
                                            <div [class.btn-icon]="i != 0" [class.btn-icon-minus]="i != 0" [class.invisible]="i == 0" (click)="removeFormItem('createBid', i)">
                                                <i class="fa fa-minus" style="margin-top: 2px" aria-hidden="true" *ngIf="i != 0"></i>
                                            </div>
                                            <div>
                                                <span style="padding-left: 12px" class="custom-dropdown w-100">
                                                    <select class="form-control">
                                                        <option [ngValue]="null">--Chọn--</option>
                                                    </select>
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="grid-container-3">
                                            <div class="btn-icon btn-icon-plus" (click)="addCreateBidItemFormItem(i)">
                                                <i class="fa fa-plus" style="margin-top: 2px" aria-hidden="true"></i>
                                            </div>
                                            <div [class.btn-icon]="i != 0" [class.btn-icon-minus]="i != 0" [class.invisible]="i == 0" (click)="removeFormItem('createBid', i)">
                                                <i class="fa fa-minus" style="margin-top: 2px" aria-hidden="true" *ngIf="i != 0"></i>
                                            </div>
                                            <div>
                                                <span style="padding-left: 12px" class="custom-dropdown w-100">
                                                    <select class="form-control">
                                                        <option [ngValue]="null">--Chọn--</option>
                                                    </select>
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input">
                                            <span class="custom-control-indicator"></span>
                                        </label>
                                    </td>
                                    <td class="text-center">
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input">
                                            <span class="custom-control-indicator"></span>
                                        </label>
                                    </td>
                                    <td class="text-center">
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input">
                                            <span class="custom-control-indicator"></span>
                                        </label>
                                    </td>
                                    <td class="text-center">
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input">
                                            <span class="custom-control-indicator"></span>
                                        </label>
                                    </td>
                                    <td class="text-center">
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input">
                                            <span class="custom-control-indicator"></span>
                                        </label>
                                    </td>
                                    <td class="text-center">
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input">
                                            <span class="custom-control-indicator"></span>
                                        </label>
                                    </td>
                                </tr>

                                <tr>
                                    <td>

                                    </td>
                                    <td>
                                        <div class="grid-container-3">
                                            <div class="btn-icon btn-icon-plus" (click)="addCreateBidItemFormItem(i)">
                                                <i class="fa fa-plus" style="margin-top: 2px" aria-hidden="true"></i>
                                            </div>
                                            <div [class.btn-icon]="j != 0" [class.btn-icon-minus]="j != 0" (click)="removeFormItem('createBid', i)">
                                                <i class="fa fa-minus" style="margin-top: 2px" aria-hidden="true" *ngIf="j != 0"></i>
                                            </div>
                                            <div>
                                                <span style="padding-left: 12px" class="custom-dropdown w-100">
                                                    <select class="form-control">
                                                        <option [ngValue]="null">--Chọn--</option>
                                                    </select>
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input">
                                            <span class="custom-control-indicator"></span>
                                        </label>
                                    </td>
                                    <td class="text-center">
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input">
                                            <span class="custom-control-indicator"></span>
                                        </label>
                                    </td>
                                    <td class="text-center">
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input">
                                            <span class="custom-control-indicator"></span>
                                        </label>
                                    </td>
                                    <td class="text-center">
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input">
                                            <span class="custom-control-indicator"></span>
                                        </label>
                                    </td>
                                    <td class="text-center">
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input">
                                            <span class="custom-control-indicator"></span>
                                        </label>
                                    </td>
                                    <td class="text-center">
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input">
                                            <span class="custom-control-indicator"></span>
                                        </label>
                                    </td>
                                </tr>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </tbody>
            </table>

            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table-selection stripe hover mt-4">
                <thead>
                    <tr style="width: 100%">
                        <th>
                            <div class="text-center">Trình duyệt giá</div>
                        </th>
                        <th></th>
                        <th>
                            <div class="text-center">Upload file</div>
                        </th>
                        <th>
                            <div class="text-center">Tải xuống tệp tin</div>
                        </th>
                        <th>
                            <div class="text-center">Xóa file</div>
                        </th>
                        <th>
                            <div class="text-center">Tải template</div>
                        </th>
                        <th>
                            <div class="text-center">In file</div>
                        </th>
                        <th>
                            <div class="text-center">Chốt trình duyệt giá</div>
                        </th>
                    </tr>
                </thead>
                <tbody formArrayName="trinhDuyetGia">
                    <tr *ngFor="let item of packagePermissionReviewForm.get('trinhDuyetGia').controls; let i = index;" [formGroupName]="i" [class.odd]="i % 2 == 0">
                        <td>
                            <div class="grid-container-3">
                                <div class="btn-icon btn-icon-plus" (click)="addFormItem('trinhDuyetGia')">
                                    <i class="fa fa-plus" style="margin-top: 2px" aria-hidden="true"></i>
                                </div>
                                <div [class.btn-icon]="i != 0" [class.btn-icon-minus]="i != 0" [class.invisible]="i == 0" (click)="removeFormItem('trinhDuyetGia', i)">
                                    <i class="fa fa-minus" style="margin-top: 2px" aria-hidden="true" *ngIf="i != 0"></i>
                                </div>
                                <div>
                                    <span style="padding-left: 12px" class="custom-dropdown w-100">
                                        <select class="form-control">
                                            <option [ngValue]="null">--Chọn--</option>
                                        </select>
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td class="text-center">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="text-center">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="text-center">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="text-center">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="text-center">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="text-center">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="text-center">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table-selection stripe hover mt-4">
                <thead>
                    <tr style="width: 100%">
                        <th>
                            <div class="text-center">Đơn báo giá dự thầu</div>
                        </th>
                        <th></th>
                        <th>
                            <div class="text-center">Upload file</div>
                        </th>
                        <th>
                            <div class="text-center">Tải xuống tệp tin</div>
                        </th>
                        <th>
                            <div class="text-center">Xóa file</div>
                        </th>
                        <th>
                            <div class="text-center">Tải template</div>
                        </th>
                        <th>
                            <div class="text-center">In file</div>
                        </th>
                        <th>
                            <div class="text-center">Chốt đơn báo giá</div>
                        </th>
                        <th>
                            <div class="text-center">In và gửi duyệt HSDT</div>
                        </th>
                    </tr>
                </thead>
                <tbody formArrayName="donBaoGia">
                    <tr *ngFor="let item of packagePermissionReviewForm.get('donBaoGia').controls; let i = index;" [formGroupName]="i" [class.odd]="i % 2 == 0">
                        <td>
                            <div class="grid-container-3">
                                <div class="btn-icon btn-icon-plus" (click)="addFormItem('donBaoGia')">
                                    <i class="fa fa-plus" style="margin-top: 2px" aria-hidden="true"></i>
                                </div>
                                <div [class.btn-icon]="i != 0" [class.btn-icon-minus]="i != 0" [class.invisible]="i == 0" (click)="removeFormItem('donBaoGia', i)">
                                    <i class="fa fa-minus" style="margin-top: 2px" aria-hidden="true" *ngIf="i != 0"></i>
                                </div>
                                <div>
                                    <span style="padding-left: 12px" class="custom-dropdown w-100">
                                        <select class="form-control">
                                            <option [ngValue]="null">--Chọn--</option>
                                        </select>
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td class="text-center">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="text-center">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="text-center">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="text-center">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="text-center">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="text-center">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="text-center">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="text-center">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table-selection stripe hover mt-4">
                <thead>
                    <tr style="width: 100%">
                        <th>
                            <div class="text-center">Hồ sơ dự thầu đã ký</div>
                        </th>
                        <th></th>
                        <th>
                            <div class="text-center">Tải xuống tệp tin</div>
                        </th>
                        <th>
                            <div class="text-center">Tải template</div>
                        </th>
                        <th>
                            <div class="text-center">Hiệu chỉnh HSDT</div>
                        </th>
                        <th>
                            <div class="text-center">Xác nhận đã ký HSDT</div>
                        </th>
                        <th>
                            <div class="text-center">Upload file scan HSDT đã ký</div>
                        </th>
                        <th>
                            <div class="text-center">Nộp HSDT</div>
                        </th>
                    </tr>
                </thead>
                <tbody formArrayName="hsdtDaKy">
                    <tr *ngFor="let item of packagePermissionReviewForm.get('hsdtDaKy').controls; let i = index;" [formGroupName]="i" [class.odd]="i % 2 == 0">
                        <td>
                            <div class="grid-container-3">
                                <div class="btn-icon btn-icon-plus" (click)="addFormItem('hsdtDaKy')">
                                    <i class="fa fa-plus" style="margin-top: 2px" aria-hidden="true"></i>
                                </div>
                                <div [class.btn-icon]="i != 0" [class.btn-icon-minus]="i != 0" [class.invisible]="i == 0" (click)="removeFormItem('hsdtDaKy', i)">
                                    <i class="fa fa-minus" style="margin-top: 2px" aria-hidden="true" *ngIf="i != 0"></i>
                                </div>
                                <div>
                                    <span style="padding-left: 12px" class="custom-dropdown w-100">
                                        <select class="form-control">
                                            <option [ngValue]="null">--Chọn--</option>
                                        </select>
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td class="text-center">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="text-center">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="text-center">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="text-center">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="text-center">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="text-center">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="text-center">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table-selection stripe hover mt-4">
                <thead>
                    <tr style="width: 100%">
                        <th>
                            <div class="text-center">Quản lý phỏng vấn thương thảo</div>
                        </th>
                        <th></th>
                        <th>
                            <div class="text-center">Tạo lời mời phỏng vấn</div>
                        </th>
                        <th>
                            <div class="text-center">Chỉnh sửa lời mời phỏng vấn</div>
                        </th>
                        <th>
                            <div class="text-center">Thông báo phỏng vấn</div>
                        </th>
                        <th>
                            <div class="text-center">Tải xuống tệp tin</div>
                        </th>
                        <th>
                            <div class="text-center">Tải template</div>
                        </th>
                        <th>
                            <div class="text-center">Chốt công tác chuẩn bị PV</div>
                        </th>
                        <th>
                            <div class="text-center">Đã thực hiện phỏng vấn</div>
                        </th>
                        <th>
                            <div class="text-center">Upload biên bản PV</div>
                        </th>
                        <th>
                            <div class="text-center">In</div>
                        </th>
                        <th>
                            <div class="text-center">Đóng phỏng vấn</div>
                        </th>
                    </tr>
                </thead>
                <tbody formArrayName="phongVan">
                    <tr *ngFor="let item of packagePermissionReviewForm.get('phongVan').controls; let i = index;" [formGroupName]="i" [class.odd]="i % 2 == 0">
                        <td>
                            <div class="grid-container-3">
                                <div class="btn-icon btn-icon-plus" (click)="addFormItem('phongVan')">
                                    <i class="fa fa-plus" style="margin-top: 2px" aria-hidden="true"></i>
                                </div>
                                <div [class.btn-icon]="i != 0" [class.btn-icon-minus]="i != 0" [class.invisible]="i == 0" (click)="removeFormItem('phongVan', i)">
                                    <i class="fa fa-minus" style="margin-top: 2px" aria-hidden="true" *ngIf="i != 0"></i>
                                </div>
                                <div>
                                    <span style="padding-left: 12px" class="custom-dropdown w-100">
                                        <select class="form-control">
                                            <option [ngValue]="null">--Chọn--</option>
                                        </select>
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td class="text-center">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="text-center">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="text-center">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="text-center">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="text-center">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="text-center">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="text-center">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="text-center">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="text-center">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="text-center">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="text-center">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</form>
