<div id="header-table" class=" title-list-package d-flex flex-wrap align-items-center status-filter">
  <div class="mr-auto d-flex align-items-end list-package mt-2 mb-2">
      <div class="d-flex justify-content-start" style="height: 40px;">
          <div class="rule mr-2">
          </div>
          <div class="center-parent pl-3 mr-4" style="font-size: 18px">
              <a [routerLink]='["/package/list"]' style="cursor: pointer; margin-top: -3px">
                  <img width="12" height="12" class="pointer not-outline" src="assets\images\nghia.png" style="margin-bottom: 1px;">
              </a>
              <div class="text-uppercase ml-3">báo cáo khảo sát công trường (site surveying report)</div>
          </div>
      </div>
  </div>
  <div>
      <div class="btn-toolbar mt-2 mb-2">
          <button class="btn btn-primary ml-2">
              Import dữ liệu theo mẫu
          </button>
          <button class="btn btn-primary ml-2">
              Lưu
          </button>
          <button class="btn btn-primary ml-2">
              <i class="fa fa-refresh" aria-hidden="true"></i>
          </button>
      </div>
  </div>

</div>
<div id="main-content">
  <div id="toggle-menu">
      <div class="toggle-menu-item pointer" routerLink="./statistic" routerLinkActive="active-link">1. Quy mô tổng quan công trình</div>
      <div class="toggle-menu-item pointer" routerLink="./condition" routerLinkActive="active-link">2. Mô tả tổng quát công trường</div>
      <div class="toggle-menu-item pointer" routerLink="./transportation" routerLinkActive="active-link">3. Giao thông và lối vào công trình</div>
      <div class="toggle-menu-item pointer" routerLink="./demobilisation" routerLinkActive="active-link">4. Phá vỡ và gia cố</div>
      <div class="toggle-menu-item pointer" routerLink="./temporary-building" routerLinkActive="active-link">5. Dịch vụ cơ điện phục vụ thi công</div>
      <div class="toggle-menu-item pointer" routerLink="./existing-soil" routerLinkActive="active-link">6. Điều kiện để đất nền hiện hữu</div>
      <div class="toggle-menu-item pointer" routerLink="./useful-info" routerLinkActive="active-link">7. Thông tin hữu ích khác</div>
  </div>
  <div class="w-100 ml-2">
      <div>
          <div class="row header m-0">
              <div class="col-md-6">
                  <p>Dự án (Project):</p>
                  <p>Địa điểm (Location):</p>
              </div>
              <div class="col-md-6">
                  <p>Gói thầu (Package):</p>
              </div>
          </div>
      </div>
      <router-outlet></router-outlet>
  </div>
</div>
