.times-color {
    color: #c0c0c0;
    font-size: 1.2rem
}

.set-position-button {
    position: absolute;
    right: 1.5rem;
    top: 0;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ced4da;
    font-style: italic;
}