<form [formGroup]="hoSoDangLuuYForm">
    <div class="p-3">
        <h5 class="text-uppercase font-weight-bold">VI. các hồ sơ cần phải nộp đáng lưu ý (some main item of tender
            submissions)</h5>

        <div class="row mt-3">
            <div class="col-md-3">
                <div>1. Những tài liệu lưu ý khi nộp hồ sơ</div>
                <div class="set-position-button">
                    <i (click)="addFormArrayControl('taiLieuLuuY')" class="fa fa-plus-square-o ml-3 pointer"
                        aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-md-8" formArrayName="taiLieuLuuY">
                <div class="row no-gutters mb-2" *ngFor="let fControl of taiLieuLuuYFA.controls; let i = index"
                    [formGroupName]="i">
                    <div class="col-md-11">
                        <input class="form-control" formControlName="taiLieu">
                    </div>
                    <div class="col-md-1 d-flex center-parent">
                        <div>
                            <i *ngIf="i !== 0" (click)="removeFormArrayControl('taiLieuLuuY', i)" class="fa fa-times-circle pointer times-color"
                                aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-3">2. Số lượng nộp hồ sơ</div>
            <div class="col-md-8">
                <div class="row no-gutters">
                    <div class="col-md-11">
                        <input class="form-control" [(ngModel)]="amountFiles" readonly formControlName="soLuong">
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-3">3. Ngôn ngữ</div>
            <div class="col-md-8">
                <div class="row no-gutters">
                    <div class="col-md-11">
                        <span class="custom-dropdown w-100">
                            <select class="form-control" formControlName="ngonNgu">
                                <option value="" selected disabled hidden>Choose here</option>
                                <option [value]="'Tiếng Việt'">Tiếng Việt</option>
                                <option [value]="'Tiếng Anh'">Tiếng Anh</option>
                            </select>
                        </span>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>

        <div class="text-center mt-4">
            <button class="btn border" routerLink="../main-material">
                <i class="fa font-size-3 mr-3 fa-angle-left" aria-hidden="true"></i>
                Trở về
            </button>
            <button class="btn btn-primary ml-1" routerLink="../profile-destination">
                Tiếp
                <i class="fa font-size-3 ml-3 fa-angle-right" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</form>
