<form>
    <div class="p-3">
        <h5 class="text-uppercase">VI. các hồ sơ cần phải nộp đáng lưu ý (some main item of tender submissions)</h5>
        <div class="row mt-3">
            <div class="col-md-3">1. Những tài liệu lưu ý khi nộp hồ sơ</div>
            <div class="col-md-8">
                <span class="custom-dropdown w-100">
                    <select class="form-control">
                        <option [ngValue]="null">--Chọn--</option>
                    </select>
                </span>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3"></div>
            <div class="col-md-8">
                <textarea class="form-control"></textarea>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3">2. Số lượng nộp hồ sơ</div>
            <div class="col-md-8">
                <input type="number" class="form-control">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3">3. Ngôn ngữ</div>
            <div class="col-md-8">
                <span class="custom-dropdown w-100">
                    <select class="form-control">
                        <option [ngValue]="null">--Chọn--</option>
                    </select>
                </span>
            </div>
        </div>
    </div>
</form>
