<div class="boder-table">
  <div class="row">
    <ul class="progressbar">
      <li class="triangle active" [routerLink]="['../infomation-deployment']">
        <span class="text-color ">Triển khai &amp; phân công tiến độ</span>
      </li>
      <li class="triangle active">
        <span class="text-color ">Lập HSDT</span>
      </li>
      <li class="triangle active " [routerLink]="['../price-review']">
        <span class="text-color ">Trình duyệt giá</span>
      </li>
      <li class="triangle active" [routerLink]="['../price-report']">
        <span class="text-color ">Đơn báo giá dự thầu</span>
      </li>
      <li class="triangle active">
        <span class="text-color">Hồ sơ dự thầu đã ký</span>
      </li>
      <li class="triangle">
        <span>Quản lý phỏng vấn/thương thảo</span>
      </li>
    </ul>
  </div>
</div>