.padding-table {
    padding-left: 15px;
}

.title-table {
    height: 40px;
}

.title-table-text {
    text-transform: uppercase;
    font-size: 15px;
}

.boder-table {
    border: 2px solid #ebebeb;
}

.title-text {
    color: #FFFFFF;
}

.header-table {
    background-color: #f68e56 !important;
}

.small-column {
    width: 9%;
    // min-width: 125px;
}

.large-column {
    width: 15%;
    // min-width: 250px;
}

.search-table-outer {
    overflow-x: auto;
    white-space: nowrap;
}

.custom-updater-responsive {
    max-width: 100px;
}

.label-thead {
    font-size: 90%;
}

input.icon {
    font-family: 'FontAwesome', 'Open Sans', 'Verdana', 'sans-serif';
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.input-group>.input-group-prepend>.input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.boder-left-none {
    border-left: none;
    padding-left: 0px;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #d8d8d8;
    outline: none; // box-shadow: 0 0 0 0.02rem rgba(0, 160, 227, 0.25);
    box-shadow: none;
}

.custom-filter-bar {
    background-color: #fafbfc !important;
    padding: 9px 15px;
}

.check-box-stt {
    width: 3%;
    min-width: 15px;
}

.custom-title-text {
    width: 35%;
}

.pointer-link {
    cursor: pointer;
}

.text-truncate-custom {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.color-item-test {
    color: #b3b3b3
}

.color-item-down {
    color: green;
}

.responsive-filter-control {
    padding: 0.5rem;
    margin-left: auto;
}

.dropdown-toggle::after {
    content: none !important;
    border: none !important;
}

.dropdown-item {
    cursor: pointer;
}

.dropdown-menu {
    transform: translateX(-60%) !important;
    border-radius: 3px;
}

.dropdown-menu::before {
    position: absolute;
    top: -12px;
    left: 574.5px;
    display: inline-block;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #CCC;
    border-left: 12px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

.fileUpload {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

table.dataTable {

    tr:nth-child(odd) {
        background-color: #fafbfc;
    }

    border-collapse: collapse !important;
    overflow-x: scroll;

    // th:first-child,
    // td:first-child {
    //     width: 80px !important;
    //     max-width: 90px;
    // }

    th:not([type="check"]),
    td:not([type="check"]) {
        min-width: 80px;
        max-width: 90px;
    }
}

tr {
    border-bottom: solid 2px #ebebeb;
}

@media only screen and (max-width: 1578px) {
    .responsive-filter-control {
        margin-left: unset !important;
        margin-top: 0.2rem;
    }

    .responsive-interview-control {
        margin-top: 0.2rem;
    }
}

@media only screen and (max-width: 1319px) {
    .responsive-date-control {
        margin-top: 0.2rem;
    }
}

@media only screen and (max-width: 1275px) {
    .responsive-date-control {
        margin-top: 0.7rem;
    }

    .responsive-interview-control {
        margin-top: 0.7rem;
    }
}

@media only screen and (max-width: 1070px) {
    .responsive-header-control {
        margin-top: 0.7rem;
    }

    .custom-reponsive-filter-action {
        margin-top: 0.7rem;
    }
}

@media only screen and (max-width: 1024px) {
    .responsive-header-control {
        margin-top: 0.7rem;
    }
}

@media only screen and (max-width: 849px) {
    .custom-reponsive-filter-action {
        margin-top: 0.7rem;
    }
}

:host /deep/ .dataTables_empty {
    display: none !important;
}
