<li class="nav-item dropdown notification" ngbDropdown>
    <a href="javascript:void(0)" class="dropdown-no-icon nav-link text-white mr-3" ngbDropdownToggle>
        <!-- <i class="fa fa-bell"></i> -->
        <!-- <span *ngIf="(notificationCount$ | async)" class="badge badge-danger main-badge">{{notificationCount$ | async}}</span> -->
        <!-- <b class="caret"></b> -->
        <!-- <span class="sr-only">(current)</span> -->
    </a>
    <ul class="dropdown-menu dropdown-menu-right">
        <div class="notification-item">
            <div  class="dropdown-menu-header font-weight-bold mb-2">
                Thông báo
            </div>
        </div>

        <div *ngIf="notificationItems">
            <div class="notification-item" *ngFor="let item of notificationItems" [class.unread]="item.unread">
                <a class="dropdown-item py-2" (click)="read(item)">
                    <span class="last">Bạn có 1 {{item.moduleName | translate}}
                        <strong>{{item.moduleItemName}}</strong>
                        diễn ra
                        <strong>{{item.startDate | fromNow}}</strong>
                        từ ngày
                        <strong>{{item.startDate | date: 'dd/MM/yyyy'}}</strong>
                        đến ngày
                        <strong>{{item.endDate | date: 'dd/MM/yyyy'}}</strong>.
                        <span class="badge badge-info">Chi tiết</span>
                    </span>

                    <!-- <p class="small text-muted">
                      Cách đây 2 giờ
                  </p> -->
                    <!-- <li class="dropdown-divider"></li> -->

                </a>
            </div>
        </div>

        <div class="text-center mt-3 mb-2">
            <a class="text-primary" [routerLink]="['/notification-list']">
                Xem tất cả
            </a>
        </div>

    </ul>
</li>
