$primary: #00a0e3;
$topnav-background-color: $primary;
.fa-ellipsis{
    color: #07afed;
    font-size: 1rem;
    padding: 0.25rem 1.5rem;
    cursor: pointer;
}
.tick-readed{
    color: #00a0e3;
    padding: 0.25rem 1.5rem;
    cursor: pointer;
}
.ul-parent-data--index{
    z-index: 30000;
    position: fixed;
    // width: 30rem;
    // width: 80vh;
    width: 40%;
    // transform: translate(-17%, 5%);
    right: 4rem !important;
    top: 3rem !important;
}
.ul-parent-no-data--index{
    z-index: 30000;
    position: fixed;
    width: 30rem;
    transform: translate(-17%, 17%);
}
.ul-chirld--index{
    z-index: 99999900;
    transform: translate(-73%, 0%);
    font-size: 80%;
    min-width: none;
    .ul-chirld-of-chirl--pad{
        padding: 0.25rem 0.5rem;
    }
}
.min-width-none{
    min-width: 0;
}
.drop-menu{
    margin-top: 10px;
    padding-right: .5rem;
}
.dropdown-menu-right{
    top: 2rem;
}
// .dropdown-menu {
//     width: 20rem;
//     transform: translate(-25%, 8%);
// }
.main-badge {
    position: absolute;
    top: -4px;
    border-radius: 15px;
    right: 10px;
    line-height: inherit;
    width: 20px;
}
.last {
    white-space: initial;
}
a.dropdown-toggle {
    margin-top: 0.65rem;
}


h5 {
    font-size: 13px;
    font-weight: 600;
}

.small {
    margin: 0;
}

.last {
    font-size: 97%;
    margin: 0;
}

.dropdown-no-icon::after {
    display: none;
}

.notification-item {
    border-bottom: 1px solid #cccccc;
    .span--margin{
        margin: 0rem 0.3rem 0rem 0rem;
    }
    .content--bold{
        font-weight: 600;
    }
    .notification--not-read{
        background-color: #f7f8fa;
    }
}

.unread {
    background-color: #dfeaea94;
}

a {
    cursor: pointer;
}

.dropdown-menu-header {
    display: block;
    // width: 100%;
    padding: 0.25rem 1.5rem;
    text-align: inherit;
    white-space: nowrap;
    background: none;
    border: 0;
}

.image-bell--width{
    width: 1.3rem;
    height: auto;
}
.beeperNub{
    width: 0;
    height: 0;
    position: absolute;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 7px solid #fff;
    right: inherit;
    transform: translate(240%, -198%);
}
.force-scroll {
    overflow-y: scroll;
    // max-height: 15rem;
    // max-height: 50%;
    max-height: 50vh; 
}