$primary: #00a0e3;
$topnav-background-color: $primary;
.notification {
    .dropdown-menu-right{
        top: 2rem;
        .fa-ellipsis{
            color: #07afed;
            font-size: 1rem;
            padding: 0.25rem 1.5rem;
            cursor: pointer;
        }
    }
    .dropdown-menu {
        width: 375px;
    }
    .main-badge {
        position: absolute;
        top: -4px;
        border-radius: 15px;
        right: 10px;
        line-height: inherit;
        width: 20px;
    }
    .last {
        white-space: initial;
    }
    a.dropdown-toggle {
        margin-top: 0.65rem;
    }
}

h5 {
    font-size: 13px;
    font-weight: 600;
}

.small {
    margin: 0;
}

.last {
    font-size: 97%;
    margin: 0;
}

.dropdown-no-icon::after {
    display: none;
}

.notification-item {
    border-bottom: 1px solid #cccccc;
}

.unread {
    background-color: #dfeaea94;
}

a {
    cursor: pointer;
}

.dropdown-menu-header {
    display: block;
    // width: 100%;
    padding: 0.25rem 1.5rem;
    text-align: inherit;
    white-space: nowrap;
    background: none;
    border: 0;
}

.image-bell--width{
    width: 1.3rem;
    height: auto;
}
.beeperNub{
    width: 0;
    height: 0;
    position: absolute;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 7px solid #fff;
    right: inherit;
    transform: translate(-244%, -198%);
}