<div class="pad-top-table">
    <div [@routerTransition] class="table-small">
        <div class="title-list-package d-flex flex-wrap align-items-center status-filter">
            <div class="mr-auto d-flex align-items-center list-package mt-2 mb-2">
                <div class="d-flex justify-content-start">

                    <div class="rule mr-2">

                    </div>

                    <div class="center-parent  mr-4">
                        <div> Danh sách bộ HSMT</div>
                    </div>
                    <div class="alert alert-danger alert-trim status-package ">
                        Cần đánh giá HSMT
                    </div>
                </div>

            </div>
            <div>
                <div class="btn-toolbar mt-2 mb-2">
                    <div class="input-group">
                        <span class="input-group-addon">Tìm kiếm theo</span>
                        <input type="text" class="form-control icon" placeholder="&#xf002; Tên tài liệu" (keyup)="search($event.target.value)">
                    </div>
                    <div class="btn-group ml-2" ngbDropdown>
                        <button type="button" class="btn btn-primary cus-drop-toggle" ngbDropdownToggle data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            &nbsp; Đánh giá HSMT
                        </button>
                        <div class="dropdown-menu" ngbDropdownMenu>
                            <a class="dropdown-item" (click)="success()">Đạt</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" (click)="fail()">Không đạt</a>
                        </div>
                    </div>
                    <button class="btn btn-primary ml-2" (click)="refresh()">
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                    </button>
                </div>
            </div>

        </div>

        <div class="main-table">
            <div class="d-flex flex-row flex-wrap filter-bar custom-filter-bar" style="background-color: #fafbfc!important">
                <div class="d-flex form-inline flex-pad ">
                    <div class="form-group ml-sm-2">
                        <label for="" class="form-label">Người upload</label>
                        <span class="custom-dropdown mx-sm-2">
                            <select class="form-control" [(ngModel)]="filterModel.uploadedEmployeeId">
                                <option [ngValue]="null">--Lựa chọn--</option>
                                <option *ngFor="let item of userListItem" [value]="item.employeeId">{{item.employeeName }}</option>
                            </select>
                        </span>
                    </div>
                    <div class="form-group ml-sm-2">
                        <label for="" class="form-label">Ngày upload</label>
                        <div class="input-group mx-sm-2">
                            <owl-date-time [(ngModel)]="filterModel.createDate"  
                                  >
                            </owl-date-time>
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="d-flex form-inline flex-pad">

                    <button type="submit" class="btn btn-primary ml-sm-2" (click)="filter()">
                        <i class="fa fa-filter" aria-hidden="true"></i>&nbsp; Lọc
                    </button>
                    <button class="btn btn-secondary ml-sm-2" (click)="clearFilter()">
                        <i class="fa fa-times"></i>&nbsp; Xóa lọc
                    </button>
                </div>
            </div>

            <div class="d-flex justify-content-start">
                <div>

                </div>
                <div>

                </div>
            </div>

            <div class="bot-table">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class=" row-border cell-border ">
                    <thead>
                        <tr>

                            <th class="stt" style="background-color: #f68e56!important;">
                                <div class="d-flex justify-content-around">
                                    <div style="width: 40%;">
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" [(ngModel)]="checkboxSeclectAll" (change)="onSelectAll($event.target.checked)">
                                            <span class="custom-control-indicator"></span>

                                        </label>
                                    </div>
                                    <div style="width: 35%;" class="center-parent">
                                        <div>STT</div>
                                    </div>

                                </div>
                            </th>
                            <th style="width: 16%; background-color: #f68e56!important;">
                                <div class="d-flex justify-content-center">

                                    <div class="center-parent" style="white-space: pre-line!important;">
                                        <div>Loại tài liệu</div>
                                    </div>

                                </div>
                            </th>
                            <th style="width: 20%; background-color: #f68e56!important;">
                                <div class="d-flex justify-content-center">

                                    <div class="center-parent">
                                        <div>Tên tài liệu</div>
                                    </div>

                                </div>

                            </th>
                            <th style="background-color: #f68e56!important;">
                                <div class="d-flex justify-content-center">

                                    <div class="center-parent">
                                        <div>Phiên bản</div>
                                    </div>

                                </div>

                            </th>
                            <th class="th-mark-status" style="background-color: #f68e56!important;">

                                <div class="d-flex justify-content-center">

                                    <div style="width: 80%;" class="center-parent">
                                        <div>Tình trạng</div>
                                    </div>

                                </div>


                            </th>
                            <th style="background-color: #f68e56!important;">
                                <div class="d-flex justify-content-center">

                                    <div class="center-parent">
                                        <div>Người upload</div>
                                    </div>

                                </div>



                            </th>
                            <th style="width: 12%; background-color: #f68e56!important;">
                                <div class="d-flex justify-content-center">

                                    <div class="center-parent">
                                        <div>Ngày upload</div>
                                    </div>

                                </div>



                            </th>
                            <th class="table-action text-center" style="background-color: #f68e56!important;">
                                Thao tác
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let bidDocumentGroup of bidDocumentGroupListItemSearchResult; let i = index;">
                            <ng-container *ngFor="let item of bidDocumentGroup.items; let k = index;">
                                <tr>
                                    <td class=" stt d-flex justify-content-around">
                                        <div style="width: 35%;">
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" [(ngModel)]="item.checkboxSelected">
                                                <span class="custom-control-indicator"></span>
                                            </label>
                                        </div>
                                        <div style="width: 35%;" class="center-parent">
                                            <div>{{renderIndex(i , k)}}</div>
                                        </div>
                                    </td>
                                    <td valign="baseline" [attr.rowspan]="bidDocumentGroup.items.length" *ngIf="k == 0" class="td-group">
                                        <div class="d-flex  document-type ">
                                            <div> {{ item.documentType | translate }}</div>
                                            <!-- <div style="width: 25px;" (click)="uploadFileItem(item.documentType)" style="cursor: pointer" title="Upload tài liệu">
                                                <img width="25" height="25" src="assets\images\document.png">
                                            </div> -->
                                        </div>

                                    </td>
                                    <td *ngIf="k != 0" style="display: none">

                                    </td>
                                    <td>
                                        <span [title]="item.documentName">{{ item.documentName }}</span>
                                    </td>
                                    <td class="text-center">{{ item.version }}</td>
                                    <td class="td-mark-status">
                                        <div class="d-flex justify-content-around">
                                            <div [title]="item.status">
                                                {{ item.status | translate }}
                                            </div>

                                        </div>


                                    </td>
                                    <td class="text-center">{{ item.uploadedBy?.employeeName }}</td>
                                    <td class="text-center">{{ item.createdDate*1000 | date:'dd/MM/yyyy HH:mm': '+0000'}}</td>
                                    <td>
                                        <div class="d-flex justify-content-around">
                                            <div style="cursor: pointer;" title="Tải file" (click)="dowloadDocument(item.id)">
                                                <a>
                                                    <i class="fa fa-download color-item-down" aria-hidden="true"></i>
                                                </a>
                                            </div>

                                        </div>
                                    </td>
                                </tr>
                            </ng-container>

                        </ng-container>

                    </tbody>
                </table>
            </div>
            <!-- <app-pagination [(pagedResult)]="pagedResult" (pagedResultChange)="pagedResultChange($event)"></app-pagination> -->
        </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.7)" size = "default" color="#fff" type="ball-scale"></ngx-spinner>