<div id="overlay">
    <div id="modal-container">
      <div class="header-popup">
        <div class="title">
          <h3 class="text-uppercase">IN BẢNG TÓM TẮT ĐKDT</h3>
        </div>
        <div class="close-popup">
          <span (click)="close()" class="cursor-pointer">
            X
          </span>
        </div>
      </div>
      <div class="content-confirm">
        <h6>Bạn muốn lấy dữ liệu in ra theo HSMT hay HBC đề xuất?</h6>
        <div class="d-flex row-last-item-2">
          <div class="two d-flex">
            <div class="ml-3 d-flex align-items-center item-1">
              <div>
                <label class="childcheck">
                  <input type="radio" name="typeFormInTomTatDK" value="HSMT" [(ngModel)]="typeFormInTomTatDK">
                  <span class="checkmark"></span>
                </label>
  
              </div>
  
            </div>
            <div class="pass d-flex align-items-center">
              <div class="font-weight-bold">HSMT</div>
            </div>
  
            <div class="ml-3 d-flex align-items-center item-1 mg-left">
              <div>
                <label class="childcheck">
                  <input type="radio" name="typeFormInTomTatDK" value="HBC" [(ngModel)]="typeFormInTomTatDK">
                  <span class="checkmark"></span>
                </label>
  
              </div>
  
            </div>
            <div class="pass d-flex align-items-center">
              <div class="font-weight-bold">HBC</div>
            </div>
  
          </div>
        </div>
  
        <button type="button" class="btn btn-primary" (click)="submit()">OK</button>
      </div>
    </div>
  </div>