<kendo-dialog [width]="1100" [minWidth]="250">
    <form [formGroup]="customerForm" novalidate>
        <div class="title-detail center-parent">
            <div class="mr-auto col-md-12">
                <div class="media-header">
                    <h4 class="d-inline mb-0 text-dark">TẠO MỚI KHÁCH HÀNG</h4>
                    <span class="action-bar alignment-but cus-but">
                        <button type="submit" class="btn btn-primary ml-2" (click)="submitForm()">Lưu &nbsp;
                        </button>
                        <button class="btn btn-secondary ml-2" (click)="close('cancel')">Hủy &nbsp;
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <hr>
        <div class="d-flex boder-table">
            <div class="w-100  mr-auto">
                <div class="card-collapse">
                    <div class="header" (click)="isCollapsedMain = !isCollapsedMain" [attr.aria-expanded]="!isCollapsedMain" aria-controls="info-main">
                        <i class="fa fa-caret-down mr-3"></i>Thông tin chi tiết
                    </div>
                    <div class="body" id="info-main" [ngbCollapse]="isCollapsedMain">
                        <table class="w-100 table table-bordered layout-table">
                            <tbody>
                                <tr>
                                    <td class="w-15 bg-light text-right label required no-boder">Tên khách hàng</td>
                                    <td class="w-35 no-boder">
                                        <input class="w-75 form-control" tabindex="1" type="text" formControlName="name" [class.is-invalid]="formErrors.name">
                                        <div class="invalid-feedback" *ngIf="formErrors.name">
                                            {{formErrors.name}}
                                        </div>
                                    </td>
                                    <td class="w-15 bg-light text-right label no-boder">Đánh giá</td>
                                    <td class="w-35 no-boder">
                                        <div style="display: flex; justify-content: flex-start; align-items: start">
                                            <star-rating-comp class="w-75" [starType]="'svg'" [(rating)]="evaluate" (onRatingChange)="onRatingChange($event)"></star-rating-comp>
                                        </div>
                                        <!-- <input class="w-75 form-control" autofocus tabindex="1"  type="text" formControlName="rating"> -->
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-15 bg-light text-right label no-boder">Website</td>
                                    <td class="w-35 no-boder">
                                        <input class="w-75 form-control" tabindex="1" type="text" formControlName="website" [class.is-invalid]="formErrors.website">
                                        <div class="invalid-feedback" *ngIf="formErrors.website">
                                            {{formErrors.website}}
                                        </div>
                                    </td>
                                    <td class="w-15 bg-light text-right label no-boder">Doanh thu hàng năm</td>
                                    <td class="w-35 no-boder">
                                        <input class="w-75 form-control" tabindex="1" type="text" formControlName="revenueDueYear">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-15 bg-light text-right label no-boder">Email</td>
                                    <td class="w-35 no-boder">
                                        <input class="w-75 form-control" tabindex="1" type="text" formControlName="email" [class.is-invalid]="formErrors.email">
                                        <div class="invalid-feedback" *ngIf="formErrors.email">
                                            {{formErrors.email}}
                                        </div>
                                    </td>
                                    <td class="w-15 bg-light text-right label no-boder">Đã niêm yết</td>
                                    <td class="w-35 no-boder">
                                        <div style="display: flex; justify-content: flex-start; align-items: start">
                                            <input style="zoom: 1.5;" tabindex="1" type="checkbox" formControlName="isPosted">
                                        </div>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-15 bg-light text-right required label no-boder">Điện thoại chính</td>
                                    <td class="w-35 no-boder">
                                        <input appInputNumber class="w-75 form-control" [class.is-invalid]="formErrors.phone" tabindex="1" type="text" formControlName="phone">
                                        <div class="invalid-feedback" *ngIf="formErrors.phone">
                                            {{formErrors.phone}}
                                        </div>
                                    </td>
                                    <td class="w-15 bg-light text-right label no-boder">Làm việc với HBC từ</td>
                                    <td class="w-35 no-boder">
                                        <div class="input-group w-75">
                                            <owl-date-time [readonlyInput]="datePickerConfig.readonlyInput" [locale]="datePickerConfig.vi" formControlName="startWorkingFromDate"
                                                [placeHolder]="datePickerConfig.placeHolderVn">
                                            </owl-date-time>
                                            <span class="input-group-addon center-parent" style="min-width: 40.5px!important;">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-15 bg-light text-right label no-boder">Mã số thuế</td>
                                    <td class="w-35 no-boder">
                                        <input class="w-75 form-control" tabindex="1" type="text" formControlName="taxNumber" [class.is-invalid]="formErrors.taxNumber">
                                        <div class="invalid-feedback" *ngIf="formErrors.taxNumber">
                                            {{formErrors.taxNumber}}
                                        </div>
                                    </td>
                                    <td class="w-15 bg-light text-right label no-boder">Vai trò với HBC</td>
                                    <td class="w-35 no-boder">
                                        <span class="custom-dropdown w-75">
                                            <select class="form-control" tabindex="5" formControlName="role">
                                                <option [ngValue]="null">--Chọn--</option>
                                                <option *ngFor="let item of listRoleWithHBC | async" [value]="item.id">{{item.text }}</option>
                                            </select>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-15 bg-light text-right label no-boder">Mã số chứng khoán</td>
                                    <td class="w-35 no-boder">
                                        <input class="w-75 form-control" tabindex="1" type="text" formControlName="stockCode">
                                        <!-- <span class="custom-dropdown w-75">
                      <select class="form-control" tabindex="5" formControlName="stockCode">
                        <option [ngValue]="null">Number</option>
                        <option *ngFor="let item of listStockCode" [value]="item.id">{{item.text }}</option>
                      </select>
                    </span> -->
                                    </td>
                                    <td class="w-15 bg-light text-right label no-boder">Phòng ban quản lý</td>
                                    <td class="w-35 no-boder">
                                        <input class="w-75 form-control" tabindex="1" type="text" formControlName="manageDepartmentName">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-15 bg-light text-right label no-boder">Ngày thành lập</td>
                                    <td class="w-35 no-boder">
                                        <div class="input-group w-75">
                                            <owl-date-time [readonlyInput]="datePickerConfig.readonlyInput" [locale]="datePickerConfig.vi" formControlName="establishmentDate"
                                                [placeHolder]="datePickerConfig.placeHolderVn">
                                            </owl-date-time>
                                            <span class="input-group-addon center-parent" style="min-width: 40.5px!important;">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="w-15 bg-light text-right label no-boder">Số điện thoại PBQL</td>
                                    <td class="w-35 no-boder">
                                        <input appInputNumber class="w-75 form-control" [class.is-invalid]="formErrors.manageDepartmentPhone" tabindex="1" type="text"
                                            formControlName="manageDepartmentPhone">
                                        <div class="invalid-feedback" *ngIf="formErrors.manageDepartmentPhone">
                                            {{formErrors.manageDepartmentPhone}}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-15 bg-light text-right label no-boder">Phân công cho</td>
                                    <td class="w-35 no-boder">
                                        <span class="custom-dropdown w-75">
                                            <select class="form-control" tabindex="5" formControlName="assignedEmployeeID">
                                                <option [ngValue]="null">--Chọn--</option>
                                                <option *ngFor="let item of userListItem" [value]="item.employeeId">{{ item.employeeName }}</option>
                                            </select>
                                        </span>
                                    </td>
                                    <td class="w-15 bg-light text-right label no-boder">Địa chỉ</td>
                                    <td class="w-35 no-boder">
                                        <input class="w-75 form-control" tabindex="1" type="text" formControlName="address">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-15 bg-light text-right label no-boder">Liên hệ</td>
                                    <td class="w-75 no-boder">
                                        <div class="w-75 autocomplete-wrapper-2 ui-fluid">
                                            <p-autoComplete formControlName="customerContactId" [suggestions]="contactsSearchResults" [forceSelection]="true" [delay]="'400'"
                                                [emptyMessage]="'Không có dữ liệu'" placeholder="---Chọn---" [immutable]="true"
                                                (completeMethod)="searchContacts($event.query)" field="text" dataKey="id" [multiple]="false"
                                                [tabindex]="'5'">

                                            </p-autoComplete>
                                            <span class="input-group-addon center-parent" style="min-width: 40.5px!important;">
                                                <i class="fa fa-search"></i>
                                            </span>
                                        </div>
                                        <div class="invalid-feedback" *ngIf="formErrors.customerContactId">
                                            {{formErrors.customerContactId}}
                                        </div>
                                    </td>
                                    <td class="w-15 bg-light text-right label no-boder">Quận</td>
                                    <td class="w-35 no-boder">
                                        <input class="w-75 form-control" tabindex="1" type="text" formControlName="district">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-15 bg-light text-right label no-boder">Ngành nghề</td>
                                    <td class="w-35 no-boder">
                                        <span class="custom-dropdown w-75">
                                            <select class="form-control" tabindex="5" formControlName="business">
                                                <option value="">--Chọn--</option>
                                                <option *ngFor="let item of listCareer | async" [value]="item.id">{{item.text }}</option>
                                            </select>
                                        </span>
                                    </td>
                                    <td class="w-15 bg-light text-right label no-boder">Thành phố</td>
                                    <td class="w-35 no-boder">
                                        <input class="w-75 form-control" tabindex="1" type="text" formControlName="city">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-15 bg-light text-right label no-boder">Nhóm</td>
                                    <td class="w-35 no-boder">
                                        <span class="custom-dropdown w-75">
                                            <select class="form-control" tabindex="5" formControlName="customerGroup">
                                                <option value="">--Chọn--</option>
                                                <option *ngFor="let item of listGroup | async" [value]="item.id">{{item.text }}</option>
                                            </select>
                                        </span>
                                    </td>
                                    <td class="w-15 bg-light text-right label no-boder">Quốc gia</td>
                                    <td class="w-35 no-boder">
                                        <input class="w-75 form-control" tabindex="1" type="text" formControlName="country">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-15 bg-light text-right required label no-boder">Phân loại</td>
                                    <td class="w-35 no-boder">
                                        <span class="custom-dropdown w-75">
                                            <select class="form-control" tabindex="5" formControlName="type" [class.is-invalid]="formErrors.type">
                                                <option value="">--Chọn--</option>
                                                <option *ngFor="let item of listClassify | async" [value]="item.id">{{item.text }}</option>
                                            </select>
                                        </span>
                                        <div class="invalid-feedback" *ngIf="formErrors.type">
                                            {{formErrors.type}}
                                        </div>
                                    </td>
                                    <td class="w-15 bg-light text-right label no-boder"></td>
                                    <td class="w-35 no-boder"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-collapse">
                    <div class="header" (click)="isCollapsedDesc = !isCollapsedDesc" [attr.aria-expanded]="!isCollapsedDesc" aria-controls="info-desc">
                        <i class="fa fa-caret-down mr-3"></i>Mô tả chi tiết</div>
                    <div class="body" id="info-desc" [ngbCollapse]="isCollapsedDesc">
                        <table class="w-100 table table-bordered">
                            <tbody>
                                <tr>
                                    <td class="w-15 bg-light text-right label no-boder">Mô tả</td>
                                    <td class="w-85 no-boder no-boder">
                                        <textarea class="form-control textarea-content" name="" id="" cols="30" rows="3" formControlName="description"></textarea>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- <kendo-dialog-actions>
    <button kendoButton (click)="close('no')">No</button>
    <button kendoButton (click)="close('yes')" primary="true">Yes</button>
  </kendo-dialog-actions> -->
</kendo-dialog>
