#main-content {
    display: flex;
    #toggle-menu {
        // box-shadow: ;
        display: flex;
        flex-direction: column;
        border: 1px solid #DFF4FD;
        font-size: 0.75rem;
        .toggle-menu-item {
            width: 221px;
            box-sizing: border-box;
            padding: 8px 12px;
            display: flex;
            justify-content: start;
            align-items: center;
            transition: width 2s;
            outline: none;
        }
        .button-click {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 15px;
            color: #FFFFFF;
            background-color: #009CE2;
            width: 25px;
            height: 25px;
            align-self: flex-end;
        }
        .active-link {
            background-color: #009CE2;
            color: white;
        }
    }
    #table-content {
        padding: 0 20px;
    }
}

.header {
    background-color: #f68e56;
    padding: 1rem;
    padding-left: 2rem;
    color: white;
}

.font-size-3 {
    font-size: 1rem;
}

.h-40 {
    height: 40px;
}

.live-form-title {
    font-size: 1.1rem;

    a {
        cursor: pointer;
        margin-top: -3px;

        img {
            margin-bottom: 1px;
        }
    }
}

.ic-close {
    position: absolute;
    right: 1rem;
    top: 1.5rem;
}

.color-black {
    color: black;
}

.b-btn {
    min-width: 5rem;
}

.lf-custom-header {
    div:first-child {
        width: 230px;
        padding-left: 1rem;
    }
    div:last-child {
        width: calc(100% - 230px);
        padding-left: 1rem;
    }
}