<div class="boder-table color-page">
  <div class="table-body">
    <form [formGroup]="formAddUser" (ngSubmit)="onSubmit()">
      <div class="row">
        <div>
          <img width="25" height="25" src="assets\images\icon-back.png">
        </div>
        <div style="padding-left: 5%; width: 70%">
          <h4 class="text-head-user color-title">TẠO MỚI NGƯỜI DÙNG</h4>
        </div>
        <div class="col-5 pull-right" style="width: 28%">
          <button type="button" class="btn btn-default btn-rg w-80 pull-right" style="color: #FFF" [routerLink]="['/management-user/group-user/manage-user-list/manage-user']">
            Hủy
          </button>
          <button type="submit" class="btn btn-primary btn-rg w-80 pull-right" [disabled]="loading">
            Lưu
          </button>
        </div>
      </div>

      <!-- <div class="body-account">
        <div class="account-content">
          <h4 class="text-accout">Tài khoản</h4>
          <div class="form-group row">
            <label for="inputUserName" class="col-sm-2 col-form-label">Tên đăng nhập
              <span style="color: red">*</span>
            </label>
            <div class="col-sm-4">
              <input class="form-control" tabindex="1" placeholder="" type="text" formControlName="userName" [class.is-invalid]="formErrors.userName">
              <div *ngIf="formErrors.userName" class="invalid-feedback">
                {{formErrors.userName}}
              </div>
            </div>
            <div class="col-sm-1" class="checkbox">
              <input type="checkbox" id="optinosCheckbox1" value="" [checked]="isCheckbox" (click)="isCheckboxAction()">
              <label for="optinosCheckbox1">
                Hoạt động
              </label>
            </div>
          </div>
          <div class="form-group row">
            <label for="password" class="col-sm-2 col-form-label">Mật khẩu
              <span style="color: red">*</span>
            </label>
            <div class="col-sm-4">
              <input class="form-control" tabindex="1" placeholder="" type="text" formControlName="password" [ngClass]="{ 'is-invalid': submitted && addUser.password.errors }">
              <div class="invalid-feedback" *ngIf="formErrors.password">{{formErrors.password}}</div>
            </div>
          </div>
          <div class="form-group row">
            <label for="Repassword" class="col-sm-2 col-form-label">Nhập lại mật khẩu
              <span style="color: red">*</span>
            </label>
            <div class="col-sm-4">
              <input class="form-control" tabindex="1" placeholder="" type="text" formControlName="rePassword" [ngClass]="{ 'is-invalid': submitted && addUser.rePassword.errors }">
              <div class="invalid-feedback">
                <div *ngIf="formErrors.rePassword" class="invalid-feedback">{{formErrors.rePassword}}</div>
              </div>

            </div>
          </div>
          <div class="form-group row">
            <label for="" class="form-label col-sm-2 ">Phân loại</label>
            <span class="custom-dropdown col-sm-4">
              <select class="form-control" formControlName="userGroupId">
                <option *ngFor="let item of dataGroupUser" [value]="item.id">{{item.text}}</option>
              </select>
            </span>
          </div>
        </div>
        <div class="info-content">
          <h4 class="text-accout">Thông tín cá nhân</h4>
          <div class="form-group row">
            <label for="inputFirstName" class="col-sm-2 col-form-label">Họ
              <span style="color: red">*</span>
            </label>
            <div class="col-sm-4">
              <input class="form-control" tabindex="1" placeholder="" type="text" formControlName="firstName" [ngClass]="{ 'is-invalid': submitted && addUser.firstName.errors }">
              <div *ngIf="formErrors.firstName" class="invalid-feedback">{{formErrors.firstName}}</div>
            </div>
          </div>
          <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Tên
              <span style="color: red">*</span>
            </label>
            <div class="col-sm-4">
              <input class="form-control" tabindex="1" placeholder="" type="text" formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && addUser.lastName.errors }">
              <div *ngIf="formErrors.lastName" class="invalid-feedback">{{formErrors.lastName}}</div>
            </div>
          </div>
          <div class="form-group row">
            <label for="email" class="col-sm-2 col-form-label">Email
              <span style="color: red">*</span>
            </label>
            <div class="col-sm-4">
              <input class="form-control" tabindex="1" placeholder="" type="text" formControlName="email" [ngClass]="{ 'is-invalid': submitted && addUser.email.errors }">
              <div *ngIf="submitted && addUser.email.errors" class="invalid-feedback">
                <div *ngIf="addUser.email.errors.required">Trường này là bắt buộc nhập</div>
                <div *ngIf="addUser.email.errors && !addUser.email.errors.required && submitted && addUser.email.errors.email">Email không đúng định dạng</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="department" class="col-sm-2 col-form-label">Phòng ban/Bộ phận
              <span style="color: red">*</span>
            </label>
            <div class="col-sm-4">
              <kendo-combobox class="w-100 form-input" [data]="departments | async" textField="departmentName" formControlName="departmentId"
                valueField="id" [valuePrimitive]="true" [value]="selectedDepartmaent" [ngClass]="{ 'is-invalid': submitted && addUser.departmentId.errors }">
              </kendo-combobox>
              <div *ngIf="submitted && addUser.departmentId.errors" class="invalid-feedback">
                <div *ngIf="addUser.departmentId.errors.required">Vui lòng chọn phòng ban/bộ phận</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="position" class="col-sm-2 col-form-label">Vị trí/Chức vụ</label>
            <div class="col-sm-4">
              <kendo-combobox class="w-100 form-input" [data]="positions | async" textField="levelName" formControlName="levelId" valueField="id"
                [valuePrimitive]="true" [value]="selectPosition">
              </kendo-combobox>
            </div>
          </div>
        </div>
      </div> -->

      <div class="main-form" style="margin-top: 5px; padding-left: 2%;">
        <div class="d-flex boder-table zoom-form">
          <div class="w-100  mr-auto">
            <div class="card-collapse" style="margin-bottom: 0px;">
              <div class="header" (click)="isCollapsedMain = !isCollapsedMain" [attr.aria-expanded]="!isCollapsedMain" aria-controls="info-main">
                <i class="fa fa-caret-down mr-3"></i>Thông tin tài khoản
              </div>
              <div class="body" id="info-main" [ngbCollapse]="isCollapsedMain">
                <table class="w-100 table table-bordered">
                  <tr>
                    <td class="w-15 bg-light text-right label required no-boder">Tên đăng nhập</td>
                    <td class="w-35 no-boder">
                      <input class="w-75 form-control" tabindex="1" type="text" formControlName="userName" [class.is-invalid]="formErrors.userName">
                      <div class="invalid-feedback" *ngIf="formErrors.userName">
                        {{formErrors.userName}}
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="w-15 bg-light text-right label required no-boder">Mật khẩu</td>
                    <td class="w-35 no-boder">
                      <input class="w-75 form-control" tabindex="1" type="text" formControlName="password" [class.is-invalid]="formErrors.password">
                      <div class="invalid-feedback" *ngIf="formErrors.password">
                        {{formErrors.password}}
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="w-15 bg-light text-right label required no-boder">Nhập lại mật khẩu</td>
                    <td class="w-35 no-boder">
                      <input class="w-75 form-control" tabindex="1" type="text" formControlName="rePassword" [class.is-invalid]="formErrors.rePassword">
                      <div class="invalid-feedback" *ngIf="formErrors.rePassword">
                        {{formErrors.rePassword}}
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="w-15 bg-light text-right label no-boder">Nhóm người dùng</td>
                    <td class="no-boder d-flex">
                      <span class="custom-dropdown" style="width: 75%; margin-right: 2px;">
                        <select class="form-control" tabindex="5" formControlName="userGroupId">
                          <option [ngValue]="null">---Chọn---</option>
                          <option *ngFor="let item of dataGroupUser" [value]="item.id">{{item.text }}</option>
                        </select>
                      </span>
                      <span class="input-group-addon mar-add" style="border-radius: 3px;">
                        <i class="fa fa-plus"> </i>
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td class="w-15 bg-light text-right label no-boder">Hoạt động</td>
                    <td class="w-35 no-boder">
                      <div class="col-sm-1" class="checkbox">
                        <input type="checkbox" id="optinosCheckbox1" value="" [checked]="isCheckbox" (click)="isCheckboxAction()">
                        <label for="optinosCheckbox1">
                          Hoạt động
                        </label>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main-form" style="margin-top: 5px; padding-left: 2%;">
        <div class="d-flex boder-table zoom-form">
          <div class="w-100  mr-auto">
            <div class="card-collapse" style="margin-bottom: 0px;">
              <div class="header" (click)="isCollapsedMain = !isCollapsedMain" [attr.aria-expanded]="!isCollapsedMain" aria-controls="info-main">
                <i class="fa fa-caret-down mr-3"></i>Thông tin cá nhân
              </div>
              <div class="body" id="info-main" [ngbCollapse]="isCollapsedMain">
                <table class="w-100 table table-bordered">
                  <tr>
                    <td class="w-15 bg-light text-right label required no-boder">Họ</td>
                    <td class="w-35 no-boder">
                      <input class="w-75 form-control" tabindex="1" type="text" formControlName="firstName" [class.is-invalid]="formErrors.firstName">
                      <div class="invalid-feedback" *ngIf="formErrors.firstName">
                        {{formErrors.firstName}}
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="w-15 bg-light text-right label required no-boder">Tên</td>
                    <td class="w-35 no-boder">
                      <input class="w-75 form-control" tabindex="1" type="text" formControlName="lastName" [class.is-invalid]="formErrors.lastName">
                      <div class="invalid-feedback" *ngIf="formErrors.lastName">
                        {{formErrors.lastName}}
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="w-15 bg-light text-right label required no-boder">Email</td>
                    <td class="w-35 no-boder">
                      <input class="w-75 form-control" tabindex="1" type="text" formControlName="email" [class.is-invalid]="formErrors.email">
                      <div class="invalid-feedback" *ngIf="formErrors.email">
                        {{formErrors.email}}
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="w-15 bg-light text-right label no-boder">Phòng ban/Bộ phận</td>
                    <td class="w-35 no-boder">
                      <span class="custom-dropdown w-75">
                        <select class="form-control" tabindex="5" formControlName="departmentId">
                          <option [ngValue]="null">---Chọn---</option>
                          <option *ngFor="let item of departments | async" [value]="item.id">{{item.text }}</option>
                        </select>
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td class="w-15 bg-light text-right label no-boder">Vị trí/Chức vụ</td>
                    <td class="w-35 no-boder">
                      <span class="custom-dropdown w-75">
                        <select class="form-control" tabindex="5" formControlName="levelId">
                          <option [ngValue]="null">---Chọn---</option>
                          <option *ngFor="let item of positions | async" [value]="item.id">{{item.text }}</option>
                        </select>
                      </span>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>