<div class="boder-table color-page">
  <div class="table-body">
    <form [formGroup]="formAddUser" (ngSubmit)="onSubmit()">
      <div class="row">
        <img width="25" height="25" src="assets\images\icon-back.png">
        <div class="col-7">
          <h4 class="text-head-user color-title">TẠO MỚI NGƯỜI DÙNG</h4>
        </div>
        <div class="col-5 pull-right">
          <button type="button" class="btn btn-default btn-rg w-80 pull-right" style="color: #FFF" [routerLink]="['/management-user/group-user/manage-user-list/manage-user']">
            Hủy
          </button>
          <button type="submit" class="btn btn-primary btn-rg w-80 pull-right" [disabled]="loading">
            Lưu
          </button>
        </div>
      </div>

      <!-- <div class="body-account">
        <div class="account-content">
          <h4 class="text-accout">Tài khoản</h4>
          <div class="form-group row">
            <label for="inputUserName" class="col-sm-2 col-form-label">Tên đăng nhập
              <span style="color: red">*</span>
            </label>
            <div class="col-sm-4">
              <input class="form-control" tabindex="1" placeholder="" type="text" formControlName="userName" [class.is-invalid]="formErrors.userName">
              <div *ngIf="formErrors.userName" class="invalid-feedback">
                {{formErrors.userName}}
              </div>
            </div>
            <div class="col-sm-1" class="checkbox">
              <input type="checkbox" id="optinosCheckbox1" value="" [checked]="isCheckbox" (click)="isCheckboxAction()">
              <label for="optinosCheckbox1">
                Hoạt động
              </label>
            </div>
          </div>
          <div class="form-group row">
            <label for="password" class="col-sm-2 col-form-label">Mật khẩu
              <span style="color: red">*</span>
            </label>
            <div class="col-sm-4">
              <input class="form-control" tabindex="1" placeholder="" type="text" formControlName="password" [ngClass]="{ 'is-invalid': submitted && addUser.password.errors }">
              <div class="invalid-feedback" *ngIf="formErrors.password">{{formErrors.password}}</div>
            </div>
          </div>
          <div class="form-group row">
            <label for="Repassword" class="col-sm-2 col-form-label">Nhập lại mật khẩu
              <span style="color: red">*</span>
            </label>
            <div class="col-sm-4">
              <input class="form-control" tabindex="1" placeholder="" type="text" formControlName="rePassword" [ngClass]="{ 'is-invalid': submitted && addUser.rePassword.errors }">
              <div class="invalid-feedback">
                <div *ngIf="formErrors.rePassword" class="invalid-feedback">{{formErrors.rePassword}}</div>
              </div>

            </div>
          </div>
          <div class="form-group row">
            <label for="" class="form-label col-sm-2 ">Phân loại</label>
            <span class="custom-dropdown col-sm-4">
              <select class="form-control" formControlName="userGroupId">
                <option *ngFor="let item of dataGroupUser" [value]="item.id">{{item.text}}</option>
              </select>
            </span>
          </div>
        </div>
        <div class="info-content">
          <h4 class="text-accout">Thông tín cá nhân</h4>
          <div class="form-group row">
            <label for="inputFirstName" class="col-sm-2 col-form-label">Họ
              <span style="color: red">*</span>
            </label>
            <div class="col-sm-4">
              <input class="form-control" tabindex="1" placeholder="" type="text" formControlName="firstName" [ngClass]="{ 'is-invalid': submitted && addUser.firstName.errors }">
              <div *ngIf="formErrors.firstName" class="invalid-feedback">{{formErrors.firstName}}</div>
            </div>
          </div>
          <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Tên
              <span style="color: red">*</span>
            </label>
            <div class="col-sm-4">
              <input class="form-control" tabindex="1" placeholder="" type="text" formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && addUser.lastName.errors }">
              <div *ngIf="formErrors.lastName" class="invalid-feedback">{{formErrors.lastName}}</div>
            </div>
          </div>
          <div class="form-group row">
            <label for="email" class="col-sm-2 col-form-label">Email
              <span style="color: red">*</span>
            </label>
            <div class="col-sm-4">
              <input class="form-control" tabindex="1" placeholder="" type="text" formControlName="email" [ngClass]="{ 'is-invalid': submitted && addUser.email.errors }">
              <div *ngIf="submitted && addUser.email.errors" class="invalid-feedback">
                <div *ngIf="addUser.email.errors.required">Trường này là bắt buộc nhập</div>
                <div *ngIf="addUser.email.errors && !addUser.email.errors.required && submitted && addUser.email.errors.email">Email không đúng định dạng</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="department" class="col-sm-2 col-form-label">Phòng ban/Bộ phận
              <span style="color: red">*</span>
            </label>
            <div class="col-sm-4">
              <kendo-combobox class="w-100 form-input" [data]="departments | async" textField="departmentName" formControlName="departmentId"
                valueField="id" [valuePrimitive]="true" [value]="selectedDepartmaent" [ngClass]="{ 'is-invalid': submitted && addUser.departmentId.errors }">
              </kendo-combobox>
              <div *ngIf="submitted && addUser.departmentId.errors" class="invalid-feedback">
                <div *ngIf="addUser.departmentId.errors.required">Vui lòng chọn phòng ban/bộ phận</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="position" class="col-sm-2 col-form-label">Vị trí/Chức vụ</label>
            <div class="col-sm-4">
              <kendo-combobox class="w-100 form-input" [data]="positions | async" textField="levelName" formControlName="levelId" valueField="id"
                [valuePrimitive]="true" [value]="selectPosition">
              </kendo-combobox>
            </div>
          </div>
        </div>
      </div> -->

      <div class="main-form">
        <div class="d-flex boder-table zoom-form">
          <div class="w-100  mr-auto">
            <div class="card-collapse">
              <div class="header" (click)="isCollapsedMain = !isCollapsedMain" [attr.aria-expanded]="!isCollapsedMain" aria-controls="info-main">
                <i class="fa fa-caret-down mr-3"></i>Thông tin tài khoản
              </div>
              <div class="body" id="info-main" [ngbCollapse]="isCollapsedMain">
                <table class="w-100 table table-bordered">
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>