
<nav class="navbar navbar-expand-lg fixed-top pad-navbar">
    <nav id="logo" [class.logo]="logo" class="navbar-brand-logo ">
        <a class="" [routerLink]="['/package']">
            <img src="assets/images/LogoHBC.png" style="" height="55"  alt="">
        </a>
    </nav>

    <div class="collapse navbar-collapse">

        <app-header-menu></app-header-menu>

        <ul class="navbar-nav ml-auto">
            <app-header-notification></app-header-notification>
            <app-header-user-menu></app-header-user-menu>
        </ul>

    </div>
</nav>

