$primary: #042d44;
$topnav-background-color: $primary;
:host {
    .pad-navbar{
        padding: 0px;
    }
    .navbar {
        background-color: $topnav-background-color;
        color: #fff;
        .navbar-brand-logo {
            color: #fff;
            width: 200px;
            font-size: 200%;
          //  padding-left: 20px;
        }
        .navbar-collapse {
            // font-size: 0.9rem;
        }
        .nav-item>a {
            // color: #c3c3c3;
            // &:hover {
            //     color: #fff;
            // }
        }
        .router-link-active {
            color: #fff !important;
        }
        .notification {
            .dropdown-menu {
                width: 415px;
            }
            .main-badge {
                position: absolute;
                top: 7px;
                border-radius: 15px;
                right: 10px;
                line-height: inherit;
                width: 20px;
            }
            .last {
                white-space: initial;
            }
            a.dropdown-toggle {
                margin-top: 0.65rem;
            }
        }
    }
    .messages {
        width: 300px;
        .media {
            border-bottom: 1px solid #ddd;
            padding: 5px 10px;
            &:last-child {
                border-bottom: none;
            }
        }
        .media-body {
            h5 {
                font-size: 13px;
                font-weight: 600;
            }
            .small {
                margin: 0;
            }
            .last {
                font-size: 12px;
                margin: 0;
            }
        }
    }
}

.dropdown-no-icon::after {
    display: none;
}




@media screen {
    .modal-adaptive  {
        width: 100px !important;
    }
}