<div *ngIf="package" class="boder-table">
    <div class="d-flex">
        <div class="w-80  mr-auto">
            <div class="card-collapse">
                <div class="header" (click)="isCollapsedMain = !isCollapsedMain" [attr.aria-expanded]="!isCollapsedMain" aria-controls="info-main">
                    <i class="fa fa-caret-down mr-3"></i>Thông tin chi tiết
                </div>
                <div class="body" id="info-main" [ngbCollapse]="isCollapsedMain">
                    <table class="w-100 table table-bordered layout-table">
                        <tbody>
                            <tr>
                                <td class="w-15 bg-light text-right label required no-boder">Tên dự án</td>
                                <td class="w-35 no-boder">
                                    <div class="w-75 form-control">{{package.projectName}}</div>
                                </td>
                                <td class="w-15 bg-light text-right label no-boder">Quy mô</td>
                                <td class="w-35 no-boder">
                                    <div class="w-75 form-control">{{package.magnitude}}</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="w-15 bg-light text-right label no-boder">Mã số dự án</td>
                                <td class="w-35 no-boder">
                                    <div class="w-75 form-control">{{package.projectNo}}</div>
                                </td>
                                <td class="w-15 bg-light text-right label no-boder">Loại công trình</td>
                                <td class="w-35 no-boder">
                                    <div class="w-75 form-control">{{package.projectType.text}}</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="w-15 bg-light text-right label required no-boder">Tên gói thầu</td>
                                <td class="w-35 no-boder">
                                    <div class="w-75 form-control">{{package.opportunityName}}</div>
                                </td>
                                <td class="w-15 bg-light text-right label no-boder">Hạng mục thi công chính</td>
                                <td class="w-35 no-boder">
                                    <div class=" w-75 form-control">{{package.mainBuildingCategory.text}}</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="w-15 bg-light text-right label no-boder">Công việc</td>
                                <td class="w-35 no-boder">
                                    <div class="w-75 form-control">{{package.job}}</div>
                                </td>
                                <td class="w-15 bg-light text-right label no-boder">Vai trò</td>
                                <td class="w-35 no-boder">
                                    <div class="w-75 form-control">{{ package.hbcRole.text | translate}}</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="w-15 bg-light text-right label no-boder">Địa điểm</td>
                                <td class="w-35 no-boder">
                                    <div class="w-75 form-control">{{package.place}}</div>
                                </td>
                                <td class="w-15 bg-light text-right label no-boder">Link tài liệu</td>
                                <td class="w-35 no-boder">
                                    <div class="w-75 form-control">{{package.documentLink}}</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="w-15 bg-light text-right label no-boder">Khu vực</td>
                                <td class="w-35 no-boder">
                                    <div class="w-75 form-control">{{package.location.text}}</div>
                                </td>
                                <td class="w-15 bg-light text-right label no-boder">Chủ trì HBC</td>
                                <td class="w-35 no-boder">
                                    <div class="w-75 form-control">{{package.chairEmployee.text}}</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="w-15 bg-light text-right label no-boder">Quý</td>
                                <td class="w-35 no-boder">
                                    <div class="w-75 form-control">{{package.quarter.text}}</div>
                                </td>
                                <td class="w-15 bg-light text-right label no-boder">Tình trạng</td>
                                <td class="w-35 no-boder">
                                    <div class="w-75 form-control">{{package.status.text | translate}}</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="w-15 bg-light text-right label no-boder">Tên khách hàng</td>
                                <td class="w-35 no-boder">
                                    <div class="w-75 form-control">{{package.customer ? package.customer.text : '' }}</div>
                                </td>
                                <td class="w-15 bg-light text-right label no-boder">Tổng giá trị</td>
                                <td class="w-35 no-boder">
                                    <div class="w-75 form-control">{{package.amount}}</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="w-15 bg-light text-right label no-boder">Loại khách hàng</td>
                                <td class="w-35 no-boder">
                                    <div class="w-75 form-control">{{package.classify | translate}}</div>
                                </td>
                                <td class="w-15 bg-light text-right label no-boder">Tiến độ thực hiện</td>
                                <td class="w-35 no-boder">
                                    <div class="w-75 form-control">
                                        {{package.progress}}
                                        <span class="text-right-m2">%</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="w-15 bg-light text-right label no-boder">Liên hệ</td>
                                <td class="w-35 no-boder">
                                    <div class="w-75 form-control">{{package.customerContact ? package.customerContact.text : ''}}</div>
                                </td>
                                <td class="w-15 bg-light text-right label no-boder">Lí do thắng thầu</td>
                                <td class="w-35 no-boder">
                                    <div class="w-75 form-control">{{package.acceptanceReason}}</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="w-15 bg-light text-right label no-boder">Đơn vị tư vấn</td>
                                <td class="w-35 no-boder">
                                    <div class="w-75 form-control">{{package.consultantUnit}}</div>
                                </td>
                                <td class="w-15 bg-light text-right label no-boder">Lí do trật thầu</td>
                                <td class="w-35 no-boder">
                                    <div class="w-75 form-control">{{package.unacceptanceReason}}</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="w-15 bg-light text-right label no-boder">Địa chỉ ĐVTV</td>
                                <td class="w-35 no-boder">
                                    <div class="w-75 form-control">{{package.consultantAddress}}</div>
                                </td>
                                <td class="w-15 bg-light text-right label no-boder">Đánh giá dự án</td>
                                <td class="w-35 no-boder">
                                    <div class="w-75 form-control">{{package.evaluation}}</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="w-15 bg-light text-right label no-boder" style="border-top: none;border-right: none;">Số điện thoại ĐVTV</td>
                                <td class="w-35 no-boder" style="border-top: none;border-right: none;border-left: none;">
                                    <div class="w-75 form-control">{{package.consultantPhone}}</div>
                                </td>
                                <td class="w-15 bg-light text-right label no-boder" style="border-top: none;border-right: none;border-left: none;"></td>
                                <td class="w-35 no-boder" style="border-top: none;border-right: none;border-left: none;">
                                </td>
                            </tr>
                            <tr>
                                <td class="w-15 bg-light text-right label " style="border-top: none;border-right: none;">Diện tích sàn (m2)</td>
                                <td class="w-35" style="border-top: none;border-right: none;border-left: none;">
                                    <div class="w-75 form-control">
                                        {{package.floorArea}}
                                        <span class="text-right-m2">m2</span>
                                    </div>
                                </td>
                                <td class="w-15 bg-light text-right label" style="border-top: none;border-right: none;border-left: none;"></td>
                                <td class="w-35" style="border-top: none;border-right: none;border-left: none;">
                                </td>
                            </tr>
                            <tr>
                                <td class="w-15 bg-light text-right label no-boder">Ngày bắt đầu theo dõi</td>
                                <td class="w-35 no-boder">
                                    <div class="w-75 form-control">
                                        <span *ngIf="package.startTrackingDate">{{(package.startTrackingDate)*1000 | date:'dd/MM/yyyy'}}</span>
                                    </div>
                                </td>
                                <td class="w-15 bg-light text-right label no-boder">Ngày khởi công dự án</td>
                                <td class="w-35 no-boder">
                                    <div class="w-75 form-control">
                                        <span *ngIf="package.estimatedProjectStartDate">{{(package.projectEstimatedStartDate)*1000 | date:'dd/MM/yyyy'}}</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="w-15 bg-light text-right label required no-boder">Ngày nộp hồ sơ mời thầu</td>
                                <td class="w-35 no-boder">
                                    <div class="w-75 form-control">
                                        <span *ngIf="package.submissionDate">{{(package.submissionDate)*1000 | date:'dd/MM/yyyy'}}</span>
                                    </div>
                                </td>
                                <td class="w-15 bg-light text-right label no-boder">Ngày kết thúc dự án</td>
                                <td class="w-35 no-boder">
                                    <div class="w-75 form-control">
                                        <span *ngIf="package.estimatedProjectEndDate">{{(package.projectEstimatedEndDate)*1000 | date:'dd/MM/yyyy'}}</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="w-15 bg-light text-right label required no-boder">Ngày dự kiến kết quả thầu</td>
                                <td class="w-35 no-boder">
                                    <div class="w-75 form-control">
                                        <span *ngIf="package.resultEstimatedDate">{{(package.resultEstimatedDate)*1000 | date:'dd/MM/yyyy'}}</span>
                                    </div>
                                </td>
                                <td class="w-15 bg-light text-right label no-boder">Tổng thời gian</td>
                                <td class="w-35 no-boder">
                                    <div class="w-75 form-control">{{package.totalTime}}</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="mr-auto card-collapse">
                <div class="header" (click)="isCollapsedDesc = !isCollapsedDesc" [attr.aria-expanded]="!isCollapsedDesc" aria-controls="info-desc">
                    <i class="fa fa-caret-down mr-3"></i>Mô tả chi tiết</div>
                <div class="body" id="info-desc" [ngbCollapse]="isCollapsedDesc">
                    <table class="w-100 table table-bordered layout-table">
                        <tbody>
                            <tr>
                                <td class="w-15 bg-light text-right label">Mô tả</td>
                                <td class="w-85 no-boder">
                                    <pre class="form-control pre-content">{{package.description}}</pre>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="w-15  mr-auto">
            <div class="media-header" style="float: right">
                <span class="action-bar alignment-but">
                    <button type="submit" class="btn btn-primary" [routerLink]="['/package/detail',currentPackageId,'info','edit']">Chỉnh sửa &nbsp;
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>
