<div *ngIf="package" class="boder-table" style="margin-left: 20px; margin-right: 20px">
    <div class="d-flex">
        <div class="  mr-auto" style="width: calc(100% - 100px);">
            <div class="card-collapse">
                <div class="header" (click)="isCollapsedMain = !isCollapsedMain" [attr.aria-expanded]="!isCollapsedMain"
                    aria-controls="info-main">
                    <i *ngIf="!isCollapsedMain" class="fa fa-caret-down mr-3"></i>
                    <i *ngIf="isCollapsedMain" class="fa fa-caret-right mr-3"></i>
                    Thông tin chi tiết
                </div>
                <div class="body" id="info-main" [ngbCollapse]="isCollapsedMain">
                    <table class="w-100 table table-bordered layout-table" *ngIf="package">
                        <tbody>
                            <tr>
                                <td class="w-15 bg-light text-right label required no-boder field-name">Tên dự án</td>
                                <td class="w-35 no-boder">
                                    <div class="w-75 form-control">{{package.projectName}}</div>
                                </td>
                                <td class="w-15 bg-light text-right label no-boder field-name">Quy mô</td>
                                <td class="w-35 no-boder">
                                    <div class="w-75 form-control">{{package.magnitude}}</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="w-15 bg-light text-right label no-boder field-name">Mã số dự án</td>
                                <td class="w-35 no-boder">
                                    <div class="w-75 form-control">{{package.projectNo}}</div>
                                </td>
                                <td class="w-15 bg-light text-right label no-boder field-name">Loại công trình</td>
                                <td class="w-35 no-boder">
                                    <div class="w-75 form-control">{{package.projectType?.text}}</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="w-15 bg-light text-right label required no-boder field-name">Tên gói thầu</td>
                                <td class="w-35 no-boder">
                                    <div class="w-75 form-control">{{package.opportunityName}}</div>
                                </td>
                                <td class="w-15 bg-light text-right label no-boder field-name">Hạng mục thi công chính</td>
                                <td class="w-35 no-boder">
                                    <div class=" w-75 form-control">{{package.mainBuildingCategory?.text}}</div>
                                </td>
                            </tr>
                            <tr>
                                <!-- <td class="w-15 bg-light text-right label no-boder">Công việc</td>
                                <td class="w-35 no-boder">
                                    <div class="w-75 form-control">{{package.job}}</div>
                                </td> -->
                                <td class="w-15 bg-light text-right label no-boder field-name">Địa điểm</td>
                                <td class="w-35 no-boder">
                                    <div class="w-75 form-control">{{package.place}}</div>
                                </td>
                                <td class="w-15 bg-light text-right label no-boder field-name">Vai trò</td>
                                <td class="w-35 no-boder">
                                    <div class="w-75 form-control">{{ package.hbcRole?.text }}</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="w-15 bg-light text-right label no-boder field-name">Khu vực</td>
                                <td class="w-35 no-boder">
                                    <div class="w-75 form-control">{{package.location?.text}}</div>
                                </td>
                                <td class="w-15 bg-light text-right label no-boder field-name">Link tài liệu</td>
                                <td class="w-35 no-boder">
                                    <!-- <div class="w-75 form-control">{{package.documentLink}}</div> -->
                                    <a class="w-75 form-control color-link color-link" target="_blank" [href]="package.documentLink">{{
                                        package.documentLink }}</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="w-15 bg-light text-right label no-boder field-name">Quý</td>
                                <td class="w-35 no-boder">
                                    <div class="w-75 form-control">{{package.quarter?.text}}</div>
                                </td>
                                <td class="w-15 bg-light text-right label no-boder field-name">Chủ trì</td>
                                <td class="w-35 no-boder">
                                    <div class="w-75 form-control">{{package.chairEmployee?.text}}</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="w-15 bg-light text-right label no-boder field-name">Tên khách hàng</td>
                                <td class="w-35 no-boder">
                                    <div class="w-75 form-control">
                                        <a [href]="redirectToCRM('tenKhachHang', package.customer?.id)" target="_blank">
                                            {{package.customer?.text}}
                                        </a>
                                    </div>
                                </td>
                                <td class="w-15 bg-light text-right label no-boder field-name">Giai đoạn</td>
                                <td class="w-35 no-boder" style="text-align: center;">
                                    <div class="w-75 d-flex flex-column" style="align-items: flex-start;">
                                        <div style="width: 100%;" *ngIf="!package?.isSendMailKickOff">
                                            <div class="status-package" [ngClass]="{'status-hsmt--background': package.stage?.text === 'Hồ sơ mời thầu', 'status-dt--background': package.stage?.text === 'Dự thầu', 'status-kqdt--background': package.stage?.text === 'Kết quả dự thầu'}">{{package.stage?.text}}</div>
                                            <div class="status-package" [ngClass]="{'phase-hsmt--background': package.stage?.text === 'Hồ sơ mời thầu', 'phase-dt--background': package.stage?.text === 'Dự thầu', 'phase-kqdt--background': package.stage?.text === 'Kết quả dự thầu'}">{{package.stageStatus?.text}}</div>
                                        </div>
                                        <div style="width: 100%;" *ngIf="package?.isSendMailKickOff">
                                            <div class="status-package" [ngClass]="{'status-hsmt--background': package.stage?.text === 'Hồ sơ mời thầu', 'status-dt--background': package.stage?.text === 'Dự thầu', 'status-kqdt--background': package.stage?.text === 'Kết quả dự thầu'}">Kết
                                                quả dự thầu</div>
                                            <div class="status-package" [ngClass]="{'phase-hsmt--background': package.stage?.text === 'Hồ sơ mời thầu', 'phase-dt--background': package.stage?.text === 'Dự thầu', 'phase-kqdt--background': package.stage?.text === 'Kết quả dự thầu'}">Đã
                                                thông báo họp Kick-off</div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="w-15 bg-light text-right label no-boder field-name">Loại khách hàng</td>
                                <td class="w-35 no-boder">
                                    <div class="w-75 form-control">{{package.customer?.customerNewOldType | translate}}</div>
                                </td>
                                <td class="w-15 bg-light text-right label no-boder field-name">Tổng giá trị tạm tính
                                    (GĐ đầu)</td>
                                <td class="w-35 no-boder">
                                    <div class="w-75 form-control text-right">{{+package.amount | vnCurrency}}</div>
                                </td>
                            </tr>

                            <tr>
                                <td class="w-15 bg-light text-right label no-boder field-name">Liên hệ</td>
                                <td class="w-35 no-boder">
                                    <div class="w-75 form-control">
                                        <a [href]="redirectToCRM('lienHe', package.customerContact?.id)" target="_blank">
                                            {{package.customerContact?.text}}
                                        </a>
                                    </div>
                                </td>
                                <td class="w-15 bg-light text-right label no-boder field-name">Tổng giá trị nộp thầu</td>
                                <td class="w-35 no-boder">
                                    <div class="w-75 form-control text-right">{{ package.totalCostOfSubmission ?
                                        (+package.totalCostOfSubmission | vnCurrency) : '' }}</div>
                                </td>
                            </tr>


                            <tr>
                                <td class="w-15 bg-light text-right label no-boder field-name">Đơn vị tư vấn</td>
                                <td class="w-35 no-boder">
                                    <div class="w-75 form-control">
                                        <a [href]="redirectToCRM('donViTuVan', package.consultantUnitCustomer?.id)"
                                            target="_blank">
                                            {{package.consultantUnitCustomer?.text}}
                                        </a>
                                    </div>
                                </td>
                                <td class="w-15 bg-light text-right label no-boder field-name">Tiến độ thực hiện</td>
                                <td class="w-35 no-boder">
                                    <div class="w-75 form-control text-right">
                                        {{package.progress}}&nbsp;
                                        <span class="text-right-m2"> %</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="w-15 bg-light text-right label no-boder field-name">Địa chỉ ĐVTV</td>
                                <td class="w-35 no-boder">
                                    <div class="w-75 form-control">{{package.consultantAddress}}</div>
                                </td>
                                <td class="w-15 bg-light text-right label no-boder field-name">Lí do Thắng thầu</td>
                                <td class="w-35 no-boder">
                                    <div class="w-75 form-control">{{package.acceptanceReason}}</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="w-15 bg-light text-right label no-boder field-name" style="border-top: none;border-right: none;">Số
                                    điện thoại ĐVTV</td>
                                <td class="w-35 no-boder" style="border-top: none;border-right: none;border-left: none;">
                                    <div class="w-75 form-control">{{package.consultantPhone}}</div>
                                </td>
                                <td class="w-15 bg-light text-right label no-boder field-name">Lí do Trật thầu</td>
                                <td class="w-35 no-boder">
                                    <div class="w-75 form-control">{{package.unacceptanceReason}}</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="w-15 bg-light text-right label no-boder field-name" style="border-top: none;border-right: none;">
                                    Diện tích sàn (m2)
                                </td>
                                <td class="w-35 no-boder" style="border-top: none;border-right: none;border-left: none;">
                                    <div class="w-75 form-control">{{package.floorArea | numberArea}}</div>
                                </td>
                                <td class="w-15 bg-light text-right label no-boder field-name">Lý do Hủy thầu</td>
                                <td class="w-35 no-boder">
                                    <div class="w-75 form-control">{{package.cancelReason}}</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="w-15 bg-light text-right label field-name" style="padding-bottom: 20px!important; border-top: none;border-right: none;">
                                </td>
                                <td class="w-35" style="padding-bottom: 20px!important; border-top: none;border-right: none;border-left: none;">

                                </td>
                                <td class="w-15 bg-light text-right label field-name" style="padding-bottom: 20px!important; border-top: none;border-right: none;border-left: none;">Đánh
                                    giá dự án</td>
                                <td class="w-35" style="padding-bottom: 20px!important; border-top: none;border-right: none;border-left: none;">
                                    <div class="w-75 form-control">{{package.evaluation?.text}}</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="w-15 bg-light text-right label no-boder field-name" style="padding-top: 20px!important;">Ngày bắt đầu nhận HSMT</td>
                                <td class="w-35 no-boder" style="padding-top: 20px!important;">
                                    <div class="w-75 form-control">
                                        <span *ngIf="package.startTrackingDate">{{(package.startTrackingDate)*1000 |
                                            date:'dd/MM/yyyy'}}
                                        </span>
                                    </div>
                                </td>
                                <td class="w-15 bg-light text-right label no-boder field-name" style="padding-top: 20px!important;">Ngày
                                    khởi công dự án</td>
                                <td class="w-35 no-boder" style="padding-top: 20px!important;">
                                    <div class="w-75 form-control">
                                        <span *ngIf="package.projectEstimatedStartDate">{{(package.projectEstimatedStartDate)*1000
                                            | date:'dd/MM/yyyy'}}</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="w-15 bg-light text-right label required no-boder field-name">Ngày nộp hồ sơ dự thầu</td>
                                <td class="w-35 no-boder">
                                    <div class="w-75 form-control">
                                        <span *ngIf="package.submissionDate">{{(package.submissionDate)*1000 |
                                            date:'dd/MM/yyyy'}}
                                        </span>
                                    </div>
                                </td>
                                <td class="w-15 bg-light text-right label no-boder field-name">Ngày kết thúc dự án</td>
                                <td class="w-35 no-boder">
                                    <div class="w-75 form-control">
                                        <span *ngIf="package.projectEstimatedEndDate">{{(package.projectEstimatedEndDate)*1000
                                            | date:'dd/MM/yyyy'}}</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="w-15 bg-light text-right label required no-boder field-name">Ngày dự kiến
                                    kết quả thầu</td>
                                <td class="w-35 no-boder">
                                    <div class="w-75 form-control">
                                        <span *ngIf="package.resultEstimatedDate">{{(package.resultEstimatedDate)*1000
                                            | date:'dd/MM/yyyy'}}</span>
                                    </div>
                                </td>
                                <td class="w-15 bg-light text-right label no-boder field-name">Tổng thời gian</td>
                                <td class="w-35 no-boder">
                                    <div class="w-75 form-control">{{package.totalTime}}</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="mr-auto card-collapse">
                <div class="header" (click)="isCollapsedDesc = !isCollapsedDesc" [attr.aria-expanded]="!isCollapsedDesc"
                    aria-controls="info-desc">
                    <i *ngIf="!isCollapsedDesc" class="fa fa-caret-down mr-3"></i>
                    <i *ngIf="isCollapsedDesc" class="fa fa-caret-right mr-3"></i>
                    Mô tả chi tiết
                </div>
                <div class="body" id="info-desc" [ngbCollapse]="isCollapsedDesc">
                    <table class="w-100 table table-bordered layout-table">
                        <tbody>
                            <tr>
                                <td class="w-15 bg-light text-right label field-name">Mô tả</td>
                                <td class="w-85 no-boder">
                                    <pre class="form-control pre-content">{{package.description}}</pre>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="" style="width: auto; margin-right: 20px;  margin-left: 20px">
            <div class="media-header">
                <span class="action-bar alignment-but">
                    <button type="submit" class="btn btn-primary" [routerLink]="['/package/detail',currentPackageId,'info','edit']">Chỉnh
                        sửa &nbsp;
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>
