<form [formGroup]="constructionForm" novalidate (ngSubmit)="submitForm()">
  <div>
      <div class="card p-3">
          <div class="row form-group">
              <div class="col-md-2 text-right required">Tên công trình</div>
              <div class="col-md-3">
                  <input class="form-control" [class.is-invalid]="formErrors.constructionTypeName" tabindex="1" formControlName="constructionTypeName">
                  <div class="invalid-feedback" *ngIf="formErrors.constructionTypeName">
                      {{formErrors.constructionTypeName}}
                  </div>
              </div>
          </div>
          <div class="row form-group">
              <div class="col-md-2 text-right">Mô tả</div>
              <div class="col-md-3">
                  <textarea class="form-control" tabindex="2" formControlName="constructionTypeDesc"></textarea>
              </div>
          </div>
      </div>
      <div class="text-right">
          <button class="btn btn-secondary" type="button" [routerLink]="['/settings/construction']">Hủy
          </button>
          <button type="submit" class="btn btn-primary ml-2">Lưu
          </button>
      </div>
  </div>
</form>
