<div [@routerTransition]>
  <div class="title-detail center-parent" [class.title-detail-toggle]="isToggle" *ngIf="packageData">
    <div class="mr-auto col-md-12">
      <div class="media-header header-title" style="padding: 0px">
        <div class="d-flex justify-content-between">
          <div class="text-truncate ellipsis">
            <a [routerLink]='["/package/list"]' style="cursor: pointer;">
              <!-- <i class="fa fa-chevron-left mr-3" aria-hidden="true"></i> -->
              <img width="12" height="12" class="pointer not-outline" src="assets\images\nghia.png" style="margin-bottom: 1px;">
            </a>
            <h4 class="d-inline mb-0 text-dark">
              <span>
                CHI TIẾT GÓI THẦU "{{packageData.opportunityName | uppercase}}"
              </span>
            </h4>
          </div>
          <div class="set-min-width-image">
            <span class="gr-icon">
              <img class="mr-3 pointer" src="assets\images\ic_permission_set.png" [routerLink]="['/package/permission', packageId]">
              <img class="pointer" src="assets\images\ic_email_manage.png" [routerLink]="['/package/email', packageId]">
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-detail">
    <div class="menu" id="bigMenu" style="margin-left: 20px; margin-right: 20px;margin-bottom: 5px;">
      <div class="action" style="width: calc(25% - 10px)" [routerLinkActive]="['router-link-active']" [routerLink]="['/package/detail', packageId ,'info']">
        THÔNG TIN CHI TIẾT
      </div>
      <div class="action" style="width: calc(25% - 10px)" [routerLinkActive]="['router-link-active']" [routerLink]="['/package/detail', packageId ,'invitation']">
        HỒ SƠ MỜI THẦU
      </div>
      <div class="action" style="width: calc(25% - 10px)" [routerLinkActive]="['router-link-active']" [routerLink]="['/package/detail', packageId ,'attend']">
        DỰ THẦU
        <!-- [routerLink]="['/package/detail', packageId ,'attend']" -->
      </div>
      <div class="no-action" style="width: calc(25% - 10px)" [routerLinkActive]="['router-link-active']">
        <!-- [routerLink]="['/package/detail', packageId ,'result']" -->
        KẾT QUẢ DỰ THẦU
      </div>
    </div>
    <div>
      <router-outlet></router-outlet>
    </div>

  </div>
</div>