.outer {
    width: 100%;
    //  height: 100vh;
    box-shadow: 0 1pt 12pt rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 10px 25px 30px;
    background-color: #fff;
}

.rule {
    border-right: 5px solid #00a0e3;
    content: "";
    margin: 10px 0;
    height: 1.2rem;
}
.title-header {
    font-size: 130%;
    padding-right: 10px;
}
#outer-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        width: 20%;
        height: auto;
    }
    h5 {
        text-transform: uppercase;
        margin: 15px 0;
    }
    .confirm-button {
        padding-bottom: 30px;
        button {
            margin: 0 20px;
        }
    }
}

.custom-filter-bar {
    padding: 10px;
}

.no-boder-bottom {
    border-bottom: none;
}
.text-model {
    color: #343a40 !important;
    font-weight: 700;
    text-transform: uppercase;
}
.custom-filter-bar {
    padding: 10px;
}
.close {
    font-size: 1.8rem !important;
}
.w-80{
    width: 114px;
    height: 34px;
    margin-left: 10px;
    color: #fff!important;
}
.bg-cancle {
    background: #8e8b8b!important;
}
.custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1; // height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #9b9595;
    font-weight: 400;
}
.pd-up {
    padding-bottom: 20px;
    .mg-l {
        white-space: nowrap;
        margin-left: 3%;
    }
}
.fg-w {
    font-weight: 700
}
.btn-cancel {
    background-color: #8e8b8b;
    border: #8e8b8b;
    color: white;
}
.pd-food {
    padding: 30px 0px 20px 0px;
}
input.icon{
    font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
input.form-control.icon {
    border: 1px solid #00a0e3;
}
.des {
    white-space: nowrap; 
    width: 50px; 
    overflow: hidden;
    text-overflow: ellipsis;    

}
.table-action {
    a {
        cursor: pointer;
    }
    width: 120px;
}
table.dataTable th {
    border-bottom: 1px solid #dddddd !important;
    background-color: #ffff!important;
    border: 1px solid #dddddd;
}

.show {
    padding-top: 15px
}

.or {
    position: absolute;
    top: 40px;
    left: 34px;
    color: #c2baba;
    &::after {
        display: block;
        background: #c2baba;
        width: 2px;
        height: 11px;
        position: absolute;
        z-index: 99999999999;
        left: 23px;
        top: 18px;
        content: "";
      }
      &::before {
        display: block;
        background: #c2baba;
        width: 2px;
        height: 11px;
        position: absolute;
        z-index: 99999999999;
        left: 23px;
        top: -8px;
        content: "";
      }
}
.pd-l {
    padding-left: 10px;
}

@media only screen and (max-width: 1600px) {
  
    .custom-filter-bar{
        zoom: 0.9;
    }
  }
  
  @media only screen and (max-width: 1400px) {
    
      .custom-filter-bar{
          zoom: 0.8;
      }
  }
  
  
  @media only screen and (max-width: 1366px) {
    .btn-toolbar {
        zoom: 0.9;
    }
    .custom-filter-bar{
        zoom: 0.9;
    }
    .filter-contract {
        margin-top: 15px;
        .mr-f {
            margin-right: 10px;
        }
    }
    .status-filter {
        zoom: 0.9;
    }
    .documentName {
      max-width: 120px!important;
    }
    .description {
      max-width: 120px!important;
    }
    .employeeName {
        max-width: 100px!important;
    }
    .no-boder-bottom {
      margin-top: 20px;
    }
  }
  
  @media only screen and (max-width: 1200px) {
    .btn-toolbar {
        zoom: 0.85;
    }
    .status-filter {
        zoom: 0.85;
    }
      .custom-filter-bar{
          zoom: 0.8;
      }     
    .documentName {
      max-width: 120px!important;
    }
    .description {
        max-width: 120px!important;
    }
    .employeeName {
        max-width: 100px!important;
    }
    .filter-contract {
        margin-top: 15px;
        .mr-f {
            margin-right: 10px;
        }
    }
    #mr {
        margin-right: 10px;
       } 
    .no-boder-bottom {
        margin-top: 20px;
    }
  }
  
  @media only screen and (max-width: 1150px) {
      table.dataTable{
          zoom: 0.72;
      }
   
      .status-filter{
          zoom: 0.85;
      }
      .custom-filter-bar{
          zoom: 0.5;
      }
  }
  
  @media only screen and (max-width: 1024px) {
      .btn-toolbar {
          zoom: 0.85;
      }
      table.dataTable{
        zoom: 0.85!important;
    }
    .status-filter{
        zoom: 0.85;
    }
    .custom-filter-bar{
        zoom: 0.8;
    }
    #mr {
     margin-right: 10px;
    } 
    .no-boder-bottom {
        margin-top: 20px;
    }
    #outer {
        zoom: 0.8 !important;
    } 
    .title-list-package {
        font-size: 120%!important;
    }
    .fs {
        font-size: 20px!important;
    }
    .documentName {
        max-width: 120px!important;
    }
    .description {
        max-width: 120px!important;
    }
    .employeeName {
        max-width: 100px!important;
    }
    .filter-contract {
        margin-top: 15px;
        .mr-f {
            margin-right: 10px;
        }
    }
  }
  
  @media only screen and (max-width: 1010px) {
  
      .status-filter{
          zoom: 0.65;
      }
      .custom-filter-bar{
          zoom: 0.5;
      }
  }
  
  @media only screen and (max-width: 997px) {
  
      .status-filter{
  
          
          zoom: 0.45;
      }
      .custom-filter-bar{
          zoom: 0.6;
      }
  }
.fs {
    font-size: 130%;
}
.btn-send {
    background-color: #00a0e3;
    border: #00a0e3;
    color: white;
    margin-right: 4px;
}
.btn-cancel {
    background-color: #8e8b8b;
    border: #8e8b8b;
    color: white;
}
.send-cc {
    margin-right: 10px;
    color: #00a0e3;
    cursor: pointer;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    width: auto;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.input-group-prepend>.input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background: #fff!important;
    border-right: none;
}
.input-group-append {
    margin-left: -1px;
}
.input-group-append>.input-group-text {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: #fff!important;
    border-left: none;
}

.input-group-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding-right: 6px;    
}
.img-back {
    margin: 0px 5px 8px 5px; 
}
table.dataTable th {
    background-color: #f68e56 !important;
    border: 1px solid #dddddd;
}
.set-stt--width{
    width: 5% !important;
    width: 3rem !important;
}
.set-manipulation--width{
    width: 5% !important;
    width: 4rem !important;
}
.table-layout{
    table-layout: fixed;
}
.w-80{
    width: 80%;
}
.w-40{
    width: 40% !important;
}
.w-35{
    width: 35%;
}
.w-30{
    width: 30% !important;
}
.w-25{
    width: 25% !important;
}
.w-10{
    width: 10% !important;
}
.w-15{
    width: 15% !important;
}
.icon-sort{
    width: 15px;
    cursor: pointer;
}
.icon-sort-down-up{
    width: 9px;
    cursor: pointer;
}
:host /deep/ .k-dateinput-wrap .k-input, .k-dropdown-wrap .k-input, .k-picker-wrap .k-input, .k-numeric-wrap .k-input {
    // padding: 1rem 1rem !important;
}
:host /deep/ .dataTables_wrapper {
    position: inherit !important;
}
:host /deep/ .dataTables_empty {
    display: none !important;
}
.title-header-chirld{
    font-size: 120%;
}