<div class="p-3" [@routerTransition]>
    <h4 class="text-uppercase">cấu hình</h4>
    <ul class="nav">
        <!-- <li class="nav-item k-menu-custom" routerLink="reason">
                <kendo-menu [items]="reasonList" #kMenuLink>
                        <ng-template kendoMenuItemLinkTemplate let-item="item" let-index="index">
                                <a [kendoMenuItemLink]="index" routerLinkActive="active-link" [routerLink]="item.path">
                                    {{ item.text }}
                                    <span *ngIf="item.items && item.items.length" [kendoMenuExpandArrow]="index"></span>
                                </a>
                            </ng-template>
                    </kendo-menu>
        </li> -->
        <li class="nav-item">
            <a class="nav-link" routerLink="reason" routerLinkActive="active-link">Lý do</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="location" routerLinkActive="active-link">Khu vực</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="construction" routerLinkActive="active-link">Loại công trình</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="construction-category" routerLinkActive="active-link">Hạng mục thi công công trình</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="bid-status" routerLinkActive="active-link">Tình trạng gói thầu</a>
        </li>
    </ul>
    <hr class="mt-0">
    <router-outlet></router-outlet>
    <!-- <div class="main-detail">
        <div class="d-flex justify-content-between menu">
            <div class="center-parent action" style="width: calc(20%)">
                <div class="text-uppercase">lý do</div>
            </div>
            <div class="center-parent action" style="width: calc(20%)" [routerLinkActive]="['router-link-active']" [routerLink]="['./location']">
                <div class="text-uppercase">khu vực</div>
            </div>
            <div class="center-parent action" style="width: calc(20%)" [routerLinkActive]="['router-link-active']" [routerLink]="['./construction']">
                <div class="text-uppercase">loại công trình</div>
            </div>
            <div class="center-parent action" style="width: calc(20%)" [routerLinkActive]="['router-link-active']" [routerLink]="['./construction-category']">
                <div class="text-uppercase">hạng mục thi công công trình</div>
            </div>
            <div class="center-parent action" style="width: calc(20%)" [routerLinkActive]="['router-link-active']" [routerLink]="['./bid-status']">
                <div class="text-uppercase">tình trạng gói thầu</div>
            </div>
        </div>
        <div>
            <router-outlet></router-outlet>
        </div>
    </div> -->
</div>
