.nav-menu {
    font-size: 1rem;
}

.title-detail {
    box-shadow: 0 16px 3px -12px #F5F5F5, 0 4px 25px 0 #F5F5F5, 0 8px 10px -5px #F5F5F5;
    height: 55px;
    position: fixed;
    background-color: #ffff;
    z-index: 50;
    width: 100%;
}

.main-detail {
    margin: 15px 15px;
    min-height: 100px;
    .menu {
        height: 45px;
        .action {
            background-color: #cceffc;
            color: #00a0e3;
            font-weight: 400;
            font-size: 130%;
            cursor: pointer;
            border-top-right-radius: 17px;
            outline: none;
            &:nth-child(1){
              //  margin-left: -25px;
              z-index: 5;
            }
            &:nth-child(2){
                // margin-left: -28px;
                z-index: 4;
            }
            &:nth-child(3){
                // margin-left: -28px;
                z-index: 3;
            }
            &:nth-child(4){
                // margin-left: -28px;
                z-index: 2;
            }
            &:nth-child(5){
                // margin-left: -28px;
                z-index: 1;
            }
        }
        .action:hover {
            background-color: #00a0e3;
            color: #fff;
            font-size: 140%;
            font-weight: 400;
            box-shadow: 0 16px 38px -12px rgb(204, 202, 202), 0 4px 25px 0 rgb(204, 202, 202), 0 8px 10px -5px rgb(204, 202, 202),
        }
    }
}

.router-link-active {
    background-color: #00a0e3 !important;
    color: #fff !important;
    font-size: 140% !important;
    font-weight: 400 !important;
}

.un-active {
    background-color: #ebebeb !important;
    color: #7b7b7b !important;
}

.un-active:hover {
    background-color: #ebebeb !important;
    color: #7b7b7b !important;
    font-weight: 400 !important;
    font-size: 140% !important;
    box-shadow: none !important;
}

.header-title {
    padding: 0 15px;
}

@media only screen and (max-width: 3000px) {}

@media only screen and (max-width: 1600px) {}

@media only screen and (max-width: 1366px) {}

@media only screen and (max-width: 1270px) {
    .menu {
        zoom: 0.9;
    }
}

@media only screen and (max-width: 1200px) {
    .menu {
        zoom: 0.85;
    }
}

@media only screen and (max-width: 1024px) {
    .menu {
        zoom: 0.8;
    }
}

@media only screen and (max-width: 1100px) {
    .menu {
        zoom: 0.87;
    }
}

@media only screen and (max-width: 993px) {
    .title-detail {
        width: 100% !important;
    }
}

:host {
    background-color: #f6f6f6;
}


.nav {
    margin-left: -1rem;
    .nav-link {
        border-bottom: 2px solid transparent;
        &.active-link {
            border-color: orange !important;
        }
    }
}

.k-menu-custom {
    margin-top: 2px;
    border-bottom: 2px solid transparent;
    &.active-link {
        border-color: orange !important;
    }
}
