.zui-table {
    border: none;
    border-right: solid 1px #DDEFEF;
    border-collapse: separate;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}
.zui-table thead th {
    background-color: #DDEFEF;
    border: none;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
    white-space: nowrap;
}
.zui-table tbody td {
    border-bottom: solid 1px #DDEFEF;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
    white-space: nowrap;
}
.zui-wrapper {
    position: relative;
    height: 85vh;
    overflow-x: scroll;
    &::-webkit-scrollbar {
        width: 6px;
        height: 0px;
    }
    &::-webkit-scrollbar-thumb {
        background: #888; 
    }
}
.zui-scroller {
    margin-left: 40px;
    margin-right: 120px;
    overflow-x: scroll;
    overflow-y: visible;
    // width: 300px;
    &::-webkit-scrollbar {
        height: 0px;
    }
    &::-webkit-scrollbar-thumb {
        background: #888; 
    }
}
.zui-table {
    .zui-sticky-col {
        border-left: solid 1px #DDEFEF;
        border-right: solid 1px #DDEFEF;
        left: 0;
        position: absolute;
        top: auto;
        width: 40px;
    }
    .zui-sticky-col-right {
        border-left: solid 1px #DDEFEF;
        border-right: solid 1px #DDEFEF;
        right: 0;
        position: absolute;
        top: auto;
        width: 120px;
    }
}
.scrollbar-fake {
    height: 6px;
    margin-left: 40px;
    margin-right: 120px;
    overflow: auto;
    &::-webkit-scrollbar {
        height: 10px;
    }
    &::-webkit-scrollbar-thumb {
        background: #888; 
    }
    .scrollbar-fake-content {
        // width: 2512px;
        height: 6px;
    }
}

.odd {
    background-color: rgba(0, 0, 0, 0.05);
}

.custom-checkbox {
    margin-top: -4px;
}