<div class="example-wrapper">
    <kendo-dialog (close)="close('cancel')" [width]="700" class="width-kendo-dialog">
        <form [formGroup]="uploadForm" novalidate>
            <div class="title-detail center-parent">
                <div class="col-md-1"></div>
                <div class="mr-auto col-md-10">
                    <div class="media-header center-parent">
                        <h3 class="d-inline mb-0 text-dark bold-title">UPLOAD HSMT</h3>
                    </div>
                </div>
                <div class="col-md-1 close-popup">
                    <span (click)="close('cancel')">X</span>
                </div>
            </div>
            <hr>
            <div class="d-flex">
                <div class="w-100  mr-auto">
                    <div>
                        <div class="body cus-header" id="info-main" [ngbCollapse]="isCollapsedMain">
                            <table class="w-100 table">
                                <tbody>
                                    <tr>
                                        <td class="w-30 label no-boder bold-title">Chọn file</td>
                                        <td class="no-boder d-flex">
                                            <span class="w-100">
                                                <span class="form-control boder-input-choose-file">
                                                    {{this.uploadForm.get('nameFile').value ? this.uploadForm.get('nameFile').value : '-- Chọn file --'}}
                                                </span>
                                            </span>
                                            <span class="input-group-addon fileUpload">
                                                <i class="fa fa-upload" aria-hidden="true"></i>
                                                <input type="file" class="upload" (change)="fileChange($event)" accept=".xlsx,.xls,image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf, .application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/vnd.ms-powerpoint, application/vnd.openxmlformats-officedocument.presentationml.slideshow, application/vnd.openxmlformats-officedocument.presentationml.presentation"
                                                />
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="w-30 label no-boder bold-title">Loại HSMT</td>
                                        <td class="no-boder d-flex">
                                            <!-- <span class="w-100 custom-dropdown">
                                                <select class="form-control" tabindex="5" formControlName="type">
                                                    <option *ngFor="let item of listTypeFile" [value]="item.id">{{item.text }}</option>
                                                </select>
                                            </span> -->
                                            <kendo-dropdownlist [data]="listTypeFile">
                                            </kendo-dropdownlist>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="w-30 label no-boder bold-title">Tên</td>
                                        <td class="w-70 no-boder">
                                            <input kendoTextBox tabindex="1" type="text" formControlName="editName">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="w-30 label no-boder bold-title">Ngày nhận HSMT</td>
                                        <td class="no-boder d-flex">
                                            <kendo-datepicker class="w-100" formControlName="date"></kendo-datepicker>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="w-30 label no-boder bold-title">Mô tả/Nội dung cập nhật</td>
                                        <td class="w-70 no-boder">
                                            <textarea cols="3" rows="3" class="w-100 form-control no-resize-textarea" formControlName="description"></textarea>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="action-bar alignment-but center-parent">
                        <button type="submit" class="btn btn-primary ml-2 cus-but-cs" (click)="submitForm()">Upload
                        </button>
                        <button class="btn btn-secondary ml-2 cus-but-cs" (click)="close('cancel')">Hủy
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </kendo-dialog>
</div>