<div class="example-wrapper">
    <kendo-dialog (close)="close()" [width]="700" class="width-kendo-dialog">
        <form [formGroup]="uploadForm" novalidate>
            <div class="title-detail center-parent">
                <div style="width: 20%;">

                </div>
                <div style="width: 80%;">
                    <div class="media-header center-parent">
                        <h3 class="d-inline mb-0 text-dark bold-title">UPLOAD HSMT</h3>
                    </div>
                </div>
                <div style="width: 20%;" class="d-flex justify-content-end">
                    <div>
                        <div tabindex="10" (click)="close()" (focus)="onFocus($event)">
                            <img width="15" height="15" class="cursor-pointer not-outline" src="assets\images\close.png" />
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="d-flex">
                <div class="w-100  mr-auto">
                    <div>
                        <div class="body cus-header" id="info-main">
                            <div class="w-100 center-parent" *ngIf="errorMess" class="alert alert-danger" role="alert">
                                <span> {{errorMess}}</span>
                            </div>
                            <table class="w-100 table">

                                <tbody>
                                    <tr>
                                        <td class="w-30 label no-boder bold-title">Đường dẫn link</td>
                                        <td class="w-70 no-boder">
                                            <input (change)="inputChange()" #autofocus class="w-100" class="form-control"
                                                formControlName="link" tabindex="1" type="text">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="w-30 label no-boder bold-title">Hoặc</td>
                                        <td class="no-boder d-flex justify-content-between">
                                            <div class="fileUpload">
                                                <button class="btn btn-primary btn-upload" [disabled]="uploadForm.get('link').value && uploadForm.get('link').value.trim()">
                                                    <i class="fa fa-cloud-upload " aria-hidden="true"></i>&nbsp;&nbsp;
                                                    Chọn File</button>
                                                <input type="file" class="upload " tabindex="2" [disabled]="uploadForm.get('link').value && uploadForm.get('link').value.trim()"
                                                    (change)="fileChange($event)" />
                                            </div>
                                            <div style="width: calc(100% - 120px);" class="d-flex justify-content-between">
                                                <div> <span class="text-breakline">{{file?.name}}</span></div>
                                                <div *ngIf="file">
                                                    <button (click)="deleteFileUpload()" class="btn btn-secondary">X</button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="w-30 label no-boder bold-title">Loại HSMT</td>
                                        <td class="no-boder d-flex">
                                            <kendo-dropdownlist class="w-100" tabindex="3" formControlName="type" [textField]="'text'"
                                                [valueField]="'id'" [data]="listTypeFile" (valueChange)="valueTypeDocChange($event)">
                                            </kendo-dropdownlist>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="w-30 label no-boder bold-title required">Tên</td>
                                        <td class="w-70 no-boder">
                                            <input class="w-100 text-truncate" kendoTextBox tabindex="4" type="text" formControlName="editName"
                                                [class.is-invalid]="formErrors.editName">
                                            <div class="invalid-feedback" *ngIf="formErrors.editName">
                                                {{formErrors.editName}}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="w-30 label no-boder bold-title">Phiên bản</td>
                                        <td class="w-70 no-boder">
                                            <input appInputNumberInteger class="w-100" kendoTextBox tabindex="5" type="text" formControlName="version">
                                            <!-- <div class="invalid-feedback" *ngIf="formErrors.editName">
                                                    {{formErrors.editName}}
                                                </div> -->
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="w-30 label no-boder bold-title">Ngày nhận HSMT</td>
                                        <td class="no-boder d-flex">
                                            <kendo-datepicker class="w-100" tabindex="6" formControlName="date"></kendo-datepicker>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="w-30 label no-boder bold-title">Mô tả/Nội dung cập nhật</td>
                                        <td class="w-70 no-boder">
                                            <textarea kendoTextArea tabindex="7" cols="3" rows="3" class="w-100 form-control no-resize-textarea"
                                                formControlName="description"></textarea>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="action-bar alignment-but center-parent">
                        <button tabindex="8" type="submit" class="btn btn-primary ml-1 cus-but-cs" (click)="submitForm()" (focus)="onFocus($event)">
                            Upload
                        </button>
                        <button tabindex="9" class="btn btn-secondary ml-1 cus-but-cs" (click)="close()" (focus)="onFocus($event)">
                            Hủy
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </kendo-dialog>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.7)" size = "default" color="#fff" type="ball-scale"></ngx-spinner>
