<div class="example-wrapper">
    <kendo-dialog (close)="close('cancel')" [width]="700" class="width-kendo-dialog">
        <form [formGroup]="uploadForm" novalidate>
            <div class="title-detail center-parent">
                <div class="col-md-1 no-gutters"></div>
                <div class="mr-auto col-md-10">
                    <div class="media-header center-parent">
                        <h3 class="d-inline mb-0 text-dark bold-title">UPLOAD HSMT</h3>
                    </div>
                </div>
                <div class="col-md-1 no-gutters close-popup">
                    <span (click)="close('cancel')">X</span>
                </div>
            </div>
            <hr>
            <div class="d-flex">
                <div class="w-100  mr-auto">
                    <div>
                        <div class="body cus-header" id="info-main" [ngbCollapse]="isCollapsedMain">
                            <div class="w-100 center-parent" *ngIf="errorMess" class="alert alert-danger" role="alert">
                                <span> {{errorMess}}</span>
                            </div>
                            <table class="w-100 table">

                                <tbody>
                                    <tr>
                                        <td class="w-30 label no-boder bold-title">Đường dẫn link</td>
                                        <td class="w-70 no-boder">
                                            <input (change)="inputChange()" [readonly]="uploadForm.get('editName').value" class="w-100" kendoTextBox formControlName="link" tabindex="1" type="text">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="w-30 label no-boder bold-title">Hoặc</td>
                                        <td class="no-boder d-flex justify-content-between">
                                            <div class="fileUpload">
                                                <button class="btn btn-primary" [disabled]="uploadForm.get('link').value">
                                                    <i class="fa fa-cloud-upload" aria-hidden="true"></i>&nbsp;&nbsp; Chọn File</button>
                                                <input type="file" class="upload" [disabled]="uploadForm.get('link').value" (change)="fileChange($event)" />
                                            </div>
                                            <div style="width: calc(100% - 120px);" class="d-flex justify-content-between">
                                                <div>{{file?.name}}</div>
                                                <div *ngIf="file">
                                                    <button (click)="deleteFileUpload()" class="btn btn-secondary">X</button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="w-30 label no-boder bold-title">Loại HSMT</td>
                                        <td class="no-boder d-flex">
                                            <kendo-dropdownlist class="w-100" formControlName="type" [textField]="'text'" [valueField]="'id'" [data]="listTypeFile">
                                            </kendo-dropdownlist>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="w-30 label no-boder bold-title required">Tên</td>
                                        <td class="w-70 no-boder">
                                            <input class="w-100" kendoTextBox tabindex="1" type="text" formControlName="editName" [class.is-invalid]="formErrors.editName">
                                            <div class="invalid-feedback" *ngIf="formErrors.editName">
                                                {{formErrors.editName}}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="w-30 label no-boder bold-title">Ngày nhận HSMT</td>
                                        <td class="no-boder d-flex">
                                            <kendo-datepicker class="w-100" formControlName="date"></kendo-datepicker>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="w-30 label no-boder bold-title">Mô tả/Nội dung cập nhật</td>
                                        <td class="w-70 no-boder">
                                            <textarea kendoTextArea cols="3" rows="3" class="w-100 form-control no-resize-textarea" formControlName="description"></textarea>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="action-bar alignment-but center-parent">
                        <button type="submit" class="btn btn-primary ml-2 cus-but-cs" (click)="submitForm()">Upload
                        </button>
                        <button class="btn btn-secondary ml-2 cus-but-cs" (click)="close('cancel')">Hủy
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </kendo-dialog>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.7)" size="medium" color="#fff" type="ball-clip-rotate-multiple"></ngx-spinner>