.title-list-package {
    padding-bottom: 10px;
}
.custom-filter-bar {
    padding: 10px;
}
.cell-user {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.row-pd {
    padding: 10px 0px 0px 0px;
}
.checkboxStatus {
    padding: 0px 0px 0px 24px;
}
table.dataTable th {
    border-bottom: 1px solid #dddddd !important;
    background-color: #ffff!important;
    border: 1px solid #dddddd;
}
.pd-l {
    padding-left: 10px;
}
input.icon{
    font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
@media only screen and (max-width: 1024px) {
    .content-deployment {
        zoom: 0.8;
    }
    .no-boder-bottom {
        margin-top: 20px;
    }
    table.dataTable {
        zoom: 0.6;
    }
    .btn-toolbar {
        zoom: 0.8;
    }
    .file-filter {
        zoom: 0.6;
        font-size: 120%;
    }
    .status-filter{
      zoom: 0.8!important;
      font-size: 120%;
    }
    .custom-filter-bar{
        zoom: 0.7;
    }
    .nameData {
        max-width: 100px;;
    }
    .description {
        max-width: 120px;;
    }
    .empoly {
        max-width: 80px;;
    }
}
@media only screen and (max-width: 1200px) {
    .content-deployment {
        zoom: 0.9;
    }
    .no-boder-bottom {
        margin-top: 20px;
    }
    table.dataTable {
        zoom: 0.8;
    }
    .btn-toolbar {
        zoom: 0.9;
    }
    .file-filter {
        zoom: 0.85;
        font-size: 120%;
    }
    .status-filter{
      zoom: 0.9;
      font-size: 120%;
    }
    .custom-filter-bar{
        zoom: 0.85;
    }
    .nameData {
        max-width: 100px;;
    }
    .description {
        max-width: 120px;;
    }
    .empoly {
        max-width: 80px;;
    }
}
@media only screen and (max-width: 1366px) {
    .no-boder-bottom {
        margin-top: 20px;
    }
}