<div [@routerTransition] style="padding: 0px 20px 0px 30px">
    <div class="search-box  title-list-package center-parent status-filter">
        <div class="d-inline mb-0 mr-auto text-dark" style="font-size: 15px;">BẢNG PHÂN CÔNG TIẾN ĐỘ THỰC HIỆN</div>

        <div class="btn-toolbar" *ngIf="!hideButon">            
            <div class="input-group btn-rg">
                <span class="input-group-addon">Tìm kiếm theo</span>
                <input type="text" class="form-control icon" placeholder="&#xf002;Tên tài liệu" (keyup)="searchTerm$.next($event.target.value)">
            </div>
            <button class="btn btn-primary ml-2">
                &nbsp;&nbsp; Tải tài liệu
            </button>
            <button class="btn btn-primary ml-2">
                &nbsp;&nbsp; Xóa
            </button>
            <button class="btn btn-primary ml-2">
                In
            </button>
        </div>
        <div class="btn-toolbar" *ngIf="hideButon">
            <div class="input-group btn-rg">
                <span class="input-group-addon">Tìm kiếm theo</span>
                <input type="text" class="form-control icon" placeholder="&#xf002;Tên tài liệu" (keyup)="searchTerm$.next($event.target.value)">
            </div>
        </div>
    </div>

    <div class="main-table">
        <div class="d-flex flex-row flex-wrap filter-bar custom-filter-bar" style="background-color: #fafbfc!important">
            <div class="d-flex form-inline flex-pad">

                <div class="form-group ml-sm-2">
                    <label for="" class="form-label">Tình trạng</label>
                    <span class="custom-dropdown mx-sm-2">
                        <select class="form-control">
                            <option value="">--Tất cả--</option>
                            <option *ngFor="let item of status" [value]="item.id">{{item.name | translate}}</option>
                        </select>
                    </span>
                </div>
                <div class="form-group ml-sm-2">
                    <label for="" class="form-label">Người upload</label>
                    <span class="custom-dropdown mx-sm-2">
                        <select class="form-control">
                            <option value="">--Lựa chọn--</option>
                            <option *ngFor="let item of listUsers" [value]="item.id">{{item.name | translate}}</option>
                        </select>
                    </span>
                </div>
                <div class="form-group ml-sm-2">
                    <label for="" class="form-label">Ngày upload</label>
                    <span class="custom-dropdown mx-sm-2">
                        <select class="form-control">
                            <option value="">--Lựa chọn--</option>
                            <option *ngFor="let item of dateUploads" [value]="item.id">{{item.date}}</option>
                        </select>
                    </span>
                </div>

                <button type="submit" class="btn btn-primary ml-sm-2" (click)="filter(true)">
                    <i class="fa fa-filter" aria-hidden="true"></i>&nbsp;&nbsp; Lọc
                </button>
                <button class="btn btn-secondary ml-sm-2" (click)="clearFilter()">
                    <i class="fa fa-times"></i>&nbsp;&nbsp; Xóa lọc
                </button>
            </div>
        </div>
        <div class="bot-table">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table-selection  row-border hover cell-border dataTable">
                <thead>
                    <tr>
                        <th class="stt" style="width: 3%; min-width: 20px;background-color: #f68e56!important;">
                            <div class="d-flex justify-content-around">
                                <div style="width: 40%;">
                                    <div class="center-parent">
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" [(ngModel)]="checkboxSeclectAll" (change)="onSelectAll($event.target.checked)">
                                            <span class="custom-control-indicator"></span>
                                        </label>
                                    </div>
                                </div>

                                <div style="width: 35%;" class="center-parent">
                                    <div>STT</div>
                                </div>
                                <div class="center-parent" style="width: 15%;padding-left: 5px;">
                                    <div class="ng-tns-c15-6">
                                        <i class="fa fa-caret-down" style="color: #ffff;"></i>
                                    </div>
                                </div>
                            </div>
                        </th>

                        <th style="width: 35%;background-color: #f68e56!important;">
                            <div class="d-flex">
                                <div class="center-parent">
                                    <div>Tên tài liệu</div>
                                </div>
                                <div class="center-parent pd-l">
                                    <div class="ng-tns-c15-6">
                                        <i class="fa fa-caret-down" style="color: #ffff;"></i>
                                    </div>
                                </div>
                            </div>
                        </th>

                        <th style="background-color: #f68e56!important;">
                            <div class="d-flex justify-content-center">
                                <div class="center-parent">
                                    <div>Phiên bản</div>
                                </div>
                                <div class="center-parent pd-l">
                                    <div class="ng-tns-c15-6">
                                        <i class="fa fa-caret-down" style="color: #ffff;"></i>
                                    </div>
                                </div>
                            </div>
                        </th>

                        <th style="background-color: #f68e56!important;">
                            <div class="d-flex justify-content-center">
                                <div class="center-parent">
                                    <div>Mô tả</div>
                                </div>
                            </div>
                        </th>

                        <th class="th-mark-status" style="width: 10%; min-width: 20px;background-color: #f68e56!important;">
                            <div class="d-flex justify-content-center">
                                <div style="width: 80%;" class="center-parent">
                                    <div>Tình trạng</div>
                                </div>
                                <div class="center-parent pd-l">
                                    <div class="ng-tns-c15-6">
                                        <i class="fa fa-caret-down" style="color: #ffff;"></i>
                                    </div>
                                </div>
                            </div>
                        </th>

                        <th style="background-color: #f68e56!important;">
                            <div class="d-flex justify-content-center">
                                <div class="center-parent">
                                    <div>Người upload</div>
                                </div>
                                <div class="center-parent pd-l">
                                    <div class="ng-tns-c15-6">
                                        <i class="fa fa-caret-down" style="color: #ffff;"></i>
                                    </div>
                                </div>
                            </div>
                        </th>

                        <th style="width: 12%;background-color: #f68e56!important;">
                            <div class="d-flex justify-content-center">
                                <div class="center-parent">
                                    <div>Ngày upload</div>
                                </div>
                                <div class="center-parent pd-l">
                                    <div class="ng-tns-c15-6">
                                        <i class="fa fa-caret-down" style="color: #ffff;"></i>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th style="background-color: #f68e56!important;">
                            <div class="d-flex justify-content-center">
                                <div class="center-parent">
                                    <div>Lần phỏng vấn</div>
                                </div>
                                <div class="center-parent pd-l">
                                    <div class="ng-tns-c15-6">
                                        <i class="fa fa-caret-down" style="color: #ffff;"></i>
                                    </div>
                                </div>
                            </div>
                        </th>

                        <th class="table-action text-center" style="width: 12%; background-color: #f68e56!important">
                            Thao tác
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of items; let i = index;">
                        <td class="stt" style="width: 5%; min-width: 20px;">
                            <div class="d-flex justify-content-around">
                                <div style="width: 40%;">
                                    <div class="center-parent">
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" [(ngModel)]="item.checkboxSelected">
                                            <span class="custom-control-indicator"></span>
                                        </label>
                                    </div>
                                </div>

                                <div style="width: 35%;" class="center-parent">
                                    <div>{{i+1}}</div>
                                </div>
                                <div class="center-parent" style="width: 15%;padding-left: 5px;">
                                    <div class="ng-tns-c15-6">

                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="nameData">{{item.name}}</td>
                        <td class="text-center">{{item.version}}</td>
                        <td class="text-center description">{{item.description}} </td>

                        <td class="select-filter text-center">
                            {{item.status ==1 ? 'Bảng nháp' : 'Chính thức'}}
                            <span class="checkboxStatus" *ngIf="!hideButon">
                                <input type="checkbox" [checked]="item.status ==2" />
                            </span>
                        </td>
                        <td class="text-center empoly">{{item.userId ==1 ? 'Oliver Dinh' : 'Phuong VD'}}</td>
                        <td class="text-center">{{item.createDate}}</td>
                        <td class="text-center">{{item.interview}}</td>
                        <td class="text-center">
                            <div class="d-flex justify-content-around">
                                <div>
                                    <a title="Tải file" (click)="downloadFileItem(item.id)">
                                        <i class="fa fa-download color-item-down" aria-hidden="true"></i>
                                    </a>
                                </div>
                                <div *ngIf="!hideButon">
                                    <a title="Xóa file">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </a>
                                </div>
                                <div>
                                    <a title="In">
                                        <i class="fa fa-print color-item-print" aria-hidden="true"></i>
                                    </a>

                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- <kendo-grid [data]="hideButon==false ? gridView : gridViewSelect" [kendoGridSelectBy]="'id'" [selectedKeys]="mySelection"
            [sortable]="{
            allowUnsort: allowUnsort,
            mode: multiple ? 'multiple' : 'multiple'
            }" [sort]="sort" (sortChange)="sortChange($event)" (selectedKeysChange)="onSelectedKeysChange($event)">


            <kendo-grid-checkbox-column showSelectAll="true" [width]="50">
                <ng-template kendoGridHeaderTemplate>
                    <div class="text-center">
                        <input class="k-checkbox" id="selectAllCheckboxId" kendoGridSelectAllCheckbox [checked]="checked" [state]="selectAllState"
                            (selectAllChange)="onSelectAllChange($event)">
                        <label class="k-checkbox-label" for="selectAllCheckboxId"></label>
                    </div>
                </ng-template>
            </kendo-grid-checkbox-column>
            <kendo-grid-column field="id" title="STT" [width]="50">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    <div class="text-center">{{dataItem.id }}</div>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="name" title="Tên tài liệu" [width]="300"></kendo-grid-column>
            <kendo-grid-column field="version" title="Phiên bản" [width]="120"></kendo-grid-column>
            <kendo-grid-column field="description" title="Mô tả"></kendo-grid-column>
            <kendo-grid-column field="status" title="Tình trạng">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    <div class="cell-user">
                        {{dataItem.status ==1 ? 'Bảng nháp' : 'Chính thức'}}
                        <span class="checkboxStatus">
                            <input type="checkbox" [checked]="dataItem.status ==2" />
                        </span>
                    </div>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="userId" title="Người upload" [width]="120">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    <div class="cell-user">{{dataItem.userId ==1 ? 'Oliver Dinh' : 'Phuong VD'}}</div>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="createDate" title="Ngày upload" [width]="120"></kendo-grid-column>
            <kendo-grid-column field="" title="Thao tác" [width]="120">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    <div class="row">
                        <div class="text-center" [ngClass]="{ 'col-md-4': hideButon ===  false,'col-md-6': hideButon ===  true}">
                            <i class="fa fa-download" [ngStyle]="{'color':'#1baf5c'}" aria-hidden="true"></i>
                        </div>
                        <div class="col-md-4 text-center" *ngIf="!hideButon">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </div>
                        <div class="text-center" [ngClass]="{ 'col-md-4': hideButon ===  false,'col-md-6': hideButon ===  true}">
                            <i class="fa fa-print" [ngStyle]="{'color':'#ff0044'}" aria-hidden="true"></i>
                        </div>
                    </div>
                </ng-template>
            </kendo-grid-column>
        </kendo-grid> -->

        <div>
        </div>
    </div>
    <div class="row row-pd">
        <div class="col-md-3">Hiển thị {{total? 1 : 0}}-{{total?total:0}} của {{total ?total:0}}</div>
    </div>

</div>