.title-list-package {
    padding-bottom: 10px;
}
.custom-filter-bar {
    padding: 10px;
}
.cell-user {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.row-pd {
    padding: 10px 0px 0px 0px;
}
.checkboxStatus {
    padding: 0px 0px 0px 24px;
}