<form [formGroup]="planForm" *ngIf="planForm && !loading" class="position-relative">
    <div class="title-list-package d-flex flex-wrap align-items-center status-filter">
        <div class="mr-auto d-flex align-items-end list-package mt-2 mb-2">
            <div class="d-flex justify-content-start h-40">
                <div class="rule mr-2">
                </div>
                <div class="center-parent pl-3 mr-4 live-form-title">
                    <a [routerLink]='["../"]'>
                        <img width="12" height="12" class="pointer not-outline" src="assets\images\nghia.png">
                    </a>
                    <div class="text-uppercase ml-3">bảng phân công tiến độ (tender preparation planning assignment)</div>
                </div>
            </div>
        </div>
        <div>
            <div class="btn-toolbar mt-2 mb-2">
                <ng-container *ngIf="TaoMoiBangPCTD || SuaBangPCTD">
                    <button class="btn btn-primary ml-1" (click)="changeRouterAction('edit')" *ngIf="routerAction == 'view' && packageInfo?.stageStatus.id != bidStatus.DaGuiPhanCongTienDo">Sửa</button>
                    <button class="btn btn-primary ml-1" (click)="submitForm(true)" *ngIf="planForm?.get('isDraftVersion').value && routerAction != 'view'">
                        Lưu nháp
                    </button>
                    <button class="btn btn-primary ml-1" *ngIf="routerAction != 'view'" (click)="submitForm(false)">
                        Lưu
                    </button>
                    <button class="btn btn-secondary ml-1" *ngIf="routerAction != 'view'" routerLink="../">
                        Hủy
                    </button>
                </ng-container>

                <button class="btn btn-primary ml-1" (click)="refesh()">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="pl-3">
        <div class="header m-0">
            <div class="row">
                <div class="col-md-6 pl-0 header-bid-info">
                    <div class="">
                        <strong>Công trình (Project):</strong>
                    </div>
                    <div class="">{{packageInfo?.projectName}}</div>
                </div>
                <div class="col-md-3 pl-0">
                    <div class="">
                        <strong>Người lập (Prepared by): </strong>{{tenderPlan?.createdEmployee?.employeeName}}</div>
                    <div class=""></div>
                </div>
                <div class="col-md-3 pl-0">
                    <div class="">
                        <strong>Người duyệt (Approved by): </strong>{{tenderPlan?.approvedEmployee?.employeeName}}</div>
                    <div class=""></div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 pl-0 header-bid-info">
                    <div class="">
                        <strong>Địa điểm (Location):</strong>
                    </div>
                    <div class="">{{packageInfo?.place}}</div>
                </div>
                <div class="col-md-3 pl-0">
                    <div class="">
                        <strong>Ngày lập (Date): </strong>{{tenderPlan?.createDate * 1000 | date: 'dd/MM/yyyy' : '+0000'}}</div>
                    <div class=""></div>
                </div>
                <div class="col-md-3 pl-0">
                    <div class="">
                        <strong>Ngày duyệt (Date): </strong>{{ (tenderPlan && tenderPlan.approvedDate && tenderPlan.approvedDate
                        !== 0) ? (tenderPlan?.approvedDate * 1000 | date: 'dd/MM/yyyy' : '+0000') : ''}}</div>
                    <div class=""></div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 pl-0 header-bid-info">
                    <div class="">
                        <strong>Gói thầu (Package):</strong>
                    </div>
                    <div class="">{{packageInfo?.opportunityName}}</div>
                </div>
                <div class="col-md-3 pl-0">
                    <ng-container *ngIf="XacNhanKyPrepared">
                        <button class="btn btn-primary btn-sign position-absolute" *ngIf="!planForm.get('isSignedByPreparedPerson').value" [disabled]="routerAction === 'view' || planForm.get('isDraftVersion').value"
                            [class.not-allow]="routerAction === 'view' || planForm.get('isDraftVersion').value" (click)="clickSignPrepare()">Xác nhận ký</button>
                    </ng-container>

                    <button class="btn btn-primary btn-sign position-absolute" *ngIf="planForm.get('isSignedByPreparedPerson').value">
                        <i class="fa fa-check icon-check" aria-hidden="true"></i> Đã ký
                    </button>
                </div>
                <div class="col-md-3 pl-0">
                    <ng-container *ngIf="XacNhanKyApproved">
                        <button class="btn btn-primary btn-sign position-absolute" [disabled]="!planForm.get('isSignedByPreparedPerson').value || routerAction !== 'view'"
                            [class.not-allow]="!planForm.get('isSignedByPreparedPerson').value || routerAction !== 'view'" *ngIf="!planForm.get('isSignedByApprovalPerson').value"
                            (click)="clickSignApproved()">Xác nhận ký</button>
                    </ng-container>

                    <button class="btn btn-primary btn-sign position-absolute" *ngIf="planForm.get('isSignedByApprovalPerson').value">
                        <i class="fa fa-check icon-check" aria-hidden="true"></i> Đã ký
                    </button>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 pl-0 header-bid-info">
                    <div class="">
                        <strong>Chủ đầu tư (Employer):</strong>
                    </div>
                    <div *ngIf="investor && investor.length !== 0">
                        <span *ngFor="let item of investor; let i = index">
                            <strong>{{item.customerName}}</strong>
                            <span *ngIf="i !== (investor.length - 1)"> ,</span>
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-8"></div>
                </div>
            </div>
        </div>
        <!-- <div class="view-readonly" *ngIf="routerAction == 'view'"></div> -->
        <div class="mt-3">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Tên tài liệu</th>
                        <th colspan="5">
                            <input class="form-control" formControlName="projectInformation">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="4">KEY PERSONNEL</td>
                        <td>Project Director</td>
                        <td>
                            <span class="custom-dropdown w-100 b-dropdown-no-border">
                                <select class="form-control" (change)="changeDirector($event.target.value, 0)" formControlName="projectDirectorEmployeeId"
                                    [class.default-cusor]="routerAction === 'view'">
                                    <option [ngValue]="null">--Chọn--</option>
                                    <option *ngFor="let user of userList" [value]="user.employeeId">{{user.employeeName}}</option>
                                </select>
                            </span>
                        </td>
                        <td class="mw-12">
                            <a>{{mailPersonnel[0]}}</a>
                        </td>
                        <td>Start</td>
                        <td class="mw-12">
                            <!-- <kendo-datepicker class="form-control b-datepicker-no-border"></kendo-datepicker> -->
                            {{getDateStr(packageInfo?.startTrackingDate * 1000)}}
                        </td>
                    </tr>
                    <tr>
                        <td>Tender Dept</td>
                        <td>
                            <span class="custom-dropdown w-100 b-dropdown-no-border">
                                <select class="form-control" (change)="changeDirector($event.target.value, 1)" formControlName="tenderDepartmentEmployeeId"
                                    [class.default-cusor]="routerAction === 'view'">
                                    <option [ngValue]="null">--Chọn--</option>
                                    <option *ngFor="let user of userList" [value]="user.employeeId">{{user.employeeName}}</option>
                                </select>
                            </span>
                        </td>
                        <td>
                            <a>{{mailPersonnel[1]}}</a>
                        </td>
                        <td>Tender Duration</td>
                        <td>
                            <!-- <kendo-datepicker class="form-control b-datepicker-no-border"></kendo-datepicker> -->
                            {{(packageInfo?.submissionDate - packageInfo?.startTrackingDate) / (60 * 60 * 24)}} days
                        </td>
                    </tr>
                    <tr>
                        <td>Technical Dept</td>
                        <td>
                            <span class="custom-dropdown w-100 b-dropdown-no-border">
                                <select class="form-control" (change)="changeDirector($event.target.value, 2)" formControlName="technicalDepartmentEmployeeId"
                                    [class.default-cusor]="routerAction === 'view'">
                                    <option [ngValue]="null">--Chọn--</option>
                                    <option *ngFor="let user of userList" [value]="user.employeeId">{{user.employeeName}}</option>
                                </select>
                            </span>
                        </td>
                        <td>
                            <a>{{mailPersonnel[2]}}</a>
                        </td>
                        <td>Query's Deadline</td>
                        <td>
                            <!-- <kendo-datepicker class="form-control b-datepicker-no-border"></kendo-datepicker> -->
                            <kendo-datepicker class="w-100" [max]="submissionDate ? submissionDate : null" formControlName="queryDeadline"></kendo-datepicker>
                            <!-- {{packageInfo?.submissionDate ? getDateStr(packageInfo?.submissionDate * 1000 - (1000 * 60 * 60 * 24 * 7)) : ''}} -->
                        </td>
                    </tr>
                    <tr>
                        <td>BIM Dept</td>
                        <td>
                            <span class="custom-dropdown w-100 b-dropdown-no-border">
                                <select class="form-control" (change)="changeDirector($event.target.value, 3)" formControlName="bimDepartmentEmployeeId"
                                    [class.default-cusor]="routerAction === 'view'">
                                    <option [ngValue]="null">--Chọn--</option>
                                    <option *ngFor="let user of userList" [value]="user.employeeId">{{user.employeeName}}</option>
                                </select>
                            </span>
                        </td>
                        <td>
                            <a>{{mailPersonnel[3]}}</a>
                        </td>
                        <td>Finish</td>
                        <td>
                            <!-- <kendo-datepicker class="form-control b-datepicker-no-border"></kendo-datepicker> -->
                            {{getDateStr(packageInfo?.submissionDate * 1000)}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="mt-3 text-right">
            <button class="btn btn-primary" (click)="showGantt()">Xem Gantt Chart</button>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <table class="table table-bordered tbl-data-gantt" #tableDataGantt>
                    <thead class="tbl-header-bg-color">
                        <tr>
                            <th class="text-center align-middle w-5">STT</th>
                            <th class="text-center align-middle w-work w-15">Công việc</th>
                            <th class="text-center align-middle text-nowrap w-work w-15">Mô tả</th>
                            <th class="text-center align-middle w-15">Phân công cho</th>
                            <th class="text-center align-middle w-8">Hoàn thành</th>
                            <th class="text-center align-middle col-datetime w-15">Ngày bắt đầu</th>
                            <th class="text-center align-middle col-datetime w-15">Ngày kết thúc</th>
                            <th class="text-center align-middle w-12">Tổng thời gian</th>
                        </tr>
                    </thead>
                    <tbody formArrayName="tasks">
                        <tr *ngFor="let data of tasksFA.controls; let i = index" [formGroupName]="i" [class.b-k-alt]="i % 2 != 0">
                            <td class="text-center">{{data.get('itemNo').value}}</td>
                            <td>{{data.get('itemName').value}}</td>
                            <td class="p-0 position-relative">
                                <ng-container *ngIf="data.get('itemId').value !== 1 && data.get('itemId').value !== 5 && data.get('itemId').value !== 7 && data.get('itemId').value !== 8
                                && data.get('itemId').value !== 12 && data.get('itemId').value !== 16 && data.get('itemId').value !== 18 && data.get('itemId').value !== 20 && data.get('itemId').value !== 23
                                && data.get('itemId').value !== 30 && data.get('itemId').value !== 33">
                                    <textarea class="form-control b-textarea h-100" formControlName="itemDesc"></textarea>
                                    <span *ngIf="!data.get('itemDesc').value" class="fake-placeholder">Nhập text</span>
                                </ng-container>
                            </td>

                            <td>
                                <!-- *ngIf="data.get('itemId').value !== 1 && data.get('itemId').value !== 5 && data.get('itemId').value !== 7 && data.get('itemId').value !== 8
                                    && data.get('itemId').value !== 12 && data.get('itemId').value !== 16 && data.get('itemId').value !== 18 && data.get('itemId').value !== 20 && data.get('itemId').value !== 23
                                    && data.get('itemId').value !== 30 && data.get('itemId').value !== 33" -->
                                <ng-container>
                                    <div *ngIf="data.get('whoIsInChargeIds').value && data.get('whoIsInChargeIds').value.length !== 0">
                                        <span *ngFor="let item of data.get('whoIsInChargeIds').value; let i = index">
                                            {{item.lastName}} {{item.firstName}}
                                            <span *ngIf="i !== (data.get('whoIsInChargeIds').value.length - 1)"> ,</span>
                                            <span></span>
                                        </span>
                                    </div>
                                </ng-container>
                            </td>
                            <td class="text-center">
                                <ng-container *ngIf="data.get('itemId').value !== 1 && data.get('itemId').value !== 5 && data.get('itemId').value !== 7 && data.get('itemId').value !== 8
                                && data.get('itemId').value !== 12 && data.get('itemId').value !== 16 && data.get('itemId').value !== 18 && data.get('itemId').value !== 20 && data.get('itemId').value !== 23
                                && data.get('itemId').value !== 30 && data.get('itemId').value !== 33">
                                    <label class="custom-control custom-checkbox z-ontop">
                                        <input type="checkbox" [attr.disabled]="(data.get('whoIsInChargeId').value && data.get('whoIsInChargeId').value !==0 && data.get('startDate').value && data.get('finishDate').value)
                                                                         || (data.get('whoIsInChargeIds').value && data.get('whoIsInChargeIds').value.length !==0 && data.get('startDate').value && data.get('finishDate').value) ?
                                                                         null : ''" (click)="routerAction === 'view' ? checkFinishTenderPlanItem(data.get('itemId').value) : null"
                                            class="custom-control-input input-checkbox" formControlName="isFinish">
                                        <span class="custom-control-indicator"></span>
                                    </label>
                                </ng-container>
                            </td>
                            <td class="pl-0">
                                <ng-container *ngIf="data.get('itemId').value !== 1 && data.get('itemId').value !== 5 && data.get('itemId').value !== 7 && data.get('itemId').value !== 8
                                && data.get('itemId').value !== 12 && data.get('itemId').value !== 16 && data.get('itemId').value !== 18 && data.get('itemId').value !== 20 && data.get('itemId').value !== 23
                                && data.get('itemId').value !== 30 && data.get('itemId').value !== 33">
                                    <kendo-datepicker (valueChange)="calculateTotalTime(i)" [max]="data.get('finishDate').value" formControlName="startDate"
                                        class="form-control b-datepicker-no-border b-datepicker-ic"></kendo-datepicker>
                                </ng-container>
                            </td>

                            <td class="pl-0">
                                <ng-container *ngIf="data.get('itemId').value !== 1 && data.get('itemId').value !== 5 && data.get('itemId').value !== 7 && data.get('itemId').value !== 8
                                && data.get('itemId').value !== 12 && data.get('itemId').value !== 16 && data.get('itemId').value !== 18 && data.get('itemId').value !== 20 && data.get('itemId').value !== 23
                                && data.get('itemId').value !== 30 && data.get('itemId').value !== 33">
                                    <kendo-datepicker (valueChange)="calculateTotalTime(i)" [min]="data.get('startDate').value" formControlName="finishDate"
                                        class="form-control b-datepicker-no-border b-datepicker-ic"></kendo-datepicker>
                                </ng-container>
                            </td>

                            <td class="text-center">
                                <ng-container *ngIf="data.get('itemId').value !== 1 && data.get('itemId').value !== 5 && data.get('itemId').value !== 7 && data.get('itemId').value !== 8
                                && data.get('itemId').value !== 12 && data.get('itemId').value !== 16 && data.get('itemId').value !== 18 && data.get('itemId').value !== 20 && data.get('itemId').value !== 23
                                && data.get('itemId').value !== 30 && data.get('itemId').value !== 33">
                                    {{data.get('totalTime') ? data.get('totalTime').value : ''}}
                                </ng-container>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- <div class="col-md-3 pl-0">
                <div #ganttChart></div>
            </div> -->
        </div>
    </div>
    <kendo-dialog [width]="550" *ngIf="isShowChanges">
        <div>
            <div class="dialog-header mt-2">
                <h3 class="text-center text-uppercase color-black">Cập nhật liveform</h3>
                <span class="ic-close pointer" (click)="closeShowChanges()">
                    <img src="assets/images/ic-close.svg">
                </span>
            </div>
            <div class="text-center">
                Bạn đã cập nhật những gì trong lần sửa này?
            </div>
            <div class="dialog-body">
                <div class="w-100 mt-4">
                    <div class="pr-1 pl-1">
                        <textarea formControlName="updatedDesc" class="form-control" rows="3"></textarea>
                    </div>
                </div>
            </div>
            <div class="mt-4 text-center mb-2">
                <button class="btn b-btn btn-primary" (click)="saveChangesLiveForm()">OK</button>
            </div>
        </div>
    </kendo-dialog>
    <kendo-dialog [width]="tableDataGantt.offsetWidth" class="kendo-ganttChart" [class.display-ganttChart]="!isShowGantt">
        <div>
            <div class="title-detail center-parent mb-1">
                <div style="width: 80%;">
                </div>
                <div style="width: 20%;" class="d-flex justify-content-end">
                    <div>
                        <div>
                            <img (click)="isShowGantt = false" width="15" height="15" class="cursor-pointer not-outline" src="assets\images\close.png">
                        </div>
                    </div>
                </div>
            </div>
            <div #ganttChart></div>
        </div>
    </kendo-dialog>
</form>
<ngx-loading [show]="loading"></ngx-loading>
<!-- <ngx-spinner bdColor="rgba(51, 51, 51, 0.7)" size="default" color="#fff" type="ball-scale"></ngx-spinner> -->
<!-- <td class="pl-0" *ngIf="data.get('itemId').value !== 6">
        <span class="custom-dropdown w-100 b-dropdown-no-border">
            <select class="form-control" formControlName="whoIsInChargeId" [class.default-cusor]="routerAction === 'view'">
                <option [ngValue]="null">--Chọn--</option>
                <option *ngFor="let user of userList" [value]="user.employeeId">{{user.employeeName}}</option>
            </select>
        </span>
    </td>
    <td *ngIf="data.get('itemId').value === 6">
        <ng-select class="w-100" [items]="userList" placeholder="--Chọn--" typeToSearchText="Nhập tên" clearAllText="Xóa tất cả"
            [hideSelected]="true" multiple="true" bindLabel="employeeName" formControlName="whoIsInChargeIds"
            style="outline: none" [class.default-cusor]="routerAction === 'view'">
            <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                <table>
                    <tr>{{item.employeeName}}</tr>
                </table>
            </ng-template>
        </ng-select>
</td> -->

<!-- <td *ngIf="data.get('itemId').value === 1">
                            </td>
                            <td *ngIf="data.get('itemId').value === 2">
                                <div *ngIf="distributorOfDocHSMT && distributorOfDocHSMT.length !== 0">
                                    <span *ngFor="let item of distributorOfDocHSMT; let i = index">
                                        {{item.userName}}
                                        <span *ngIf="i !== (distributorOfDocHSMT.length - 1)"> ,</span>
                                    </span>
                                </div>
                            </td>
                            <td *ngIf="data.get('itemId').value === 3">
                                <div *ngIf="suggestionsToParticipate && suggestionsToParticipate.length !== 0">
                                    <span *ngFor="let item of suggestionsToParticipate; let i = index">
                                        {{item.userName}}
                                        <span *ngIf="i !== (suggestionsToParticipate.length - 1)"> ,</span>
                                    </span>
                                </div>
                            </td>
                            <td *ngIf="data.get('itemId').value === 4">
                                <div *ngIf="clarificationQuestion && clarificationQuestion.length !== 0">
                                    <span *ngFor="let item of clarificationQuestion; let i = index">
                                        {{item.userName}}
                                        <span *ngIf="i !== (clarificationQuestion.length - 1)"> ,</span>
                                    </span>
                                </div>
                            </td>
                            <td *ngIf="data.get('itemId').value === 5">
                            </td>
                            <td *ngIf="data.get('itemId').value === 6">
                                <div *ngIf="surveyOrganization && surveyOrganization.length !== 0">
                                    <span *ngFor="let item of surveyOrganization; let i = index">
                                        {{item.userName}}
                                        <span *ngIf="i !== (surveyOrganization.length - 1)"> ,</span>
                                    </span>
                                </div>
                            </td>
                            <td *ngIf="data.get('itemId').value === 7">
                            </td>
                            <td *ngIf="data.get('itemId').value === 8">
                            </td>
                            <td *ngIf="data.get('itemId').value === 9">
                                <div *ngIf="checkVolumeHSMT && checkVolumeHSMT.length !== 0">
                                    <span *ngFor="let item of checkVolumeHSMT; let i = index">
                                        {{item.userName}}
                                        <span *ngIf="i !== (checkVolumeHSMT.length - 1)"> ,</span>
                                    </span>
                                </div>
                            </td>
                            <td *ngIf="data.get('itemId').value === 10">
                                <div *ngIf="checkVolumeBPTC && checkVolumeBPTC.length !== 0">
                                    <span *ngFor="let item of checkVolumeBPTC; let i = index">
                                        {{item.userName}}
                                        <span *ngIf="i !== (checkVolumeBPTC.length - 1)"> ,</span>
                                    </span>
                                </div>
                            </td>
                            <td *ngIf="data.get('itemId').value === 11">
                                <div *ngIf="clarifyQuestion && clarifyQuestion.length !== 0">
                                    <span *ngFor="let item of clarifyQuestion; let i = index">
                                        {{item.userName}}
                                        <span *ngIf="i !== (clarifyQuestion.length - 1)"> ,</span>
                                    </span>
                                </div>
                            </td>
                            <td *ngIf="data.get('itemId').value === 12">
                            </td>
                            <td *ngIf="data.get('itemId').value === 13">
                                <div *ngIf="filterProfiles && filterProfiles.length !== 0">
                                    <span *ngFor="let item of filterProfiles; let i = index">
                                        {{item.userName}}
                                        <span *ngIf="i !== (filterProfiles.length - 1)"> ,</span>
                                    </span>
                                </div>
                            </td>
                            <td *ngIf="data.get('itemId').value === 14">
                                <div *ngIf="requestQuote && requestQuote.length !== 0">
                                    <span *ngFor="let item of requestQuote; let i = index">
                                        {{item.userName}}
                                        <span *ngIf="i !== (requestQuote.length - 1)"> ,</span>
                                    </span>
                                </div>
                            </td>
                            <td *ngIf="data.get('itemId').value === 15">
                                <div *ngIf="constructionQuotes && constructionQuotes.length !== 0">
                                    <span *ngFor="let item of constructionQuotes; let i = index">
                                        {{item.userName}}
                                        <span *ngIf="i !== (constructionQuotes.length - 1)"> ,</span>
                                    </span>
                                </div>
                            </td>
                            <td *ngIf="data.get('itemId').value === 16">
                            </td>
                            <td *ngIf="data.get('itemId').value === 17">
                                <div *ngIf="selectSubcontractor && selectSubcontractor.length !== 0">
                                    <span *ngFor="let item of selectSubcontractor; let i = index">
                                        {{item.userName}}
                                        <span *ngIf="i !== (selectSubcontractor.length - 1)"> ,</span>
                                    </span>
                                </div>
                            </td>
                            <td *ngIf="data.get('itemId').value === 18">
                            </td>
                            <td *ngIf="data.get('itemId').value === 19">
                                <div *ngIf="generalCostCalculation && generalCostCalculation.length !== 0">
                                    <span *ngFor="let item of generalCostCalculation; let i = index">
                                        {{item.userName}}
                                        <span *ngIf="i !== (generalCostCalculation.length - 1)"> ,</span>
                                    </span>
                                </div>
                            </td>
                            <td *ngIf="data.get('itemId').value === 20">
                            </td>
                            <td *ngIf="data.get('itemId').value === 21">
                                <div *ngIf="selectSubcontractor && selectSubcontractor.length !== 0">
                                    <span *ngFor="let item of selectSubcontractor; let i = index">
                                        {{item.userName}}
                                        <span *ngIf="i !== (selectSubcontractor.length - 1)"> ,</span>
                                    </span>
                                </div>
                            </td>
                            <td *ngIf="data.get('itemId').value === 22">
                                <div *ngIf="entryPriceEstimates && entryPriceEstimates.length !== 0">
                                    <span *ngFor="let item of entryPriceEstimates; let i = index">
                                        {{item.userName}}
                                        <span *ngIf="i !== (entryPriceEstimates.length - 1)"> ,</span>
                                    </span>
                                </div>
                            </td>
                            <td *ngIf="data.get('itemId').value === 23">
                            </td>
                            <td *ngIf="data.get('itemId').value === 24">
                                <div *ngIf="siteLayout && siteLayout.length !== 0">
                                    <span *ngFor="let item of siteLayout; let i = index">
                                        {{item.userName}}
                                        <span *ngIf="i !== (siteLayout.length - 1)"> ,</span>
                                    </span>
                                </div>
                            </td>
                            <td *ngIf="data.get('itemId').value === 25">
                                <div *ngIf="basementBPTC && basementBPTC.length !== 0">
                                    <span *ngFor="let item of basementBPTC; let i = index">
                                        {{item.userName}}
                                        <span *ngIf="i !== (basementBPTC.length - 1)"> ,</span>
                                    </span>
                                </div>
                            </td>
                            <td *ngIf="data.get('itemId').value === 26">
                                <div *ngIf="monitoring && monitoring.length !== 0">
                                    <span *ngFor="let item of monitoring; let i = index">
                                        {{item.userName}}
                                        <span *ngIf="i !== (monitoring.length - 1)"> ,</span>
                                    </span>
                                </div>
                            </td>
                            <td *ngIf="data.get('itemId').value === 27">
                                <div *ngIf="formworkReinforcementConcrete && formworkReinforcementConcrete.length !== 0">
                                    <span *ngFor="let item of formworkReinforcementConcrete; let i = index">
                                        {{item.userName}}
                                        <span *ngIf="i !== (formworkReinforcementConcrete.length - 1)"> ,</span>
                                    </span>
                                </div>
                            </td>
                            <td *ngIf="data.get('itemId').value === 28">
                                <div *ngIf="otherTechnicalRecords && otherTechnicalRecords.length !== 0">
                                    <span *ngFor="let item of otherTechnicalRecords; let i = index">
                                        {{item.userName}}
                                        <span *ngIf="i !== (otherTechnicalRecords.length - 1)"> ,</span>
                                    </span>
                                </div>
                            </td>
                            <td *ngIf="data.get('itemId').value === 29">
                                <div *ngIf="calibrationCheckFinish && calibrationCheckFinish.length !== 0">
                                    <span *ngFor="let item of calibrationCheckFinish; let i = index">
                                        {{item.userName}}
                                        <span *ngIf="i !== (calibrationCheckFinish.length - 1)"> ,</span>
                                    </span>
                                </div>
                            </td>
                            <td *ngIf="data.get('itemId').value === 30">
                            </td>
                            <td *ngIf="data.get('itemId').value === 31">
                                <div *ngIf="preparationLegalDoc && preparationLegalDoc.length !== 0">
                                    <span *ngFor="let item of preparationLegalDoc; let i = index">
                                        {{item.userName}}
                                        <span *ngIf="i !== (preparationLegalDoc.length - 1)"> ,</span>
                                    </span>
                                </div>
                            </td>
                            <td *ngIf="data.get('itemId').value === 32">
                                <div *ngIf="photoHungryPack && photoHungryPack.length !== 0">
                                    <span *ngFor="let item of photoHungryPack; let i = index">
                                        {{item.userName}}
                                        <span *ngIf="i !== (photoHungryPack.length - 1)"> ,</span>
                                    </span>
                                </div>
                            </td>
                            <td *ngIf="data.get('itemId').value === 33">
                            </td>
                            <td *ngIf="data.get('itemId').value === 34">
                                <div *ngIf="checkAndSaveConditions && checkAndSaveConditions.length !== 0">
                                    <span *ngFor="let item of checkAndSaveConditions; let i = index">
                                        {{item.userName}}
                                        <span *ngIf="i !== (checkAndSaveConditions.length - 1)"> ,</span>
                                    </span>
                                </div>
                            </td>
                            <td *ngIf="data.get('itemId').value === 35">
                                <div *ngIf="askClarificationQuestions && askClarificationQuestions.length !== 0">
                                    <span *ngFor="let item of askClarificationQuestions; let i = index">
                                        {{item.userName}}
                                        <span *ngIf="i !== (askClarificationQuestions.length - 1)"> ,</span>
                                    </span>
                                </div>
                            </td> -->