<form [formGroup]="planForm" *ngIf="planForm">
    <div class="title-list-package d-flex flex-wrap align-items-center status-filter">
        <div class="mr-auto d-flex align-items-end list-package mt-2 mb-2">
            <div class="d-flex justify-content-start h-40">
                <div class="rule mr-2">
                </div>
                <div class="center-parent pl-3 mr-4 live-form-title">
                    <a [routerLink]='["../../"]'>
                        <img width="12" height="12" class="pointer not-outline" src="assets\images\nghia.png">
                    </a>
                    <div class="text-uppercase ml-3">bảng phân công tiến độ (tender preparation planning assignment)</div>
                </div>
            </div>
        </div>
        <div>
            <div class="btn-toolbar mt-2 mb-2">
                <!-- <button class="btn btn-primary ml-2">
              Import dữ liệu theo mẫu
          </button> -->
                <button class="btn btn-primary ml-2">
                    Lưu nháp
                </button>
                <button class="btn btn-primary ml-2">
                    Lưu
                </button>
                <button class="btn btn-secondary ml-2">
                    Hủy
                </button>
                <button class="btn btn-primary ml-2">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="pl-3">
        <div class="header m-0">
            <div class="row">
                <div class="col-md-6 row">
                    <div class="col-md-4"><strong>Công trình (Project):</strong></div>
                    <div class="col-md-8">{{packageInfo?.projectName}}</div>
                </div>
                <div class="col-md-6 row">
                    <div class="col-md-4"><strong>Người lập (Prepare by):</strong></div>
                    <div class="col-md-8"></div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 row">
                    <div class="col-md-4"><strong>Địa điểm (Location):</strong></div>
                    <div class="col-md-8">{{packageInfo?.place}}</div>
                </div>
                <div class="col-md-6 row">
                    <div class="col-md-4"><strong>Ngày lập (Date):</strong></div>
                    <div class="col-md-8"></div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 row">
                    <div class="col-md-4"><strong>Gói thầu (Package):</strong></div>
                    <div class="col-md-8">{{packageInfo?.opportunityName}}</div>
                </div>
                <div class="col-md-6 row">
                    <div class="col-md-4 text-nowrap"><strong>Người duyệt (Approved by):</strong></div>
                    <div class="col-md-8"></div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 row">
                    <div class="col-md-4"><strong>Chủ đầu tư (Employer):</strong></div>
                    <div class="col-md-8"></div>
                </div>
                <div class="col-md-6 row">
                    <div class="col-md-4"><strong>Ngày duyệt (Date):</strong></div>
                    <div class="col-md-8"></div>
                </div>
            </div>
        </div>
        <div class="mt-3">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Tên tài liệu</th>
                        <th colspan="5">Bảng phân công tiến độ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="4">KEY PERSONNEL</td>
                        <td>Project Director</td>
                        <td>
                            <span class="custom-dropdown w-100 b-dropdown-no-border">
                                <select class="form-control">
                                    <option>--Chọn--</option>
                                    <option selected [ngValue]="null">Michael Tran</option>
                                </select>
                            </span>
                        </td>
                        <td><a href="mailto:michael.tran@hbcr.vn">michael.tran@hbcr.vn</a></td>
                        <td>Start</td>
                        <td>
                            <kendo-datepicker class="form-control b-datepicker-no-border"></kendo-datepicker>
                        </td>
                    </tr>
                    <tr>
                        <td>Tender Dept</td>
                        <td>
                            <span class="custom-dropdown w-100 b-dropdown-no-border">
                                <select class="form-control">
                                    <option>--Chọn--</option>
                                    <option selected [ngValue]="null">Giang - Tender leader</option>
                                </select>
                            </span>
                        </td>
                        <td><a href="mailto:giang.nguyendinh@hbcr.vn">giang.nguyendinh@hbcr.vn</a></td>
                        <td>Tender Duration</td>
                        <td>
                            <kendo-datepicker class="form-control b-datepicker-no-border"></kendo-datepicker>
                        </td>
                    </tr>
                    <tr>
                        <td>Technical Dept</td>
                        <td>
                            <span class="custom-dropdown w-100 b-dropdown-no-border">
                                <select class="form-control">
                                    <option>--Chọn--</option>
                                    <option selected [ngValue]="null">Viet - Technical leader</option>
                                </select>
                            </span>
                        </td>
                        <td><a href="mailto:viet.nguyen@hbcr.vn">viet.nguyen@hbcr.vn</a></td>
                        <td>Query's Deadline</td>
                        <td>
                            <kendo-datepicker class="form-control b-datepicker-no-border"></kendo-datepicker>
                        </td>
                    </tr>
                    <tr>
                        <td>BIM Dept</td>
                        <td>
                            <span class="custom-dropdown w-100 b-dropdown-no-border">
                                <select class="form-control">
                                    <option selected [ngValue]="null">--Chọn--</option>
                                </select>
                            </span>
                        </td>
                        <td></td>
                        <td>Finish</td>
                        <td>
                            <kendo-datepicker class="form-control b-datepicker-no-border"></kendo-datepicker>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-md-9 pr-0">
                <table class="table table-bordered tbl-data-gantt">
                    <thead class="tbl-header-bg-color">
                        <tr>
                            <th class="text-center align-middle">Stt</th>
                            <th class="text-center align-middle">Công việc</th>
                            <th class="text-center align-middle text-nowrap">Mô tả</th>
                            <th class="text-center align-middle">Phân công cho</th>
                            <th class="text-center align-middle col-datetime">Ngày bắt đầu</th>
                            <th class="text-center align-middle col-datetime">Ngày kết thúc</th>
                            <th class="text-center align-middle">Tổng thời gian</th>
                        </tr>
                    </thead>
                    <tbody formArrayName="tasks">
                        <tr *ngFor="let data of tasksFA.controls; let i = index" [formGroupName]="i" [class.b-k-alt]="i % 2 != 0">
                            <td class="text-center">{{i + 1}}</td>
                            <td>{{data.get('itemName').value}}</td>
                            <td>{{data.get('itemDesc').value}}</td>
                            <td class="pl-0">
                                <span class="custom-dropdown w-100 b-dropdown-no-border">
                                    <select class="form-control">
                                        <option [ngValue]="null">--Chọn--</option>
                                        <option *ngFor="let user of userList | async" [value]="user.id">{{user.employeeName}}</option>
                                    </select>
                                </span>
                            </td>
                            <td class="pl-0">
                                <kendo-datepicker formControlName="startDate" class="form-control b-datepicker-no-border b-datepicker-ic"></kendo-datepicker>
                            </td>
                            <td class="pl-0">
                                <kendo-datepicker formControlName="finishDate" class="form-control b-datepicker-no-border b-datepicker-ic"></kendo-datepicker>
                            </td>
                            <td class="text-center">52</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-3 pl-0">
                <div #ganttChart></div>
            </div>
        </div>
    </div>
</form>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.7)" size="medium" color="#fff" type="ball-clip-rotate-multiple"></ngx-spinner>
