<!-- <ul class="navbar-nav nav-menu-bar">
  <li class="nav-item ">
      <a class="nav-link" [routerLinkActive]="['router-link-active']" [routerLink]="['/dashboard']">Trang chủ</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" [routerLinkActive]="['router-link-active']" [routerLink]="['/prospect']">Tiềm năng</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" [routerLinkActive]="['router-link-active']" [routerLink]="['/customer']">Khách hàng</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" [routerLinkActive]="['router-link-active']" [routerLink]="['/contact']">Liên hệ</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" [routerLinkActive]="['router-link-active']" [routerLink]="['/opportunity']">Cơ hội</a>
  </li>
  <li class="nav-item">

      <a class="nav-link" [routerLinkActive]="['router-link-active']" [routerLink]="['/campaign']">Chiến dịch</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" [routerLinkActive]="['router-link-active']" [routerLink]="['/activity']">Hoạt động</a>
  </li>

</ul> -->
<div class="d-flex flex-row set-heigt-div">
    <div class="p-2 color-menu" *ngIf="isManageBidOpportunitys" [routerLinkActive]="['router-link-active']" [routerLink]="['/package']">
        <div class="pad-content">
            <a>QUẢN LÝ GÓI THẦU</a>
        </div>
    </div>
    <div class="p-2 color-menu"  [routerLinkActive]="['router-link-active']" [routerLink]="['/management-user']">
        <div class="pad-content">
            <a>QUẢN LÝ NGƯỜI DÙNG</a>
        </div>
    </div>
    <div class="p-2 color-menu"  [routerLinkActive]="['router-link-active']" [routerLink]="['/settings']">
        <div class="pad-content">
            <a>CÀI ĐẶT</a>
        </div>
    </div>
</div>