<div [@routerTransition] class="parent">
    <div class="search-box  title-list-package center-parent status-filter">
        <!-- <div class="mr-auto d-flex align-items-end list-package">DANH SÁCH GÓI THẦU</div> -->
        <h4 class="d-inline mb-0 mr-auto text-dark">DANH SÁCH GÓI THẦU</h4>
        <div class="btn-toolbar">
            <div class="input-group">
                <span class="input-group-addon">Tìm kiếm theo</span>
                <input type="text" class="form-control" placeholder="Tên, vai trò, chủ trì" (keyup)="searchTerm$.next($event.target.value)">
            </div>
            <div class="btn-group ml-2" ngbDropdown>
                <button type="button" class="btn btn-primary" ngbDropdownToggle data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Công cụ &nbsp;&nbsp;
                </button>
            </div>
            <button class="btn btn-primary ml-2" [routerLink]="['/package/create']">
                &nbsp;&nbsp; Thêm gói thầu
            </button>
            <button class="btn btn-primary ml-2" (click)="refresh(true)">
                <i class="fa fa-refresh" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <div class="main-table">
        <div class="d-flex justify-content-between  custom-filter-bar">
            <div class="d-flex form-inline flex-pad filter-bar" style="width: calc(100% - 80px);">
                <div class="form-group ml-sm-2">
                    <label for="" class="form-label">Phân loại</label>
                    <span class="custom-dropdown mx-sm-2">
                        <select class="form-control" [(ngModel)]="filterModel.opportunityClassify">
                            <option value="">--Tất cả--</option>
                            <option *ngFor="let item of listClassifyCustomer  | async" [value]="item.id">{{item.text}}</option>
                        </select>
                    </span>
                </div>
                <div class="form-group ml-sm-2">
                    <label for="" class="form-label">Giai đoạn</label>
                    <span class="custom-dropdown mx-sm-2">
                        <select class="form-control" [(ngModel)]="filterModel.stage">
                            <option value="">--Tất cả--</option>
                            <option *ngFor="let item of listPhasePackage | async" [value]="item.id">{{item.text }}</option>
                        </select>
                    </span>
                </div>
                <div class="form-group ml-sm-2">
                    <label for="" class="form-label">Chủ trì</label>
                    <span class="custom-dropdown mx-sm-2">
                        <select class="form-control" [(ngModel)]="filterModel.chairEmployeeId">
                            <option value="">--Tất cả--</option>
                            <option *ngFor="let item of userListItem" [value]="item.employeeId">{{item.employeeName}}</option>

                            <!-- <option *ngFor="let item of listPresideHBC" [value]="item.id">{{item.text | translate}}</option> -->
                        </select>
                    </span>
                </div>
                <div class="form-group ml-sm-2">
                    <label for="" class="form-label">Tổng giá trị</label>
                </div>
                <div style="width: 220px; margin-left: 10px; margin-right: 50px; zoom: 0.8;padding: 5px;">

                    <nouislider [config]="someKeyboardConfig" [step]="1000" [min]="0" [max]="10000000000" (ngModelChange)="changeValueRange($event)"
                        [(ngModel)]="someRange"></nouislider>
                    <div class="d-flex justify-content-between range">
                        <div class="min">{{ someRange[0] | vnCurrency }}</div>
                        <div class="max">{{ someRange[1] | vnCurrency}}</div>
                    </div>

                </div>
                <button type="submit" class="btn btn-primary ml-sm-2" (click)="filter(true)">
                    <i class="fa fa-filter" aria-hidden="true"></i>&nbsp;&nbsp; Lọc
                </button>
                <button class="btn btn-secondary ml-sm-2" (click)="clearFilter()">
                    <i class="fa fa-times"></i>&nbsp;&nbsp; Xóa lọc
                </button>
            </div>
            <div class="filter-bar" style="width: 80px; margin-left: 10px; text-align: center" ngbDropdown #myDrop="ngbDropdown" placement="bottom-right">
                <div style="cursor: pointer; padding-left: 10px; padding-right: 10px;" class="d-flex justify-content-around center-parent h-100"
                    ngbDropdownToggle>
                    <div class="center-parent" style="margin-right: 6px">
                        <div>
                            <i class="fa fa-cog" style="color: #625141;"></i>
                        </div>
                    </div>
                    <div>Cột</div>
                </div>
                <div class="dropdown-menu" style="" ngbDropdownMenu (click)="$event.stopPropagation();" (blur)="resetDefaultState()">
                    <div class="popup-dynamic-col" style="min-width: 600px; min-height: 300px;">
                        <div class="">{{sum}}/{{listField?.length}} cột được chọn</div>
                        <hr>
                        <div style="height: 160px;">
                            <div class="wrapper">
                                <div class="form-check-inline" *ngFor="let item of listField">
                                    <div class="d-flex">
                                        <div style="margin-top: 2px;">
                                            <input type="checkbox" [(ngModel)]="item.hidden" style="cursor: pointer;">
                                        </div>
                                        <div class=""> &nbsp;{{item.fieldCaption}}</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- <perfect-scrollbar style="max-height: 160px;" [config]="config">
                                <div>Scrollable content</div>
                              </perfect-scrollbar> -->
                        <!-- <div slimScroll width="auto" height="160px" size="7px">
                            Lorem ipsum dolor sit amet...
                        </div> -->
                        <hr>
                        <div>
                            <div class="d-flex">
                                <div class="mr-auto">
                                    <div class="center-parent w-100 h-100">
                                        <div>
                                            <span style="cursor: pointer; color: #00a0e3" (click)="resetDefaultState()">Trở về mặc định</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-1">
                                    <button class="btn btn-secondary" (click)="cancel(myDrop)">Hủy</button>
                                </div>
                                <div class="p-1">
                                    <button class="btn btn-primary" (click)="apply(myDrop)">Áp dụng</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div>
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table-selection stripe hover">
                <thead>
                    <tr style="width: 100%;">
                        <th class="text-center" style="width: 15px;">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input input-checkbox" [(ngModel)]="checkboxSeclectAll" (change)="onSelectAll($event.target.checked)">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </th>
                        <th style="width: 12%">

                            <div class="d-flex justify-content-start">
                                <div style="margin-right: 10px">Tên dự án</div>
                                <div class="center-parent">
                                    <div>
                                        <i class="fa fa-caret-down" style="color: #ffff;"></i>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th style="width: 10%">

                            <div class="d-flex justify-content-start">
                                <div style="margin-right: 10px">Gói thầu</div>
                                <div class="center-parent">
                                    <div>
                                        <i class="fa fa-caret-down" style="color: #ffff;"></i>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th style="width: 10%">
                            <div class="d-flex justify-content-start">
                                <div style="margin-right: 10px">Vai trò của HBC</div>
                                <div class="center-parent">
                                    <div>
                                        <i class="fa fa-caret-down" style="color: #ffff;"></i>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th style="width: 10%">
                            <div class="d-flex justify-content-start">
                                <div style="margin-right: 10px">Chủ trì HBC</div>
                                <div class="center-parent">
                                    <div>
                                        <i class="fa fa-caret-down" style="color: #ffff;"></i>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th style="width: 10%">
                            <div class="d-flex justify-content-start">
                                <div style="margin-right: 10px">Phân loại</div>
                                <div class="center-parent">
                                    <div>
                                        <i class="fa fa-caret-down" style="color: #ffff;"></i>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th style="width: 10%">
                            <div class="d-flex justify-content-start">
                                <div style="margin-right: 10px"> Giá trị</div>
                                <div class="center-parent">
                                    <div>
                                        <i class="fa fa-caret-down" style="color: #ffff;"></i>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th style="width: 70px">
                            <div class="d-flex justify-content-start">
                                <div style="margin-right: 10px">Quy mô</div>
                                <div class="center-parent">
                                    <div>
                                        <i class="fa fa-caret-down" style="color: #ffff;"></i>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th class="text-center" style="width: 13%;min-width: 165px!important;" class="HSMT">
                            <div class="d-flex justify-content-center">
                                <div style="margin-right: 10px"> Giai đoạn</div>
                                <div class="center-parent">
                                    <div>
                                        <i class="fa fa-caret-down" style="color: #ffff;"></i>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th style="width: 10%;">
                            <div class="d-flex justify-content-start">
                                <div style="margin-right: 10px">Khu vực</div>
                                <div class="center-parent">
                                    <div>
                                        <i class="fa fa-caret-down" style="color: #ffff;"></i>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th class="table-action" style="width: calc(15% - 95px);">
                            Thao tác
                        </th>
                    </tr>
                </thead>
                <tbody *ngIf="listPackage">
                    <tr *ngFor="let item of pagedResult.items; let i = index">
                        <td class="text-center">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" [(ngModel)]="item.checkboxSelected">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="text-truncate">
                            <a [title]="item.projectName">
                                {{ item.projectName }}
                            </a>
                        </td>
                        <td class="text-truncate">
                            <a>
                                {{ item.opportunityName}}
                            </a>
                        </td>
                        <td class="text-truncate">{{ item.hbcRole?.text }}</td>
                        <td class="text-truncate">{{ item.hbcChair }}</td>
                        <td class="text-truncate">{{ item.classify | translate }}</td>
                        <td class="text-truncate">{{ item.amount | vnCurrency }}</td>
                        <td class="color" class="text-center">
                            {{item.magnitude ? item.magnitude : ''}}
                        </td>
                        <td class="" style="text-align: center;">
                            <div class="d-flex flex-column p-2">
                                <!-- <div class="center-parent" [class.type-HSMT]="item.stage == 'HỒ SƠ MỜI THẦU'" [class.type-HSDT]="item.stage == 'HỒ SƠ DỰ THẦU'"
                                    [class.type-KQDT]="item.stage == 'KẾT QUẢ DỰ THẦU'">
                                    <div>{{item.stage ? item.stage : ''}}</div>
                                </div>
                                <div class="center-parent" [class.type-HSMT-child]="item.stageStatus == 'HỒ SƠ MỜI THẦU'" [class.type-HSDT-child]="item.stageStatus == 'HỒ SƠ DỰ THẦU'"
                                    [class.type-KQDT-child]="item.stageStatus == 'KẾT QUẢ DỰ THẦU'">
                                    <div>{{item.stageStatus ? item.stageStatus : ''}}</div>
                                </div> -->
                                <div class="center-parent" [class.type-HSMT]="item.stage?.id == 'HSMT'" [class.type-HSDT]="item.stage?.id == 'HSDT'" [class.type-KQDT]="item.stage?.id == 'KQDT'">
                                    <div *ngIf="item.stage?.id === 'HSMT'">HỒ SƠ MỜI THẦU</div>
                                    <div *ngIf="item.stage?.id === 'HSDT'">HỒ SƠ DỰ THẦU</div>
                                    <div *ngIf="item.stage?.id === 'KQDT'">KẾT QUẢ DỰ THẦU</div>
                                </div>
                                <div class="center-parent" [class.type-HSMT-child]="item.stage?.id == 'HSMT'" [class.type-HSDT-child]="item.stage?.id == 'HSDT'"
                                    [class.type-KQDT-child]="item.stage?.id == 'KQDT'">
                                    <div>{{item.stageStatus | translate}}</div>
                                </div>

                            </div>
                        </td>
                        <td>{{item.region | translate}}</td>
                        <!-- <td class="select-filter" [title]="item.assignTo">{{ item.assignTo}}</td> -->
                        <td>
                            <a [routerLink]="['/package/detail',item.bidOpportunityId]">
                                <i class="fa fa-eye text-warning" aria-hidden="true"></i>
                            </a>
                            <a [routerLink]="['/package/detail',item.bidOpportunityId,'edit']" class=" text-success ml-3">
                                <i class="fa fa-pencil  cursor-pointer" aria-hidden="true"> </i>
                            </a>
                            <a class=" text-dark ml-3">
                                <i (click)="delete(item.id, item.activityType)" class="fa fa-trash-o" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>

        <app-pagination [(pagedResult)]="pagedResult" (pagedResultChange)="pagedResultChange($event)"></app-pagination>
    </div>

</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.7)" size="medium" color="#fff" type="ball-clip-rotate-multiple"></ngx-spinner>