<div [@routerTransition] class="parent">
    <div class="search-box  title-list-package center-parent status-filter" [class.title-detail-toggle]="isToggle">
        <!-- <div class="mr-auto d-flex align-items-end list-package">DANH SÁCH GÓI THẦU</div> -->
        <h4 class="d-inline mb-0 mr-auto text-dark">DANH SÁCH GÓI THẦU</h4>
        <div class="btn-toolbar">
            <div class="input-group">
                <span class="input-group-addon">Tìm kiếm theo</span>
                <input type="text" class="form-control icon" placeholder="&#xf002; Từ khóa" (keyup)="searchTerm$.next($event.target.value)">
            </div>
            <div class="btn-group ml-2" ngbDropdown #DropTool="ngbDropdown">
                <div #DropTool2>
                    <button type="button" class="btn btn-primary" ngbDropdownToggle data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Công cụ &nbsp;&nbsp;
                    </button>
                    <div class="dropdown-menu" ngbDropdownMenu>
                        <a class="dropdown-item" (click)="exportFileExcel()">Xuất file</a>
                        <!-- <div class="dropdown-divider"></div>
                                <a class="dropdown-item">Tải template</a> -->
                    </div>
                </div>
            </div>
            <button *ngIf="isCreateBidOpportunity" class="btn btn-primary ml-2" [routerLink]="['/package/create']">
                Thêm gói thầu
            </button>
            <button class="btn btn-primary ml-2" (click)="refresh(true)">
                <i class="fa fa-refresh" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <div class="main-table">
        <div class="d-flex justify-content-between  custom-filter-bar">
            <div class="d-flex form-inline flex-pad filter-bar" style="width: calc(100% - 80px);">
                <div class="form-group ml-sm-2">
                    <label for="" class="form-label">Loại khách hàng</label>
                    <span class="custom-dropdown mx-sm-2">
                        <select class="form-control" [(ngModel)]="filterModel.opportunityClassify">
                            <option value="">--Tất cả--</option>
                            <option *ngFor="let item of listClassifyCustomer  | async" [value]="item.id">{{item.text}}</option>
                        </select>
                    </span>
                </div>
                <div class="form-group ml-sm-2">
                    <label for="" class="form-label">Giai đoạn</label>
                    <span class="custom-dropdown mx-sm-2">
                        <select class="form-control" [(ngModel)]="filterModel.stage">
                            <option value="">--Tất cả--</option>
                            <option *ngFor="let item of listPhasePackage | async" [value]="item.id">{{item.text }}</option>
                        </select>
                    </span>
                </div>
                <div class="form-group ml-sm-2">
                    <label for="" class="form-label">Chủ trì</label>
                    <span class="custom-dropdown mx-sm-2">
                        <select class="form-control" [(ngModel)]="filterModel.chairEmployeeId">
                            <option value="">--Tất cả--</option>
                            <option *ngFor="let item of userListItem" [value]="item.employeeId">{{item.employeeName}}</option>
                        </select>
                    </span>
                </div>

                <div class="form-group ml-sm-2">
                    <label for="" class="form-label">Tổng giá trị</label>
                </div>
                <div style="width: 280px; margin-left: 10px; margin-right: 15px; zoom: 0.8;padding: 5px; ">

                    <nouislider [config]="someKeyboardConfig" [step]="1000" [min]="0" [max]="1000000000000" (ngModelChange)="changeValueRange($event)"
                        [(ngModel)]="someRange"></nouislider>
                    <div class="d-flex justify-content-between range text-truncate">
                        <div class="min">{{ someRange[0] | vnCurrency }}</div>
                        <div class="max" style="z-index: 6; left: -20px; float: left; clear: both;">{{ someRange[1] | vnCurrency}}</div>
                    </div>

                </div>
                <button type="submit" class="btn btn-primary ml-sm-2" (click)="filter(true)">
                    <i class="fa fa-filter" aria-hidden="true"></i>&nbsp;&nbsp; Lọc
                </button>
                <button class="btn btn-secondary ml-sm-2" (click)="clearFilter()">
                    <i class="fa fa-times"></i>&nbsp;&nbsp; Xóa lọc
                </button>
            </div>
            <div class="filter-bar center-parent" style="width: 80px; margin-left: 10px; text-align: center" ngbDropdown #myDrop="ngbDropdown"
                placement="bottom-right">
                <div #myDrop2>
                    <div style="cursor: pointer; padding-left: 10px; padding-right: 10px;" class="d-flex justify-content-around center-parent h-100"
                        ngbDropdownToggle>
                        <div class="center-parent" style="margin-right: 6px">
                            <div>
                                <i class="fa fa-cog" style="color: #625141;"></i>
                            </div>
                        </div>
                        <div>Cột</div>
                    </div>
                    <div class="dropdown-menu" ngbDropdownMenu>
                        <div class="popup-dynamic-col" style="min-width: 600px; min-height: 300px;">
                            <div class="d-flex justify-content-between">
                                <div class="">{{sum}}/{{listField?.length}} cột được chọn</div>
                                <div>
                                    <span style="cursor: pointer; color: #00a0e3" (click)="chooseAll()">Chọn tất cả</span>
                                </div>
                            </div>
                            <hr>
                            <div style="height: 160px;">
                                <div class="wrapper">
                                    <div class="form-check-inline" *ngFor="let item of listField">
                                        <div class="d-flex">
                                            <div style="margin-top: 2px;">
                                                <input type="checkbox" (change)="inputChange()" [(ngModel)]="item.hidden" style="cursor: pointer;">
                                            </div>
                                            <div class="cus-pointer" (click)="inputChange2(item.id)"> &nbsp;{{item.fieldCaption}}</div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <hr>
                            <div>
                                <div class="d-flex">
                                    <div class="mr-auto">
                                        <div class="center-parent w-100 h-100">
                                            <div>
                                                <span style="cursor: pointer; color: #00a0e3" (click)="resetDefaultState()">Trở về mặc định</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="p-1">
                                        <button class="btn btn-secondary" (click)="cancel(myDrop)">Hủy</button>
                                    </div>
                                    <div class="p-1" style="padding-right: 0px">
                                        <button class="btn btn-primary" (click)="apply(myDrop)">Áp dụng</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="table-responsive" id="style-scroll">
            <table datatable id="tableId" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" style="min-width: 100%;" class="table-selection stripe hover">
                <thead>
                    <tr style="width: 100%;">
                        <th class="text-center" type="check" style="width: 60px; max-width: 60px !important;">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input input-checkbox" [(ngModel)]="checkboxSeclectAll" (change)="onSelectAll($event.target.checked)">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </th>
                        <th [hidden]="!maDuAn" (click)="orderByField('BidOpportunityNo')">
                            <div class="d-flex justify-content-start">
                                <div style="margin-right: 10px" textEllipsis>Mã dự án</div>
                                <div class="center-parent">
                                    <div>
                                        <!-- <i class="fa fa-caret-down" style="color: #ffff;"></i> -->
                                        <i *ngIf="filterModel.sorting == ''" class="fa fa-sort" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'BidOpportunityNoAsc'" class="fa fa-caret-down" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'BidOpportunityNoDesc'" class="fa fa-caret-up" style="color: #ffff;"></i>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th [hidden]="!tenDuAn" (click)="orderByField('ProjectName')" [title]="'Tên dự án'">
                            <div class="d-flex justify-content-start">
                                <div style="margin-right: 10px" textEllipsis>Tên dự án</div>
                                <div class="center-parent">
                                    <div>
                                        <i *ngIf="filterModel.sorting == ''" class="fa fa-sort" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'ProjectNameAsc'" class="fa fa-caret-down" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'ProjectNameDesc'" class="fa fa-caret-up" style="color: #ffff;"></i>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th [hidden]="!tenGoithau" (click)="orderByField('OpportunityName')" [title]="'Gói thầu'">
                            <div class="d-flex justify-content-start">
                                <div style="margin-right: 10px" textEllipsis>Gói thầu</div>
                                <div class="center-parent">
                                    <div>
                                        <i *ngIf="filterModel.sorting == ''" class="fa fa-sort" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'OpportunityNameAsc'" class="fa fa-caret-down" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'OpportunityNameDesc'" class="fa fa-caret-up" style="color: #ffff;"></i>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th [hidden]="!tenKhachHang" [title]="'Tên khách hàng'" (click)="orderByField('CustomerName')">
                            <div class="d-flex justify-content-start">
                                <div style="margin-right: 10px" textEllipsis>Tên khách hàng</div>
                                <div class="center-parent">
                                    <div>
                                        <!-- <i class="fa fa-caret-down" style="color: #ffff;"></i> -->
                                        <i *ngIf="filterModel.sorting == ''" class="fa fa-sort" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'CustomerNameAsc'" class="fa fa-caret-down" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'CustomerNameDesc'" class="fa fa-caret-up" style="color: #ffff;"></i>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th [hidden]="!lienHe" [title]="'Liên hệ'" (click)="orderByField('CustomerContactName')">
                            <div class="d-flex justify-content-start">
                                <div style="margin-right: 10px" textEllipsis>Liên hệ</div>
                                <div class="center-parent">
                                    <div>
                                        <!-- <i class="fa fa-caret-down" style="color: #ffff;"></i> -->
                                        <i *ngIf="filterModel.sorting == ''" class="fa fa-sort" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'CustomerContactNameAsc'" class="fa fa-caret-down" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'CustomerContactNameDesc'" class="fa fa-caret-up" style="color: #ffff;"></i>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th [hidden]="!vaiTro" (click)="orderByField('HbcRole')" [title]="'Vai trò'">
                            <div class="d-flex justify-content-start">
                                <div style="margin-right: 10px" textEllipsis>Vai trò</div>
                                <div class="center-parent">
                                    <div>
                                        <i *ngIf="filterModel.sorting == ''" class="fa fa-sort" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'HbcRoleAsc'" class="fa fa-caret-down" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'HbcRoleDesc'" class="fa fa-caret-up" style="color: #ffff;"></i>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th [hidden]="!chuTri" (click)="orderByField('ChairEmployeeName')" [title]="'Chủ trì'">
                            <div class="d-flex justify-content-start">
                                <div style="margin-right: 10px" textEllipsis>Chủ trì</div>
                                <div class="center-parent">
                                    <div>
                                        <i *ngIf="filterModel.sorting == ''" class="fa fa-sort" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'ChairEmployeeNameAsc'" class="fa fa-caret-down" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'ChairEmployeeNameDesc'" class="fa fa-caret-up" style="color: #ffff;"></i>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th [hidden]="!loaiKhachHang" (click)="orderByField('CustomerType')" [title]="'Loại khách hàng'">
                            <div class="d-flex justify-content-start">
                                <div style="margin-right: 10px" textEllipsis>Loại khách hàng</div>
                                <div class="center-parent">
                                    <div>
                                        <!-- <i class="fa fa-caret-down" style="color: #ffff;"></i> -->
                                        <i *ngIf="filterModel.sorting == ''" class="fa fa-sort" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'CustomerTypeAsc'" class="fa fa-caret-down" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'CustomerTypeDesc'" class="fa fa-caret-up" style="color: #ffff;"></i>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th [hidden]="!loaiCongTrinh" [title]="'Loại công trình'" (click)="orderByField('ConstructionType')">
                            <div class="d-flex justify-content-start">
                                <div style="margin-right: 10px" textEllipsis>Loại công trình</div>
                                <div class="center-parent">
                                    <div>
                                        <!-- <i class="fa fa-caret-down" style="color: #ffff;"></i> -->
                                        <i *ngIf="filterModel.sorting == ''" class="fa fa-sort" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'ConstructionTypeAsc'" class="fa fa-caret-down" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'ConstructionTypeDesc'" class="fa fa-caret-up" style="color: #ffff;"></i>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th [hidden]="!tongGiaTri" (click)="orderByField('Amount')" [title]="'Tổng giá trị'">
                            <div class="d-flex justify-content-center">
                                <div style="margin-right: 10px" class="text-center">
                                    <div class="d-flex justify-content-center">
                                        <div class="center-parent">
                                            <div textEllipsis>Tổng giá trị</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="center-parent">
                                    <div>
                                        <!-- <i class="fa fa-caret-down" style="color: #ffff;"></i> -->
                                        <i *ngIf="filterModel.sorting == ''" class="fa fa-sort" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'AmountAsc'" class="fa fa-caret-down" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'AmountDesc'" class="fa fa-caret-up" style="color: #ffff;"></i>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th [hidden]="!quyMo" (click)="orderByField('Magnitude')" [title]="'Quy mô'">
                            <div class="d-flex justify-content-start">
                                <div style="margin-right: 10px" textEllipsis>Quy mô</div>
                                <div class="center-parent">
                                    <div>
                                        <!-- <i class="fa fa-caret-down" style="color: #ffff;"></i> -->
                                        <i *ngIf="filterModel.sorting == ''" class="fa fa-sort" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'MagnitudeAsc'" class="fa fa-caret-down" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'MagnitudeDesc'" class="fa fa-caret-up" style="color: #ffff;"></i>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th [hidden]="!giaiDoan" class="text-center" class="HSMT" (click)="orderByField('Stage')" [title]="'Giai đoạn'">
                            <div class="d-flex justify-content-center">
                                <div style="margin-right: 10px" textEllipsis>Giai đoạn</div>
                                <div class="center-parent">
                                    <div>
                                        <!-- <i class="fa fa-caret-down" style="color: #ffff;"></i> -->
                                        <i *ngIf="filterModel.sorting == ''" class="fa fa-sort" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'StageAsc'" class="fa fa-caret-down" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'StageDesc'" class="fa fa-caret-up" style="color: #ffff;"></i>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th [hidden]="!khuVuc" (click)="orderByField('Location')" [title]="'Khu vực'">
                            <div class="d-flex justify-content-start">
                                <div style="margin-right: 10px" textEllipsis>Khu vực</div>
                                <div class="center-parent">
                                    <div>
                                        <!-- <i class="fa fa-caret-down" style="color: #ffff;"></i> -->
                                        <i *ngIf="filterModel.sorting == ''" class="fa fa-sort" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'LocationAsc'" class="fa fa-caret-down" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'LocationDesc'" class="fa fa-caret-up" style="color: #ffff;"></i>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <!-- <th [hidden]="!congViec">
                            <div class="d-flex justify-content-start">
                                <div style="margin-right: 10px">Công việc</div>
                                <div class="center-parent">
                                    <div>
                                        <i class="fa fa-caret-down" style="color: #ffff;"></i>
                                    </div>
                                </div>
                            </div>
                        </th> -->
                        <th [hidden]="!tienDoThucHien" [title]="'Tiến độ thực hiện'" (click)="orderByField('Progress')">
                            <div class="d-flex justify-content-start">
                                <div style="margin-right: 10px" textEllipsis>Tiến độ thực hiện</div>
                                <div class="center-parent">
                                    <div>
                                        <!-- <i class="fa fa-caret-down" style="color: #ffff;"></i> -->
                                        <i *ngIf="filterModel.sorting == ''" class="fa fa-sort" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'ProgressAsc'" class="fa fa-caret-down" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'ProgressDesc'" class="fa fa-caret-up" style="color: #ffff;"></i>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th [hidden]="!linkTaiLieu" [title]="'Link tài liệu'" (click)="orderByField('DocumentLink')">
                            <div class="d-flex justify-content-start">
                                <div style="margin-right: 10px" textEllipsis>Link tài liệu</div>
                                <div class="center-parent">
                                    <div>
                                        <!-- <i class="fa fa-caret-down" style="color: #ffff;"></i> -->
                                        <i *ngIf="filterModel.sorting == ''" class="fa fa-sort" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'DocumentLinkAsc'" class="fa fa-caret-down" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'DocumentLinkDesc'" class="fa fa-caret-up" style="color: #ffff;"></i>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th [hidden]="!tongThoiGian" [title]="'Tổng thời gian'" (click)="orderByField('ActualTotalTime')">
                            <div class="d-flex justify-content-start">
                                <div style="margin-right: 10px" textEllipsis>Tổng thời gian</div>
                                <div class="center-parent">
                                    <div>
                                        <!-- <i class="fa fa-caret-down" style="color: #ffff;"></i> -->
                                        <i *ngIf="filterModel.sorting == ''" class="fa fa-sort" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'ActualTotalTimeAsc'" class="fa fa-caret-down" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'ActualTotalTimeDesc'" class="fa fa-caret-up" style="color: #ffff;"></i>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th [hidden]="!quy" (click)="orderByField('Quarter')" [title]="'Quý'">
                            <div class="d-flex justify-content-start">
                                <div style="margin-right: 10px">Quý</div>
                                <div class="center-parent">
                                    <div>
                                        <!-- <i class="fa fa-caret-down" style="color: #ffff;"></i> -->
                                        <i *ngIf="filterModel.sorting == ''" class="fa fa-sort" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'QuarterAsc'" class="fa fa-caret-down" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'QuarterDesc'" class="fa fa-caret-up" style="color: #ffff;"></i>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th [hidden]="!donViTuVan" (click)="orderByField('ConsultantUnit')" [title]="'Đơn vị tư vấn'">
                            <div class="d-flex justify-content-start">
                                <div style="margin-right: 10px" textEllipsis>Đơn vị tư vấn</div>
                                <div class="center-parent">
                                    <div>
                                        <!-- <i class="fa fa-caret-down" style="color: #ffff;"></i> -->
                                        <i *ngIf="filterModel.sorting == ''" class="fa fa-sort" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'ConsultantUnitAsc'" class="fa fa-caret-down" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'ConsultantUnitDesc'" class="fa fa-caret-up" style="color: #ffff;"></i>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th [hidden]="!diaChiDVTV" (click)="orderByField('ConsultantAddress')" [title]="'Địa chỉ ĐVTV'">
                            <div class="d-flex justify-content-start">
                                <div style="margin-right: 10px" textEllipsis>Địa chỉ ĐVTV</div>
                                <div class="center-parent">
                                    <div>
                                        <!-- <i class="fa fa-caret-down" style="color: #ffff;"></i> -->
                                        <i *ngIf="filterModel.sorting == ''" class="fa fa-sort" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'ConsultantAddressAsc'" class="fa fa-caret-down" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'ConsultantAddressDesc'" class="fa fa-caret-up" style="color: #ffff;"></i>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th [hidden]="!soDienThoaiDVTV" (click)="orderByField('ConsultantPhone')" [title]="'Số điện thoại ĐVTV'">
                            <div class="d-flex justify-content-start">
                                <div style="margin-right: 10px" textEllipsis>Số điện thoại ĐVTV</div>
                                <div class="center-parent">
                                    <div>
                                        <!-- <i class="fa fa-caret-down" style="color: #ffff;"></i> -->
                                        <i *ngIf="filterModel.sorting == ''" class="fa fa-sort" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'ConsultantPhoneAsc'" class="fa fa-caret-down" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'ConsultantPhoneDesc'" class="fa fa-caret-up" style="color: #ffff;"></i>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th [hidden]="!dientichsan" (click)="orderByField('FloorArea')" [title]="'Diện tích sàn (m2)'">
                            <div class="d-flex justify-content-start">
                                <div style="margin-right: 10px" textEllipsis>Diện tích sàn (m2)</div>
                                <div class="center-parent">
                                    <div>
                                        <!-- <i class="fa fa-caret-down" style="color: #ffff;"></i> -->
                                        <i *ngIf="filterModel.sorting == ''" class="fa fa-sort" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'FloorAreaAsc'" class="fa fa-caret-down" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'FloorAreaDesc'" class="fa fa-caret-up" style="color: #ffff;"></i>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th [hidden]="!lyDoTrungThau" (click)="orderByField('AcceptanceReason')" [title]="'Lý do trúng thầu'">
                            <div class="d-flex justify-content-start">
                                <div style="margin-right: 10px" textEllipsis>Lý do trúng thầu</div>
                                <div class="center-parent">
                                    <div>
                                        <!-- <i class="fa fa-caret-down" style="color: #ffff;"></i> -->
                                        <i *ngIf="filterModel.sorting == ''" class="fa fa-sort" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'AcceptanceReasonAsc'" class="fa fa-caret-down" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'AcceptanceReasonDesc'" class="fa fa-caret-up" style="color: #ffff;"></i>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th [hidden]="!lyDoTratThau" (click)="orderByField('UnacceptanceReason')" [title]="'Lý do trật thầu'">
                            <div class="d-flex justify-content-start">
                                <div style="margin-right: 10px" textEllipsis>Lý do trật thầu</div>
                                <div class="center-parent">
                                    <div>
                                        <!-- <i class="fa fa-caret-down" style="color: #ffff;"></i> -->
                                        <i *ngIf="filterModel.sorting == ''" class="fa fa-sort" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'UnacceptanceReasonAsc'" class="fa fa-caret-down" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'UnacceptanceReasonDesc'" class="fa fa-caret-up" style="color: #ffff;"></i>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th [hidden]="!lydohuythau" (click)="orderByField('CancelReason')" [title]="'Lý do hủy thầu'">
                            <div class="d-flex justify-content-start">
                                <div style="margin-right: 10px" textEllipsis>Lý do hủy thầu</div>
                                <div class="center-parent">
                                    <div>
                                        <!-- <i class="fa fa-caret-down" style="color: #ffff;"></i> -->
                                        <i *ngIf="filterModel.sorting == ''" class="fa fa-sort" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'CancelReasonAsc'" class="fa fa-caret-down" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'CancelReasonDesc'" class="fa fa-caret-up" style="color: #ffff;"></i>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th [hidden]="!ngayBatDau" [title]="'Ngày bắt đầu'" (click)="orderByField('StartTrackingDate')">
                            <div class="d-flex justify-content-start">
                                <div style="margin-right: 10px" textEllipsis>Ngày bắt đầu</div>
                                <div class="center-parent">
                                    <div>
                                        <!-- <i class="fa fa-caret-down" style="color: #ffff;"></i> -->
                                        <i *ngIf="filterModel.sorting == ''" class="fa fa-sort" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'StartTrackingDateAsc'" class="fa fa-caret-down" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'StartTrackingDateDesc'" class="fa fa-caret-up" style="color: #ffff;"></i>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th [hidden]="!ngayDuKienKetQuaThau" [title]="'Ngày dự kiến kết quả thầu'" (click)="orderByField('EstimatedResultDate')">
                            <div class="d-flex justify-content-start">
                                <div style="margin-right: 10px" textEllipsis>Ngày dự kiến kết quả thầu</div>
                                <div class="center-parent">
                                    <div>
                                        <!-- <i class="fa fa-caret-down" style="color: #ffff;"></i> -->
                                        <i *ngIf="filterModel.sorting == ''" class="fa fa-sort" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'EstimatedResultDateAsc'" class="fa fa-caret-down" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'EstimatedResultDateDesc'" class="fa fa-caret-up" style="color: #ffff;"></i>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th [hidden]="!ngayNhanHoSoMoiThau" [title]="'Ngày nhận hồ sơ mời thầu'" (click)="orderByField('BidSubmissionDate')">
                            <div class="d-flex justify-content-start">
                                <div style="margin-right: 10px" textEllipsis>Ngày nhận hồ sơ mời thầu</div>
                                <div class="center-parent">
                                    <div>
                                        <!-- <i class="fa fa-caret-down" style="color: #ffff;"></i> -->
                                        <i *ngIf="filterModel.sorting == ''" class="fa fa-sort" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'BidSubmissionDateAsc'" class="fa fa-caret-down" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'BidSubmissionDateDesc'" class="fa fa-caret-up" style="color: #ffff;"></i>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th [hidden]="!ngayKhoiCongDuAn" [title]="'Ngày khởi công dự án'" (click)="orderByField('EstimatedProjectStartDate')">
                            <div class="d-flex justify-content-start">
                                <div style="margin-right: 10px" textEllipsis>Ngày khởi công dự án</div>
                                <div class="center-parent">
                                    <div>
                                        <!-- <i class="fa fa-caret-down" style="color: #ffff;"></i> -->
                                        <i *ngIf="filterModel.sorting == ''" class="fa fa-sort" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'EstimatedProjectStartDateAsc'" class="fa fa-caret-down" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'EstimatedProjectStartDateDesc'" class="fa fa-caret-up" style="color: #ffff;"></i>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th [hidden]="!ngayKetThucDuAn" [title]="'Ngày kết thúc dự án'" (click)="orderByField('EstimatedProjectEndDate')">
                            <div class="d-flex justify-content-start">
                                <div style="margin-right: 10px" textEllipsis>Ngày kết thúc dự án</div>
                                <div class="center-parent">
                                    <div>
                                        <!-- <i class="fa fa-caret-down" style="color: #ffff;"></i> -->
                                        <i *ngIf="filterModel.sorting == ''" class="fa fa-sort" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'EstimatedProjectEndDateAsc'" class="fa fa-caret-down" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'EstimatedProjectEndDateDesc'" class="fa fa-caret-up" style="color: #ffff;"></i>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th [hidden]="!hangMucCongTrinh" [title]="'Hạng mục công trình'" (click)="orderByField('ConstructionCategory')">
                            <div class="d-flex justify-content-start">
                                <div style="margin-right: 10px" textEllipsis>Hạng mục công trình</div>
                                <div class="center-parent">
                                    <div>
                                        <!-- <i class="fa fa-caret-down" style="color: #ffff;"></i> -->
                                        <i *ngIf="filterModel.sorting == ''" class="fa fa-sort" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'ConstructionCategoryAsc'" class="fa fa-caret-down" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'EConstructionCategoryDesc'" class="fa fa-caret-up" style="color: #ffff;"></i>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th [hidden]="!diaDiem" [title]="'Địa điểm'" (click)="orderByField('Place')">
                            <div class="d-flex justify-content-start">
                                <div style="margin-right: 10px" textEllipsis>Địa điểm</div>
                                <div class="center-parent">
                                    <div>
                                        <!-- <i class="fa fa-caret-down" style="color: #ffff;"></i> -->
                                        <i *ngIf="filterModel.sorting == ''" class="fa fa-sort" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'PlaceAsc'" class="fa fa-caret-down" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'PlaceDesc'" class="fa fa-caret-up" style="color: #ffff;"></i>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th [hidden]="!moTa" [title]="'Mô tả'" (click)="orderByField('ProjectInfo')">
                            <div class="d-flex justify-content-start">
                                <div style="margin-right: 10px" textEllipsis>Mô tả</div>
                                <div class="center-parent">
                                    <div>
                                        <!-- <i class="fa fa-caret-down" style="color: #ffff;"></i> -->
                                        <i *ngIf="filterModel.sorting == ''" class="fa fa-sort" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'ProjectInfoAsc'" class="fa fa-caret-down" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'ProjectInfoDesc'" class="fa fa-caret-up" style="color: #ffff;"></i>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th [hidden]="!danhGiaDuAn" [title]="'Đánh giá dự án'" (click)="orderByField('Evaluation')">
                            <div class="d-flex justify-content-start">
                                <div style="margin-right: 10px" textEllipsis>Đánh giá dự án</div>
                                <div class="center-parent">
                                    <div>
                                        <!-- <i class="fa fa-caret-down" style="color: #ffff;"></i> -->
                                        <i *ngIf="filterModel.sorting == ''" class="fa fa-sort" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'EvaluationAsc'" class="fa fa-caret-down" style="color: #ffff;"></i>
                                        <i *ngIf="filterModel.sorting == 'EvaluationDesc'" class="fa fa-caret-up" style="color: #ffff;"></i>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th style="max-width: 100px!important; width: 100px!important;" class="table-action text-center" type="check-action">
                            Thao tác
                        </th>
                    </tr>
                </thead>
                <tbody *ngIf="listPackage">
                    <tr *ngFor="let item of pagedResult.items; let i = index">
                        <td class="text-center" type="check">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" [(ngModel)]="item.checkboxSelected">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td [hidden]="!maDuAn">
                            <div class="text-truncate" [title]="item.projectName">
                                {{ item.projectNo }}
                            </div>
                        </td>
                        <td [hidden]="!tenDuAn">
                            <div class="text-truncate" [title]="item.projectName">
                                {{ item.projectName }}
                            </div>
                        </td>
                        <td [hidden]="!tenGoithau" class="text-truncate ellipsis">
                            <a [routerLink]="['/package/detail',item.bidOpportunityId]">
                                {{ item.opportunityName}}
                            </a>
                        </td>
                        <td [hidden]="!tenKhachHang" class="text-truncate">{{ item.customer?.customerName }}</td>
                        <td [hidden]="!lienHe" class="text-truncate">{{ item.customerContact?.name }}</td>
                        <td [hidden]="!vaiTro" class="text-truncate">{{ item.hbcRole?.name }}</td>
                        <td [hidden]="!chuTri" class="text-truncate">{{ item.chairEmployee?.employeeName }}</td>
                        <td [hidden]="!loaiKhachHang" class="text-truncate">
                            <span *ngIf="item && item.classify">
                                {{ item.classify | translate }}
                            </span>
                        </td>
                        <td [hidden]="!loaiCongTrinh" class="text-truncate">{{ item.projectType?.value }}</td>

                        <td [hidden]="!tongGiaTri" class="text-truncate text-right">{{ item.amount | vnCurrency }}</td>
                        <td [hidden]="!quyMo" class="color">{{item.magnitude }}</td>
                        <td [hidden]="!giaiDoan" class="" style="text-align: center;">
                            <div class="d-flex flex-column p-2">
                                <div class="center-parent" [class.type-HSMT]="item.stage?.key == 'HSMT'" [class.type-HSDT]="item.stage?.key == 'HSDT'" [class.type-KQDT]="item.stage?.key == 'KQDT'">
                                    <div>{{item.stage?.value }}</div>
                                </div>
                                <div class="center-parent" [class.type-HSMT-child]="item.stage?.key == 'HSMT'" [class.type-HSDT-child]="item.stage?.key == 'HSDT'"
                                    [class.type-KQDT-child]="item.stage?.key == 'KQDT'">
                                    <div class="text-truncate">{{item.stageStatus?.value }}</div>
                                </div>
                            </div>
                        </td>
                        <td [hidden]="!khuVuc" class="text-truncate">{{item.location.value}}</td>
                        <!-- <td [hidden]="!congViec" class="text-truncate">{{ item.job }}</td> -->
                        <td [hidden]="!tienDoThucHien" class="text-truncate text-right">{{ item.progress }} %</td>
                        <td [hidden]="!linkTaiLieu" class="text-truncate cus-pointer ellipsis">
                            <!-- (click)="openLinkDocument(item.documentLink)" -->
                            <!-- <a title="link tài liệu">{{ item.documentLink }}</a> -->
                            <a target="_blank" [href]="item.documentLink | safeUrl">{{ item.documentLink }}</a>
                        </td>
                        <td [hidden]="!tongThoiGian" class="text-truncate">{{ item.totalTime }}</td>
                        <td [hidden]="!quy" class="text-truncate">{{ item.quarter?.name }}</td>
                        <td [hidden]="!donViTuVan" class="text-truncate">{{ item.consultantUnitCustomer?.customerName }}</td>
                        <td [hidden]="!diaChiDVTV" class="text-truncate">{{ item.consultantAddress }}</td>
                        <td [hidden]="!soDienThoaiDVTV" class="text-truncate">{{ item.consultantPhone }}</td>
                        <td [hidden]="!dientichsan" class="text-truncate text-right">{{ item.floorArea | numberArea}}</td>


                        <td [hidden]="!lyDoTrungThau" class="text-truncate">{{ item.acceptanceReason }}</td>
                        <td [hidden]="!lyDoTratThau" class="text-truncate">{{ item.unacceptanceReason }}</td>
                        <td [hidden]="!lydohuythau" class="text-truncate">{{ item.cancelReason }}</td>
                        <td [hidden]="!ngayBatDau" class="text-truncate">
                            <span *ngIf="item.startTrackingDate">{{ item.startTrackingDate*1000 | date:'dd/MM/yyyy' }}</span>
                        </td>
                        <td [hidden]="!ngayDuKienKetQuaThau" class="text-truncate">
                            <span *ngIf="item.resultEstimatedDate">{{ item.resultEstimatedDate*1000 | date:'dd/MM/yyyy' }}</span>
                        </td>
                        <td [hidden]="!ngayNhanHoSoMoiThau" class="text-truncate">
                            <span *ngIf="item.submissionDate">{{ item.submissionDate*1000 | date:'dd/MM/yyyy' }}</span>
                        </td>
                        <td [hidden]="!ngayKhoiCongDuAn" class="text-truncate">
                            <span *ngIf="item.projectEstimatedStartDate">{{ item.projectEstimatedStartDate*1000 |date:'dd/MM/yyyy' }}</span>
                        </td>
                        <td [hidden]="!ngayKetThucDuAn" class="text-truncate">
                            <span *ngIf=" item.projectEstimatedEndDate">{{ item.projectEstimatedEndDate*1000 | date:'dd/MM/yyyy' }}</span>
                        </td>
                        <td [hidden]="!hangMucCongTrinh" class="text-truncate">{{ item.mainBuildingCategory?.value }}</td>
                        <td [hidden]="!diaDiem" class="text-truncate">{{ item.place }}</td>
                        <td [hidden]="!moTa" class="text-truncate">{{ item.description }}</td>
                        <td [hidden]="!danhGiaDuAn" class="text-truncate">{{ item.evaluation }}</td>
                        <td style="max-width: 100px!important;" type="check-action">
                            <div class="d-flex justify-content-center">
                                <div>
                                    <a *ngIf="isViewBidOpportunityDetail" [routerLink]="['/package/detail',item.bidOpportunityId]">
                                        <i class="fa fa-eye text-warning" aria-hidden="true"></i>
                                    </a>
                                    <a *ngIf="isEditBidOpportunity" [routerLink]="['/package/detail',item.bidOpportunityId,'edit']" class=" text-success ml-3">
                                        <i class="fa fa-pencil cursor-pointer" aria-hidden="true"> </i>
                                    </a>
                                    <a *ngIf="isDeleteBidOpportunity" class=" text-dark ml-3">
                                        <i (click)="delete(item.bidOpportunityId)" class="fa fa-trash-o" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="center-parent" *ngIf="!pagedResult.items || pagedResult.items.length === 0">Không có dữ liệu</div>
        </div>

        <app-pagination [(pagedResult)]="pagedResult" (pagedResultChange)="pagedResultChange($event)"></app-pagination>
    </div>

</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.7)" size="medium" color="#fff" type="ball-clip-rotate-multiple"></ngx-spinner>