.zui-table thead th{
    background-color: #34a5e4;
}

.select-year--width{
    width: 122px;
}

.parent-percent{
    position: relative;
    .cus-input{
        padding-right: 25px !important;
    }
    .span-percent{
        position: absolute;
        right: 12px;
        top: 2px;
    }
}

.manipulation{
    .year-min-width{
        min-width: 150px
    }
}