<div class="px-3">
  <div class="menu">
    <h5 class="d-inline mb-0 mr-auto text-dark text-uppercase font-weight-bold">chỉ tiêu kpi loại công trình </h5>
  </div>
  <div class="pt-3">
    <div class="card p-3">
      <div class="row manipulation">
        <div class="col-md-3 d-flex">
          <ng-container *ngIf="!(paramAction === 'view' && listYearConfigured && listYearConfigured.length === 0)">
            <div class="font-weight-bold required year--pad-top">Năm:&nbsp;</div>&nbsp;&nbsp;
            <div>
              <div class="custom-dropdown">
                <select class="form-control select-year--width" [(ngModel)]="yearkpi" (change)="changeYearTargetFuc()"
                  [class.is-invalid]="isSubmitCreate && (!yearkpi || yearkpi === 'null')">
                  <option value="null" *ngIf="paramAction === 'create'">--Lựa chọn--</option>
                  <ng-container *ngIf="paramAction === 'view'">
                    <option [value]="itemYearConfigured" *ngFor="let itemYearConfigured of listYearConfigured">{{itemYearConfigured}}</option>
                  </ng-container>
                  <ng-container *ngIf="paramAction === 'edit' || paramAction === 'create'">
                    <option [value]="itemYearNotConfigured" *ngFor="let itemYearNotConfigured of listYearNotConfigred">{{itemYearNotConfigured}}</option>
                  </ng-container>
                </select>
              </div>
              <div class="year-validate" *ngIf="isSubmitCreate && (!yearkpi || yearkpi === 'null')">
                Trường này là bắt buộc nhập
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="(paramAction === 'view' && listYearConfigured && listYearConfigured.length === 0)">
            <div>
              Bạn chưa thiết lập chỉ tiêu KPI loại công trình cho bất kỳ năm nào, vui lòng chọn thêm mới chỉ tiêu
            </div>
          </ng-container>

        </div>
        <div class="col-md-6 total-target--pad-top">
          <span class="font-weight-bold">Tổng chỉ tiêu:&nbsp;</span>
          <span>{{ constructionTypeForm?.get('targetTotal').value ? (constructionTypeForm?.get('targetTotal')?.value |
            truncateDecimal) : '0.00'}}</span>
        </div>
        <div class="text-right col-md-3">
          <ng-container *ngIf="paramAction === 'view'">
            <button class="btn btn-secondary" type="button" [routerLink]="['../type-construction']" [queryParams]="{action:'edit'}">Sửa
            </button>
            <button type="submit" class="btn btn-primary ml-1" [routerLink]="['../type-construction']" [queryParams]="{action:'create'}"
              (click)="createConstructionType()">Thêm
              mới chỉ tiêu
            </button>
          </ng-container>
          <ng-container *ngIf="paramAction === 'edit' || paramAction === 'create'">
            <button class="btn btn-secondary" type="button" (click)="cancel()">Hủy
            </button>
            <button type="submit" class="btn btn-primary ml-1" (click)="createOrEditConstructionType()">Lưu
            </button>
          </ng-container>
        </div>
      </div>
      <div class="row pt-2">
        <div class="col-md-12">
          <form [formGroup]="constructionTypeForm" novalidate class="pt-3" *ngIf="constructionTypeForm">
            <table class="zui-table table table-striped table-hover mt-1">
              <thead>
                <tr>
                  <th class="font-weight-bold">Loại công trình</th>
                  <th class="text-right font-weight-bold">Tổng giá trị</th>
                  <th class="text-right font-weight-bold">Tỷ lệ cần đạt (%)</th>
                  <th class="text-right font-weight-bold">Giá trị cần đạt (VND)</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngIf="typeBuilddFA">
                  <ng-container formArrayName="typeBuild">
                    <tr *ngFor="let itemtypeBuild of typeBuilddFA.controls; let i = index" [formGroupName]="i">
                      <td>{{itemtypeBuild?.get('constructionTypeName').value}}</td>

                      <ng-container *ngIf="paramAction === 'view'">
                        <td class="text-right">{{ itemtypeBuild?.get('totalAmount').value ?
                          (itemtypeBuild?.get('totalAmount').value
                          | truncateDecimal) : '0.00'}}</td>
                        <td class="text-right">{{ itemtypeBuild?.get('percent').value ?
                          (itemtypeBuild?.get('percent').value
                          | truncateDecimal) : '0.00'}} %</td>
                      </ng-container>
                      <ng-container *ngIf="paramAction === 'edit' || paramAction === 'create'">
                        <td class="text-right">
                          <input type="text" appInputThousandSeparate class="w-100 m-0 p-0 text-right" formControlName="totalAmount"
                            (input)="calculTargetTotalToChangeTotal(i)">
                        </td>
                        <td class="text-right">
                          <div class="parent-percent">
                            <input type="text" appInputThousandSeparate class="w-100 m-0 p-0 text-right cus-input"
                              formControlName="percent" (input)="calculTargetTotalToChangePercent(i)">
                            <span class="span-percent">%</span>
                          </div>
                        </td>
                      </ng-container>
                      <td class="text-right">{{ itemtypeBuild?.get('totalTargetAmount').value ?
                        (itemtypeBuild?.get('totalTargetAmount').value
                        | truncateDecimal) : '0.00'}}</td>
                    </tr>
                  </ng-container>
                </ng-container>
              </tbody>
            </table>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>