<div class="mt-4">
    <div class="d-flex form-group">
        <h5 class="d-inline mb-0 mr-auto text-dark text-uppercase">danh sách hạng mục thi công công trình</h5>
        <div class="btn-toolbar menu-search">
            <div class="input-group">
                <span class="input-group-addon">Tìm kiếm theo</span>
                <input type="text" class="form-control" placeholder="Từ khóa" (keyup)="searchTerm$.next($event.target.value)">
            </div>
            <button class="btn btn-primary ml-2" [routerLink]="['/settings/construction-category/create']">
                &nbsp;&nbsp; Thêm mới
            </button>
            <button class="btn btn-primary ml-2" (click)="deleteMultiple()">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <div>
        <!-- <kendo-grid [data]="pagedResult.items" [loading]="gridLoading" [selectable]="{enabled: true, mode: 'multiple', checkboxOnly: true}"
            [kendoGridSelectBy]="'id'" [selectedKeys]="mySelection" (selectedKeysChange)="onSelectedKeysChange($event)">
            <kendo-grid-checkbox-column [headerClass]="'custom-table-header'" width="40" showSelectAll="true">
            </kendo-grid-checkbox-column>
            <kendo-grid-column headerClass="custom-table-header" field="constructionCategoryName" title="Tên hạng mục">
            </kendo-grid-column>
            <kendo-grid-column headerClass="custom-table-header" field="constructionCategoryNo" title="Mã hạng mục">
            </kendo-grid-column>
            <kendo-grid-column headerClass="custom-table-header" field="constructionCategoryDesc" title="Mô tả">
            </kendo-grid-column>
            <kendo-grid-column headerClass="custom-table-header" title="Thao tác" width="150">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <a [routerLink]="['/settings/construction-category/edit',dataItem.id]" class=" text-success ml-3">
                        <i class="fa fa-pencil  cursor-pointer" aria-hidden="true"> </i>
                    </a>
                    <a class=" text-dark ml-3">
                        <i (click)="deleteConstructionCategory(dataItem.id)" class="fa fa-trash-o pointer" aria-hidden="true"></i>
                    </a>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-messages noRecords="Không có dữ liệu"></kendo-grid-messages>
        </kendo-grid> -->
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table-selection stripe hover">
            <thead>
                <tr style="width: 100%">
                    <th class="text-center set-width-checkbox">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input input-checkbox" [(ngModel)]="checkboxSeclectAll" (change)="onSelectAll($event.target.checked)">
                            <span class="custom-control-indicator"></span>
                        </label>
                    </th>
                    <th class="w-25">
                        <div class="d-flex justify-content-start">
                            <div style="margin-right: 10px">Tên hạng mục</div>
                        </div>
                    </th>
                    <th class="w-75">
                        <div class="d-flex justify-content-start">
                            <div style="margin-right: 10px">Mô tả</div>
                        </div>
                    </th>
                    <th class="text-center set-width-manipulation">
                        Thao tác
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of pagedResult.items">
                    <td class="text-center" style="width: 15px; padding-left: 7px;">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" [(ngModel)]="item.checkboxSelected">
                            <span class="custom-control-indicator"></span>
                        </label>
                    </td>
                    <td class="text-truncate">
                        {{item.constructionCategoryName}}
                    </td>
                    <td class="text-truncate">
                        {{item.constructionCategoryDesc}}
                    </td>
                    <td class="row">
                        <a [routerLink]="['/settings/construction-category/edit',item.id]" class=" text-success ml-3">
                            <i class="fa fa-pencil  cursor-pointer" aria-hidden="true"> </i>
                        </a>
                        <a class=" text-dark ml-3">
                            <i (click)="deleteConstructionCategory(item)" class="fa fa-trash-o pointer" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <app-pagination [(pagedResult)]="pagedResult" (pagedResultChange)="pagedResultChange($event)"></app-pagination>
    </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.7)" size="medium" color="#fff" type="ball-clip-rotate-multiple"></ngx-spinner>