<!-- <div class="boder-table mt-3">
    <div class="">
        <div class="media-header" style="text-align: right; padding-right: 1rem; margin-top: -0.75rem;">
            <span class="action-bar alignment-but">
                <button type="submit" class="btn btn-primary" [routerLink]="['/package/detail']">Lưu
                </button>
                <button type="submit" class="btn btn-secondary" [routerLink]="['/package/detail']">Hủy
                </button>
            </span>
        </div>
    </div>
    <div style="margin-top: -1rem;">
        <h5 class="mb-3 text-uppercase">Phân công người đảm nhận cho từng vị trí trong gói thầu</h5>
        <app-user-bid-group-member-form [listUser]="listUser" [type]="'bidusergroupmembers'"></app-user-bid-group-member-form>

    </div>
</div>

<div class="boder-table mt-3">
    <div class="">
        <div class="media-header" style="text-align: right; padding-right: 1rem; margin-top: -0.75rem;">
            <span class="action-bar alignment-but">
                <button type="submit" class="btn btn-primary" [routerLink]="['/package/detail']">Lưu
                </button>
                <button type="submit" class="btn btn-secondary" [routerLink]="['/package/detail']">Hủy
                </button>
            </span>
        </div>
    </div>
    <div style="margin-top: -1rem;">
        <h5 class="mb-3 text-uppercase">Các bên liên quan/ Stakeholders</h5>
        <app-user-bid-group-member-form [listUser]="listUser" [type]="'bidusergroupmembersofstakeholders'"></app-user-bid-group-member-form>
    </div>
</div> -->
<app-user-bid-group-member-form [listUser]="listUser" [type]="'bidusergroupmembers'"></app-user-bid-group-member-form>
<app-user-bid-group-member-form [listUser]="listUser" [type]="'bidusergroupmembersofstakeholders'"></app-user-bid-group-member-form>
