<div class="reports pl-3 w-100" id="reports-table">


  <ng-container>
    <div class="row menu">
      <div class="col-md-3">
        <h5 class="d-inline mb-0 mr-auto text-dark text-uppercase">danh sách nhóm </h5>
      </div>
      <div class="col-md-9">
        <div class="btn-toolbar pull-right menu" style="flex-wrap: nowrap;">
          <div class="input-group btn-rg">
            <span class="input-group-addon">Tìm kiếm</span>
            <input type="text" class="form-control icon" placeholder="&#xf002; Nhập tên, mô tả" (keyup)="searchTerm$.next($event.target.value)">
          </div>
          <button type="submit" class="btn btn-primary btn-rg but-with-80px pull-right ml-1" (click)="openModalCreate(edit)">
            Tạo mới
          </button>

          <button type="button" class="btn btn-primary btn-rg pull-right ml-1" (click)="refesh(true)">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="row-border cell-border dataTable pt-2">
        <thead>
          <tr>
            <th class="text-center text-uppercase font-weight-bold check-box--width">
              <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input input-checkbox" (change)="onSelectAll($event.target.checked)">
                <span class="custom-control-indicator"></span>
              </label>
            </th>
            <th class="font-weight-bold">Tên nhóm</th>
            <th class="font-weight-bold">Mô tả</th>
            <th class="font-weight-bold">Trạng thái</th>
            <th class="text-center font-weight-bold manipulation">Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center">
              <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input">
                <span class="custom-control-indicator"></span>
              </label>
            </td>
            <td>Tender HCM</td>
            <td>Mô tả nhóm</td>
            <td>Đã sử dụng</td>
            <td>
              <div class="center-parent w-100 h-100">
                <div class="col-md-6 center-parent cursor-pointer" (click)="openModalEdit(item.id, edit)">
                  <i [title]="'Sửa'" class="fa fa-pencil cursor-pointer" style="color: #1e7e34"></i>
                </div>
                <div class="col-md-6 center-parent cursor-pointer" (click)="delete(item.id)">
                  <i [title]="'Xóa'" class="fa fa-trash-o point cursor-pointer"></i>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
</div>