.title-detail {
    box-shadow: 0 16px 3px -12px #F5F5F5, 0 4px 25px 0 #F5F5F5, 0 8px 10px -5px #F5F5F5;
    height: 55px;
    position: fixed;
    background-color: #ffff;
    z-index: 50;
    width: 100%;
}

router-outlet{
    height: 100%;
}

.main-detail {
    height: 100%;
    margin: 15px 15px;
    min-height: 100px;
    padding-top: 20px;
    .menu {
        height: 45px;
        .action {
            background-color: #cceffc;
            color: #00a0e3;
            font-weight: 400;
            font-size: 130%;
            cursor: pointer;
            border-top-right-radius: 17px;
            outline: none;
            &:nth-child(1){
              //  margin-left: -25px;
              z-index: 5;
            }
            &:nth-child(2){
                margin-left: -28px;
            }
        }
        .action:hover {
            background-color: #00a0e3;
            color: #fff;
            font-size: 140%;
            font-weight: 400;
            box-shadow: 0 16px 38px -12px rgb(204, 202, 202), 0 4px 25px 0 rgb(204, 202, 202), 0 8px 10px -5px rgb(204, 202, 202),
        }
    }
}

.router-link-active {
    background-color: #00a0e3 !important;
    color: #fff !important;
    font-size: 140% !important;
    font-weight: 400 !important;
}

.un-active {
    background-color: #ebebeb !important;
    color: #7b7b7b !important;
}

.un-active:hover {
    background-color: #ebebeb !important;
    color: #7b7b7b !important;
    font-weight: 400 !important;
    font-size: 140% !important;
    box-shadow: none !important;
}

.header-title {
    padding: 0 15px;
}

@media only screen and (max-width: 3000px) {
    .cus-menu{
        width: calc(20% - 3px) !important;
    }
    .cus-menu-space{
        width: calc(60% - 3px) !important;
    }
}

@media only screen and (max-width: 1600px) {
    .cus-menu{
        width: calc(20% - 3px) !important;
    }
    .cus-menu-space{
        width: calc(60% - 3px) !important;
    }
}

@media only screen and (max-width: 1366px) {
    .cus-menu{
        width: calc(23% - 3px) !important;
    }
    .cus-menu-space{
        width: calc(54% - 3px) !important;
    }
}

@media only screen and (max-width: 1270px) {
    .menu {
        zoom: 0.9;
    }
    .cus-menu{
        width: calc(23% - 3px) !important;
    }
    .cus-menu-space{
        width: calc(54% - 3px) !important;
    }
}


@media only screen and (max-width: 1200px) {
    .menu {
        zoom: 0.85;
    }
    .cus-menu{
        width: calc(23% - 3px) !important;
    }
    .cus-menu-space{
        width: calc(54% - 3px) !important;
    }
}

@media only screen and (max-width: 1024px) {
    .menu {
        zoom: 0.8;
    }
    .cus-menu{
        width: calc(25% - 3px) !important;
    }
    .cus-menu-space{
        width: calc(50% - 3px) !important;
    }
}

@media only screen and (max-width: 1100px) {
    .menu {
        zoom: 0.87;
    }
    .cus-menu{
        width: calc(25% - 3px) !important;
    }
    .cus-menu-space{
        width: calc(50% - 3px) !important;
    }
}

@media only screen and (max-width: 993px) {
    .title-detail {
        width: 100% !important;
    }
    .cus-menu{
        width: calc(30% - 3px) !important;
    }
    .cus-menu-space{
        width: calc(40% - 3px) !important;
    }
}

:host {
    background-color: #f6f6f6;
    height: 100%;
}


