<kendo-dialog>
    <div *ngIf="groupCreate">
        <div class="custom-table-header d-flex justify-content-between padding-title">
            <div class="center-parent" style="font-size: 150% !important; padding-left: 15px">
                <span>Tạo mới nhóm</span>
            </div>
            <div class="col-md-1">
                <a class="close pull-right" (click)="closedPopup()">
                    <span class="point point-delete" aria-hidden="true">&times;</span>
                </a>
            </div>
        </div>
        <div class="col-md-12 col-sx-12 ">
            <div class="alert alert-danger mt-2 col-md-12" role="alert" *ngIf="isError">
                Tên nhóm đã tồn tại trọng hệ thống!
            </div>
        </div>
        <div class="modal-header no-boder-bottom-title">
            <div class="col-md-2 title-name required">
                Tên
            </div>
            <div class="col-md-10">
                <textarea class="content-textarea form-control" tabindex="46" name="" id="" cols="30" rows="1" [(ngModel)]="groupCreate.name" [ngClass]="{ 'is-invalid': submittedCreateGroup && !groupCreate.name }"></textarea>
                <div class="cus-validate" *ngIf="submittedCreateGroup && !groupCreate.name">Trường này là bắt buộc nhập</div>
            </div>
        </div>
        <div class="modal-header no-boder-bottom-title">
            <div class="col-md-2 title-name">
                Mô tả
            </div>
            <div class="col-md-10">
                <textarea class="content-textarea form-control" tabindex="47" name="" id="" cols="30" rows="1" [(ngModel)]="groupCreate.description"></textarea>
            </div>
        </div>
        <div class="modal-header no-boder-bottom">
            <div class="col-md-5 form-group">
                <div class="title-action" for="exampleFormControlSelect2">Danh sách chức năng</div>
                <select multiple class="form-control form-select" id="exampleFormControlSelect2" style="height: 150px;" (change)="selectEachFieldEditNotUser($event)">
                    <option [value]="notPrivilege.id" *ngFor="let notPrivilege of groupCreate.notPrivileges">
                        {{notPrivilege.text | translate}}
                    </option>
                </select>
            </div>
            <div class="col-md-2 group-button">
                <button type="button" class="btn btn-default btn-next mg-b-2" (click)="selectAllPrivilegesEditUse()">
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-default btn-next mg-b-2" (click)="changePrivilegesEditNotUse()">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-default btn-next mg-b-2" (click)="changePrivilegesEditUse()">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-default btn-next mg-b-2" (click)="selectAllPrivilegesEditNotUse()">
                    <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                </button>
            </div>
            <div class="col-md-5 form-group">
                <div class="title-action" for="exampleFormControlSelect2">Chức năng được sử dụng</div>
                <select multiple class="form-control form-select" id="exampleFormControlSelect2" (change)="selectEachFieldEditUser($event)">
                    <option [value]="privilege.id" *ngFor="let privilege of groupCreate.privileges">
                        {{privilege.text | translate}}
                    </option>
                </select>
            </div>
        </div>
        <div class="pd-b20 d-flex justify-content-end">
            <button type="submit" class="btn btn-primary w-80" (click)="submitForm();" style="margin-right: 8px" tabindex="48">Lưu</button>
            <button type="button" class="btn btn-default w-80" (click)="closedPopup()" style="margin-right: 15px" tabindex="49">Hủy</button>
        </div>

    </div>
</kendo-dialog>
