<div>
    <div class="p-3 position-relative">
        <div>
            <h5 class="text-uppercase">IX. Hình ảnh dự án (nếu có)</h5>
        </div>
        <div class="image-demo-img">
            <input type="file" accept="image/*" multiple (change)="uploadImageProject($event)" #uploadImage accept=".jpg, .jpeg">
            <ng-container *ngFor="let url of imageProjects; index as i">
                <div class="display-img" [ngClass]="{'border-none': routerAction == 'view'}" (click)="viewFullScreenImage(imageProjects, i)">
                    <img [src]="url.thumbSizeUrl">
                    <div class="icon-delete-image" [ngClass]="{'d-none': routerAction == 'view'}" (click)="deleteImage(url)">
                        <i class="fa fa-times delete-icon cursor-pointer" aria-hidden="true"></i>
                    </div>
                </div>
            </ng-container>
            <div class="perspective-image cursor-pointer" [ngClass]="{'d-none': routerAction == 'view'}" (click)="uploadImage.click()">
                <i class="fa fa-plus" aria-hidden="true"></i>
                <p>Image</p>
                <div id="uploadImageLoading"></div>
            </div>
        </div>
    </div>
    <div class="text-center mt-4">
        <button class="btn border" routerLink="../descion-board" (keyup)="routerLink($event, 'descion-board')">
            <i class="fa font-size-3 mr-3 fa-angle-left" aria-hidden="true"></i>
            Trở về
        </button>
        <button class="btn btn-primary ml-1 cursor-cancel" disabled>
            Tiếp
            <i class="fa font-size-3 ml-3 fa-angle-right" aria-hidden="true"></i>
        </button>
    </div>
</div>

<app-image-carousel class="d-flex justify-content-center align-items-center" *ngIf="showPopupViewImage"
    [(imageUrlArray)]="imageUrlArray" [(indexOfImage)]="indexOfImage" (closed)="closeView()"></app-image-carousel>
