<div class="wrapper px-5 pt-5" *ngIf="audits">

    <h3 class="mb-3 text-uppercase">thay đổi gần đây</h3>

    <div class="timeline__profile">
        <div class="timeline__profile--heading d-inline-block mb-4">
            <div class="timeline__heading--icon">
                <img src="assets/images/change-heading-icon.png" alt="">
            </div>
        </div>
        <ng-container *ngFor="let audit of audits; index as i">

            <div class="d-flex mb-3">
                <div class="mt-1">
                    <div class="timeline__heading--icon">
                        <img src="{{ renderDataChangeRecently(
                          audit?.bidActivityChangeAction?.key,
                          audit?.bidActivityChangeEntityType?.key,
                          audit?.bidOpportunity,
                          'iconImage'
                          ) }}">
                    </div>
                </div>
                <div class="d-flex ml-5">
                    <div class="mt-1 timeline__avatar--bdradius">
                        <img [src]="audit.changeEmployee && audit.changeEmployee.employeeAvatar ? audit.changeEmployee.employeeAvatar.thumbSizeUrl : 'assets/images/no-avatar.png'"
                            width="30" height="30">
                    </div>
                    <div class="pl-3 pr-2">
                        <p class="mb-1" [title]="audit.bidActivityChangeEntityName">
                            <strong>{{ audit?.changeEmployee?.employeeName }}</strong>
                            {{
                            renderDataChangeRecently(
                            audit?.bidActivityChangeAction?.key,
                            audit?.bidActivityChangeEntityType?.key,
                            audit?.bidOpportunity,
                            'text'
                            )
                            }}
                            <strong>{{ audit.bidActivityChangeEntityName }}</strong>
                        </p>
                        <p class="small text-muted">
                            <em>{{ (audit.bidActivityChangDate*1000 - 7*60*60*1000) | amCalendar }}</em>
                        </p>
                    </div>
                </div>
            </div>

        </ng-container>
    </div>
        <div class="position-relative infinite-scroll text-center mt-2 mb-4" *ngIf="showButton" (click)="onLoadMore()">
            <span *ngIf="!loading">Xem thêm</span>
            <ngx-loading [show]="loading"></ngx-loading>
        </div>
</div>