/* table pin col */
.zui-table {
    border: 1px solid #ededee;
    // border-right: solid 1px #DDEFEF;
    border-collapse: separate;
    border-spacing: 0;
    // font: normal 13px Arial, sans-serif;
}
.zui-table thead th {
    background-color: #f68e56;
    border: none;
    color: white;
    // padding: 12px 10px;
    white-space: nowrap;
}
.zui-table tbody td {
    color: #333;
    // white-space: nowrap;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.zui-wrapper {
    border: 1px solid #ededee;
    position: relative;
    height: calc(100vh - 298px);
    overflow-x: scroll;
    &::-webkit-scrollbar {
        width: 6px;
        height: 0px;
    }
    &::-webkit-scrollbar-thumb {
        background: #c1c1c1; 
    }
    .zui-table{
        border: none !important;
    }
    .zui-table tbody td {
        padding: 0 10px;
    }

}
.zui-scroller {
  //  margin-left: 40px;
    margin-right: 100px;
    overflow-x: scroll;
    overflow-y: visible;
    &::-webkit-scrollbar {
        height: 0px !important;
    }
    &::-webkit-scrollbar-thumb {
        background: #c1c1c1; 
    }
}
.zui-table {
    .zui-sticky-col {
        // border-left: solid 1px #DDEFEF;
        border-right: solid 1px #DDEFEF;
        left: 0;
        position: absolute;
        top: auto;
        width: 40px;
    }
    .zui-sticky-col-right {
        border-left: solid 1px #DDEFEF;
        // border-right: solid 1px #DDEFEF;
        right: 0;
        position: absolute;
        top: auto;
        width: 120px;
    }
}
.scrollbar-fake {
    height: 10px;
   // margin-left: 40px;
    margin-right: 105px;
    overflow: auto;
    &::-webkit-scrollbar {
        height: 10px!important;
    }
    &::-webkit-scrollbar-thumb {
        background: #c1c1c1!important; 
    }
    .scrollbar-fake-content {
        // width: 2512px;
        height: 10px!important;
    }
}

.odd, .table-striped tbody tr:nth-of-type(odd) {
    background-color: #fafbfc;
}

.table-hover tbody tr:hover {
    background-color: #f1f1f1 ;
}

.custom-checkbox--body-m {
    margin-left: 2px;
    margin-top: 14px;
}

.table-pin-col--height {
    td {
        height: 55px;
    }
}

.zui-table th, .zui-table td {
    border-top: none;
            vertical-align: middle;
        padding: 0.5rem 0.8rem;
}
/* table pin col */