<div [@routerTransition]>
    <app-create-package></app-create-package>

    <!-- <app-crm-chart></app-crm-chart>
    <div class="d-flex align-items-start">
        <div class="card w-50 mr-3">
            <div class="card-header header">
                <label class="btn btn-primary text-uppercase">Sự kiện</label>
            </div>

            <div *ngIf="eventTimeline?.length; else emptyEvents" class="card-body">
                <app-timeline [timelineOfDays]="eventTimeline"></app-timeline>
                <div class="text-center mt-4">
                    <a [routerLink]="['/activity']" class="font-weight-bold ">Xem tất cả</a>
                </div>
            </div>

        </div>

        <div class="card w-50  header">
            <div class="card-header">
                <label class="btn btn-primary text-uppercase">Công việc</label>
            </div>
            <div *ngIf="taskTimeline?.length; else emptyTasks" class="card-body">
                <app-timeline  [timelineOfDays]="taskTimeline"></app-timeline>
                <div class="text-center mt-4">
                        <a [routerLink]="['/activity']" class="font-weight-bold ">Xem tất cả</a>
                </div>
            </div>

        </div>

    </div> -->

</div>

<ng-template #emptyTasks>
    <div class="text-center card-body">
            Không có công việc nào !
    </div>
</ng-template>

<ng-template #emptyEvents>
        <div class="text-center card-body">
                Không có sự kiện nào !
        </div>
</ng-template>
