.list-group-item{
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    &:last-child{
        border-bottom: none;
    }
}

.header{
    label{
        cursor: default !important;

    }
}
