<div id="outer-table">
    <div class="table-small mt-3">
        <div id="header-table" class=" title-list-package d-flex flex-wrap align-items-start status-filter">
            <div class="status mr-auto d-flex align-items-end list-package mt-2 mb-2">
                <div class="d-flex justify-content-start" style="height: 40px;" id="res-header">
                    <div class="rule mr-2">
                    </div>
                    <div class="center-parent  mr-4" style="font-size: 16px">
                        <div>Danh sách bộ HSMT</div>
                    </div>
                    <div class="alert alert-danger alert-trim status-package center-parent">
                        <div>Đã có HSMT</div>
                    </div>
                </div>
            </div>
            <div class="search">

            </div>
        </div>
        <div id="main-content">
            <div id="toggle-menu" [class.menu-left]="isShowMenu" style="width: 237px;">
                <div class="d-flex">
                    <div id="toggle-menu-item" *ngIf="majorTypeListItem">
                        <ng-container *ngFor="let item of majorTypeListItem; let i = index">
                            <div class="toggle-menu-item" [title]="item.text" [class.hight-light]="!item.count && (currentMajorTypeId != item.id)" [class.active-menu]="(currentMajorTypeId == item.id)"
                                (click)="filterMajorTypeListItem(item.id, item.text)">
                                <span class="text-truncate">{{item?.text}}</span>
                            </div>
                            <div class="line" *ngIf="!(majorTypeListItem.length == i+1)" style="width: calc(100% - 10px); border-top: #ccecf9 solid 1px; height: 1px; border-left: 1px; margin-left: 10px;"></div>
                        </ng-container>
                    </div>
                    <div class="button-click mb-auto" (click)="toggleClick()">
                        <div class="iconButton iconN1"></div>
                        <div class="iconButton iconN2" style="margin: 3.5px 0;"></div>
                        <div class="iconButton iconN3"></div>
                    </div>
                    <!-- <ngx-loading [show]="loading"></ngx-loading> -->
                </div>

            </div>
            <div class="bot-table" [class.table-toggle-2]="isShowMenu" style="width: calc(100% - 255px);">
                <h5 class="text-uppercase">{{titleStr}}</h5>
                <div class="btn-toolbar mt-2 mb-2 d-flex justify-content-end ml-1">
                    <div class="input-group">
                        <span class="input-group-addon">Tìm kiếm theo</span>
                        <input type="text" class="form-control icon" placeholder="&#xf002; Tên tài liệu" (keyup)="search($event.target.value)">
                    </div>
                    <!-- <button class="btn btn-primary ml-1">
                            Tải xuống tài liệu
                        </button> -->
                    <ng-container *ngIf="UploadHSMT">
                        <div *ngIf="currentMajorTypeId == 1" class="btn-group ml-1" ngbDropdown>
                            <button type="button" class="btn btn-primary" ngbDropdownToggle data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Upload HSMT
                            </button>
                            <div class="dropdown-menu" ngbDropdownMenu>
                                <div class="fileUpload dropdown-item" (click)="openPopupUploadFile('2')">
                                    <a>Quyển HSMT</a>
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="fileUpload dropdown-item" (click)="openPopupUploadFile('3')">
                                    <a>Bản vẽ thuyết minh</a>
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="fileUpload dropdown-item" (click)="openPopupUploadFile('4')">
                                    <a>BOQ</a>
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="fileUpload dropdown-item" (click)="openPopupUploadFile('5')">
                                    <a>Tiêu chí kỹ thuật (Specs)</a>
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="fileUpload dropdown-item" (click)="openPopupUploadFile('6')">
                                    <a>Các báo cáo và các tài liệu kỹ thuật (KSDQ)</a>
                                </div>
                            </div>
                        </div>
                        <button *ngIf="currentMajorTypeId != 1" class="btn btn-primary ml-1" (click)="uploadHSMT()">
                            Upload HSMT
                        </button>
                    </ng-container>

                    <button class="btn btn-primary ml-1" (click)="refresh()">
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="d-flex flex-row flex-wrap filter-bar custom-filter-bar" style="background-color: #fafbfc">
                    <div class="d-flex form-inline ">
                        <div class="form-group ml-sm-2 p-1">
                            <label for="" class="form-label">Tình trạng</label>
                            <span class="custom-dropdown mx-sm-2">
                                <select class="form-control" [(ngModel)]="filterModel.status">
                                    <option value="">Tất cả</option>
                                    <option value="Official">Chính thức</option>
                                    <option value="Draft">Bản nháp</option>
                                </select>
                            </span>
                        </div>

                        <div class="form-group ml-sm-2 p-1">
                            <label for="" class="form-label">Ngày upload</label>
                            <div class="input-group calendarInput">
                                <!-- <owl-date-time [(ngModel)]="filterModel.createDate"  name="createDate"
                                     pickerType="calendar" >
                                </owl-date-time> -->
                                <input [placeholder]="datePickerConfig.datePlaceHolder" class="input-date-time input-date-time-bar" readonly [(ngModel)]="filterModel.createDate"
                                    [owlDateTimeTrigger]="dt" [owlDateTime]="dt">
                                <owl-date-time #dt pickerType="calendar"></owl-date-time>
                                <span [owlDateTimeTrigger]="dt" class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </div>

                        <div class="form-group ml-sm-2 p-1">
                            <label for="" class="form-label">Ngày nhận HSMT</label>
                            <div class="input-group calendarInput">
                                <!-- <owl-date-time [(ngModel)]="filterModel.receivedDate"  name="receivedDate"
                                     pickerType="calendar" >
                                </owl-date-time> -->
                                <input [placeholder]="datePickerConfig.datePlaceHolder" class="input-date-time input-date-time-bar" readonly [(ngModel)]="filterModel.receivedDate"
                                    [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1">
                                <owl-date-time #dt1 pickerType="calendar"></owl-date-time>
                                <span [owlDateTimeTrigger]="dt1" class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </div>
                        <div class="form-group ml-auto p-1">

                            <button type="submit" class="btn btn-primary ml-sm-2" (click)="filter()">
                                <i class="fa fa-filter" aria-hidden="true"></i>&nbsp; Lọc
                            </button>
                            <button class="btn btn-secondary ml-sm-2" (click)="clearFilter()">
                                <i class="fa fa-times"></i>&nbsp; Xóa lọc
                            </button>
                        </div>
                    </div>

                </div>

                <div class="table-responsive">
                    <!-- datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" table-selection -->
                    <table id="table-file-scroll" [hidden]="!showTable" class="zui-table row-border cell-border w-100">
                        <thead>
                            <tr>
                                <th type="check" class="stt" style="background-color: #f68e56!important;">
                                    <div class="d-flex justify-content-around">
                                        <div style="width: 35%;" class="center-parent">
                                            <div>STT</div>
                                        </div>
                                    </div>
                                </th>
                                <th style=" background-color: #f68e56!important;" [hidden]="currentMajorTypeId != 1">
                                    <div class="d-flex justify-content-center">
                                        <div class="center-parent" style="white-space: pre-line!important;">
                                            <div>Loại tài liệu</div>
                                        </div>
                                    </div>
                                </th>
                                <th style=" background-color: #f68e56!important;">
                                    <div class="d-flex justify-content-center">
                                        <div class="center-parent">
                                            <div>Tên tài liệu</div>
                                        </div>
                                    </div>
                                </th>
                                <th style="background-color: #f68e56!important;">
                                    <div class="d-flex justify-content-center">
                                        <div class="center-parent">
                                            <div>Phiên bản</div>
                                        </div>
                                    </div>
                                </th>
                                <th style="background-color: #f68e56!important;">
                                    <div class="d-flex justify-content-center">

                                        <div class="center-parent">
                                            <div>Mô tả</div>
                                        </div>

                                    </div>
                                </th>
                                <th class="th-mark-status set-width-status" style="background-color: #f68e56!important;">
                                    <div class="d-flex justify-content-center">
                                        <div style="width: 80%;" class="center-parent">
                                            <div>Tình trạng</div>
                                        </div>
                                    </div>
                                </th>
                                <th style=" background-color: #f68e56!important;">
                                    <div class="d-flex justify-content-center">

                                        <div class="center-parent">
                                            <div>Ngày upload</div>
                                        </div>

                                    </div>
                                </th>
                                <th style="background-color: #f68e56!important;">
                                    <div class="d-flex justify-content-center">

                                        <div class="center-parent">
                                            <div>Người upload</div>
                                        </div>

                                    </div>
                                    <th style="background-color: #f68e56!important;">
                                        <div class="d-flex justify-content-center">
                                            <div class="center-parent">
                                                <div>Ngày nhận</div>
                                            </div>
                                        </div>
                                    </th>
                                    <th class="table-action text-center" style="background-color: #f68e56!important;">
                                        Thao tác
                                    </th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let bidDocumentGroup of bidDocumentGroupListItemSearchResult; let i = index;">
                                <ng-container *ngFor="let item of bidDocumentGroup.items; let k = index;">
                                    <tr>
                                        <td type="check" class="  d-flex justify-content-around">
                                            <div class="d-flex justify-content-around">
                                                <div style="width: 35%;">
                                                    <label class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" [(ngModel)]="item.checkboxSelected">
                                                        <span class="custom-control-indicator"></span>
                                                    </label>
                                                </div>
                                                <div style="width: 35%;" class="center-parent">
                                                    <div>{{renderIndex(i , k)}}</div>
                                                </div>
                                            </div>
                                        </td>
                                        <td [hidden]="currentMajorTypeId != 1" valign="baseline" [attr.rowspan]="bidDocumentGroup.items.length" *ngIf="k == 0" class="td-group table-td__title--maxwidth table-td__title--minwidth">
                                            <div class="d-flex  document-type center-parent">
                                                <div style="width: calc(100% - 25px);"> {{ item.documentType }}</div>
                                                <div style="width: 25px;" (click)="uploadFileItem(item.documentType)" style="cursor: pointer" title="Upload tài liệu">
                                                    <img width="25" height="25" src="assets\images\document.png">
                                                </div>
                                            </div>

                                        </td>
                                        <td *ngIf="k != 0" style="display: none">

                                        </td>
                                        <td class="table-td__title--maxwidth" [title]="item.documentName" (click)="viewDetail(item)">
                                            <a href="javascript:;" class="text-truncate"> {{ item.documentName }}
                                            </a>
                                        </td>
                                        <td class="text-center">{{ item.version }}</td>
                                        <td class="">{{ item.desc }}</td>

                                        <td class="td-mark-status">
                                            <div class="d-flex justify-content-between">
                                                <div class="text-truncate text-right" [title]="item.status">
                                                    {{ item.status | translate }}
                                                </div>
                                                <div (click)="changeStatus(item.id, item.status, item.documentType)" [title]="item.status">
                                                    <i class="fa fa-check-square color-item-down" style="cursor: pointer;" aria-hidden="true" *ngIf="item.status === 'Official'"></i>
                                                    <i class="fa fa-check-square color-item-test" style="cursor: pointer;" aria-hidden="true" *ngIf="item.status === 'Draft'"></i>
                                                </div>
                                            </div>


                                        </td>

                                        <td class="text-center">{{ item.createdDate*1000 | date:'dd/MM/yyyy HH:mm': '+0000'}}
                                        </td>
                                        <td class="text-center">{{ item.uploadedBy?.employeeName }}</td>

                                        <td class="text-center">
                                            <span *ngIf="item.receivedDate">{{ item.receivedDate*1000 | date:'dd/MM/yyyy': '+0000' }}</span>
                                        </td>
                                        <td>
                                            <div class="d-flex justify-content-around">
                                                <ng-container *ngIf="DownloadFile">
                                                    <div *ngIf="!item.url" style="cursor: pointer;" title="Tải file" (click)="dowloadDocument(item.id)">
                                                        <a>
                                                            <i class="fa fa-download color-item-down" aria-hidden="true"></i>
                                                        </a>
                                                    </div>
                                                    <div style="cursor: pointer;" *ngIf="item.url">
                                                        <a [href]="item.url" target="_blank">
                                                            <i class="fa fa-external-link color-item-down" aria-hidden="true"></i>
                                                        </a>
                                                    </div>
                                                </ng-container>

                                                <ng-container *ngIf="XoaFile">
                                                    <div *ngIf="!item.isApproved" (click)="deleteDocument(item.id)" style="cursor: pointer;" title="Xóa">
                                                        <a class="text-success ml-3">
                                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                        </a>
                                                    </div>
                                                </ng-container>

                                            </div>
                                        </td>
                                    </tr>
                                </ng-container>

                            </ng-container>
                            <tr *ngIf="tableEmpty">
                                <td colspan="8">Không có dữ liệu</td>
                            </tr>
                        </tbody>
                    </table>

                </div>

                <div>
                    <div style="margin-top: 15px" *ngIf="showTable">
                        <span>Hiển thị</span>
                        <span class="font-weight-bold">&nbsp;{{sum}}&nbsp;</span>
                        <span>kết quả
                        </span>
                    </div>
                    <div style="margin-top: 15px" class="center-parent" *ngIf="!showTable">
                        <div>
                            Không có dữ liệu!
                        </div>
                    </div>
                </div>

            </div>
        </div>



    </div>

    <!-- <ngx-spinner bdColor="rgba(51, 51, 51, 0.7)" size = "default" color="#fff" type="ball-scale"></ngx-spinner> -->
    <app-detail-upload-file [model]="currentItem" [downloadFile]="DownloadFile" [currentMajorType]="currentMajorTypeText" *ngIf="showPopupDetail" (closed)="closePopupDetail($event)"></app-detail-upload-file>
    <app-upload-file [typeFile]="typeFileUpload" [majorTypeId]="1" [packageId]="packageId" *ngIf="showPopupAdd" (closed)="closePopup($event)"></app-upload-file>