<div [@routerTransition]>

    <div class="mr-auto d-flex align-items-end list-package mb-2 d-flex justify-content-between" *ngIf="statusPackage.id === checkStatusPackage.DaNopHSDT.id">
        <div class="d-flex justify-content-start pl-5">
            <div class="rule mr-2">
            </div>
            <div class="center-parent  mr-4 title-status--size">
                <div> Đã nộp hồ sơ dự thầu</div>
            </div>
        </div>
        <div>
            <div class="btn-toolbar">
                <button class="btn btn-primary ml-1" (click)="refeshSubmittedHSDT()">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="mr-auto d-flex align-items-end list-package mb-2 d-flex justify-content-between" *ngIf="statusPackage.id === checkStatusPackage.DaNhanLoiMoi.id">
        <div class="d-flex justify-content-start pl-5">
            <div class="rule mr-2">
            </div>
            <div class="center-parent  mr-4 title-status--size">
                <div> Đã nhận lời mời phỏng vấn</div>
            </div>
        </div>
        <div>
            <div class="btn-toolbar">

                <ng-container *ngIf="TaoMoiLMPV">
                    <button class="btn btn-primary ml-1" (click)="createInvitation()">
                        Tạo lời mời phỏng vấn
                    </button>
                </ng-container>
                <ng-container *ngIf="ThongBaoPV">
                    <button class="btn btn-primary ml-1" (click)="noticeInterview()">
                        Thông báo phỏng vấn
                    </button>
                </ng-container>


                <button class="btn btn-primary ml-1" (click)="refreshCreateInterview()">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="mr-auto d-flex align-items-end list-package mb-2 d-flex justify-content-between" *ngIf="statusPackage.id === checkStatusPackage.ChuanBiPhongVan.id">
        <div class="d-flex justify-content-start pl-5">
            <div class="rule mr-2">
            </div>
            <div class="center-parent  mr-4 title-status--size">
                <div> Chuẩn bị phỏng vấn</div>
            </div>
        </div>
        <div>
            <div class="btn-toolbar">
                <ng-container *ngIf="ChotCongTacChuanBiPhongVan">
                    <button class="btn btn-primary ml-1" (click)="approvedInterviewPreparation()">
                        Chốt công tác chuẩn bị phỏng vấn
                    </button>
                </ng-container>

                <button class="btn btn-primary ml-1" (click)="refreshPrepareInterview()">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="mr-auto d-flex align-items-end list-package mb-2 d-flex justify-content-between" *ngIf="statusPackage.id === checkStatusPackage.DaChotCongTacChuanBiPhongVan.id">
        <div class="d-flex justify-content-start pl-5">
            <div class="rule mr-2">
            </div>
            <div class="center-parent  mr-4 title-status--size">
                <div> Đã chốt công tác chuẩn bị phỏng vấn</div>
            </div>
        </div>
    </div>
    <div class="mr-auto d-flex align-items-end list-package mb-2 d-flex justify-content-between" *ngIf="statusPackage.id >= checkStatusPackage.DaPhongVan.id">
        <div class="d-flex justify-content-start pl-5">
            <div class="rule mr-2">
            </div>
            <div class="center-parent  mr-4 title-status--size">
                <div> Đã phỏng vấn</div>
            </div>
        </div>
        <div>
            <div class="btn-toolbar">
                <ng-container *ngIf="UploadBBPV">
                    <button class="btn btn-primary ml-1" (click)="uploadReportInterview()">
                        Upload biên bản
                    </button>
                </ng-container>
                <ng-container *ngIf="HieuChinhHSDT">
                    <button class="btn btn-primary ml-1" (click)="correctionHSDT()">
                        Hiệu chỉnh HSDT
                    </button>
                </ng-container>


                <!-- <button class="btn btn-primary ml-1" (click)="downloadTemplateEnd()">
                    Tải template
                </button> -->
                <ng-container *ngIf="DongPV">
                    <button class="btn btn-primary ml-1" (click)="closeInterview()" [disabled]="statusPackage.id > checkStatusPackage.DaPhongVan.id"
                        [class.but-close--not-allow]="statusPackage.id > checkStatusPackage.DaPhongVan.id">
                        Đóng phỏng vấn
                    </button>
                </ng-container>

                <button class="btn btn-primary ml-1" (click)="refreshEndInterview()">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="d-flex">
        <div class="set-width-menu-left d-flex menu--width">
            <div class="nav flex-column nav-pills cus-menu" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <div [routerLink]="statusPackage.id >= checkStatusPackage.DaNopHSDT.id ? ['./create'] : []" class="nav-link active d-flex cus-menu-children px-2"
                    id="v-pills-home-tab" data-toggle="pill" role="tab" aria-controls="v-pills-home" aria-selected="true"
                    [class.back]="(statusPackage.id >= checkStatusPackage.DaNopHSDT.id) && (urlCurrent !== 'create')"
                    [class.active]="urlCurrent === 'create'">
                    <div class="center-parent number">1</div>
                    <div class="word">Tender Clarification Meeting (TCM)</div>
                </div>
                <div class="center-parent div-menu" [class.div-menu-active]="statusPackage.id >= checkStatusPackage.ChuanBiPhongVan.id">
                    <div class="border-top"></div>
                </div>
                <div [routerLink]="statusPackage.id >= checkStatusPackage.ChuanBiPhongVan.id ? ['./prepare'] : []"
                    class="nav-link d-flex cus-menu-children px-2" id="v-pills-profile-tab" data-toggle="pill" role="tab"
                    aria-controls="v-pills-profile" aria-selected="false" [class.no-active]="statusPackage.id < checkStatusPackage.ChuanBiPhongVan.id"
                    [class.back]="(statusPackage.id >= checkStatusPackage.ChuanBiPhongVan.id) && (urlCurrent !== 'prepare')"
                    [class.active]="urlCurrent === 'prepare'">
                    <div class="center-parent number">2</div>
                    <div class="word">
                        <span>Quản lý tổ chức phỏng vấn</span>
                    </div>
                </div>
                <div class="center-parent div-menu" [class.div-menu-active]="statusPackage.id >= checkStatusPackage.DaChotCongTacChuanBiPhongVan.id">
                    <div class="border-top"></div>
                </div>
                <div [routerLink]="statusPackage.id >= checkStatusPackage.DaChotCongTacChuanBiPhongVan.id ? ['./end'] : []"
                    class="nav-link d-flex cus-menu-children px-2" id="v-pills-messages-tab" data-toggle="pill" role="tab"
                    aria-controls="v-pills-messages" aria-selected="false" [class.no-active]="statusPackage.id < checkStatusPackage.DaChotCongTacChuanBiPhongVan.id"
                    [class.back]="(statusPackage.id >= checkStatusPackage.DaChotCongTacChuanBiPhongVan.id) && (urlCurrent !== 'end')"
                    [class.active]="urlCurrent === 'end'">
                    <div class="center-parent number">3</div>
                    <div class="word">Biên bản phỏng vấn thầu</div>
                </div>
            </div>
        </div>
        <div class="content--width">
            <router-outlet></router-outlet>
        </div>
    </div>
    <ngx-spinner bdColor="rgba(51, 51, 51, 0.7)" size="default" color="#fff" type="ball-scale"></ngx-spinner>

</div>
