<!-- <div [@routerTransition]>
    <app-package-form *ngIf="package$ | async as package" [package]="PackageModel"></app-package-form>
</div> -->

<!-- <div class="search-box d-flex">
  <div class="mr-auto col-md-12">
    <div class="media-header">
      <a [routerLink]='["/activity"]'>
        <i class="fa fa-chevron-left mr-3" aria-hidden="true"></i>
      </a>
      <h4 class="d-inline mb-0 text-dark">CHI TIẾT GÓI THẦU "CUNG CẤP VẬT TƯ CHO DỰ ÁN SKILL"</h4>
    </div>
  </div>
</div>
<hr>
<div class="d-flex flex-row set-heigt-div row">
  <div class="col-md-3" style="padding-left: 1px; padding-right: 1px">
    <div class="p-2 color-menu" [routerLinkActive]="['router-link-active']" [routerLink]="['/package']">
      <div class="pad-content">
        <a style="font-size: 20px; padding-left: 30px; padding-right: 30px;">THÔNG TIN CHI TIẾT</a>
      </div>
    </div>
  </div>
  <div class="col-md-3" style="padding-left: 1px; padding-right: 1px">
    <div class="p-2 color-menu ">
      <div class="pad-content">
        <a [routerLinkActive]="['router-link-active']" [routerLink]="['/dashboard']" style="font-size: 20px; padding-left: 30px;
        padding-right: 30px;">HỒ SƠ MỜI THẦU</a>
      </div>
    </div>
  </div>
  <div class="col-md-3" style="padding-left: 1px; padding-right: 1px">
    <div class="p-2 color-menu">
      <div class="pad-content">
        <a [routerLinkActive]="['router-link-active']" [routerLink]="['/dashboard']" style="font-size: 20px; padding-left: 30px;
        padding-right: 30px;">HỒ SƠ DỰ THẦU</a>
      </div>
    </div>
  </div>
  <div class="col-md-3" style="padding-left: 1px; padding-right: 1px">
    <div class="p-2 color-menu">
      <div class="pad-content">
        <a [routerLinkActive]="['router-link-active']" [routerLink]="['/dashboard']" style="font-size: 20px; padding-left: 30px;
        padding-right: 30px;">KẾT QUẢ DỰ THẦU</a>
      </div>
    </div>
  </div>
</div>
<hr> -->
