<div class="example-wrapper">
    <kendo-dialog (close)="close('cancel')" [width]="700" class="width-kendo-dialog">
        <div class="d-flex">
            <div class="w-100  mr-auto">
                <div>
                    <div class="body cus-header" id="info-main">

                        <table class="w-100 table">

                            <tbody>
                                <tr *ngIf="model.url">
                                    <td class="w-30 label no-boder bold-title">Đường dẫn link</td>
                                    <td class="w-70 no-boder">
                                        <a class="color-link color-link" target="_blank" [href]="model?.url">{{
                                            model?.url }}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-30 label no-boder bold-title">Loại HSMT</td>
                                    <td class="no-boder d-flex">
                                        {{model?.documentType}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-30 label no-boder bold-title required">Tên</td>
                                    <td class="w-70 no-boder">
                                        <span>
                                            {{model?.documentName}}

                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-30 label no-boder bold-title">Phiên bản</td>
                                    <td class="w-70 no-boder">
                                        {{model?.version}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-30 label no-boder bold-title">Ngày nhận HSMT</td>
                                    <td class="no-boder d-flex">
                                        <span *ngIf="model.receivedDate">{{model?.receivedDate*1000 | date:'dd/MM/yyyy
                                            HH:mm': '+0000'}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-30 label no-boder bold-title">Mô tả/Nội dung cập nhật</td>
                                    <td class="w-70 no-boder">
                                        {{model?.desc}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="action-bar alignment-but center-parent">
                    <!-- <button type="submit" class="btn btn-primary ml-2 cus-but-cs">Upload
                    </button> -->
                    <button class="btn btn-primary" *ngIf="!model.url" (click)="dowloadDocument(model.id)">
                        Tải File &nbsp; &nbsp; <i class="fa fa-download icon-download" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-secondary ml-2 cus-but-cs" (click)="close()">Hủy
                    </button>
                </div>
            </div>
        </div>
    </kendo-dialog>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.7)" size="medium" color="#fff" type="ball-clip-rotate-multiple"></ngx-spinner>
