:host() {
    width: 100%;
}

.w-10 {
    width: 10%;
}

.label-index {
    position: relative;
    top: -4px;
}

.table-layout--fixed {
    table-layout: fixed
}

.image-empty {
    width: 80px;
}

.link-effect {
    color: #0e86b7 !important;
}


.whitespace-normal {
    white-space: normal;
}

.table-layout--fixed {
    table-layout: fixed
}

.table-layout--minwidth {
    min-width: 1050px;
}

.overflow-scroll {
    overflow: auto;
}

.flex-grow-1 {
    flex-grow: 1;
}
.table-layout--fixed{
    table-layout: fixed
}