<form [formGroup]="nonminateForm">
    <div class="p-3">
        <h5 class="text-uppercase font-weight-bold">IV. danh sách các nhà thầu phụ được chỉ định (list of nonminated sub-contractors)</h5>
        <div formArrayName="packageWork">
            <div *ngFor="let fControl of packageWorkFA.controls; let i = index" [formGroupName]="i">
                <div class="row mt-3">
                    <div class="col-md-3 text-nowrap">{{i + 1}}.<span class="ml-3">Gói công việc {{i + 1}}</span><i class="fa fa-plus-square-o ml-3 pointer"
                            aria-hidden="true" (click)="addFormArrayControl('packageWork')" *ngIf="(i + 1) === packageWorkFA.length"></i></div>
                    <div class="col-md-8">
                        <input class="form-control" formControlName="tenGoiCongViec" placeholder="Tên gói công việc {{i + 1}}">
                    </div>
                    <div class="col-md-1 pl-0" *ngIf="i !== 0"><i (click)="removeFormArrayControl('packageWork', i)" class="fa fa-times-circle pointer" style="color: #c0c0c0; font-size: 1.2rem" aria-hidden="true"></i></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-3"></div>
                    <div class="col-md-8">
                        <textarea formControlName="ghiChuThem" placeholder="Ghi chú thêm về gói công việc hoặc diễn giải chi tiết {{i + 1}}" class="form-control"></textarea>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-3"></div>
                    <div class="col-md-8">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text">Thành tiền (nếu có)</span>
                            </div>
                            <input type="text" appInputMoney formControlName="thanhTien" class="form-control" placeholder="Số tiền">
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-4">
                <button class="btn border" routerLink="../scope">
                    <i class="fa font-size-3 mr-3 fa-angle-left" aria-hidden="true"></i>
                    Trở về
                </button>
                <button class="btn btn-primary ml-1" routerLink="../main-material">
                    Tiếp
                    <i class="fa font-size-3 ml-3 fa-angle-right" aria-hidden="true"></i>
                </button>
            </div>
    </div>
</form>
