.layout-table{
    table-layout: fixed;
}
.cus-but{
    float: right;
}
.textarea-content{
    resize: none;
    width: 88%;
}
.boder-table{
    border: 1px solid #dadada;
    padding: 20px 15px 35px 15px;
}
.no-boder{
    border: none;
}
.form-control{
    min-height: 33px;
}
.boder-table {
    border: 1px solid #ebebeb;
   // padding-bottom: 35px;
    border-radius: 4px;
    box-shadow: 0 0 10px 3px #f1f1f1;
    // height: 1009px;
}

.table-body {
    padding: 20px 25px;
    padding-bottom: 0px;
}

.btn-rg {
    margin-right: 4px;
}

.text-head-user {
    text-transform: uppercase;
    color: #00a0e3;
    // color: #001124;
    font-size: 700;
    font-weight: bold;
}
.w-80 {
    width: 80px;
}
.hide-popup{
    opacity: 0.5 !important;
}
.light{
    opacity: 1;
    z-index: 30;
}
.body-account {
    font-weight: bold;
    padding: 0px 30px;
    .account-content {
        padding: 20px 0px 40px 0px;
    }
    .text-accout {
        text-transform: uppercase;
        font-weight: bold;
        padding: 10px 0;
    }
}
$font-size:13px;
$theme-color: #00a0e3;
.checkbox {
    padding-top:5px;
    position: relative;
    display: block;

    input {
      opacity: 0;
      position: absolute;
      z-index: 1;
      cursor: pointer;
      margin-left: 20px;

      &:checked {
        + label {
                  &::before {
            border-color: $theme-color;
          }
          &::after {
            content: '';
            display: inline-block;
            position: absolute;
            width: 13px;
            height: 13px;
            left: 2px;
            top: 4px;
            margin-left: 20px;
            border: 1px solid $theme-color;
            border-radius: 50%;
            background-color: $theme-color;
          }
        }
      }
    }

    label {
      display: inline-block;
      position: relative;
      padding: 4px 0px 0px 40px;

      &::before {
        content: '';
        display: inline-block;
        position: absolute;
        width: 17px;
        height: 17px;
        left: 0;
        top: 2px;
        margin-left:20px;
        border: 1px solid black;
        border-radius: 50%;
        background-color: #fff;
      }
    }
}

.checkbox {
    input {
      &:checked {
        + label {
                  &::before {
            border-color: $theme-color;
            background-color: $theme-color;
          }
          &::after {
            content: "\f00c";
            font-family: FontAwesome;
                      font-size: $font-size;
            color: #fff;
            top: 0;
            left: 1px;
            border-color: transparent;
            background-color: transparent;
          }
        }
      }
    }
    label {
      &::before {
        border-radius: 2px;
      }
    }
  }
  .form-input {
    border: 1px solid #00a0e3;
    border-radius: 4px;
  }
  .w-100 {
      width: 100%;
  }

  .is-invalid {
    border: 1px solid red!important;
  }
.color-page{
  background-color: white;
}
.color-title{
  color: #0f2231;
}
.pointer{
  cursor: pointer;
}
.checkbox[_ngcontent-c11] input[_ngcontent-c11]:checked + label[_ngcontent-c11]::before {
  background-color: #03c109 !important;
  border-color: 0.5px solid #03c109 !important;
  top: -3px;
    margin-left: 0;
}
.checkbox[_ngcontent-c11] label[_ngcontent-c11]::before {
  border: 1px solid #ced4da;
}
#optinosCheckbox1, #labelcheckbox{
  margin-left: 0px!important;
}
.checkbox[_ngcontent-c11] input[_ngcontent-c11]{
  margin-left: 0px!important;

}
.padding-table{
  padding-top: 15px;
}
.no-boder{
  border: none;
}
.margin-bottom-table{
  margin-bottom: 9px!important;
}
.content-textarea{
  height: auto;
  resize: none;
}
.padding-title{
  padding: 4px 0px 6px 0px;
}
.close {
  outline: none;
font-size: 1.8rem !important;
opacity: 1!important;
// padding-top: 10px!important;
&:hover{
    font-size: 2rem;
}
}
.no-boder-bottom-title{
  border-bottom: none;
  padding: 20px 0px 0px 0px;
}
.title-action {
  background-color: #00a0e3 !important;
  color: #fff !important;
  font-size: 120% !important;
  font-weight: 700!important;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
}
.no-boder-bottom {
  border-bottom: none;
  padding: 30px 0px 30px 0px;
}
.group-button {
  padding: 40px 0px 0px 30px;
}
.btn-next {
  background: #fff;
  border: 1px solid #dadee3;
  width: 50px;
  height: 25px;
  line-height: 10px;
}
.form-select {
  height: 150px;
  border-radius: 0!important;
}
.point-delete{
  color: #eeeeee;
  outline: none;
}
.point{
  cursor: pointer;
  outline: none;
 // background-color: #fff;
  //color: #fff;
}
.required:after {
  content: "*";
  color: red;
  font-style: italic;
}
.pd-b20 {
  padding-bottom: 20px;
}
.title-name{
  font-size: 120%;
  font-weight: bold;
}
.mg-b-2 {
  margin-bottom: 4px;
}
.cus-validate{
  display: block !important;
  font-size: 90%;
  color: #dc3545;
}
.boder-table {
    border: 1px solid #ebebeb;
   // padding-bottom: 35px;
    border-radius: 4px;
    box-shadow: 0 0 10px 3px #f1f1f1;
    // height: 1009px;
}

.table-body {
    padding: 20px 25px;
    padding-bottom: 0px;
}

.btn-rg {
    margin-right: 4px;
}

.text-head-user {
    text-transform: uppercase;
    color: #00a0e3;
    // color: #001124;
    font-size: 700;
    font-weight: bold;
}
.w-80 {
    width: 80px;
}
.body-account {
    font-weight: bold;
    padding: 0px 30px;
    .account-content {
        padding: 20px 0px 40px 0px;
    }
    .text-accout {
        text-transform: uppercase;
        font-weight: bold;
        padding: 10px 0;
    }
}
$font-size:13px;
$theme-color: #00a0e3;
.checkbox {
    padding-top:5px;
    position: relative;
    display: block;

    input {
      opacity: 0;
      position: absolute;
      z-index: 1;
      cursor: pointer;
      margin-left: 20px;

      &:checked {
        + label {
                  &::before {
            border-color: $theme-color;
          }
          &::after {
            content: '';
            display: inline-block;
            position: absolute;
            width: 13px;
            height: 13px;
            left: 2px;
            top: 4px;
            margin-left: 20px;
            border: 1px solid $theme-color;
            border-radius: 50%;
            background-color: $theme-color;
          }
        }
      }
    }

    label {
      display: inline-block;
      position: relative;
      padding: 4px 0px 0px 40px;

      &::before {
        content: '';
        display: inline-block;
        position: absolute;
        width: 17px;
        height: 17px;
        left: 0;
        top: 2px;
        margin-left:20px;
        border: 1px solid black;
        border-radius: 50%;
        background-color: #fff;
      }
    }
}

.checkbox {
    input {
      &:checked {
        + label {
                  &::before {
            border-color: $theme-color;
            background-color: $theme-color;
          }
          &::after {
            content: "\f00c";
            font-family: FontAwesome;
                      font-size: $font-size;
            color: #fff;
            top: 0;
            left: 1px;
            border-color: transparent;
            background-color: transparent;
          }
        }
      }
    }
    label {
      &::before {
        border-radius: 2px;
      }
    }
  }
  .form-input {
    border: 1px solid #00a0e3;
    border-radius: 4px;
  }
  .w-100 {
      width: 100%;
  }

  .is-invalid {
    border: 1px solid red!important;
  }
.color-page{
  background-color: white;
}
.color-title{
  color: #0f2231;
}
.pointer{
  cursor: pointer;
}
.checkbox[_ngcontent-c11] input[_ngcontent-c11]:checked + label[_ngcontent-c11]::before {
  background-color: #03c109 !important;
  border-color: 0.5px solid #03c109 !important;
  top: -3px;
    margin-left: 0;
}
.checkbox[_ngcontent-c11] label[_ngcontent-c11]::before {
  border: 1px solid #ced4da;
}
#optinosCheckbox1, #labelcheckbox{
  margin-left: 0px!important;
}
.checkbox[_ngcontent-c11] input[_ngcontent-c11]{
  margin-left: 0px!important;

}
.padding-table{
  padding-top: 15px;
}
.no-boder{
  border: none;
}
.margin-bottom-table{
  margin-bottom: 9px!important;
}
.content-textarea{
  height: auto;
  resize: none;
}
.padding-title{
  padding: 4px 0px 6px 0px;
}
.close {
  outline: none;
font-size: 1.8rem !important;
opacity: 1!important;
// padding-top: 10px!important;
&:hover{
    font-size: 2rem;
}
}
.no-boder-bottom-title{
  border-bottom: none;
  padding: 20px 0px 0px 0px;
}
.title-action {
  background-color: #00a0e3 !important;
  color: #fff !important;
  font-size: 120% !important;
  font-weight: 700!important;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
}
.no-boder-bottom {
  border-bottom: none;
  padding: 30px 0px 30px 0px;
}
.group-button {
  padding: 40px 0px 0px 30px;
}
.btn-next {
  background: #fff;
  border: 1px solid #dadee3;
  width: 50px;
  height: 25px;
  line-height: 10px;
}
.form-select {
  height: 150px;
  border-radius: 0!important;
}
.point-delete{
  color: #eeeeee;
  outline: none;
}
.point{
  cursor: pointer;
  outline: none;
 // background-color: #fff;
  //color: #fff;
}
.required:after {
  content: "*";
  color: red;
  font-style: italic;
}
.pd-b20 {
  padding-bottom: 20px;
}
.title-name{
  font-size: 120%;
  font-weight: bold;
}
.mg-b-2 {
  margin-bottom: 4px;
}
.cus-validate{
  display: block !important;
  font-size: 90%;
  color:
  #dc3545;
}
.not-outline{
  outline: none;
}
@media only screen and (max-width: 1600px) {
    .zoom-form{
        zoom: 0.9;
    }
}

@media only screen and (max-width: 1366px) {
    .zoom-form{
        zoom: 0.9;
    }
}

@media only screen and (max-width: 1270px) {
    .zoom-form{
        zoom: 0.8;
    }
}

@media only screen and (max-width: 1200px) {
    .zoom-form{
        zoom: 0.75;
    }
}
@media only screen and (max-width: 1024px) {
    .zoom-form{
        zoom: 0.7;
        // width: 500px !important;
    }
}
@media only screen and (max-width: 1100px) {
    .zoom-form{
        zoom: 0.7;
    }
}
@media only screen and (max-width: 993) {
    .zoom-form{
        zoom: 0.7;
    }
}
