:host(){
    color: #495b69;
    font-weight: 550;
}
.title{
    height: 60px;
    border-bottom: 1px solid #f1f1f1;
    margin: 0 10px;
    .content{
        margin: 0 10px;
        .reject{
            color: #44505e;
            font-size: 18px;
        }
    }
    .icon{
        cursor: pointer;
    }
}
.title-item{
    margin: 0 20px;
    min-height: 50px;
    border-bottom: 1px solid #f1f1f1;
}
.custom-btn{
    background-color: #fff;
    border: 1px solid #f1f1f1;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    color: #44505e;
    cursor: pointer;
    &:hover{
        background-color: #00a0e3;
        color: #fff;
        border: 1px solid #00a0e3;
    }
}

.action-bar{
    padding: 20px 0px;
}
.content-email{
    margin: 0 20px;
    padding: 20px 0px;

}

.attach-file{
    padding: 0px 10px;
    padding-bottom: 20px;
    .file-item{
        box-sizing: border-box;
        width: 151px;
        height: 181px;
        border: 1px solid #f1f1f1;
        .file-name{
            background-color: #f4f4f4!important;
            height: 50px;
            width: 88px;
            .text-nowrap{
            //    white-space: nowrap!important;
            }
        }
    }
    
}

.attach{
    border-top: 1px solid #f1f1f1;
    margin: 0 10px;
}

.to{
    width: calc(100% - 300px);
}

.date-time{
    width: 300px;
}

pre{
    table, th, td {
        border: 1px solid black!important;
     }
}
:host /deep/ pre{
    table, th, td {
        border: 1px solid black!important;
     }
}