<div class="title">
    <div class="content d-flex justify-content-between h-100">
        <div class="center-parent">
            <img width="12" height="12" class="pointer not-outline" src="assets\images\nghia.png" style="margin-right: 6px;" (click)="back()">
            <span class="font-weight-bold reject">Nội dung thư</span>
        </div>
        <div class="center-parent">
            <div>
                <i *ngIf="afterId" class="fa fa-chevron-left mr-2 icon" (click)="after()" aria-hidden="true"></i>
                <i *ngIf="beforeId" class="fa fa-chevron-right ml-2 icon" (click)="before()" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>
<div class="title-item d-flex align-items-center">
    <div>{{email?.subject}}</div>
</div>
<div class="title-item d-flex align-items-center">
    <div class="to">To:
        <span *ngFor="let e of email?.to; let i = index">
            <span *ngIf="i !== 0">,</span>
            <span *ngIf="!e?.isSuccess">
                <i class="fa fa-exclamation-triangle icon-warning" aria-hidden="true"></i>
            </span>
            <span>{{e.email}}</span>


        </span>
    </div>

    <div class="date-time d-flex justify-content-end align-items-center">
        <div>
            <span *ngIf="email?.sentDate">{{email?.sentDate*1000 | date:'dd/MM/yyyy HH:mm': '+0000'}}</span>
            </div>
        <div class="ml-2">
            <button class="custom-btn" (click)="print()">
                <i class="fa fa-print" aria-hidden="true"></i>
            </button>
            <button class="custom-btn" (click)="delete()">
                <i class="fa fa-trash" aria-hidden="true"></i>
            </button>

        </div>
    </div>
</div>



<div class="content-email">
    <div [innerHTML]="email?.content | safe: 'html'">
    <!-- {{email?.content}} -->
    </div>
</div>
<div class="attach">
    <div style="margin: 5px 20px; margin-top: 20px;">
        <span>
            <i class="fa fa-paperclip" aria-hidden="true"></i>
        </span>
        <span>
            Attachments ({{email?.emailAttatchments?.length}})
        </span>
    </div>
    <div class="attach-file d-flex flex-wrap">
        <div class="file-item mr-1" *ngFor="let item of email?.emailAttatchments">
            <div style="width: 150px; height: 130px;" class="center-parent">
                <div>
                    <img width="50" height="50" class="not-outline" src="assets\images\file.png">
                </div>
            </div>
            <div class="file-name d-flex" style="width: 150px; padding: 5px 5px;">
                <div style="width: calc(100% - 30px);" class="d-flex align-items-center">
                    <div class="w-100">
                        <div class="text-truncate">{{item.fileName}}</div>
                    </div>
                </div>
                <div style="width: 30px;" class="d-flex align-items-end">
                    <div>
                        <button class="custom-btn" (click)="download(item.id)" [title]="'Tải file'">
                            <i class="fa fa-cloud-download" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>