<div class="title">
  <div class="content d-flex justify-content-between h-100">
    <div class="center-parent">
      <img width="12" height="12" class="pointer not-outline" src="assets\images\nghia.png" style="margin-right: 6px;">
      <span class="font-weight-bold reject">Nội dung thư</span>
    </div>
    <div class="center-parent">
      <div>
        <i class="fa fa-chevron-left mr-2 icon" aria-hidden="true"></i>
        <i class="fa fa-chevron-right ml-2 icon" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>
<div class="title-item d-flex align-items-center">
  <div>[Chủ đề]</div>
</div>
<div class="title-item d-flex align-items-center">
  <div>To: Oliver Dinh</div>
</div>
<div class="title-item d-flex align-items-center">
  <div class="d-flex justify-content-between align-items-center w-100">
    <div>Cc:
      <span>Hieu Nguyen,</span>&nbsp; Bcc: thanh02@gmail.com
    </div>
    <div class="action-bar">
      <button class="custom-btn">
        <i class="fa fa-print" aria-hidden="true"></i>
      </button>
      <button class="custom-btn">
        <i class="fa fa-trash" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>
<div class="content-email">
  <span>
    Dear Oanh, Thank you very much for your letter which arrived a few days ago. It was lovely to hear from you. I think the
    restaurant which you told me in the letter is very interesting. I also like to eat out and I usually go to a restaurant
    for dinner with my family twice a month. Our favorite restaurant is a traditional restaurant in Hang Bong street. It
    is not big but it is always busy. There are only a few tables in the restaurant and on each table is a vase with lovely
    flowers. There are plants in the room corners. I usually order the traditional dishes and eat them with rice. For example,
    fish cooked with sauce, spring roll,...and vegetable and so on. The food is delicious so we enjoy it very much. The service
    is also quick and friendly . My family always have pleasant evening at our favorite restaurant. Shall we go there when
    you come to visit my family next time? See you next time. Mai
  </span>
</div>
<div class="attach-file d-flex flex-wrap">
  <div class="file-item">
    <div style="width: 100px; height: 100px;" class="center-parent">
      <div>
        <img width="50" height="50" class="pointer not-outline" src="assets\images\file.png">
      </div>
    </div>
    <div class="file-name" style="width: 100px;">
      ádasd
    </div>
  </div>
</div>