<h5 class="pt-1">
  <img routerLink="/settings/kpi-target/group-config/list" class="icon-back pointer out-line--none" src="assets/images/arrow-back.svg">
  <span *ngIf="!config">Thêm mới nhóm</span>
  <span *ngIf="config">Chỉnh sửa nhóm</span>
</h5>
<form [formGroup]="groupConfigForm" novalidate *ngIf="groupConfigForm">
  <div>
    <div class="card p-3">
      <div class="row form-group">
        <div class="col-md-2 text-right required justify-content-end align-items">Tên nhóm</div>
        <div class="col-md-7">
          <input class="form-control" appAutoFocus [class.is-invalid]="formErrors.groupConfigName" tabindex="1" formControlName="groupConfigName">
          <div class="invalid-feedback" *ngIf="formErrors.groupConfigName">
            {{formErrors.groupConfigName}}
          </div>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-2 text-right pad-name-field-des">Mô tả nhóm</div>
        <div class="col-md-7">
          <textarea rows="3" class="form-control" tabindex="2" formControlName="groupConfigDes"></textarea>
        </div>
      </div>
    </div>
    <div class="text-right">
      <button tabindex="4" class="btn btn-secondary" type="button" [routerLink]="['/settings/kpi-target/group-config/list']">Hủy
      </button>
      <button tabindex="3" type="submit" class="btn btn-primary ml-1" (click)="submitForm()">Lưu
      </button>
    </div>
  </div>
</form>