<div [@routerTransition] class="row no-gutters" *ngIf="opportunity$ | async as opportunity">
    <div class="col-md-7">
        <div class="card mb-3">
            <div class="card-body" id="info-main" [ngbCollapse]="isCollapsedMain">
                <table class="w-100 table table-bordered">
                    <tbody>
                        <tr>
                            <td class="w-13 bg-light text-left label">Tên cơ hội</td>
                            <td class="w-23">{{opportunity.name}}</td>
                        </tr>
                        <tr>
                            <td class="w-13 bg-light text-left label">Tên khách hàng</td>
                            <td class="w-23">
                                <a *ngIf="opportunity.customer" [routerLink]="['/customer/detail', opportunity.customer.id]"> 
                                    {{opportunity.customer.name}}
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="w-13 bg-light text-left label">Liên hệ</td>
                            <td class="w-23 color">
                                <a *ngFor="let contact of opportunity.contacts" (click)="goToDeitalContact(contact.id)"><p>{{contact.text}}</p></a>


                            </td>
                        </tr>
                        <tr>
                            <td class="w-13 bg-light text-left label">Giá trị dự kiến</td>
                            <td class="w-23">{{opportunity.expectedValue | vnCurrency}}</td>
                        </tr>
                        <tr>
                            <td class="w-13 bg-light text-left label">Giai đoạn</td>
                            <td class="w-23">{{opportunity.phase | translate}}</td>
                        </tr>
                        <tr>
                            <td class="w-13 bg-light text-left label">Xác suất</td>
                            <td class="w-23">{{opportunity.probability && opportunity.probability + '%'}}</td>
                        </tr>

                        <tr>
                            <td class="w-25 bg-light text-left label">Phân công cho</td>
                            <td class="w-25">{{opportunity.assignTo && opportunity.assignTo.name || ''}}</td>
                        </tr>


                    </tbody>
                </table>
                <hr>
                <div class="d-flex">
                    <a [routerLink]="['../spec']" class="btn btn-primary mr-auto">
                        Hiển thị đầy đủ
                    </a>
                    <div class="d-flex flex-column">
                        <span class="metadata">Ngày tạo: {{opportunity.createdDate | date: 'dd/MM/yyyy HH:mm'}}</span>
                        <span class="metadata">Ngày sửa: {{opportunity.updatedDate | date: 'dd/MM/yyyy HH:mm'}}</span>
                    </div>

                </div>

            </div>
        </div>

        <app-comments [moduleName]="'opportunity'" [moduleItemId]="opportunity.id" [viewMode]="'partial'" ></app-comments>

    </div>
    <div class="col-md-5 pl-3 pr-4">
            <app-activities [moduleName]="'opportunity'" [moduleItemId]="opportunity.id" [moduleItemName]="opportunity.name" ></app-activities>
            <app-audits [moduleName]="'opportunity'" [moduleItemId]="opportunity.id" ></app-audits>
        </div>


</div>
