.set-tab--report{
    margin-top: 0px;
    width: 100%;
    box-shadow: 0 1pt 12pt rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 10px 25px 30px;
    background-color: #fff;
}
.table-small {
    margin-top: 15px;
    width: 100%;
    // height: 50vh;
    box-shadow: 0 1pt 12pt rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 25px 20px 35px;
    // padding: 10px 25px 30px;
    background-color: #fff;
}
.rule {
    border-right: 5px solid #00a0e3;
    content: "";
    margin: 10px 0;
}
.pd-row-24 {
   padding: 10px;
}
.pd-row-18 {
    padding: 0px 0px 0px 18px;
}
// .show {
//     padding-top: 15px
// }
.title-header {
    font-size: 15px;
    padding-right: 10px;
}
table.dataTable th {
    border-bottom: 1px solid #dddddd !important;
    background-color: white!important;
    border: 1px solid #dddddd;
}
.pd-l {
    padding-left: 10px;
}
input.icon {
    font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
input.form-control.icon {
    border: 1px solid #00a0e3;
}

.no-boder-bottom {
    border-bottom: none;
}
.text-model {
    color: #343a40 !important;
    font-weight: 700;
    text-transform: uppercase;
}
.custom-filter-bar {
    padding: 10px;
}
.close {
    font-size: 1.8rem !important;
}
.w-80{
    width: 114px;
    height: 34px;
    margin-left: 10px;
    color: #fff!important;
}
.bg-cancle {
    background: #8e8b8b!important;
}
.custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1; // height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #9b9595;
    font-weight: 400;
}
.pd-up {
    padding-bottom: 20px;
    .mg-l {
        white-space: nowrap;
        margin-left: 3%;
    }
}
.fg-w {
    font-weight: 700
}
.btn-cancel {
    background-color: #8e8b8b;
    border: #8e8b8b;
    color: white;
}
.pd-food {
    padding: 30px 0px 20px 0px;
}
.title-header {
    // font-size: 15px;
    font-size: 130%;
    padding-right: 10px;
}
.nodata {
    width: 100%;
    white-space: nowrap;
    height: 40px;
    line-height: 35px;
}
.or {
    position: absolute;
    top: 40px;
    left: 34px;
    color: #c2baba;
    &::after {
        display: block;
        background: #c2baba;
        width: 2px;
        height: 11px;
        position: absolute;
        z-index: 99999999999;
        left: 23px;
        top: 18px;
        content: "";
      }
      &::before {
        display: block;
        background: #c2baba;
        width: 2px;
        height: 11px;
        position: absolute;
        z-index: 99999999999;
        left: 23px;
        top: -8px;
        content: "";
      }
}
@media only screen and (max-width: 1600px) {
  }
  
  @media only screen and (max-width: 1400px) {
  }
  
  
  @media only screen and (max-width: 1366px) {
      .no-mr-bt {
        margin-top: 20px!important;
      }
      .tdup {
        max-width: 80px!important;
    }
    .tdup-name {
        max-width: 150px!important;
    }
    #mr {
        margin-right: 10px;
    } 
  }
  
  @media only screen and (max-width: 1200px) {
    .tdup {
        max-width: 100px!important;
    }
    .tdup-name {
        max-width: 150px!important;
    }
    #mr {
        margin-right: 10px;
    } 
    .ml-2 {
        margin-left: 0.2rem!important;
    }
    .no-mr-bt {
      margin-top: 20px!important;
    }
    .fs {
      font-size: 20px!important;
    }
  }
  
  @media only screen and (max-width: 1150px) {
  }
  
  @media only screen and (max-width: 1024px) {
    .tdup {
        max-width: 80px!important;
    }
    .tdup-name {
        max-width: 150px!important;
    }
    .file-filter {
        font-size: 120%;
    }
    .status-filter{
      font-size: 120%;
    }
      #mr {
          margin-right: 10px;
      } 
      .ml-2 {
          margin-left: 0.2rem!important;
      }
      .no-mr-bt {
        margin-top: 20px!important;
    }
    .fs {
        font-size: 20px!important;
    }
       

  }
  
  
  @media only screen and (max-width: 1010px) {
  }
  
  @media only screen and (max-width: 997px) {
  }
  .w5 {
    width: 5%;
    min-width: 20px;
}
.w6 {
    width: 6%;
}
.w10 {
    width: 10%;
}
.w15 {
    width: 15%;
}
.w12 {
    width: 12%;
}
.w20 {
    width: 20%;
}
.w50 {
    width: 51.2%;
}
.w-custom {
    width: 32%;
}
.w80 {
    width: 80%;
}
.no-mr-bt {
    border-bottom: none;
}
.icon-sort{
    width: 15px;
    cursor: pointer;
}
.icon-sort-down-up{
    width: 9px;
    cursor: pointer;
}
table.dataTable th {
    background-color: #f68e56 !important;
    border: 1px solid #dddddd;
}
.set-stt--width{
    width: 5% !important;
    width: 3rem !important;
}
.set-manipulation--width{
    width: 5% !important;
    width: 4rem !important;
}
.table-layout{
    table-layout: fixed;
}
.w-80{
    width: 80%;
}
.w-40{
    width: 40% !important;
}
.w-35{
    width: 35%;
}
.w-30{
    width: 30% !important;
}
.w-25{
    width: 25% !important;
}
.w-15{
    width: 15% !important;
}
.w-10{
    width: 10% !important;
}
:host /deep/ .k-dateinput-wrap .k-input, .k-dropdown-wrap .k-input, .k-picker-wrap .k-input, .k-numeric-wrap .k-input {
    // padding: 1rem 1rem !important;
}
:host /deep/ .dataTables_wrapper {
    position: inherit !important;
}
:host /deep/ .dataTables_empty {
    display: none !important;
}
.btn:focus,
.btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(0, 160, 227, 0.25) !important;
}
.dropdown-toggle::after{
    display: none;
}
.dropdown-item{
    cursor: pointer;
}