<form [formGroup]="dieuKienHSMTForm">
    <div class="p-3">
        <h5 class="text-uppercase font-weight-bold">X. điều kiện hồ sơ mời thầu (tender conditions)</h5>
        <div class="row mt-3">
            <div class="col-md-3"><strong><u>1. Bảo lãnh dự thầu</u></strong></div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6 text-uppercase text-right">theo hsmt <i class="fa fa-caret-down" aria-hidden="true"></i></div>
                    <div class="col-md-6 text-uppercase text-right">theo hbc đề xuất <i class="fa fa-caret-down"
                            aria-hidden="true"></i></div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3">Giá trị</div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6" formGroupName="theoHSMT">
                        <input formControlName="giaTri" class="form-control">

                    </div>
                    <div class="col-md-6" formGroupName="theoHBC">
                        <input formControlName="giaTri" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3">Hiệu lực</div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6" formGroupName="theoHSMT">
                        <input formControlName="hieuLuc" class="form-control">

                    </div>
                    <div class="col-md-6" formGroupName="theoHBC">
                        <input formControlName="hieuLuc" class="form-control">

                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3"><strong><u>2. Hiệu lực hồ sơ dự thầu</u></strong></div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3">Thời gian</div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6" formGroupName="theoHSMT">
                        <input formControlName="hieuLucHoSo" class="form-control">

                    </div>
                    <div class="col-md-6" formGroupName="theoHBC">
                        <input formControlName="hieuLucHoSo" class="form-control">

                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3"><strong><u>3. Tiến độ</u></strong></div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3">Ngày khởi công</div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6" formGroupName="theoHSMT">
                        <kendo-datepicker formControlName="ngayKhoiCong" class="form-control"></kendo-datepicker>

                    </div>
                    <!-- <div class="col-md-6"  formGroupName="theoHBC">
                        <kendo-datepicker formControlName="ngayKhoiCong" class="form-control"></kendo-datepicker>

                    </div> -->
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3">Thời gian hoàn thành (ngày)</div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6" formGroupName="theoHSMT">
                        <input formControlName="thoiGianHoanThanh" appInputNumberNegativeDecimal [decimal]="true" class="form-control">

                    </div>
                    <div class="col-md-6" formGroupName="theoHBC">
                        <input formControlName="thoiGianHoanThanh" appInputNumberNegativeDecimal [decimal]="true" class="form-control">

                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-3">T/gian h/thành (theo nhà thầu)</div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6" formGroupName="theoHSMT">
                        <div [ngClass]="{'event-none': isModeView}">
                            <label class="mr-3" for="yes">
                                <input (click)="chooseRadio('yes')" [checked]="isShowInputBox" class="mr-2" name="thoiGianHoanThanhTheoNhaThau"
                                    type="radio" id="yes">
                                Có
                            </label>
                            <label class="mr-3" for="no">
                                <input (click)="chooseRadio('no')" [checked]="!isShowInputBox" class="mr-2" name="thoiGianHoanThanhTheoNhaThau"
                                    type="radio" id="no">
                                Không
                            </label>
                        </div>
                        <input [ngClass]="{'d-none': !isShowInputBox}" formControlName="thoiGianHoanThanhTheoNhaThauCount"
                            type="number" appInputNumberNegativeDecimal class="form-control">
                    </div>
                    <div class="col-md-6"></div>
                </div>
            </div>
        </div>


        <div class="row mt-3">
            <div class="col-md-3"><strong><u>4. Các loại thuế</u></strong></div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3">Chọn loại thuế
                <i (click)="addFormArrayControl('cacLoaiThue')" *ngIf="!isModeView" class="fa fa-plus-square-o ml-3 pointer"
                    aria-hidden="true"></i>

            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6" formGroupName="theoHSMT">
                        <ng-container formArrayName="cacLoaiThue">
                            <ng-container *ngFor="let fControl of cacLoaiThueHSMTFA.controls; let i = index"
                                [formGroupName]="i">
                                <div class="row mb-2">
                                    <div class="col-md-12">
                                        <input formControlName="thue" class="form-control">

                                    </div>
                                    <div class="set-position-button " (click)="removeFormArrayControl('cacLoaiThue', i)">
                                        <i *ngIf="i !== 0" class="fa fa-times-circle pointer times-color custom-z-index "
                                            aria-hidden="true"></i>
                                    </div>

                                </div>


                            </ng-container>

                        </ng-container>

                    </div>
                    <div class="col-md-6">
                        <!-- <span class="custom-dropdown w-100">
                            <select class="form-control">
                                <option [ngValue]="null">--Chọn--</option>
                            </select>
                        </span> -->
                    </div>
                </div>

            </div>
        </div>


        <div class="row mt-3">
            <div class="col-md-3"><strong><u>5. Đồng tiền</u></strong></div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3">Đơn vị tiền tệ</div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6" formGroupName="theoHSMT">
                        <span class="custom-dropdown w-100">
                            <select class="form-control" formControlName="donViTienTe">
                                <option [ngValue]="null">--Chọn--</option>
                                <option [value]="'VNĐ'">VNĐ</option>
                                <option [value]="'USD'">USD</option>
                            </select>
                        </span>
                    </div>
                    <!-- <div class="col-md-6" formGroupName="theoHBC">
                        <span class="custom-dropdown w-100">
                            <select class="form-control" formControlName="donViTienTe">
                                <option [ngValue]="null">--Chọn--</option>
                                <option [value]="'VNĐ'">VNĐ</option>
                                <option [value]="'USD'">USD</option>
                            </select>
                        </span>
                    </div> -->
                </div>

            </div>
        </div>
        <div class="text-center mt-4">
            <button class="btn border" routerLink="../condition-contract">
                <i class="fa font-size-3 mr-3 fa-angle-left" aria-hidden="true"></i>
                Trở về
            </button>
            <button class="btn btn-primary ml-1" routerLink="../special-requirement">
                Tiếp
                <i class="fa font-size-3 ml-3 fa-angle-right" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</form>
