.set-position-button {
    position: absolute;
    right: -0.5rem;
    z-index: 100;

}

.times-color {
    color: #c0c0c0;
    font-size: 1.2rem;

}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #ced4da;
    font-style: italic;
}

.event-none {
    pointer-events: none;
}

.unit-value {
    position: absolute;
    right: 1.5rem;
    top: 0.5rem;
}
