.set-position-button {
    position: absolute;
    right: -0.5rem;
    z-index: 100;

}

.times-color {
    color: #c0c0c0;
    font-size: 1.2rem;

}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #ced4da;
    font-style: italic;
}

.event-none {
    pointer-events: none;
}

.unit-value {
    position: absolute;
    right: 1.5rem;
    top: 0.5rem;
}

.unit-value-custom {
    position: absolute;
    right: 1.5rem;
    top: 2rem;
}

.form-view {
    min-height: 2rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0.375rem 3.75rem 0.375rem 0.75rem;
    font-size: 13px;
    text-align: right;
}

.form-view-bg {
    background-color: #EAEBE3;
}
