<div class="px-3">
  <div class="menu">
    <h5 class="d-inline mb-0 mr-auto text-dark text-uppercase font-weight-bold">kpi theo chủ trì </h5>
  </div>
  <form [formGroup]="groupKpiChair" novalidate (ngSubmit)="submitForm()" class="pt-3">
    <div class="card p-3">
      <div class="row">
        <div class="col-md-3">
          <span class="font-weight-bold required">Năm:&nbsp;</span>&nbsp;&nbsp;
          <span>
            <select>
              <option value="2018">2018</option>
              <option value="2019">2019</option>
              <option value="2020">2020</option>
            </select>
          </span>
        </div>
        <div class="col-md-6">
          <span class="font-weight-bold">Tổng chỉ tiêu:&nbsp;</span>
          <span>{{ 123456 | truncateDecimal}}</span>
        </div>
        <div class="text-right col-md-3" *ngIf="param === 'view'">
          <button class="btn btn-secondary" type="button" [routerLink]="['../kpi-chair']" [queryParams]="{action:'edit'}">Sửa
          </button>
          <button type="submit" class="btn btn-primary ml-1">Thêm mới chỉ tiêu
          </button>
        </div>
        <div class="text-right col-md-3" *ngIf="param === 'edit'">
          <button class="btn btn-secondary" type="button" [routerLink]="['../kpi-chair']" [queryParams]="{action:'view'}">Hủy
          </button>
          <button type="submit" class="btn btn-primary ml-1">Lưu
          </button>
        </div>
      </div>
      <div class="font-weight-bold required">
        Nhóm:
      </div>
      <div class="row pt-2">
        <div class="col-md-3 d-flex">
          <div class="btn-icon btn-icon-plus">
            <i class="fa fa-plus" style="margin-top: 2px" aria-hidden="true"></i>
          </div>
          <div class="btn-icon btn-icon-minus">
            <i class="fa fa-minus" style="margin-top: 2px" aria-hidden="true"></i>
          </div>
          <div class="pl-2 group--width">
            <select class="w-100">
              <option value="2018">Tender HCM</option>
              <option value="2019">Tender HN</option>
            </select>
            <div class="text-right">
              <a href="javascript:void(0)" class="add-chair-icon" (click)="addChairToGroupFuc(addChairToGroup)">Thêm
                chủ trì
                vào nhóm >></a>
            </div>
            <div class="font-weight-bold pt-3">
              Tổng chỉ tiêu nhóm:
            </div>
            <div>
              {{ 135468116334 | truncateDecimal}}
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <table class="zui-table table table-striped table-hover">
            <thead>
              <tr>
                <th class="font-weight-bold">Họ tên</th>
                <th class="text-right font-weight-bold">Chỉ tiêu KPI</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Nguyễn Đăng Độ</td>
                <td class="text-right" *ngIf="param === 'view'">{{ 20000000000 | truncateDecimal}}</td>
                <td class="text-right" *ngIf="param === 'edit'">
                  <input type="text" class="w-100 m-0 p-0">
                </td>
              </tr>
              <!-- <tr>
                <td>Nguyễn Tuấn Anh</td>
                <td class="text-right" *ngIf="param === 'view'">{{ 943182000000 | truncateDecimal}}</td>
                <td class="text-right" *ngIf="param === 'edit'">
                  <input type="text" class="w-100">
                </td>
              </tr> -->
            </tbody>
          </table>
        </div>


      </div>

    </div>
  </form>
</div>


<ng-template #addChairToGroup>
  <div class="p-3 add-chair">
    <div class="w-100">
      <a class="close pull-right pointer" (click)="closedPopup()">
        <i class="fa fa-times" aria-hidden="true"></i>
      </a>
    </div>
    <div class="text-center text-uppercase font-weight-bold title-name--font-size">
      Danh sách chủ trì
    </div>
    <div class="text-center">
      <span>Nhóm:</span>&nbsp;
      <span>Tender HCM</span>
    </div>
    <div class="div-required">Vui lòng chọn chủ trì thuộc nhóm:&nbsp;</div>

    <div class="modal-header no-boder-bottom">
      <div class="col-md-5 form-group">
        <div class="title-action field-name-cloum--bg pl-3 py-1" for="exampleFormControlSelect2">Danh sách chủ trì</div>
        <div class="search">
          <input type="text" placeholder="Tìm kiếm theo tên" (keyup)="searchTerm$.next($event.target.value)"
            [(ngModel)]="searchTerm$.value" class="w-100 search__input pl-4" />
          <span class="icon-search">
            <i class="fa fa-search" aria-hidden="true"></i>
          </span>
        </div>
        <select multiple class="form-control form-select list-chair-choose--height" id="exampleFormControlSelect2"
          (ngModelChange)="selectEachFieldEditNotUser($event)">
          <!-- <option [ngValue]="notPrivilege" *ngFor="let notPrivilege of groupEditOrCreate.notPrivileges">
                {{notPrivilege.text | translate}}
              </option> -->
        </select>
      </div>
      <div class="col-md-2 group-button">
        <button type="button" class="btn btn-default btn-next mg-b-2" (click)="selectAllPrivilegesEditUse()">
          <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-default btn-next mg-b-2 mt-2" (click)="changePrivilegesEditNotUse()">
          <i class="fa fa-angle-right" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-default btn-next mg-b-2 mt-2" (click)="changePrivilegesEditUse()">
          <i class="fa fa-angle-left" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-default btn-next mg-b-2 mt-2" (click)="selectAllPrivilegesEditNotUse()">
          <i class="fa fa-angle-double-left" aria-hidden="true"></i>
        </button>
      </div>
      <div class="col-md-5 form-group">
        <div class="title-action field-name-cloum--bg pl-3 py-1" for="exampleFormControlSelect2">Chủ trì đã chọn</div>
        <select multiple class="form-control form-select list-chair-choosed--height" id="exampleFormControlSelect2"
          (ngModelChange)="selectEachFieldEditUser($event)">
          <!-- <option [ngValue]="privilege" *ngFor="let privilege of groupEditOrCreate.privileges">
            {{privilege.text | translate}}
          </option> -->
        </select>
      </div>
    </div>
    <div class="pd-b20 d-flex justify-content-center">
      <button type="button" class="btn btn-default" (click)="closedPopup()" style="margin-right: 8px">Hủy</button>
      <button type="submit" class="btn btn-primary" (click)="ediGroupUser();">Lưu</button>
    </div>
  </div>
</ng-template>