<div class="px-3">
  <div class="menu">
    <h5 class="d-inline mb-0 mr-auto text-dark text-uppercase font-weight-bold">kpi theo chủ trì </h5>
  </div>
  <form [formGroup]="groupKpiChair" novalidate (ngSubmit)="submitForm()" class="pt-3">
    <div class="card p-3">
      <div class="row">
        <div class="col-md-3">
          <span class="font-weight-bold required">Năm:&nbsp;</span>&nbsp;&nbsp;
          <select>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
          </select>
        </div>
        <div class="col-md-6">
          <span class="font-weight-bold">Tổng chỉ tiêu:&nbsp;</span>
          <span>{{ 123456 | truncateDecimal}}</span>
        </div>
        <div class="text-right col-md-3" *ngIf="param === 'view'">
          <button class="btn btn-secondary" type="button" [routerLink]="['../kpi-chair']" [queryParams]="{action:'edit'}">Sửa
          </button>
          <button type="submit" class="btn btn-primary ml-1">Thêm mới chỉ tiêu
          </button>
        </div>
        <div class="text-right col-md-3" *ngIf="param === 'edit'">
          <button class="btn btn-secondary" type="button" [routerLink]="['../kpi-chair']" [queryParams]="{action:'view'}">Hủy
          </button>
          <button type="submit" class="btn btn-primary ml-1">Lưu
          </button>
        </div>
      </div>
      <div class="font-weight-bold required">
        Nhóm:
      </div>
      <div class="row pt-2">
        <div class="col-md-3 d-flex">
          <div class="btn-icon btn-icon-plus">
            <i class="fa fa-plus" style="margin-top: 2px" aria-hidden="true"></i>
          </div>
          <div class="btn-icon btn-icon-minus">
            <i class="fa fa-minus" style="margin-top: 2px" aria-hidden="true"></i>
          </div>
          <div class="pl-2 group--width">
            <select class="w-100">
              <option value="2018">Tender HCM</option>
              <option value="2019">Tender HN</option>
            </select>
            <div class="text-right">
              <a href="javascript:void(0)" class="add-chair">Thêm chủ trì vào nhóm >></a>
            </div>
            <div class="font-weight-bold pt-3">
              Tổng chỉ tiêu nhóm:
            </div>
            <div>
              {{ 135468116334 | truncateDecimal}}
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <table class="zui-table table table-striped table-hover">
            <thead>
              <tr>
                <th class="font-weight-bold">Họ tên</th>
                <th class="text-right font-weight-bold">Chỉ tiêu KPI</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Nguyễn Đăng Độ</td>
                <td class="text-right" *ngIf="param === 'view'">{{ 20000000000 | truncateDecimal}}</td>
                <td class="text-right" *ngIf="param === 'edit'">
                  <input type="text" class="w-100 m-0 p-0">
                </td>
              </tr>
              <!-- <tr>
                <td>Nguyễn Tuấn Anh</td>
                <td class="text-right" *ngIf="param === 'view'">{{ 943182000000 | truncateDecimal}}</td>
                <td class="text-right" *ngIf="param === 'edit'">
                  <input type="text" class="w-100">
                </td>
              </tr> -->
            </tbody>
          </table>
        </div>


      </div>

    </div>
  </form>
</div>