<div>
  <div class="menu row">
    <div class="col-md-6 d-flex align-items-center">
      <h5 class="d-inline mb-0 mr-auto text-dark text-uppercase font-weight-bold">kpi theo chủ trì </h5>
    </div>
    <div class="text-right col-md-6">
      <div *ngIf="paramAction === 'view'" id="action">
        <button class="btn btn-secondary" type="button" *ngIf="isEdit" [routerLink]="['../kpi-chair']" [queryParams]="{action:'edit'}" (click)="editTargetForYear()">Sửa
        </button>
        <button type="submit" class="btn btn-primary ml-1" (click)="addTargetForYear()">Thêm mới chỉ tiêu
        </button>
      </div>
      <div *ngIf="paramAction === 'edit' || paramAction === 'create'">
        <button class="btn btn-secondary" type="button" (click)="cancel()">Hủy
        </button>
        <button type="submit" class="btn btn-primary ml-1" (click)="saveTargetkpiToChair()">Lưu
        </button>
      </div>
    </div>
  </div>

  <div class="card p-3 mt-3" id="wrapper-report-child">
    <div class="row manipulation">
      <div class="col-md-3 d-flex year-min-width" id="year">
        <ng-container *ngIf="!(paramAction === 'view' && listYearConfigured && listYearConfigured.length === 0)">
          <span class="font-weight-bold year--pad-top" [class.required]="paramAction === 'edit' || paramAction === 'create'">Năm:&nbsp;</span>&nbsp;
          <!-- &nbsp; -->
          <div class="option-year">
            <div class="custom-dropdown">
              <select class="form-control select-year--width" [(ngModel)]="yearkpi" (change)="changeYearKpiFuc()"
                [class.is-invalid]="isSubmitCreate && (!yearkpi || yearkpi === 'null')">
                <option value="null" *ngIf="yearkpi === null">--Lựa chọn--</option>
                <ng-container *ngIf="paramAction === 'view' || paramAction === 'edit'">
                  <option [value]="itemYearConfigured" *ngFor="let itemYearConfigured of listYearConfigured">{{itemYearConfigured}}</option>
                </ng-container>
                <ng-container *ngIf="paramAction === 'create'">
                  <option [value]="itemYearNotConfigured" *ngFor="let itemYearNotConfigured of listYearNotConfigred">{{itemYearNotConfigured}}</option>
                </ng-container>
              </select>
            </div>
            <div class="year-validate" *ngIf="isSubmitCreate && (!yearkpi || yearkpi === 'null')">
              Trường này là bắt buộc nhập
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="(paramAction === 'view' && listYearConfigured && listYearConfigured.length === 0)">
          <div>
            Bạn chưa thiết lập KPI theo chủ trì cho bất kỳ năm nào, vui lòng chọn thêm mới chỉ tiêu.
          </div>
        </ng-container>
      </div>
      <div class="col-md-9 total-target--pad-top" id="target">
        <span class="font-weight-bold">Tổng chỉ tiêu:&nbsp;</span>
        <span>{{ (groupKpiChairsArray && targetTotalFC && targetTotalFC !== 0) ? (targetTotalFC | truncateDecimal) :
          '0.00'}}</span>
      </div>
    </div>
    <div class="pt-3">
      <span class="font-weight-bold" [class.required]="paramAction === 'edit' || paramAction === 'create'">
        Nhóm:
      </span>
      <span class="group-validate" *ngIf="isSubmitCreate && isValidateGroup">
        Trường này là bắt buộc nhập. Phải chọn ít nhất một nhóm.
      </span>
    </div>

    <form [formGroup]="groupKpiChairsArray" novalidate (ngSubmit)="submitForm()" class="pt-2" *ngIf="groupKpiChairsArray">
      <div formArrayName="groupKpiChair">
        <div *ngFor="let gKpiChairControl of groupKpiChairFA.controls; let i = index" [formGroupName]="i">
          <div class="row pt-2">
            <div class="col-md-3 d-flex">
              <ng-container *ngIf="(paramAction === 'edit' || paramAction === 'create')">
                <div class="btn-icon btn-icon-plus mt-2" (click)="addGroupToForm()">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </div>
                <div class="btn-icon btn-icon-minus mt-2" (click)="removeGroupToForm(i)" *ngIf="!(groupKpiChairFA.controls.length === 1 && i === 0)">
                  <i class="fa fa-minus" aria-hidden="true"></i>
                </div>
                <div *ngIf="(groupKpiChairFA.controls.length === 1 && i === 0)" class="icon-delete-form--width">
                </div>
              </ng-container>
              <ng-container *ngIf="(paramAction === 'view')">
                <div class="icon-double-form--width"></div>
              </ng-container>
              <div class="pl-2 group--width pb-1" [class.card-group-name]="paramAction === 'view'">
                <span *ngIf="paramAction === 'edit' || paramAction === 'create'" class="custom-dropdown w-100">
                  <select class="w-100 form-control" formControlName="groupName" [compareWith]="compareFn">
                    <option [ngValue]="null" *ngIf="!gKpiChairControl.get('groupName').value">--Lựa chọn--</option>
                    <option *ngFor="let item of listGroupkpi" [ngValue]="item" [hidden]="arrayGroupChoosed.includes(item.id)">{{item.name}}</option>
                  </select>
                </span>
                <div *ngIf="paramAction === 'view'" class="mt-2 title-group">{{gKpiChairControl.get('groupName')?.value?.name}}</div>
                <div class="text-right mt-2" *ngIf="(paramAction === 'edit' || paramAction === 'create') && gKpiChairControl.get('groupName').value">
                  <a href="javascript:void(0)" class="add-chair-icon pt-2" (click)="addChairToGroupFuc(addChairToGroup, i)">Thêm
                    chủ trì
                    vào nhóm >></a>
                </div>
                <div class="font-weight-bold pt-3">
                  Tổng chỉ tiêu nhóm:
                </div>
                <div>
                  {{ gKpiChairControl.get('targetGroup').value ? (gKpiChairControl.get('targetGroup').value |
                  truncateDecimal) : '0.00'}}
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <table class="zui-table table table-striped table-hover">
                <thead>
                  <tr class="w-100">
                    <th class="font-weight-bold w-50">Họ tên</th>
                    <th class="text-right font-weight-bold w-50">Chỉ tiêu KPI</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container formArrayName="chairEmployees" *ngIf="groupKpiChairFA.controls[i].get('chairEmployees').controls">
                    <ng-container *ngFor="let chairEmployeeControl of groupKpiChairFA.controls[i].get('chairEmployees').controls; let j = index"
                      [formGroupName]="j">
                      <tr>
                        <td>{{chairEmployeeControl.get('employee').value?.employeeName}}</td>
                        <td class="text-right" *ngIf="paramAction === 'view'">{{
                          (chairEmployeeControl.get('targetskpi').value && chairEmployeeControl.get('targetskpi').value
                          !== 0)
                          ? (chairEmployeeControl.get('targetskpi').value | truncateDecimal) : 0}}</td>
                        <td class="text-right" *ngIf="paramAction === 'edit' || paramAction === 'create' ">
                          <input type="text" appInputThousandSeparate class="w-100 m-0 p-0 text-right" formControlName="targetskpi"
                            (input)="calculTargetTotal(i)" placeholder="Nhập chỉ tiêu" [class.validate-target-kpi]="(!chairEmployeeControl.get('targetskpi').value || !(chairEmployeeControl.get('targetskpi').value > 0)) && isSubmit">
                        </td>
                      </tr>
                    </ng-container>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

</div>


<ng-template #addChairToGroup>
  <div class="p-3 add-chair">
    <div class="w-100">
      <a class="close pull-right pointer" (click)="closedPopup()">
        <i class="fa fa-times" aria-hidden="true"></i>
      </a>
    </div>
    <div class="text-center text-uppercase font-weight-bold title-name--font-size">
      Danh sách chủ trì
    </div>
    <div class="text-center">
      <span>Nhóm:</span>&nbsp;
      <span >{{GroupNameAddChair?.name}}</span>
    </div>
    <div class="div-required">Vui lòng chọn chủ trì thuộc nhóm:&nbsp;</div>

    <div class="modal-header no-boder-bottom">
      <div class="col-md-5 form-group">
        <div class="title-action field-name-cloum--bg pl-3 py-1" for="exampleFormControlSelect2">Danh sách chủ trì</div>
        <div class="search">
          <input type="text" placeholder="Tìm kiếm theo tên" (keyup)="searchTermChairName$.next($event.target.value)"
            [(ngModel)]="searchTermChairName$.value" class="w-100 search__input pl-4" />
          <span class="icon-search">
            <i class="fa fa-search" aria-hidden="true"></i>
          </span>
        </div>
        <div class="position-relative">
          <select multiple class="form-control form-select list-chair-choose--height" id="exampleFormControlSelect2"
            [(ngModel)]="selectChairEmployeeCanChoosedTemp">
            <ng-container *ngIf="!loadingListChairEmployeeCanChoosedTemp">
              <option [ngValue]="itemChairCanChoose" *ngFor="let itemChairCanChoose of listChairEmployeeCanChoosedTemp">
                {{itemChairCanChoose.employeeName}}
              </option>
            </ng-container>
          </select>
          <img *ngIf="loadingListChairEmployeeCanChoosedTemp" class="loading-list-chair" src="assets/images/loading-animation.gif"
            alt="">
        </div>
      </div>
      <div class="col-md-2 group-button">
        <button type="button" class="btn btn-default btn-next mg-b-2" (click)="addAllChairEmployee()">
          <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-default btn-next mg-b-2 mt-2" (click)="addSelectChairEmployee()">
          <i class="fa fa-angle-right" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-default btn-next mg-b-2 mt-2" (click)="removeSelectChairEmployee()">
          <i class="fa fa-angle-left" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-default btn-next mg-b-2 mt-2" (click)="removeAllChairEmployee()">
          <i class="fa fa-angle-double-left" aria-hidden="true"></i>
        </button>
      </div>
      <div class="col-md-5 form-group">
        <div class="title-action field-name-cloum--bg pl-3 py-1" for="exampleFormControlSelect2">Chủ trì đã chọn</div>
        <select multiple class="form-control form-select list-chair-choosed--height" id="exampleFormControlSelect2"
          [(ngModel)]="selectChairEmployeeChoosedTemp">
          <option [ngValue]="itemChairChoosed" *ngFor="let itemChairChoosed of listChairEmployeeChoosedTemp">
            {{itemChairChoosed.employeeName}}
          </option>
        </select>
      </div>
    </div>
    <div class="pd-b20 d-flex justify-content-center">
      <button type="button" class="btn btn-default but-cancel--mar" (click)="closedPopup()">Hủy</button>
      <button type="submit" class="btn btn-primary" (click)="addGroupChairEmployeeInGroupKpi();">Lưu</button>
    </div>
  </div>
</ng-template>