// .group-option{
//     padding-left: 3.5rem;
// }
.zui-table thead th{
    background-color: #34a5e4;
}

.btn-icon {
    color: white;
    width: 17px;
    height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 5px;
    cursor: pointer;
}

.btn-icon-plus {
    background-color: #00a0e3;
}

.icon-delete-form--width{
    width: 19px;
}
.icon-double-form--width{
    width: 39px;
}

.btn-icon-minus {
    background-color: #EA5552;
}

.add-chair-icon{
    font-style: italic;
    text-decoration: underline;
    color: #3030fe;
}

.group--width{
    width: calc(100% - 40px);
}

.form-select-cus::before{
    background-color: #fafafa;
    width: 2.2rem;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0 3px 3px 0;
}


.add-chair {
    .title-name--font-size{
        font-size: 18px;
    }
    .div-required {
        padding-left: 30px
    }
    .div-required::after{
        content: "*";
        color: red;
    }
    .field-name-cloum--bg{
        background: #f68e5b;
        color: white;
        font-weight: bold;
    }
    .search{
        position: relative;
        .icon-search{
            position: absolute;
            top: 2px;
            left: 8px;
        }
    }
    .form-select{
        border-radius: 0;
    }
    .btn-next {
        background: #fff;
        border: 1px solid #dadee3;
        width: 50px;
        height: 25px;
        line-height: 10px;
    }
    
    .group-button {
        padding: 40px 0px 0px 30px;
    }
    
    .list-chair-choose--height{
        height: 150px;
    }

    .list-chair-choosed--height{
        height: 175px;
    }

    .modal-header{
        border-bottom: none;
    }
}

.group-validate{
    font-size: 90%;
    color: #dc3545;
}

