<div [@routerTransition]>
    <div class="search-box d-flex">
        <h5 class="mr-auto d-flex align-items-end">Danh sách liên hệ</h5>
        <div class="input-group">
            <span class="input-group-addon">Tìm kiếm theo</span>
            <input type="text" class="form-control" placeholder="Tên, họ, sđt, email,.." (keyup)="searchTerm$.next($event.target.value)">
        </div>

        <div class="btn-group ml-2" ngbDropdown>
            <button type="button" class="btn btn-primary" ngbDropdownToggle data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Công cụ &nbsp;
            </button>
            <div class="dropdown-menu" ngbDropdownMenu>
                <a class="dropdown-item" (click)="multiDelete()">Xóa</a>
                <div class="dropdown-divider"></div>
                <div class="fileUpload dropdown-item">
                    <a>Nhập file</a>
                    <input type="file" class="upload" (change)="fileChange($event)" />
                </div>
                <a class="dropdown-item" (click)="exportFileExcel()">Xuất file</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="downTemplate()">Tải template</a>
            </div>
        </div>


        <button class="btn btn-primary ml-2" [routerLink]="['/contact/create']">
            <i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Thêm liên hệ</button>
        <button class="btn btn-primary ml-2" (click)="refresh(true)">
            <i class="fa fa-refresh" aria-hidden="true"></i>
        </button>
    </div>
    <hr>

    <div class="filter-bar">
        <div class="form-inline">
            <div class="form-group ml-sm-2">
                <label for="prospectSource" class="form-label">Nguồn tiềm năng</label>
                <span class="custom-dropdown mx-sm-2">
                    <select class="form-control" [(ngModel)]="filterModel.prospectSource">
                        <option [ngValue]="null">--Lựa chọn--</option>
                        <option *ngFor="let item of prospectSourceList | async" [value]="item.id">{{item.text}}</option>
                    </select>
                </span>
            </div>
            <!-- <div class="form-group ml-sm-2">
                <label for="jobTitle" class="form-label">Chức danh</label>
                <input type="text" id="jobTitle" class="form-control mx-sm-2" [(ngModel)]="filterModel.jobTitle">
            </div> -->
            <button type="submit" class="btn btn-primary ml-sm-3" (click)="filter()">
                <i class="fa fa-filter" aria-hidden="true"></i>&nbsp; Lọc
            </button>
            <button class="btn btn-secondary ml-sm-3" (click)="clearFilter()">
                <i class="fa fa-times"></i>&nbsp; Xóa lọc
            </button>
        </div>
    </div>
    <div>
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table-selection stripe row-border hover">
            <thead>
                <tr>
                    <th class="text-center">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" [(ngModel)]=checkboxSeclectAll (change)="onSelectAll($event.target.checked)">
                            <span class="custom-control-indicator"></span>

                        </label>
                    </th>
                    <th>D/xưng</th>
                    <th>Họ</th>
                    <th>Tên</th>
                    <th>ĐT phòng</th>
                    <th>ĐT di động</th>
                    <th>Địa chỉ email</th>
                    <th>Tên khách hàng</th>
                    <!-- <th>Nguồn tiềm năng</th> -->
                    <th>Chức danh</th>
                    <th>Phân công cho</th>
                    <th class="table-action">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of pagedResult.items">
                    <td class="text-center">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" [(ngModel)]="item.checkboxSelected">
                            <span class="custom-control-indicator"></span>

                        </label>
                    </td>
                    <td>{{ item.salutation | translate }}</td>
                    <td>
                        <a [routerLink]="['../detail', item.id]" [title]="item.lastName">{{ item.lastName }}</a>
                    </td>
                    <td>
                        <a [routerLink]="['../detail', item.id]" [title]="item.firstName">{{ item.firstName}}</a>
                    </td>
                    <td>
                        <span appPhoneNumberCallable>{{ item.companyPhone }}</span>
                    </td>
                    <td>
                        <span appPhoneNumberCallable>{{ item.mobilePhone }}</span>
                    </td>
                    <td>
                        <a [href]="'mailto:' + item.email" [title]="item.email">{{ item.email }}</a>
                    </td>
                    <td [title]="item.companyName">{{ item.companyName }}</td>
                    <!-- <td>{{ item.source | translate }}</td> -->
                    <td>{{ item.jobTitle }}</td>
                    <td [title]="item.assignTo">{{ item.assignTo}}</td>
                    <td>
                        <p>
                            <a [routerLink]="['/contact/detail', item.id]">
                                <i class="fa fa-eye text-warning" aria-hidden="true"></i>
                            </a>
                            <a [routerLink]="['/contact/edit', item.id]" class=" text-success ml-3">
                                <i class="fa fa-pencil  cursor-pointer" aria-hidden="true"> </i>
                            </a>
                            <a class="text-info ml-3" [href]="'mailto:' + item.email">
                                <i class="fa fa-envelope-o " aria-hidden="true"></i>
                            </a>
                            <a (click)="delete(item.id)" class="text-dark ml-3">
                                <i class="fa fa-trash-o cursor-pointer" aria-hidden="true"></i>
                            </a>
                        </p>

                    </td>
                </tr>
            </tbody>


        </table>
    </div>

    <app-pagination [pagedResult]="pagedResult" (pagedResultChange)="pagedResultChange($event)"></app-pagination>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.7)" size="medium" color="#fff" type="ball-clip-rotate-multiple"></ngx-spinner>

