@media only screen and (max-width: 1600px) {
    table.dataTable {
        th,
        td {
            max-width: 120px;
        }
    }
}

@media only screen and (max-width: 1366px) {
    table.dataTable {
        th,
        td {
            max-width: 80px;
        }
    }
}

@media only screen and (max-width: 1200px) {
    table.dataTable {
        th,
        td {
            max-width: 70px;
        }
    }
}

@media only screen and (max-width: 1024px) {

    table.dataTable {
        th,
        td {
            max-width: 30px;
        }
    }
}


.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

select, option {
    width: 250px !important;
}

a{
    cursor: pointer;
}
