:host() {
    height: 100%;
}

.btn-up {
    color: white;
    margin-right: 4px;
}

.rule {
    border-right: 5px solid #00a0e3;
    content: "";
    margin: 10px 0;
}

.icon-filter {
    width: 116px;
}

.h-40 {
    height: 40px;
}

.screen-empty {
    height: 100%;
}

.content {
    margin-left: 2rem;
    margin-right: 1rem;
}

.icon-view {
    color: #25af05;
    outline: none;
}

.icon-edit {
    color: #618dc1;
    outline: none;

}

.icon-delete {
    color: #c6c6c6;
    outline: none;

}

.icon-print {
    color: #f26522;
    outline: none;

}

input.icon {
    font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.attach-file{
    width: 100%;
    .item{
        border-bottom: 1px solid #d4d4d4;
        .time{
            font-size: 70%;
        }
        .name{
        }
    }
    .item{
        min-height: 30px;
    }
    .item:last-child{
        border-bottom: none!important;
    }
}

.xuong-dong{
    white-space: pre-line!important;
}
.xuong-dong-2{
    white-space: pre-wrap;
    overflow-wrap: break-word;
}
.min-width-action{
    min-width: 100px;
}
.max-width-action{
    max-width: 150px;
}
.max-width-name-document{
    width: 250px;
}