<div [@routerTransition]>
    <div class=" title-list-package d-flex flex-wrap align-items-center status-filter pl-3">
        <div class="mr-auto d-flex align-items-end list-package mt-2 mb-2">
            <div class="d-flex justify-content-start h-40">
                <div class="rule mr-2">
                </div>
                <div class="center-parent mr-4">
                    <h4 class="mb-0" *ngIf="package?.stageStatus?.id === bidStatus.DangLapHSDT">Cần lập trình duyệt giá</h4>
                    <h4 class="mb-0" *ngIf="package?.stageStatus?.id === bidStatus.CanLapTrinhDuyetGia">{{package?.stageStatus?.text}}</h4>
                    <h4 class="mb-0" *ngIf="package?.stageStatus?.id === bidStatus.DaGuiDuyetTrinhDuyetGia">{{package?.stageStatus?.text}}</h4>
                    <h4 class="mb-0" *ngIf="package?.stageStatus?.id === bidStatus.DaDuyetTrinhDuyetGia">{{package?.stageStatus?.text}}</h4>
                    <h4 class="mb-0" *ngIf="package?.stageStatus?.id === bidStatus.CanDieuChinhTrinhDuyetGia">{{package?.stageStatus?.text}}</h4>
                    <h4 class="mb-0" *ngIf="package?.stageStatus?.id === bidStatus.ChotHoSo">{{package?.stageStatus?.text}}</h4>
                    <h4 class="mb-0" *ngIf="(package?.stageStatus?.id !== bidStatus.DangLapHSDT) && (package?.stageStatus?.id !== bidStatus.CanLapTrinhDuyetGia)
                && (package?.stageStatus?.id !== bidStatus.DaGuiDuyetTrinhDuyetGia)
                && (package?.stageStatus?.id !== bidStatus.DaDuyetTrinhDuyetGia)
                && (package?.stageStatus?.id !== bidStatus.CanDieuChinhTrinhDuyetGia)
                && (package?.stageStatus?.id !== bidStatus.ChotHoSo)">Đã
                        nộp hồ sơ dự thầu</h4>
                </div>
            </div>
        </div>
        <div>
            <div class="btn-toolbar mt-2 mb-2">
                <div>
                    <div class="input-group ml-auto max-width-name-document" *ngIf="package?.stageStatus?.id === 'DaNopHSDT' || package?.stageStatus?.id === 'ChotHoSo'">
                        <span class="input-group-addon">Tìm kiếm theo</span>
                        <input (keyup)="searchTerm$.next($event.target.value)" type="text" class="form-control icon"
                            placeholder="&#xf002; Tên tài liệu">
                    </div>
                </div>
                <ng-container *ngIf="GuiDuyet">
                    <button type="button" class="btn btn-primary ml-1" *ngIf="priceReview?.isDraftVersion === false && (package?.stageStatus?.id === 'CanLapTrinhDuyetGia' || package?.stageStatus?.id === bidStatus.DangLapHSDT) "
                        (click)="guiDuyet()">Gửi duyệt trình duyệt giá</button>
                </ng-container>
                <ng-container *ngIf="GuiDuyet">
                    <button type="button" class="btn btn-primary ml-1" *ngIf="package?.stageStatus?.id === 'CanDieuChinhTrinhDuyetGia'"
                        (click)="guiDuyetLai()">Gửi lại trình duyệt giá</button>
                </ng-container>

                <ng-container *ngIf="ChotHoSo">
                    <button type="button" class="btn btn-primary ml-1" *ngIf="package?.stageStatus?.id === 'DaDuyetTrinhDuyetGia'"
                        (click)="chotHoSo()">Chốt hồ sơ</button>
                </ng-container>

                <!-- <button type="button" class="btn btn-primary ml-1" *ngIf="package?.stageStatus?.id === 'DaNopHSDT' || package?.stageStatus?.id === 'ChotHoSo'"
                    (click)="downloadAll()">Tải xuống tài liệu</button> -->
                <ng-container *ngIf="TaiTemplateTDG">
                    <button type="button" class="btn btn-primary ml-1" (click)="taiTemplate()">Tải Template
                    </button>
                </ng-container>
                <ng-container *ngIf="NopHSDT">
                    <button type="button" class="btn btn-primary ml-1" *ngIf="package?.stageStatus?.id === 'ChotHoSo'"
                        (click)="nopHoSo()">Nộp HSDT
                    </button>
                </ng-container>
                <ng-container *ngIf="HieuChinhHSDT">
                    <button type="button" class="btn btn-primary ml-1" *ngIf="package?.stageStatus?.id === 'DaNopHSDT'"
                        (click)="hieuChinhHSDT()">Hiệu chỉnh HSDT</button>
                </ng-container>
                <button type="button" class="btn btn-primary ml-1" (click)="refresh(true)">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="mt-5 screen-empty" *ngIf="!priceReview">
        <div class="text-center">
            <img class="image-empty" src="assets/images/file_empty.png">
        </div>
        <div class="text-center mt-3">
            Hiện chưa có trình duyệt giá nào
        </div>
        <div class="text-center mt-3">
            <ng-container *ngIf="TaoMoiTDG">
                <button class="btn btn-primary" routerLink="../create">
                    Tạo mới trình duyệt giá
                </button>
            </ng-container>
        </div>
    </div>

    <ng-container *ngIf="!isLoading">
        <div class="content" *ngIf="priceReview && !(package?.stageStatus?.id !== 'DangLapHSDT' && package?.stageStatus?.id !== 'CanLapTrinhDuyetGia' && package?.stageStatus?.id !== 'DaGuiDuyetTrinhDuyetGia' && package?.stageStatus?.id !== 'DaDuyetTrinhDuyetGia' && package?.stageStatus?.id !== 'CanDieuChinhTrinhDuyetGia')">
            <div class="mb-4 mt-1">
                <h5>BẢNG TÓM TẮT THÔNG TIN DỰ ÁN - TRÌNH DUYỆT GIÁ THẦU</h5>
            </div>
            <div class="table-responsive">
                <!-- datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" -->
                <table class="table-selection stripe row-border hover cell-border dataTable">
                    <thead>
                        <tr>

                            <th class="bg-default" style="background-color: #f68e56!important;">
                                <div class="d-flex">
                                    <div class="center-parent">
                                        <div>Tên tài liệu</div>
                                    </div>
                                </div>
                            </th>
                            <th class="bg-default" style="background-color: #f68e56!important;">
                                <div class="d-flex">
                                    <div class="d-flex justify-content-between w-100">
                                        <div>File đính kèm</div>
                                        <div class="w-25 d-flex flex-row-reverse" (click)="open()" style="cursor: pointer"
                                            title="Upload tài liệu">
                                            <img width="25" height="25" src="assets\images\file-upload.png">
                                        </div>
                                    </div>
                                </div>
                            </th>
                            <th class="bg-default" style="background-color: #f68e56!important;">
                                <div class="d-flex">
                                    <div class="center-parent">
                                        <div>Lần phỏng vấn</div>
                                    </div>
                                </div>
                            </th>

                            <th class="bg-default" style="background-color: #f68e56!important;">
                                <div class="d-flex">
                                    <div class="center-parent">
                                        <div>Trạng thái</div>
                                    </div>
                                </div>
                            </th>
                            <th class="bg-default" style="background-color: #f68e56!important;">
                                <div class="d-flex">
                                    <div class="center-parent">
                                        <div>Lần duyệt</div>
                                    </div>
                                </div>
                            </th>
                            <th class="bg-default" style="background-color: #f68e56!important;">
                                <div class="d-flex">
                                    <div class="center-parent">
                                        <div>Người tạo</div>
                                    </div>
                                </div>
                            </th>
                            <th class="bg-default" style="background-color: #f68e56!important;">
                                <div class="d-flex">
                                    <div class="center-parent">
                                        <div>Ngày tạo</div>
                                    </div>
                                </div>
                            </th>
                            <th class="bg-default" style="background-color: #f68e56!important;">
                                <div class="d-flex">
                                    <div class="center-parent">
                                        <div>Thao tác</div>
                                    </div>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="select-filter" valign="baseline">
                                <ng-container *ngIf="XemTDG">
                                    <a routerLink="../detail" class="link-effect">{{priceReview?.name}}</a>

                                </ng-container>
                                <ng-container *ngIf="!XemTDG">
                                    {{priceReview?.name}}
                                </ng-container>
                            </td>
                            <td style="padding: 0!important; max-width: 200px;">
                                <div class="attach-file">
                                    <div class="item d-flex align-items-center" style="box-sizing: border-box" *ngFor="let item of priceReview.files">
                                        <div class="ml-2 mt-1 mb-1 mr-2 d-flex justify-content-between w-90">
                                            <div class="">
                                                <div class="name">
                                                    <span class="xuong-dong-2">{{item?.name}}</span>
                                                </div>
                                                <div class="time">
                                                    {{ item?.uploadDate*1000 | date:'dd/MM/yyyy HH:mm': '+0000' }}
                                                </div>
                                            </div>
                                            <div>
                                                <a (click)="downloadFileAttach(item.id)" *ngIf="!item?.url">
                                                    <i class="fa fa-download color-item-down" aria-hidden="true"></i>
                                                </a>
                                                <a [href]="item?.url" target="_blank" *ngIf="item?.url">
                                                    <i class="fa fa-external-link color-item-down" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </td>
                            <td class="select-filter text-center" valign="baseline">{{priceReview?.interviewTimes}}</td>
                            <td class="select-filter" valign="baseline">{{priceReview?.isDraftVersion ? 'Bản nháp' :
                                'Chính thức'}}</td>

                            <td class="select-filter text-center" valign="baseline">{{priceReview?.approvalTimes}}</td>
                            <td class="select-filter" valign="baseline">{{priceReview?.createdEmployee?.employeeName}}</td>
                            <td class="select-filter" valign="baseline">{{priceReview?.createdDate*1000 |
                                date:'dd/MM/yyyy HH:mm': '+0000' }}</td>
                            <td class="select-filter min-width-action" valign="baseline">
                                <div class="d-flex justify-content-around">
                                    <ng-container *ngIf="XemTDG">
                                        <div style="cursor: pointer;" title="Xem" routerLink="../detail">
                                            <a>
                                                <i class="fa fa-eye cursor-pointer icon-view" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="SuaTDG">
                                        <div *ngIf="!package?.isChotHoSo" style="cursor: pointer;" title="Sửa"
                                            routerLink="../edit">
                                            <a>
                                                <i class="fa fa-pencil cursor-pointer icon-edit" aria-hidden="true">
                                                </i>
                                            </a>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="XoaTDG">
                                        <div *ngIf="!package?.isChotHoSo" style="cursor: pointer;" title="Xóa" (click)="delete()">
                                            <a class="text-success">
                                                <i class="fa fa-trash-o cursor-pointer icon-delete" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="InTDG">
                                        <div style="cursor: pointer;" title="In" (click)="print()">
                                            <a class="text-success">
                                                <i class="fa fa-print cursor-pointer icon-print" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </ng-container>




                                </div>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>

        </div>


        <ng-container *ngIf="!(package?.stageStatus?.id !== 'DangLapHSDT' && package?.stageStatus?.id !== 'CanLapTrinhDuyetGia' && package?.stageStatus?.id !== 'DaGuiDuyetTrinhDuyetGia' && package?.stageStatus?.id !== 'DaDuyetTrinhDuyetGia' && package?.stageStatus?.id !== 'CanDieuChinhTrinhDuyetGia')">
            <div class="content mt-5" *ngIf="historyList && historyList.length !== 0">
                <div class="d-flex justify-content-between">
                    <h5 class="text-uppercase mb-3">Lịch sử cập nhật</h5>
                </div>
                <ng-container class="table-responsive">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger2" class="w-100 table-selection stripe row-border hover cell-border dataTable">
                        <thead>
                            <tr>
                                <th class="w-15">Lần cập nhật</th>
                                <th class="w-10">Người cập nhật</th>
                                <th class="w-15">Ngày cập nhật</th>
                                <th class="w-20">Nội dung cập nhật</th>
                                <th class="w-40">Chi tiết cập nhật</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let itemByChangedTimes of historyList; let i = index">
                                <td class="text-center">
                                    {{ indexItemHistoryChange - i}}
                                </td>
                                <td> {{itemByChangedTimes.items[0].employee?.employeeName}}</td>
                                <td>{{ (itemByChangedTimes.items[0].changedTime)*1000 | date:'dd/MM/yyyy ,
                                    HH:mm':'+0000' }}</td>
                                <td>
                                    <div class="text-truncate" [title]="itemByChangedTimes.items[0].updateDesc">{{itemByChangedTimes.items[0].updateDesc}}</div>
                                </td>
                                <td class="font-size-90">
                                    <div class="overflow-scroll" *ngIf="itemByChangedTimes.items && itemByChangedTimes.items !== 0">
                                        <ng-container *ngFor="let itemByChangeTime of itemByChangedTimes.items; index as index">
                                            <div *ngIf="index < 4">
                                                <div *ngFor="let itemByLiveFormChanged of itemByChangeTime.liveFormChangeds">
                                                    <ng-container *ngFor="let itemByLiveFormStep of itemByLiveFormChanged.items; index as count">




                                                        <div *ngIf="count < lineDisplay(itemByLiveFormChanged.items.length, itemByChangedTimes.items.length)">
                                                            <div *ngIf="!itemByChangeTime.liveFormChangeds[0].value">
                                                                <div *ngIf="!(itemByLiveFormStep.liveFormTitle === 'CostOfCapital' ||
                                                                              itemByLiveFormStep.liveFormTitle === 'CostOfCapitalGeneralCost' ||
                                                                              itemByLiveFormStep.liveFormTitle === 'CostOfCapitalPCPSValue' ||
                                                                              itemByLiveFormStep.liveFormTitle === 'TotalCostOfCapital' ||
                                                                              itemByLiveFormStep.liveFormTitle === 'TotalCostOfCapitalProfitCost' ||
                                                                              itemByLiveFormStep.liveFormTitle === 'TotalCostOfSubmission' ||
                                                                              itemByLiveFormStep.liveFormTitle === 'GFA' ||
                                                                              itemByLiveFormStep.liveFormTitle === 'CostOfCapitalValue')">

                                                                    <ng-container *ngIf="(itemByLiveFormStep.oldValue || itemByLiveFormStep.newValue) && !(itemByLiveFormStep.oldValue === '0' && itemByLiveFormStep.newValue === '0')">
                                                                        <ng-container *ngIf="(itemByLiveFormStep.oldValue == 'True' || itemByLiveFormStep.oldValue == 'False') && (itemByLiveFormStep.newValue == 'True' || itemByLiveFormStep.newValue == 'False')">
                                                                            <span *ngIf="itemByLiveFormStep.oldValue == 'False' && itemByLiveFormStep.newValue == 'True'">
                                                                                *Đã chọn: {{
                                                                                itemByLiveFormStep.liveFormTitle |
                                                                                translate }}
                                                                            </span>
                                                                            <span *ngIf="itemByLiveFormStep.oldValue == 'True' && itemByLiveFormStep.newValue == 'False'">
                                                                                *Đã bỏ chọn: {{
                                                                                itemByLiveFormStep.liveFormTitle |
                                                                                translate }}
                                                                            </span>
                                                                        </ng-container>
                                                                        <ng-container *ngIf="!((itemByLiveFormStep.oldValue == 'True' || itemByLiveFormStep.oldValue == 'False') && (itemByLiveFormStep.newValue == 'True' || itemByLiveFormStep.newValue == 'False'))">
                                                                            <span>*{{itemByLiveFormStep.liveFormTitle |
                                                                                translate}}:
                                                                            </span>&nbsp; từ
                                                                            <span class="font-weight-bold" *ngIf="itemByLiveFormStep.liveFormTitle == 'OAndPPercentOfTotalCost'">
                                                                                {{ itemByLiveFormStep.oldValue ?
                                                                                (itemByLiveFormStep.oldValue |
                                                                                truncateDecimal ) : 'không có'}}
                                                                            </span>

                                                                            <span class="font-weight-bold" *ngIf="!(itemByLiveFormStep.liveFormTitle == 'OAndPPercentOfTotalCost')">
                                                                                {{itemByLiveFormStep.oldValue ?
                                                                                itemByLiveFormStep.oldValue : 'không
                                                                                có'}}
                                                                            </span>



                                                                            thành
                                                                            <span class="font-weight-bold" *ngIf="!(itemByLiveFormStep.liveFormTitle == 'OAndPPercentOfTotalCost')">
                                                                                {{itemByLiveFormStep.newValue ?
                                                                                itemByLiveFormStep.newValue : 'không
                                                                                có'}}
                                                                            </span>

                                                                            <span class="font-weight-bold" *ngIf="itemByLiveFormStep.liveFormTitle == 'OAndPPercentOfTotalCost'">
                                                                                {{itemByLiveFormStep.newValue ?
                                                                                (itemByLiveFormStep.newValue |
                                                                                truncateDecimal ) : 'không có'}}
                                                                            </span>
                                                                        </ng-container>
                                                                    </ng-container>
                                                                    <!-- --- -->

                                                                </div>

                                                                <div *ngIf="itemByLiveFormStep.liveFormTitle === 'GFA'">
                                                                    <ng-container *ngIf="(itemByLiveFormStep.oldValue || itemByLiveFormStep.newValue) && !(itemByLiveFormStep.oldValue === '0' && itemByLiveFormStep.newValue === '0')">
                                                                        <span>*{{itemByLiveFormStep.liveFormTitle |
                                                                            translate}}:
                                                                        </span>&nbsp; từ
                                                                        <span class="font-weight-bold" *ngIf="!(itemByLiveFormStep.liveFormTitle == 'OAndPPercentOfTotalCost')">
                                                                            {{itemByLiveFormStep.oldValue |
                                                                            numberArea}}
                                                                        </span>

                                                                        <span class="font-weight-bold" *ngIf="itemByLiveFormStep.liveFormTitle == 'OAndPPercentOfTotalCost'">
                                                                            {{itemByLiveFormStep.oldValue |
                                                                            truncateDecimal}}
                                                                        </span>
                                                                        thành
                                                                        <span class="font-weight-bold" *ngIf="!(itemByLiveFormStep.liveFormTitle == 'OAndPPercentOfTotalCost')">
                                                                            {{itemByLiveFormStep.newValue |
                                                                            numberArea}}
                                                                        </span>
                                                                        <span class="font-weight-bold" *ngIf="itemByLiveFormStep.liveFormTitle == 'OAndPPercentOfTotalCost'">
                                                                            {{itemByLiveFormStep.newValue |
                                                                            numberArea}}
                                                                        </span>
                                                                    </ng-container>
                                                                </div>


                                                                <div *ngIf="itemByLiveFormStep.liveFormTitle === 'CostOfCapital' ||
                                                                            itemByLiveFormStep.liveFormTitle === 'CostOfCapitalGeneralCost'||
                                                                            itemByLiveFormStep.liveFormTitle === 'CostOfCapitalPCPSValue' ||
                                                                            itemByLiveFormStep.liveFormTitle === 'TotalCostOfCapital' ||
                                                                            itemByLiveFormStep.liveFormTitle === 'TotalCostOfCapitalProfitCost' ||
                                                                            itemByLiveFormStep.liveFormTitle === 'TotalCostOfSubmission' ||
                                                                            itemByLiveFormStep.liveFormTitle === 'CostOfCapitalValue'">
                                                                    <ng-container *ngIf="(itemByLiveFormStep.oldValue || itemByLiveFormStep.newValue) && !(itemByLiveFormStep.oldValue === '0' && itemByLiveFormStep.newValue === '0')">
                                                                        <span>*{{itemByLiveFormStep.liveFormTitle |
                                                                            translate}}:
                                                                        </span>&nbsp; từ
                                                                        <span class="font-weight-bold" *ngIf="itemByLiveFormStep.liveFormTitle == 'OAndPPercentOfTotalCost'">
                                                                            {{itemByLiveFormStep.oldValue |
                                                                            truncateDecimal}}
                                                                        </span>
                                                                        <span class="font-weight-bold" *ngIf="!(itemByLiveFormStep.liveFormTitle == 'OAndPPercentOfTotalCost')">
                                                                            {{itemByLiveFormStep.oldValue |
                                                                            vnCurrency}}</span>
                                                                        thành
                                                                        <span class="font-weight-bold" *ngIf="itemByLiveFormStep.liveFormTitle == 'OAndPPercentOfTotalCost'">
                                                                            {{itemByLiveFormStep.newValue |
                                                                            truncateDecimal}}
                                                                        </span>
                                                                        <span class="font-weight-bold" *ngIf="!(itemByLiveFormStep.liveFormTitle == 'OAndPPercentOfTotalCost')">
                                                                            {{itemByLiveFormStep.newValue |
                                                                            vnCurrency}}
                                                                        </span>
                                                                    </ng-container>
                                                                </div>

                                                            </div>

                                                        </div>




                                                    </ng-container>
                                                    <!-- ----- -->
                                                </div>
                                            </div>
                                        </ng-container>

                                        <div *ngIf="brief(itemByChangedTimes.items)"
                                            class="d-flex justify-content-center py-1">
                                            <a class="popup-detail" (click)="viewDetail(itemByChangedTimes, indexItemHistoryChange - i)">Xem
                                                thêm</a>
                                        </div>

                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </ng-container>


                <app-pagination [(pagedResult)]="pagedResultChangeHistoryList" (pagedResultChange)="pagedResultChangeHistory($event)"></app-pagination>
            </div>

        </ng-container>




        <div class="content mt-4" *ngIf="package?.stageStatus?.id !== 'DangLapHSDT' && package?.stageStatus?.id !== 'CanLapTrinhDuyetGia' && package?.stageStatus?.id !== 'DaGuiDuyetTrinhDuyetGia' && package?.stageStatus?.id !== 'DaDuyetTrinhDuyetGia' && package?.stageStatus?.id !== 'CanDieuChinhTrinhDuyetGia'">
            <div class="mb-4 mt-1">
                <h5>HỒ SƠ DỰ THẦU ĐÃ PHÊ DUYỆT</h5>
            </div>
            <div class="bot-table table-responsive">
                <table class="table-selection  row-border hover cell-border dataTable">
                    <thead>
                        <tr>
                            <th class="stt" style="background-color: #f68e56!important;">
                                <div class="d-flex justify-content-around">
                                    <div class="center-parent">
                                        <div>STT</div>
                                    </div>
                                </div>
                            </th>
                            <th style="background-color: #f68e56!important;">
                                <div class="d-flex justify-content-center">
                                    <div class="center-parent">
                                        <div>Loại tài liệu</div>
                                    </div>
                                </div>
                            </th>
                            <th style="background-color: #f68e56!important;">
                                <div class="d-flex justify-content-center">
                                    <div class="center-parent">
                                        <div></div>
                                    </div>
                                </div>
                            </th>
                            <th style=" background-color: #f68e56!important;">
                                <div class="d-flex justify-content-center">
                                    <div class="center-parent">
                                        <div>Tên tài liệu</div>
                                    </div>
                                </div>
                            </th>
                            <th style="background-color: #f68e56!important;">
                                <div class="d-flex justify-content-center">
                                    <div class="center-parent">
                                        <div>Lần phỏng vấn</div>
                                    </div>
                                </div>
                            </th>
                            <th style="background-color: #f68e56!important;" class="min-width-action">
                                <div class="d-flex justify-content-center">
                                    <div class="center-parent">
                                        <div>Thao tác</div>
                                    </div>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let items of listItemHSDTChinhThuc; let i = index;">
                            <ng-container *ngIf="items.childs.length">
                                <ng-container *ngFor="let item of items.childs; let k = index;">
                                    <tr>
                                        <td class="text-center">{{renderIndex(i,k)}}</td>
                                        <td valign="baseline" [attr.rowspan]="items.childs?.length" *ngIf="k == 0">
                                            {{items?.typeName}}
                                        </td>
                                        <td>
                                            {{item?.typeName}}
                                        </td>
                                        <td>
                                            {{item?.document?.name}}
                                        </td>
                                        <td class="text-center">
                                            {{item?.document?.interviewTime}}
                                        </td>
                                        <td class="min-width-action">
                                            <div class="d-flex justify-content-around">
                                                <ng-container *ngIf="item?.document?.isLiveForm">
                                                    <div style="cursor: pointer;" title="Xem" *ngIf="(item?.document?.type === 'TenderConditionalSummary' && XemLiveFormBangTomTatDK)
                                                    || (item?.document?.type === 'SiteSurveyingReport' && XemLiveFormThamquanCT)
                                                    || (item?.document?.type === 'TenderPriceApproval' && XemTDG)">
                                                        <a (click)="viewLiveForm(items?.typeName)">
                                                            <i class="fa fa-eye cursor-pointer icon-view" aria-hidden="true"></i>
                                                        </a>
                                                    </div>
                                                </ng-container>

                                                <ng-container *ngIf="(items?.typeName === 'Yêu cầu báo giá vật tư, thầu phụ' && yeuCauBaoGia)
                                                || (items?.typeName === 'Bảng tổng hợp dự toán' && bangTongHopDuToan)
                                                || (items?.typeName === 'Bảng tính chi phí chung' && bangTinhChiPhiChung)
                                                || (items?.typeName === 'Bảng câu hỏi làm rõ HSMT' && bangCauHoiLamRoHSMT)
                                                || (items?.typeName === 'Các HSKT có liên quan' && cacHSKTLienQuan)
                                                || (items?.typeName === 'Hồ sơ pháp lý' && hoSoPhapLy)
                                                || (items?.typeName === 'Hồ sơ khác' && hoSoKhac)">
                                                    <div style="cursor: pointer;" title="download" *ngIf="!item?.document?.isLiveForm">
                                                        <a *ngIf="!item?.document?.filerUrl" (click)="downloadHSDTChinhThuc(item?.document?.id)">
                                                            <i class="fa fa-download cursor-pointer icon-view"
                                                                aria-hidden="true"></i>
                                                        </a>
                                                        <ng-container *ngIf="item?.document?.filerUrl">
                                                            <a [href]="item?.document?.filerUrl" target="_blank">
                                                                <i class="fa fa-external-link color-item-down"
                                                                    aria-hidden="true"></i>
                                                            </a>
                                                        </ng-container>
                                                    </div>
                                                </ng-container>


                                                <ng-container *ngIf="item?.document?.isLiveForm">
                                                    <div style="cursor: pointer;" title="In" *ngIf="(item?.document?.type === 'TenderConditionalSummary' && InLiveFormBangTomTatDK)
                                                    || (item?.document?.type === 'SiteSurveyingReport' && InLiveFormThamquanCT)
                                                    || (item?.document?.type === 'TenderPriceApproval' && InTDG)">
                                                        <a class="text-success" (click)="inLiveForm(items?.typeName)">
                                                            <i class="fa fa-print cursor-pointer icon-print"
                                                                aria-hidden="true"></i>
                                                        </a>
                                                    </div>
                                                </ng-container>

                                            </div>
                                        </td>
                                    </tr>

                                </ng-container>
                            </ng-container>

                            <ng-container *ngIf="!items.childs.length">
                                <ng-container *ngFor="let item of items.document; let z = index;">
                                    <tr>
                                        <td class="text-center">{{renderIndex(i,z)}}</td>
                                        <td valign="baseline" [attr.rowspan]="items.document?.length" *ngIf="z == 0">
                                            {{items?.typeName}}
                                        </td>
                                        <td>
                                            <!-- {{item?.type}} -->
                                        </td>
                                        <td>
                                            {{item?.name}}
                                        </td>
                                        <td class="text-center">
                                            {{item?.interviewTime}}
                                        </td>
                                        <td class="min-width-action">
                                            <div class="d-flex justify-content-around">
                                                <ng-container *ngIf="item?.isLiveForm">
                                                    <div style="cursor: pointer;" title="Xem" *ngIf="(item?.type === 'TenderConditionalSummary' && XemLiveFormBangTomTatDK)
                                                    || (item?.type === 'SiteSurveyingReport' && XemLiveFormThamquanCT)
                                                    || (item?.type === 'TenderPriceApproval' && XemTDG)">
                                                        <a (click)="viewLiveForm(items?.typeName)">
                                                            <i class="fa fa-eye cursor-pointer icon-view" aria-hidden="true"></i>
                                                        </a>
                                                    </div>
                                                </ng-container>

                                                <ng-container *ngIf="(items?.typeName === 'Yêu cầu báo giá vật tư, thầu phụ' && yeuCauBaoGia)
                                                || (items?.typeName === 'Bảng tổng hợp dự toán' && bangTongHopDuToan)
                                                || (items?.typeName === 'Bảng tính chi phí chung' && bangTinhChiPhiChung)
                                                || (items?.typeName === 'Bảng câu hỏi làm rõ HSMT' && bangCauHoiLamRoHSMT)
                                                || (items?.typeName === 'Các HSKT có liên quan' && cacHSKTLienQuan)
                                                || (items?.typeName === 'Hồ sơ pháp lý' && hoSoPhapLy)
                                                || (items?.typeName === 'Hồ sơ khác' && hoSoKhac)">
                                                    <div style="cursor: pointer;" title="download" *ngIf="!item?.isLiveForm && !item?.filerUrl">
                                                        <a (click)="downloadHSDTChinhThuc(item?.id)">
                                                            <i class="fa fa-download  cursor-pointer icon-view"
                                                                aria-hidden="true"></i>
                                                        </a>
                                                    </div>

                                                    <div style="cursor: pointer;" *ngIf="item?.filerUrl">
                                                        <a [href]="item?.filerUrl" target="_blank">
                                                            <i class="fa fa-external-link color-item-down" aria-hidden="true"></i>
                                                        </a>
                                                    </div>
                                                </ng-container>

                                                <ng-container *ngIf="item?.isLiveForm">
                                                    <div style="cursor: pointer;" title="In" *ngIf="(item.type === 'TenderConditionalSummary' && InLiveFormBangTomTatDK)
                                                    || (item.type === 'SiteSurveyingReport' && InLiveFormThamquanCT)
                                                    || (item.type === 'TenderPriceApproval' && InTDG)">
                                                        <a (click)="inLiveForm(items?.typeName)" class="text-success">
                                                            <i class="fa fa-print cursor-pointer icon-print"
                                                                aria-hidden="true"></i>
                                                        </a>
                                                    </div>
                                                </ng-container>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-container>

                            </ng-container>


                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </ng-container>



</div>
<app-upload-file-attach *ngIf="showPopupAdd" (closed)="closePopup($event)" [packageId]="packageId"></app-upload-file-attach>


<app-popup-comfirm-form-in-dkdt *ngIf="isShowPopupFormIn" (closed)="closePopupFormIn($event)">

</app-popup-comfirm-form-in-dkdt>

<app-change-history-popup [updateInfo]="dataChangeHistory" [index]="index" *ngIf="showPopupDetail" (closed)="closePopupDetail($event)"></app-change-history-popup>
