<div class="example-wrapper">
    <kendo-dialog (close)="closePopup()" [width]="1200" class="width-kendo-dialog">
        <div class="title d-flex justify-content-between">
            <div class="flex-grow-1 d-flex justify-content-center">
                <h4 class="text-uppercase">Chi tiết lịch sử thay đổi Tóm tắt điều kiện dự thầu</h4>
            </div>
            <div>
                <img (click)="closePopup()" width="15" height="15" class="cursor-pointer not-outline" src="assets\images\close.png">
            </div>
        </div>
        <div class="detail">
            <div class="table-responsive">
                <table class="row-border cell-border dataTable table-layout--fixed table-layout--minwidth">
                    <thead>
                        <tr>
                                <th>{{ updateInfo.items[0].employee?.employeeName }} đã cập nhật cập nhật lần {{ index }} vào lúc {{ (updateInfo.items[0].changedTime)*1000 | date:'dd/MM/yyyy , HH:mm':'+0000' }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="font-size-90">
                                <div class="overflow-scroll" *ngIf="updateInfo.items && updateInfo.items !== 0">
                                    <div *ngFor="let itemByChangeTime of updateInfo.items">
                                        <div *ngFor="let itemByLiveFormChanged of itemByChangeTime.liveFormChangeds">

                                            <div *ngFor="let itemByLiveFormStep of itemByLiveFormChanged.items">

                                                <div *ngIf="itemByLiveFormStep.liveFormStep !== 'OtherSpecialRequirement' && 
                                                itemByLiveFormStep.liveFormTitle !=='TaxTypes' && 
                                                itemByLiveFormStep.liveFormTitle !== 'AttentiveDocuments' &&
                                                itemByLiveFormStep.liveFormTitle !== 'ProgressCompletionContractorDate' &&
                                                itemByLiveFormStep.liveFormTitle !== 'IsProgressCompletionDate' &&
                                                !((!itemByLiveFormStep.oldValue || itemByLiveFormStep.oldValue == '0' || itemByLiveFormStep.oldValue == '[]') && (!itemByLiveFormStep.newValue || itemByLiveFormStep.newValue == '0' || itemByLiveFormStep.newValue == '[]'))
                                                "
                                                    class="d-flex" title="* {{
                                                            itemByLiveFormStep.liveFormTitle ?
                                                            (itemByLiveFormStep.liveFormTitle | translate) :
                                                            ( itemByLiveFormStep.liveFormSubject ? 
                                                                (itemByLiveFormStep.liveFormSubject | translate) :
                                                                    (itemByLiveFormStep.liveFormStep | translate)
                                                            )
                                                        }}">
                                                    <ng-container>
                                                        *{{ itemByLiveFormStep.liveFormTitle | translate }}
                                                        <ng-container *ngIf="itemByLiveFormStep.liveFormSubject">
                                                            ({{ itemByLiveFormStep.liveFormSubject | translate }})

                                                        </ng-container>
                                                        :&nbsp;
                                                    </ng-container>
                                                    <div class="detail-changed pl-1">từ
                                                        <!-- --- -->
                                                        <span class="font-weight-bold" *ngIf="itemByLiveFormStep.liveFormTitle == 'ClosingTime'">
                                                            {{(itemByLiveFormStep.oldValue != 0) ?
                                                            ((itemByLiveFormStep.oldValue)*1000 |
                                                            date:'dd/MM/yyyy') :
                                                            'không có'}}
                                                        </span>
                                                        <!-- --- -->
                                                        <span class="font-weight-bold" *ngIf="itemByLiveFormStep.liveFormTitle != 'ClosingTime'">
                                                            {{itemByLiveFormStep.oldValue ?
                                                            (itemByLiveFormStep.oldValue | translate) : 'không
                                                            có'}}
                                                        </span>
                                                        thành
                                                        <!-- --- -->
                                                        <span class="font-weight-bold" *ngIf="itemByLiveFormStep.liveFormTitle == 'ClosingTime'">
                                                            {{(itemByLiveFormStep.newValue != 0) ?
                                                            ((itemByLiveFormStep.newValue)*1000 |
                                                            date:'dd/MM/yyyy') :
                                                            'không có'}}
                                                        </span>
                                                        <!-- --- -->
                                                        <span class="font-weight-bold" *ngIf="itemByLiveFormStep.liveFormTitle != 'ClosingTime'">
                                                            {{itemByLiveFormStep.newValue ?
                                                            (itemByLiveFormStep.newValue | translate) : 'không
                                                            có'}}
                                                        </span>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </kendo-dialog>
</div>
