<div>
  <div class="d-flex" style="width: 100%">
    <div class="center-parent row set-width-image" *ngIf="statusPackage === bidStatus.DaNopHSDT">
      <div class="col-md-12 center-parent">
        <img class="class-image" src="assets/images/thuongthao.png" width="250" class="d-inline-block" alt="">
      </div>
      <div class="col-md-12 center-parent message-create-interview py-3">VUI LÒNG TẠO LỜI MỜI PHỎNG VẤN</div>
      <div class="col-md-12 center-parent">
        <ng-container *ngIf="TaoMoiLMPV">
            <button class="btn btn-primary ml-1" (click)="createInvitation()">
                Tạo lời mời phỏng vấn
              </button>
        </ng-container>
        
      </div>
    </div>
    <div class="set-width-content pt-2" *ngIf="(currentStatusInterview > 0 || statusPackage === bidStatus.DaNhanLoiMoi) && statusPackage !== bidStatus.DaNopHSDT">
      <div>
        <div class=" title-list-package d-flex flex-wrap align-items-center status-filter">
          <div class="mr-auto d-flex align-items-end list-package mb-2" style="padding-top: 0!important;">
            <div class="d-flex justify-content-start">
              <div class="mr-4">
                <div style="text-transform: uppercase; font-size: 15px">DANH SÁCH LỜI MỜI PHỎNG VẤN</div>
              </div>
            </div>
          </div>
          <div class="btn-toolbar mt-2 mb-2">
          </div>
        </div>

        <div class="d-flex flex-row flex-wrap filter-bar" style="background-color: #fafbfc!important;">
          <div class="d-flex form-inline flex-pad">
            <div class="form-group ml-sm-2 py-2 pl-2">
              <label for="" class="form-label">Trạng thái</label>
              <span class="custom-dropdown mx-sm-2">
                <select class="form-control" [(ngModel)]="filterModel.status">
                  <option value="">Tất cả</option>
                  <option value="DaPhongVan">Đã phỏng vấn</option>
                  <option value="ChuaPhongVan">Chưa phỏng vấn</option>
                  <option value="QuaHanPhongVan">Quá hạn phỏng vấn</option>
                </select>
              </span>
            </div>
            <div class="form-group ml-sm-2 py-2 pl-2">
              <label for="" class="form-label">Ngày nhận</label>
              <kendo-datepicker class="mx-sm-2" [(ngModel)]="filterModel.receivedDate"></kendo-datepicker>
            </div>
            <div class="form-group ml-sm-2 py-2 pl-2">
              <label for="" class="form-label">Lần phỏng vấn</label>
              <span class="custom-dropdown mx-sm-2">
                <select class="form-control" [(ngModel)]="filterModel.interviewTimes">
                  <option [ngValue]="null">--Lựa chọn--</option>
                  <option *ngFor="let item of numberOfInterviews">{{item}}</option>
                </select>
              </span>
            </div>
            <div class="form-group ml-auto py-2 px-2">
              <button type="submit" class="btn btn-primary ml-sm-1" (click)="filter()">
                <i class="fa fa-filter" aria-hidden="true"></i>&nbsp; Lọc
              </button>
              <button class="btn btn-secondary ml-sm-1" (click)="clearFilter()">
                <i class="fa fa-times"></i>&nbsp; Xóa lọc
              </button>
            </div>
          </div>
        </div>

        <div class="bot-table table-responsive" *ngIf="!loading">
          <table class="table-selection row-border hover cell-border dataTable table">
            <thead>
              <tr>
                <th class="stt" style="width: 5%; min-width: 15px;background-color: #f68e56!important;">
                  <div class="d-flex justify-content-around">
                    <div style="width: 40%;">
                      <div class="center-parent">
                        <label class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" (change)="onSelectAll($event.target.checked)">
                          <span class="custom-control-indicator"></span>
                        </label>
                      </div>
                    </div>
                    <div style="width: 35%;" class="center-parent">
                      STT
                    </div>
                  </div>
                </th>

                <th style="width: 12%;background-color: #f68e56!important;">
                  Khách hàng
                </th>

                <th style="width: 9%;background-color: #f68e56!important; min-width: 5.5rem;">
                  <div class="d-flex justify-content-between">
                    <div>Ngày nhận</div>
                    <div class="center-parent ml-2">
                      <img *ngIf="currentFieldSort !== 'approvedDate' ||  (currentFieldSort === 'approvedDate' && statusSort === '')" class="icon-sort"
                        src="assets/images/sort.svg" (click)="sortField('approvedDate', 'asc')">
                      <img *ngIf="currentFieldSort === 'approvedDate' && statusSort === 'asc'" class="icon-sort-down-up" src="assets/images/sort-down.svg"
                        (click)="sortField('approvedDate', 'desc')">
                      <img *ngIf="currentFieldSort === 'approvedDate' && statusSort === 'desc'" class="icon-sort-down-up" src="assets/images/sort-up.svg"
                        (click)="sortField('approvedDate', '')">
                    </div>
                  </div>
                </th>

                <th class="th-mark-status" style="width: 12%; min-width: 8.5rem;background-color: #f68e56!important;">
                  <div class="d-flex justify-content-between">
                    <div>Thời gian phỏng vấn</div>
                    <div class="center-parent ml-2">
                      <img *ngIf="currentFieldSort !== 'interviewDate' ||  (currentFieldSort === 'interviewDate' && statusSort === '')" class="icon-sort"
                        src="assets/images/sort.svg" (click)="sortField('interviewDate', 'asc')">
                      <img *ngIf="currentFieldSort === 'interviewDate' && statusSort === 'asc'" class="icon-sort-down-up" src="assets/images/sort-down.svg"
                        (click)="sortField('interviewDate', 'desc')">
                      <img *ngIf="currentFieldSort === 'interviewDate' && statusSort === 'desc'" class="icon-sort-down-up" src="assets/images/sort-up.svg"
                        (click)="sortField('interviewDate', '')">
                    </div>
                  </div>
                </th>

                <th style="width: 14%; background-color: #f68e56!important;">Địa điểm
                </th>

                <th style="width: 12%;background-color: #f68e56!important;">Nội dung
                </th>

                <th class="th-mark-status" style="width: 7%; min-width: 5rem;background-color: #f68e56!important;">
                  <div class="d-flex justify-content-between">
                    <div>Lần p/vấn</div>
                    <div class="center-parent ml-2">
                      <img *ngIf="currentFieldSort !== 'interviewTimes' ||  (currentFieldSort === 'interviewTimes' && statusSort === '')" class="icon-sort"
                        src="assets/images/sort.svg" (click)="sortField('interviewTimes', 'asc')">
                      <img *ngIf="currentFieldSort === 'interviewTimes' && statusSort === 'asc'" class="icon-sort-down-up" src="assets/images/sort-down.svg"
                        (click)="sortField('interviewTimes', 'desc')">
                      <img *ngIf="currentFieldSort === 'interviewTimes' && statusSort === 'desc'" class="icon-sort-down-up" src="assets/images/sort-up.svg"
                        (click)="sortField('interviewTimes', '')">
                    </div>
                  </div>
                </th>

                <th style="width: 5%;background-color: #f68e56!important;">
                  <div class="d-flex justify-content-between">
                    <div>Trạng thái</div>
                    <div class="center-parent ml-2">
                      <img *ngIf="currentFieldSort !== 'status' ||  (currentFieldSort === 'status' && statusSort === '')" class="icon-sort" src="assets/images/sort.svg"
                        (click)="sortField('status', 'asc')">
                      <img *ngIf="currentFieldSort === 'status' && statusSort === 'asc'" class="icon-sort-down-up" src="assets/images/sort-down.svg"
                        (click)="sortField('status', 'desc')">
                      <img *ngIf="currentFieldSort === 'status' && statusSort === 'desc'" class="icon-sort-down-up" src="assets/images/sort-up.svg"
                        (click)="sortField('status', '')">
                    </div>
                  </div>
                </th>

                <th style="width: 16%;background-color: #f68e56!important;">
                  <div class="d-flex justify-content-center">
                    <div class="center-parent">
                      <div>Tình trạng</div>
                    </div>
                  </div>
                </th>

                <th class="table-action text-center" style="width: calc(8% - 42px);background-color: #f68e56!important; min-width: 70px!important;">
                  Thao tác
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of pagedResult.items; let i = index">
                <td class="stt d-flex justify-content-around">
                  <div style="width: 40%;">
                    <div class="center-parent">
                      <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" [(ngModel)]="item.checkboxSelected" (click)="saveChooseInterviewService(item.id)">
                        <!-- [(ngModel)]="item.checkboxSelected" -->
                        <span class="custom-control-indicator"></span>
                      </label>
                    </div>
                  </div>
                  <div style="width: 35%;" class="center-parent">
                    <div>{{i + 1}}</div>
                  </div>
                  <!-- <div class="center-parent ml-2">
                    <div style="width: 15px"></div>
                  </div> -->
                </td>
                <td [title]="item.customer ? item.customer.customerName : ''">
                  {{item.customer ? item.customer.customerName : ''}}
                </td>
                <td class="text-align-number">
                  {{ item.approvedDate !== 0 ? ((item.approvedDate)*1000 | date:'dd/MM/yyyy':'+0000') : ''}}
                </td>
                <td class="text-align-number">
                  {{ item.interviewDate !==0 ? ((item.interviewDate)*1000 | date:'dd/MM/yyyy HH:mm':'+0000') : ''}}
                </td>
                <td [title]="item.place">
                  {{item.place}}
                </td>
                <td [title]="item.content">
                  {{item.content}}
                </td>
                <td class="text-center">
                  {{item.interviewTimes}}
                </td>
                <td>
                  <div>
                    <div *ngIf="item.status.key === 'DaPhongVan'" class="color-dpv-show" style="text-align: center; color: white; padding: 0.1rem 0.1rem; border: 1px solid transparent; border-radius: 0.25rem; font-size: 9px!important">
                      Đã phỏng vấn
                    </div>
                    <div *ngIf="item.status.key === 'ChuaPhongVan'" class="color-cpv-show" style="text-align: center; color: white; padding: 0.1rem 0.1rem; border: 1px solid transparent; border-radius: 0.25rem; font-size: 9px!important">
                      Chưa phỏng vấn
                    </div>
                    <div *ngIf="item.status.key === 'QuaHanPhongVan'" class="color-qhpv-show" style="text-align: center; color: white; padding: 0.1rem 0.1rem; border: 1px solid transparent; border-radius: 0.25rem; font-size: 9px!important">
                      Quá hạn phỏng vấn
                    </div>
                  </div>
                </td>
                <td>
                  <div *ngIf="item.remainningDay > 0" class="text-center" title="Còn {{item.remainningDay}} ngày đến thời gian phỏng vấn">
                    Còn {{item.remainningDay}} ngày đến thời gian phỏng vấn
                  </div>
                  <div *ngIf="item.remainningDay < 0">
                    Quá hạn thời gian phỏng vấn {{ item.expiredDate ? item.expiredDate : '' }} ngày
                  </div>
                </td>
                <td class="text-center">
                  <div class="d-flex justify-content-around">
                    <div (click)="dowloadFileCreateInterview(item.id)">
                      <a title="Tải file">
                        <img class="class-image" src="assets/images/downloadInvitation.png" style="width: 16px; height: auto;" class="d-inline-block"
                          alt="">
                      </a>
                    </div>
                    <ng-container *ngIf="CapNhatLMPV && (statusPackage?.id <= checkStatusPackage.DaPhongVan.id)">
                        <div>
                            <a title="Chỉnh sửa">
                              <i class="fa fa-pencil color-item-down" aria-hidden="true" (click)="EditInvitation(item)"></i>
                            </a>
                          </div>
                    </ng-container>
                    
                  </div>
                </td>
              </tr>
            
            </tbody>
          </table>
          <div *ngIf="!loading && (!pagedResult.items || pagedResult.items.length === 0)" class="center-parent">Không có dữ liệu</div>
          <ngx-loading [show]="loading"></ngx-loading>
        </div>
      </div>
    </div>
  </div>
</div>
