<div class="boder-table">
  <div class="row">
    <ul class="progressbar">
      <li class="triangle active" [routerLink]="['../infomation-deployment']">
        <div style="width: 100%" class="center-parent">
          <div class="arrow-down-active"></div>
        </div>
        <span class="text-color ">Triển khai &amp; phân công tiến độ</span>
      </li>
      <li class="triangle active" [routerLink]="['../build']">
        <div style="width: 100%" class="center-parent">
          <div class="arrow-down-active"></div>
        </div>
        <span class="text-color ">Lập HSDT</span>
      </li>
      <li class="triangle active " [routerLink]="['../price-review']">
        <div style="width: 100%" class="center-parent">
          <div class="arrow-down-active"></div>
        </div>
        <span class="text-color ">Trình duyệt giá</span>
      </li>
      <li class="triangle active" [routerLink]="['../price-report']">
        <div style="width: 100%" class="center-parent">
          <div class="arrow-down-active"></div>
        </div>
        <span class="text-color ">Đơn báo giá dự thầu</span>
      </li>
      <li class="triangle active">
        <div style="width: 100%" class="center-parent">
          <div class="arrow-down-active"></div>
        </div>
        <span class="text-color">Hồ sơ dự thầu đã ký</span>
      </li>
      <li class="triangle active">
        <div style="width: 100%" class="center-parent">
          <div class="arrow-down-active"></div>
        </div>
        <span class="text-color">Quản lý phỏng vấn/thương thảo</span>
      </li>
    </ul>
  </div>
  <div id="outer-table" style="padding-top: 0px" class="pad-two-target">
    <div class="table-small">
      <div class=" title-list-package d-flex flex-wrap align-items-center status-filter" id="ipad-res">
        <div class="mr-auto d-flex align-items-end list-package mb-2">
          <div class="d-flex justify-content-start" style="height: 40px;">
            <div class="rule mr-2">
            </div>
            <div class="center-parent  mr-4" style="font-size: 18px">
              <div> Đã nộp hồ sơ dự thầu</div>
            </div>
          </div>
        </div>
        <div>
          <div class="btn-toolbar mt-2 mb-2">
            <div class="input-group">
              <span class="input-group-addon">Tìm kiếm theo</span>
              <input type="text" class="form-control icon" placeholder="&#xf002; Tên tài liệu" (keyup)="search($event.target.value)">
            </div>
            <button class="btn btn-primary ml-2" (click)="createInvitation()">
              Tạo lời mời phỏng vấn
            </button>
            <button class="btn btn-primary ml-2">
              <i class="fa fa-refresh" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex" style="width: 100%">
    <div style="width: 18%">
      <div class="nav flex-column nav-pills cus-menu" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <div class="nav-link active d-flex cus-menu-children" id="v-pills-home-tab" data-toggle="pill" role="tab" href="#v-pills-profile"
          aria-controls="v-pills-home" aria-selected="true">
          <div class="center-parent number">1</div>
          <div class="word">Tender Clarification Meeting (TCM)</div>
        </div>
        <div class="center-parent div-menu">
          <div class="border-top"></div>
        </div>
        <div class="nav-link no-active d-flex cus-menu-children" id="v-pills-profile-tab" data-toggle="pill" role="tab" href="#v-pills-profile"
          aria-controls="v-pills-profile" aria-selected="false">
          <div class="center-parent number">2</div>
          <div class="word">
            <span>Quản lý tổ chức phỏng vấn</span>
          </div>
        </div>
        <div class="center-parent div-menu">
          <div class="border-top"></div>
        </div>
        <div class="nav-link no-active d-flex cus-menu-children" id="v-pills-messages-tab" data-toggle="pill" role="tab" href="#v-pills-profile"
          aria-controls="v-pills-messages" aria-selected="false">
          <div class="center-parent number">3</div>
          <div class="word">Biên bản phỏng vấn thầu</div>
        </div>
      </div>
    </div>
    <div class="center-parent row" style="width: 82%; padding-left: 15px" *ngIf="false">
      <div class="col-md-12 center-parent">
        <img class="class-image" src="\assets\images\thuongthao.png" width="300" height="200" class="d-inline-block" alt="">
      </div>
      <div class="col-md-12 center-parent message-create-interview">VUI LÒNG TẠO LỜI MỜI PHỎNG VẤN</div>
      <div class="col-md-12 center-parent">
        <button class="btn btn-primary ml-2" (click)="createInvitation()">
          Tạo lời mời phỏng vấn
        </button>
      </div>
    </div>
    <div style="padding-left: 15px; width: 82%">
      <div>
        <div class=" title-list-package d-flex flex-wrap align-items-center status-filter">
          <div class="mr-auto d-flex align-items-end list-package mt-2 mb-2" style="padding-top: 0!important;">
            <div class="d-flex justify-content-start" style="height: 40px;">
              <div class="mr-4">
                <div style="text-transform: uppercase; font-size: 15px">DANH SÁCH LỜI MỜI PHỎNG VẤN</div>
              </div>
            </div>
          </div>
          <div class="btn-toolbar mt-2 mb-2">
          </div>
        </div>

        <div class="d-flex flex-row flex-wrap filter-bar" style="background-color: #fafbfc!important; margin-right: 15px">
          <div class="d-flex form-inline flex-pad zoom-toolbar">
            <div class="form-group ml-sm-2" style="padding: 10px;">
              <label for="" class="form-label">Tình trạng</label>
              <span class="custom-dropdown mx-sm-2">
                <select class="form-control">
                  <option value="">Tất cả</option>
                  <option value="Official">Chính thức</option>
                  <option value="Draft">Bản nháp</option>
                </select>
              </span>
            </div>
            <div class="form-group ml-sm-2" style="padding: 10px;">
              <label for="" class="form-label">Người upload</label>
              <span class="custom-dropdown mx-sm-2">
                <select class="form-control">
                  <option>--Lựa chọn--</option>
                </select>
              </span>
            </div>
            <div class="form-group ml-sm-2" style="padding: 10px;">
              <label for="" class="form-label">Ngày upload</label>
              <span class="custom-dropdown mx-sm-2">
                <select class="form-control">
                  <option>--Lựa chọn--</option>
                </select>
              </span>
            </div>
            <div class="form-group ml-sm-2" style="padding: 10px;">
              <label for="" class="form-label">Lần phỏng vấn</label>
              <span class="custom-dropdown mx-sm-2">
                <select class="form-control">
                  <option>--Lựa chọn--</option>
                </select>
              </span>
            </div>
            <div class="form-group ml-sm-2" style="padding: 10px;">
              <button type="submit" class="btn btn-primary ml-sm-2" (click)="filter()">
                <i class="fa fa-filter" aria-hidden="true"></i>&nbsp; Lọc
              </button>
              <button class="btn btn-secondary ml-sm-2" (click)="clearFilter()">
                <i class="fa fa-times"></i>&nbsp; Xóa lọc
              </button>
            </div>
          </div>
        </div>

        <div class="bot-table" style="margin-right: 15px;">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table-selection  row-border hover cell-border dataTable">
            <thead *ngIf="pagedResult.items">
              <tr>
                <th class="stt" style="width: 5%; min-width: 15px;background-color: #f68e56!important;">
                  <div class="d-flex justify-content-around">
                    <div style="width: 40%;">
                      <div class="center-parent">
                        <label class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input">
                          <span class="custom-control-indicator"></span>
                        </label>
                      </div>
                    </div>
                    <div style="width: 35%;" class="center-parent">
                      <div>STT</div>
                    </div>
                  </div>
                </th>

                <th style="width: 12%;background-color: #f68e56!important;">
                  <div class="d-flex justify-content-center">
                    <div class="center-parent">
                      <div>Khách hàng</div>
                    </div>
                  </div>
                </th>

                <th style="width: 9%;background-color: #f68e56!important;">
                  <div class="d-flex justify-content-center">
                    <div class="center-parent">
                      <div>Ngày nhận</div>
                    </div>
                  </div>
                </th>

                <th class="th-mark-status" style="width: 12%; min-width: 20px;background-color: #f68e56!important;">
                  <div class="d-flex justify-content-center">
                    <div style="width: 80%;" class="center-parent">
                      <div>Thời gian phỏng vấn</div>
                    </div>
                  </div>
                </th>

                <th style="width: 14%; background-color: #f68e56!important;">
                  <div class="d-flex justify-content-center">
                    <div class="center-parent">
                      <div>Địa điểm</div>
                    </div>
                  </div>
                </th>

                <th style="width: 12%;background-color: #f68e56!important;">
                  <div class="d-flex justify-content-center">
                    <div class="center-parent">
                      <div>Nội dung</div>
                    </div>
                  </div>
                </th>

                <th class="th-mark-status" style="width: 7%; min-width: 20px;background-color: #f68e56!important;">
                  <div class="d-flex justify-content-center">
                    <div style="width: 80%;" class="center-parent">
                      <div>Lần p/vấn</div>
                    </div>
                  </div>
                </th>

                <th style="width: 5%;background-color: #f68e56!important;">
                  <div class="d-flex justify-content-center">
                    <div class="center-parent">
                      <div>Trạng thái</div>
                    </div>
                  </div>
                </th>

                <th style="width: 16%;background-color: #f68e56!important;">
                  <div class="d-flex justify-content-center">
                    <div class="center-parent">
                      <div>Tình trạng</div>
                    </div>
                  </div>
                </th>

                <th class="table-action text-center" style="width: calc(8% - 42px);background-color: #f68e56!important; min-width: 70px!important;">
                  Thao tác
                </th>
              </tr>
            </thead>
            <tbody *ngIf="pagedResult.items">
              <tr *ngFor="let item of pagedResult.items; let i = index">
                <td class="stt d-flex justify-content-around">
                  <div style="width: 40%;">
                    <div class="center-parent">
                      <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                      </label>
                    </div>
                  </div>
                  <div style="width: 35%;" class="center-parent">
                    <div>{{i + 1}}</div>
                  </div>
                </td>
                <td class="text-center">
                  {{item.customer ? item.customer.customerName : ''}}
                </td>
                <td class="text-center">
                  {{(item.approvedDate)*1000 | date:'dd/MM/yyyy'}}
                </td>
                <td class="text-center">
                  {{(item.interviewDate)*1000 | date:'dd/MM/yyyy'}}
                </td>
                <td class="text-center">
                  {{item.place}}
                </td>
                <td class="text-center">
                  {{item.content}}
                </td>
                <td class="text-center">
                  {{item.interviewTimes}}
                </td>
                <td>
                  <div>
                    <div *ngIf="item.status && item.status.key === 'DaPhongVan'" class="color-dpv-show" style="text-align: center; color: white; padding: 0.1rem 0.1rem; border: 1px solid transparent; border-radius: 0.25rem; font-size: 9px!important">
                      Đã phỏng vấn
                    </div>
                    <div *ngIf="item.status && item.status.key === 'ChuaPhongVan'" class="color-cpv-show" style="text-align: center; color: white; padding: 0.1rem 0.1rem; border: 1px solid transparent; border-radius: 0.25rem; font-size: 9px!important">
                      Chưa phỏng vấn
                    </div>
                    <div *ngIf="item.status && item.status.key === 'QuaHanPhongVan'" class="color-qhpv-show" style="text-align: center; color: white; padding: 0.1rem 0.1rem; border: 1px solid transparent; border-radius: 0.25rem; font-size: 9px!important">
                      Quá hạn phỏng vấn
                    </div>
                  </div>
                </td>
                <td class="text-center">
                  <div *ngIf="item.remainningDay > 0">
                    Còn {{item.remainningDay}} ngày đến thời gian phỏng vấn
                  </div>
                  <div *ngIf="item.remainningDay < 0">
                    Quá hạn thời gian phỏng vấn {{item.remainningDay}} ngày
                  </div>
                </td>
                <td class="text-center">
                  <div class="d-flex justify-content-around">
                    <div>
                      <a title="Tải file">
                        <img class="class-image" src="\assets\images\downloadInvitation.png" style="width: 20px; height: auto;" class="d-inline-block"
                          alt="">
                      </a>
                    </div>
                    <div>
                      <a title="Chỉnh sửa">
                        <i class="fa fa-pencil color-item-down" aria-hidden="true"></i>
                      </a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>