<div>
  <div class="main-detail">
      <div class="d-flex justify-content-between menu">
          <a class="center-parent action" style="width: calc(20% - 3px)" [routerLinkActive]="['router-link-active']" [routerLink]="['./win']">
              <div class="text-uppercase">Lý do trúng thầu</div>
          </a>
          <a class="center-parent action" style="width: calc(20% - 3px)" [routerLinkActive]="['router-link-active']" [routerLink]="['./lose']">
              <div class="text-uppercase">Lý do trật thầu</div>
          </a>
          <a class="center-parent action" style="width: calc(20% - 3px)" [routerLinkActive]="['router-link-active']" [routerLink]="['./reject']">
            <div class="text-uppercase">Lý do hủy thầu</div>
        </a>
          <div class="" style="width: calc(40% - 3px)"></div>
      </div>
      <div>
          <router-outlet></router-outlet>
      </div>

  </div>
</div>