<form [formGroup]="createFormNewInvitation" *ngIf="createFormNewInvitation" novalidate (ngSubmit)="onSubmit()">
    <div>
        <div class="title-detail center-parent">
            <div style="width: 20%;">
            </div>
            <div style="width: 60%;">
                <div class="media-header center-parent">
                    <h3 class="d-inline title bold-title">TẠO LỜI MỜI PHỎNG VẤN</h3>
                </div>
            </div>
            <div style="width: 20%;" class="d-flex justify-content-end">
                <div>
                    <div class="padding-bot-x">
                        <img (click)="closePopup()" width="17" height="auto" class="cursor-pointer not-outline" src="assets\images\close.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="w-100 pad-row d-flex">
            <div class="width-name-field name-field p-2 bold-title">
                Khách hàng
            </div>
            <div class="width-content-field" style="padding-left: 0px">
                <input class="font-size-control w-100" disabled="true" kendoTextBox formControlName="customerName" type="text">
            </div>
        </div>
        <div class="w-100 d-flex pad-row">
            <div class="width-name-field name-field p-2 bold-title">
                Ngày nhận phỏng vấn
            </div>
            <div class="width-content-field" style="padding-left: 0px">
                <div class="no-boder">
                    <kendo-datepicker class="w-100 font-size-control" formControlName="approvedDate"></kendo-datepicker>
                </div>
            </div>
        </div>
        <div class="invalid-feedback width-content-field pl-0 content-form-err" *ngIf="formErrors.approvedDate">
            {{formErrors.approvedDate}}
        </div>
        <div class="w-100 d-flex pad-row">
            <div class="width-name-field name-field p-2 bold-title">
                Thời gian phỏng vấn
            </div>
            <div class="width-content-field" style="padding-left: 0px">
                <div class="no-boder d-flex">
                    <kendo-datepicker class="w-100 font-size-control" formControlName="interviewDate"></kendo-datepicker>
                </div>
            </div>
        </div>
        <div class="invalid-feedback width-content-field pl-0 content-form-err" *ngIf="formErrors.interviewDate">
            {{formErrors.interviewDate}}
        </div>
        <div class="w-100 d-flex pad-row">
            <div class="width-name-field name-field p-2 bold-title">
                Địa điểm
            </div>
            <div class="width-content-field" style="padding-left: 0px">
                <input class="font-size-control w-100" kendoTextBox formControlName="place" type="text">
            </div>
        </div>
        <div class="invalid-feedback width-content-field pl-0 content-form-err" *ngIf="formErrors.place">
            {{formErrors.place}}
        </div>
        <div class="w-100 d-flex pad-row">
            <div class="width-name-field name-field p-2 bold-title">
                Lần phỏng vấn
            </div>
            <div class="width-content-field" style="padding-left: 0px">
                <input appInputNumber class="font-size-control w-100" kendoTextBox formControlName="interviewTimes"
                    type="text">
            </div>
        </div>
        <div class="invalid-feedback width-content-field pl-0 content-form-err" *ngIf="formErrors.interviewTimes">
            {{formErrors.interviewTimes}}
        </div>
        <div class="w-100 d-flex pad-row">
            <div class="width-name-field name-field p-2 bold-title">
                Nội dung
            </div>
            <div class="width-content-field" style="padding-left: 0px">
                <textarea kendoTextArea cols="3" rows="3" class="form-control no-resize-textarea font-size-control w-100"
                    formControlName="content"></textarea>
            </div>
        </div>
        <div class="w-100 d-flex pad-row">
            <div class="width-name-field name-field p-2 bold-title">
                File đính kèm
            </div>
            <div class="width-content-field d-flex" style="padding-left: 0px">
                <div class="no-boder d-flex justify-content-between w-100">
                    <div class="fileUpload">
                        <button class="btn btn-primary font-size-control">
                            <i class="fa fa-cloud-upload" aria-hidden="true"></i>&nbsp;&nbsp; Chọn File</button>
                        <input type="file" class="upload" (change)="fileChange($event)" />
                    </div>
                    <div style="width: calc(100% - 120px);" class="d-flex justify-content-between">
                        <div> <span class="text-truncate">{{this.createFormNewInvitation.get('attachedFiles')?.value}}</span></div>
                        <div *ngIf="file">
                            <button (click)="deleteFileUpload()" class="btn btn-secondary">X</button>
                        </div>
                    </div>
                    <!-- <div class="d-flex justify-content-between font-size-control center-parent width-name-file">
                        <div>{{this.createFormNewInvitation.get('attachedFiles')?.value}}</div>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="cus-button-popup">
            <button type="submit" class="btn btn-primary widh-butt">Tạo mới</button>
            <button type="button" class="btn btn-secondary widh-butt" (click)="closePopup()">Hủy</button>
        </div>
    </div>
</form>
