<div class="bg-white">
  <div class="table-body">
    <div class="row menu">
      <div class="col-md-6">
        <h5 class="d-inline mb-0 mr-auto text-dark text-uppercase">danh sách nhóm người dùng </h5>

      </div>
      <div class="col-md-6">
        <div class="btn-toolbar pull-right menu" style="flex-wrap: nowrap;">
          <div class="input-group btn-rg">
            <span class="input-group-addon">Tìm kiếm</span>
            <input type="text" class="form-control icon" placeholder="&#xf002; Nhập tên, mô tả" (keyup)="searchTerm$.next($event.target.value)">
          </div>
          <button type="submit" class="btn btn-primary btn-rg w-80 pull-right" (click)="openModalCreate(edit)">
            Tạo mới
          </button>
          <button class="btn btn-primary btn-rg pull-right" (click)="multiDelete()">
            Xóa
          </button>

          <button type="button" class="btn btn-primary btn-rg pull-right" (click)="refesh(true)">
            <i class="fa fa-refresh" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="boder-table position-relative mt-3">
      <table *ngIf="!loading" class="zui-table table-striped table-hover">
        <thead *ngIf="pagedResult.items">
          <tr style="width: 100%">
            <th class="text-center min-width-stt">
              <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input input-checkbox" (change)="onSelectAll($event.target.checked)"
                  [(ngModel)]="checkboxSeclectAll">
                <span class="custom-control-indicator"></span>
              </label>
            </th>
            <th class="w-25">
              <div class="d-flex justify-content-start">
                <div style="margin-right: 10px">Tên</div>
              </div>
            </th>
            <th class="w-25">
              <div class="d-flex justify-content-start">
                <div style="margin-right: 10px">Mô tả</div>
              </div>
            </th>
            <th class="w-25">
              <div class="d-flex justify-content-start">
                <div style="margin-right: 10px">Ngày tạo</div>
              </div>
            </th>
            <th class="w-25">
              <div class="d-flex justify-content-start">
                <div style="margin-right: 10px">Trạng thái</div>
              </div>
            </th>
            <th class="text-center min-width-manipulation">
              Thao tác
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of pagedResult.items">
            <td class="text-center" style="width: 15px; padding-left: 7px;">
              <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" [(ngModel)]="item.checkboxSelected">
                <span class="custom-control-indicator"></span>
              </label>
            </td>
            <td class="text-truncate" [title]="item?.name ? item?.name : ''">
              {{item?.name}}
            </td>
            <td class="text-truncate" [title]="item?.desc ? item?.desc : ''">
              {{item?.desc}}
            </td>
            <td class="text-truncate" [title]="item.createdTime === 0 ? '' : (item.createdTime)*1000 | date:'dd/MM/yyyy': '+0000'">
              {{ item.createdTime === 0 ? '' : (item.createdTime)*1000 | date:'dd/MM/yyyy': '+0000'}}
            </td>
            <td class="text-truncate" [title]="item.userCount > 0 ? 'Có ' + item.userCount + ' người dùng' : 'Chưa có người dùng'">
              {{item.userCount > 0 ? 'Có ' + item.userCount + ' người dùng' : 'Chưa có người dùng'}}
            </td>
            <td class="text-truncate">
              <div>
                <div class="center-parent w-100 h-100">
                  <div class="col-md-6 center-parent cursor-pointer">
                    <i *ngIf="item.canBeMofify" [title]="'Sửa'" (click)="openModalEdit(item.id, edit)" class="fa fa-pencil cursor-pointer" style="color: #1e7e34"></i>
                  </div>
                  <div class="col-md-6 center-parent cursor-pointer">
                    <i *ngIf="item.canBeDelete" [title]="'Xóa'" (click)="delete(item.id)" class="fa fa-trash-o point cursor-pointer"></i>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <ngx-loading [show]="loading"></ngx-loading>
        </tbody>

      </table>
      <ngx-loading [show]="loading"></ngx-loading>

    </div>
    <app-pagination *ngIf="!loading" [(pagedResult)]="pagedResult" (pagedResultChange)="pagedResultChange($event)"></app-pagination>

  </div>
</div>

<!-- Strat Model Xóa Group -->
<ng-template>
  <div class="modal-header no-boder-bottom">
    <div class="col-md-10 offset-md-1 text-center">
      <p class="modal-title text-title text-model">Bạn có thực sự muốn xóa nhóm người dùng "{{GroupDelete.name}}" ra
        khỏi hệ thống? </p>
    </div>
    <div class="col-md-1">
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span class="pointer" aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <div class="text-center pd-b20">
    <button type="submit" class="btn btn-primary w-80" (click)="onDeleteGroup();">Có</button>
    <button type="button" class="btn btn-default w-80" (click)="modalRef.hide()">Không</button>
  </div>
</ng-template>
<!-- End Xóa Group -->

<!-- Start Edit Group User-->
<ng-template #edit>
  <div class="custom-table-header d-flex justify-content-between padding-title">
    <div class="center-parent" style="font-size: 150% !important; padding-left: 15px">
      <span *ngIf="groupEditOrCreate.id">Cập nhật chức năng của nhóm {{groupEditOrCreate.name}}</span>
      <span *ngIf="!groupEditOrCreate.id">Tạo mới nhóm</span>
    </div>
    <div class="col-md-1">
      <a class="close pull-right" (click)="closedPopup()">
        <span class="point point-delete" aria-hidden="true">&times;</span>
      </a>
    </div>
  </div>
  <div class="col-md-12 col-sx-12 ">
    <div class="alert alert-danger mt-2 col-md-12" role="alert" *ngIf="isError">
      Tên nhóm đã tồn tại trọng hệ thống!
    </div>

  </div>

  <div class="modal-header no-boder-bottom-title">
    <div class="col-md-2 title-name required">
      Tên
    </div>
    <div class="col-md-10">
      <textarea class="content-textarea form-control" name="" id="" cols="30" rows="1" [(ngModel)]="groupEditOrCreate.name"
        [ngClass]="{ 'is-invalid': submitted && (!groupEditOrCreate.name || !groupEditOrCreate.name.trim()) }"></textarea>
      <div class="cus-validate" *ngIf="submitted && (!groupEditOrCreate.name || !groupEditOrCreate.name.trim())">Trường này là bắt buộc nhập</div>
    </div>
  </div>
  <div class="modal-header no-boder-bottom-title">
    <div class="col-md-2 title-name">
      Mô tả
    </div>
    <div class="col-md-10">
      <textarea class="content-textarea form-control" name="" id="" cols="30" rows="1" [(ngModel)]="groupEditOrCreate.desc"></textarea>
    </div>
  </div>
  <div class="modal-header no-boder-bottom">
    <div class="col-md-5 form-group">
      <div class="title-action" for="exampleFormControlSelect2">Danh sách chức năng</div>
      <select multiple class="form-control form-select" id="exampleFormControlSelect2" style="height: 150px;"
        [(ngModel)]="changeTemp" (ngModelChange)="selectEachFieldEditNotUser($event)">
        <option [ngValue]="notPrivilege" *ngFor="let notPrivilege of groupEditOrCreate.notPrivileges">
          {{notPrivilege.text | translate}}
        </option>
      </select>
    </div>
    <div class="col-md-2 group-button">
      <button type="button" class="btn btn-default btn-next mg-b-2" (click)="selectAllPrivilegesEditUse()">
        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
      </button>
      <button type="button" class="btn btn-default btn-next mg-b-2" (click)="changePrivilegesEditNotUse()">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </button>
      <button type="button" class="btn btn-default btn-next mg-b-2" (click)="changePrivilegesEditUse()">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
      </button>
      <button type="button" class="btn btn-default btn-next mg-b-2" (click)="selectAllPrivilegesEditNotUse()">
        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
      </button>
    </div>
    <div class="col-md-5 form-group">
      <div class="title-action" for="exampleFormControlSelect2">Chức năng được sử dụng</div>
      <select multiple class="form-control form-select" id="exampleFormControlSelect2" [(ngModel)]="changeTemp"
        (ngModelChange)="selectEachFieldEditUser($event)">
        <option [ngValue]="privilege" *ngFor="let privilege of groupEditOrCreate.privileges">
          {{privilege.text | translate}}
        </option>
      </select>
    </div>
  </div>
  <div class="pd-b20 d-flex justify-content-end">
    <button type="submit" class="btn btn-primary w-80" (click)="ediGroupUser();" style="margin-right: 8px">Lưu</button>
    <button type="button" class="btn btn-default w-80" (click)="closedPopup()" style="margin-right: 15px">Hủy</button>
  </div>
</ng-template>
<!-- End Edit Group User-->

<!-- <ngx-spinner bdColor="rgba(51, 51, 51, 0.7)" size = "default" color="#fff" type="ball-scale"></ngx-spinner> -->