.boder-table {
    border: 1px solid #ebebeb; //padding-bottom: 35px;
    border-radius: 4px;
    box-shadow: 0 0 10px 3px #f1f1f1;
    height: 1009px;
}

.table-body {
    padding: 20px 25px;
    padding-bottom: 0px;
}

.btn-rg {
    margin-right: 4px;
}

.text-head-user {
    text-transform: uppercase;
    color: #00a0e3;
    font-size: 700
}

input.icon {
    font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.data-list {
    padding-top: 10px;
    ;
}

.show-active {
    content: '\f058';
    height: 20px;
    background-repeat: no-repeat;
    margin-left: -8px;
}

.color-active {
    color: #00a0e3;
}

.row-pd {
    padding: 10px;
}

.w-80 {
    width: 80px;
}
:host{
    background-color: #f6f6f6;
}