<form [formGroup]="locationForm" novalidate (ngSubmit)="submitForm()">
  <div>
    <div class="card p-3">
      <div class="row form-group">
        <div class="col-md-2 text-right required">Tên Vị trí/Chức vụ</div>
        <div class="col-md-3">
          <input class="form-control" [class.is-invalid]="formErrors.locationName" tabindex="1" formControlName="locationName">
          <div class="invalid-feedback" *ngIf="formErrors.locationName">
            {{formErrors.locationName}}
          </div>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-2 text-right">Mô tả</div>
        <div class="col-md-3">
          <textarea class="form-control" tabindex="2" formControlName="locationDesc"></textarea>
        </div>
      </div>
    </div>
    <div class="text-right">
      <button class="btn btn-secondary" type="button" [routerLink]="['/settings/position']">Hủy
      </button>
      <button type="submit" class="btn btn-primary ml-2">Lưu
      </button>
    </div>
  </div>
</form>