.main-container {
    height: 100%;
    margin-top: 55px;
    -ms-overflow-x: hidden;
    overflow-x: hidden; // overflow-y: scroll;
    position: relative;
    background-color: #f6f6f6;
    overflow: visible;
}



@media screen and (max-width: 992px) {
    .main-container {
        margin-left: 55px !important;
    }
}


@media screen and (max-width: 1100px) {

}


#footer { position: fixed; bottom: 0; }


.sectionIn {
    margin-left: 200px;
    transition: margin 0.5s; /* IE 10+, Fx 29+ */
}

.sectionOut {
    margin-left: 55px;
    transition: margin 0.5s;
}

:host{
    background-color: #f6f6f6;
}
