<form [formGroup]="decisionBoardForm">
    <div class="p-3 position-relative">
        <!-- <div *ngIf="routerAction == 'view' || decisionBoardForm.get('isSigned').value" class="b-form-readonly"></div> -->
        <!-- <div *ngIf="routerAction === (!isDirector || !(packageInfo?.stageStatus.id === bidStatus.ChoDuyetDeNghiDuThau) || decisionBoardForm.get('isSigned').value)" class="b-form-readonly"></div> -->
        <div *ngIf="!isDirector || !(packageInfo?.stageStatus.id === bidStatus.ChoDuyetDeNghiDuThau) || decisionBoardForm.get('isSigned').value" class="b-form-readonly"></div>
        <div>
            <h5 class="text-uppercase">VIII. quyết định của ban tổng giám đốc (decision of board of general director)</h5>
        </div>
        <div class="row mt-4">
            <div class="col-md-4">
                Duyệt
            </div>
            <div class="col-md-8 row">
                <div class="col-md-6">
                    <input [value]="true" 
                        type="radio" [appAutoFocus]="routerAction != 'view'" tabindex="1" formControlName="isAgreed" > Đồng ý/ Agree
                </div>
                <div class="col-md-6">
                    <input [value]="false"
                        type="radio" tabindex="2" appEnterPreventDefault formControlName="isAgreed"> Không đồng ý/ No agree
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-4 d-flex align-items-center">
                Lý do/ Reason
            </div>
            <div class="col-md-8">
                <textarea class="form-control"
                    appEnterPreventDefault tabindex="3" [attr.disabled]="decisionBoardForm.get('isAgreed').value ? '' : null"
                    formControlName="reason" rows="2"></textarea>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-4 d-flex align-items-center">
                Thời gian mong đợi được duyệt
            </div>
            <div class="col-md-8">
                <!-- <kendo-datepicker appAutoFocus tabindex="1" disabled formControlName="expectedTime" class="form-control"></kendo-datepicker> -->
                {{expectedTimeStr}}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-4 d-flex align-items-center">
                Ký tên/ Signing
            </div>
            <div class="col-md-8">
                <button *ngIf="!(packageInfo?.stageStatus.id === bidStatus.ThamGiaDuThau) && !decisionBoardForm.get('isSigned').value" tabindex="4"
                    class="btn btn-primary btn-sign" (click)="clickSigned()" [disabled]="!(packageInfo?.stageStatus.id === bidStatus.ChoDuyetDeNghiDuThau) || !isDirector"
                    [class.cursor-cancel]="!(packageInfo?.stageStatus.id === bidStatus.ChoDuyetDeNghiDuThau) || !isDirector">Xác nhận ký</button>
                <button *ngIf="packageInfo?.stageStatus.id === bidStatus.ThamGiaDuThau || decisionBoardForm.get('isSigned').value" tabindex="5"
                    class="btn btn-primary btn-sign position-relative">
                    <i class="fa fa-check-square icon-check" aria-hidden="true"></i> Đã ký
                </button>
            </div>
        </div>
        <div class="text-center mt-4">
            <button class="btn border" tabindex="7" routerLink="../director-proposal" (keyup)="routerLink($event, 'director-proposal')">
                <i class="fa font-size-3 mr-3 fa-angle-left" aria-hidden="true"></i>
                Trở về
            </button>
            <button class="btn btn-primary ml-2 cursor-cancel" tabindex="6" disabled>
                Tiếp
                <i class="fa font-size-3 ml-3 fa-angle-right" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</form>