<div>
    <div class="search-box d-flex">
        <div class="media mr-auto">
            <div class="media-header">
                <a [routerLink]='["/contact"]'>
                    <i class="fa fa-chevron-left mr-3" aria-hidden="true"></i>
                </a>
                <i class="fa fa-address-card mr-3" aria-hidden="true"></i>
                <h4 class="d-inline mb-0 text-dark">{{ contact.id > 0 ? 'Chỉnh sửa liên hệ' : 'Tạo mới liên hệ'}}</h4>
            </div>

        </div>

        <div class="action-bar">
            <button class="btn btn-primary ml-2" (click)="submitForm()">Lưu &nbsp;

            </button>
            <button class="btn btn-secondary ml-2" [routerLink]="['/contact']">Hủy &nbsp;

            </button>
        </div>

    </div>
    <hr>

    <form [formGroup]="contactForm">
        <div class="d-flex">
            <div class="w-100  mr-auto">
                <div class="card-collapse">
                    <div class="header" (click)="isCollapsedMain = !isCollapsedMain" [attr.aria-expanded]="!isCollapsedMain" aria-controls="info-main">
                        <i class="fa fa-caret-down mr-3"></i>Chi tiết liên hệ</div>
                    <div class="body" id="info-main" [ngbCollapse]="isCollapsedMain">
                        <table class="w-100 table table-bordered">
                            <tbody>
                                <tr>
                                    <td class="w-25 bg-light text-right label">Danh xưng</td>
                                    <td class="w-25">
                                        <span class="custom-dropdown w-75 ">
                                            <select class="form-control" autofocus formControlName="salutation" tabindex="1">
                                                <option [ngValue]="null">--Lựa chọn--</option>
                                                <option *ngFor="let item of salutationList | async" [value]="item.id">{{item.text}}</option>
                                            </select>
                                        </span>
                                    </td>
                                    <td class="w-25 bg-light text-right label">Điện thoại phòng</td>
                                    <td class="w-25">
                                        <input appInputNumber class="w-75 form-control" type="text" [class.is-invalid]="formErrors.companyPhone" formControlName="companyPhone"
                                            tabindex="10">
                                        <div class="invalid-feedback" *ngIf="formErrors.companyPhone">
                                            {{formErrors.companyPhone}}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-25 bg-light text-right label required">Họ</td>
                                    <td class="w-25">
                                        <input class="w-75 form-control" type="text" [class.is-invalid]="formErrors.lastName" formControlName="lastName" tabindex="2">
                                        <div class="invalid-feedback" *ngIf="formErrors.lastName">
                                            {{formErrors.lastName}}
                                        </div>
                                    </td>
                                    <td class="w-25 bg-light text-right label">Điện thoại di động</td>
                                    <td class="w-25">
                                        <input appInputNumber class="w-75 form-control" type="text" [class.is-invalid]="formErrors.mobilePhone" formControlName="mobilePhone"
                                            tabindex="11">
                                        <div class="invalid-feedback" *ngIf="formErrors.mobilePhone">
                                            {{formErrors.mobilePhone}}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-25 bg-light text-right label required">Tên</td>
                                    <td class="w-25">

                                        <input class="w-75 form-control" type="text" formControlName="firstName" tabindex="3" [class.is-invalid]="formErrors.firstName">
                                        <div class="invalid-feedback" *ngIf="formErrors.firstName">
                                            {{formErrors.firstName}}
                                        </div>

                                    </td>
                                    <td class="w-25 bg-light text-right label">Điện thoại nhà riêng</td>
                                    <td class="w-25">
                                        <input appInputNumber class="w-75 form-control" type="text" [class.is-invalid]="formErrors.homePhone" formControlName="homePhone"
                                            tabindex="12">
                                        <div class="invalid-feedback" *ngIf="formErrors.homePhone">
                                            {{formErrors.homePhone}}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-25 bg-light text-right label">Ngày sinh</td>
                                    <td class="w-25">
                                        <div class="input-group w-75">
                                            <owl-date-time formControlName="dateOfBirth"  
                                                 [tabIndex]="'4'">

                                            </owl-date-time>
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>

                                        </div>
                                    </td>
                                    <td class="w-25 bg-light text-right label">Điện thoại phụ</td>
                                    <td class="w-25">
                                        <input appInputNumber class="w-75 form-control" type="text" [class.is-invalid]="formErrors.extraPhone" formControlName="extraPhone"
                                            tabindex="13">
                                        <div class="invalid-feedback" *ngIf="formErrors.extraPhone">
                                            {{formErrors.extraPhone}}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-25 bg-light text-right label">Khách hàng</td>
                                    <td class="w-25">
                                        <div class=" w-75 autocomplete-wrapper-2 ui-fluid">
                                            <p-autoComplete formControlName="customer" [suggestions]="customersSearchResults" [forceSelection]="true" [delay]="'400'"
                                                [emptyMessage]="'Không có dữ liệu'" placeholder="Nhập tên khách hàng" [immutable]="true"
                                                (completeMethod)="searchCustomers($event.query)" field="text" dataKey="id" [multiple]="true"
                                                [tabindex]="'5'">

                                            </p-autoComplete>
                                            <span class="input-group-addon">
                                                <i class="fa fa-search"></i>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="w-25 bg-light text-right label">Trợ lý</td>
                                    <td class="w-25">
                                        <input class="w-75 form-control" type="text" formControlName="assistant" tabindex="14">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-25 bg-light text-right label">Trợ lý</td>
                                    <td class="w-25">
                                        <input class="w-75 form-control" type="text" formControlName="assistant" tabindex="6">
                                    </td>

                                    <td class="w-25 bg-light text-right label">Điện thoại trợ lý</td>
                                    <td class="w-25">
                                        <input appInputNumber class="w-75 form-control" type="text" [class.is-invalid]="formErrors.assistantPhone" formControlName="assistantPhone"
                                            tabindex="15">
                                        <div class="invalid-feedback" *ngIf="formErrors.assistantPhone">
                                            {{formErrors.assistantPhone}}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-25 bg-light text-right label">Chức danh</td>
                                    <td class="w-25">
                                        <input class="w-75 form-control" type="text" formControlName="jobTitle" tabindex="7">
                                    </td>
                                    <td class="w-25 bg-light text-right label">Email</td>
                                    <td class="w-25">
                                        <input class="w-75 form-control" type="text" [class.is-invalid]="formErrors.email" formControlName="email" tabindex="16">
                                        <div class="invalid-feedback" *ngIf="formErrors.email">
                                            {{formErrors.email}}
                                        </div>
                                    </td>

                                </tr>
                                <tr>
                                    <td class="w-25 bg-light text-right label">Phòng ban</td>
                                    <td class="w-25">
                                        <input class="w-75 form-control" type="text" formControlName="department" tabindex="8">
                                    </td>
                                    <td class="w-25 bg-light text-right label">Nguồn tiềm năng</td>
                                    <td class="w-25">
                                        <span class="custom-dropdown w-75 ">
                                            <select class="form-control" formControlName="prospectSource" tabindex="17">
                                                <option *ngFor="let item of prospectSourceList | async" [value]="item.id">{{item.text}}</option>
                                            </select>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                 
                                    <td class="w-25 bg-light text-right label required">Phân công cho</td>
                                    <td class="w-25">
                                        <span class="custom-dropdown w-75 ">
                                            <select class="form-control" formControlName="assignTo" tabindex="9">
                                                <option class="font-weight-bold text-dark mt-2" value="" disabled>Nhân viên</option>
                                                <option *ngFor="let item of employeeList | async" [ngValue]="'employee_' + item.id">{{item.text}}</option>
                                                <option class="font-weight-bold text-dark mt-2" value="" disabled>Nhóm</option>
                                                <option *ngFor="let item of employeeGroupList | async" [ngValue]="'group_' + item.id">{{item.text}}</option>
                                            </select>
                                        </span>
                                    </td>
                                    <td class="w-25 bg-light text-right label"></td>
                                    <td class="w-25">
                                    </td>

                                </tr>
                                <tr>


                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>

                <div class="card-collapse">
                    <div class="header" (click)="isCollapsedAddress = !isCollapsedAddress" [attr.aria-expanded]="!isCollapsedAddress" aria-controls="info-address">
                        <i class="fa fa-caret-down mr-3"></i>Chi tiết địa chỉ</div>
                    <div class="body" id="info-address" [ngbCollapse]="isCollapsedAddress">
                        <table class="w-100 table table-bordered">
                            <tbody>
                                <tr>
                                    <td class="w-25 bg-light text-right label">Địa chỉ</td>
                                    <td class="w-25">
                                        <input class="w-75 form-control" type="text" formControlName="address" tabindex="22">
                                    </td>
                                    <td class="w-25 bg-light text-right label">Địa chỉ khác </td>
                                    <td class="w-25">
                                        <input class="w-75 form-control" type="text" formControlName="otherAddress" tabindex="26">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-25 bg-light text-right label">Quận</td>
                                    <td class="w-25">
                                        <input class="w-75 form-control" type="text" formControlName="district" tabindex="23">
                                    </td>
                                    <td class="w-25 bg-light text-right label">Quận khác</td>
                                    <td class="w-25">
                                        <input class="w-75 form-control" type="text" formControlName="otherDistrict" tabindex="27">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-25 bg-light text-right label">Thành phố</td>
                                    <td class="w-25">
                                        <input class="w-75 form-control" type="text" formControlName="city" tabindex="24">
                                    </td>
                                    <td class="w-25 bg-light text-right label">Thành phố khác </td>
                                    <td class="w-25">
                                        <input class="w-75 form-control" type="text" formControlName="otherCity" tabindex="28">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-25 bg-light text-right label">Quốc gia</td>
                                    <td class="w-25">
                                        <input class="w-75 form-control" type="text" formControlName="country" tabindex="25">
                                    </td>
                                    <td class="w-25 bg-light text-right label">Quốc gia khác </td>
                                    <td class="w-25">
                                        <input class="w-75 form-control" type="text" formControlName="otherCountry" tabindex="29">
                                    </td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>

                <div class="card-collapse">
                    <div class="header" (click)="isCollapsedDesc = !isCollapsedDesc" [attr.aria-expanded]="!isCollapsedDesc" aria-controls="info-desc">
                        <i class="fa fa-caret-down mr-3"></i>Mô tả chi tiết</div>
                    <div class="body" id="info-desc" [ngbCollapse]="isCollapsedDesc">
                        <table class="w-100 table table-bordered">
                            <tbody>
                                <tr>
                                    <td class="w-25 bg-light text-right label">Mô tả</td>
                                    <td class="w-75">
                                        <input class="w-75 form-control" type="text" formControlName="description" tabindex="30">
                                    </td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>

                <div class="card-collapse">
                    <div class="header" (click)="isCollapsedDesc = !isCollapsedDesc" [attr.aria-expanded]="!isCollapsedDesc" aria-controls="info-desc">
                        <i class="fa fa-caret-down mr-3"></i>Hình ảnh liên hệ</div>
                    <div class="body" id="info-desc" [ngbCollapse]="isCollapsedDesc">
                        <table class="w-100 table table-bordered">
                            <tbody>
                                <tr>
                                    <td class="w-25 bg-light text-right label">Mô tả</td>
                                    <td class="w-75">
                                        <div class="avatar-photo">
                                            <div class="user-info__photo">
                                                <div class="user-info__photo-remove-btn">
                                                    <a (click)="clearAvatar()" title="Xóa hình">
                                                        <i class="fa fa-times"></i>
                                                    </a>
                                                </div>
                                                <img class="w-100" [src]="avatarSrc" alt="Hình đại diện" />
                                                <div class="user-info__photo-change-btn w-100">
                                                    <input class="w-100" id="upload-photo" (click)="openAvatarModal()" accept="image/*" />
                                                    <label for="upload-photo">
                                                        <a>
                                                            <i class="fa fa-upload"></i>
                                                            &nbsp;Thay đổi hình
                                                        </a>
                                                    </label>
                                                </div>
                                            </div>

                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
        </div>
    </form>


</div>