<form [formGroup]="consultantAnalysForm">
    <div class="p-3 position-relative">
            <div *ngIf="routerAction == 'view'" class="b-form-readonly"></div>
        <div>
            <h5 class="text-uppercase">II. phân tích nhà tư vấn (consultant analysis)</h5>
        </div>
        <div class="row mt-4">
            <div class="col-md-6">
                <strong>Các mục đánh giá (item evaluation)</strong>
            </div>
            <div class="col-md-6">
                <strong>Nội dung & Nhận xét (Comments)</strong>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6 d-flex align-items-center">
                1. Tiếng tăm, danh tiếng (Reputation)
            </div>
            <div class="col-md-6">
                <input type="text" appEnterPreventDefault tabindex="1" [appAutoFocus]="routerAction != 'view'" formControlName="reputation" class="form-control">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6 d-flex align-items-center">
                2. Kinh nghiệm công trình đã làm với họ (Past working experience)
            </div>
            <div class="col-md-6">
                <input type="text" appEnterPreventDefault tabindex="2" formControlName="pastWorkingExperience" class="form-control">
            </div>
        </div>
        <div class="text-center mt-4">
            <button class="btn border" tabindex="4" routerLink="../employer-analys" (keyup)="routerLink($event, 'employer-analys')">
                <i class="fa font-size-3 mr-3 fa-angle-left" aria-hidden="true"></i>
                Trở về
            </button>
            <button class="btn btn-primary ml-2" tabindex="3" routerLink="../internal-resource" (keyup)="routerLink($event, 'internal-resource')">
                Tiếp
                <i class="fa font-size-3 ml-3 fa-angle-right" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</form>
