.menu-report {
    color: white;
    max-width: 16rem;
    width: 16rem;
    min-width: 16rem;

    h5 {
        background-color: #135377;
    }

    li {
        font-size: 0.9rem;
        background-color: #34a5e4;
        border-bottom: .5px solid white;
    }

    &__toggle {
        padding-right: 2rem !important;
        position: relative;

        &::after {
            content: '\f13a';
            position: absolute;
            right: 0.5rem;
            font-family: FontAwesome;
        }
    }

    .active-item {
        background-color: #1671a5;
        font-weight: 600;
    }

}

.menu-report--fixed {
    position: fixed;
    z-index: 1;
}

.reports {
    table {
        min-width: 50rem;
    }

    .manipulation{
        width: 50px;
    }
    
    .check-box--width{
        width: 40px;
    }

    tr>td>textarea {
        border: none;
    }

    tbody>tr>th:first-child,
    tbody>tr>td:first-child {
        border-left: none;
    }

    tbody>tr>th:last-child,
    tbody>tr>td:last-child {
        border-right: none;
    }

    .table-header>th {
        background-color: #ef732f !important;
    }
}

.reports--margintop {
    margin-top: 6.1rem;
}

input.icon {
    font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.but-with-80px{
    width: 80px;
}

:host ::ng-deep {
    .required::after{
        content: "*";
        color: red;
        font-style: italic;
    }
    .manipulation{
        .year--pad-top{
            padding-top: 6px;
        }
        .year-validate{
            padding-top: 2px;
            display: block !important;
            font-size: 90%;
            color: #dc3545;
        }
        .total-target--pad-top{
            padding-top: 6px;
        }
    }
}


