<div class="login-page center-parent" [@routerTransition] style="background-color: #fff">
  <div class="center-parent">
    <div class="col-xl-8 col-md-12 col-lg-10 col-sm-12 col-sx-12">
      <div class="row no-gutters">
        <div class="center-parent w-100">
          <div class="center-parent">
              <img src="assets\images\lock.png" style="width:120px;">
          </div>
        </div>
      </div>
    
      <div class="title-no-permission mt-3">
          Tài khoản của bạn chưa được phân quyền ở bất kỳ chức năng nào, vui lòng liên hệ admin để được hỗ trợ
      </div>
      <div class="footer-2 mt-3">
          <a class="" [routerLink]="['/login']">Trở về đăng nhập</a>
      </div>
    </div>
  </div>
  <div class="row no-gutters">
    
    </div>
</div>