<div class="px-3">
  <div class="menu">
    <h5 class="d-inline mb-0 mr-auto text-dark text-uppercase font-weight-bold">chỉ tiêu trúng thầu </h5>
  </div>
  <div class="pt-3">
    <div class="card p-3">
      <div class="row manipulation">
        <div class="col-md-3 d-flex">
          <ng-container *ngIf="!(paramAction === 'view' && listYearConfigured && listYearConfigured.length === 0)">
            <div class="font-weight-bold required year--pad-top">Năm:&nbsp;</div>&nbsp;&nbsp;
            <div>
              <div class="custom-dropdown">
                <select class="form-control select-year--width" [(ngModel)]="yearkpi" (change)="changeYearTargetFuc()"
                  [class.is-invalid]="isSubmitCreate && (!yearkpi || yearkpi === 'null')">
                  <option value="null" *ngIf="paramAction === 'create'">--Lựa chọn--</option>
                  <ng-container *ngIf="paramAction === 'view' || paramAction === 'edit'">
                    <option [value]="itemYearConfigured" *ngFor="let itemYearConfigured of listYearConfigured">{{itemYearConfigured}}</option>
                  </ng-container>
                  <ng-container *ngIf="paramAction === 'create'">
                    <option [value]="itemYearNotConfigured" *ngFor="let itemYearNotConfigured of listYearNotConfigred">{{itemYearNotConfigured}}</option>
                  </ng-container>
                </select>
              </div>
              <div class="year-validate" *ngIf="isSubmitCreate && (!yearkpi || yearkpi === 'null')">
                Trường này là bắt buộc nhập
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="(paramAction === 'view' && listYearConfigured && listYearConfigured.length === 0)">
              <div>
                  Bạn chưa thiết lập chỉ tiêu trúng thầu cho bất kỳ năm nào, vui lòng chọn thêm mới chỉ tiêu
              </div>
            </ng-container>
        </div>
        <div class="text-right col-md-9">
          <ng-container *ngIf="paramAction === 'view'">
            <button class="btn btn-secondary" type="button" [routerLink]="['../win-bid']" [queryParams]="{action:'edit'}">Sửa
            </button>
            <button type="submit" class="btn btn-primary ml-1" [routerLink]="['../win-bid']" [queryParams]="{action:'create'}"
              (click)="addTargetForYear()">Thêm
              mới chỉ tiêu
            </button>
          </ng-container>
          <ng-container *ngIf="paramAction === 'edit' || paramAction === 'create'">
            <button class="btn btn-secondary" type="button" (click)="cancel()">Hủy
            </button>
            <button type="submit" class="btn btn-primary ml-1"
              (click)="createOrEditTargetWinBid()">Lưu
            </button>
          </ng-container>
        </div>
      </div>
      <form [formGroup]="targetWinBid" novalidate *ngIf="targetWinBid">
        <div class="row pt-2">
          <div class="col-md-12">
            <table class="zui-table table table-striped table-hover mt-1">
              <thead>
                <tr>
                  <th class="font-weight-bold">Tổng giá trị</th>
                  <th class="text-right font-weight-bold">Tỷ lệ cần đạt (%)</th>
                  <th class="text-right font-weight-bold">Giá trị cần đạt (VND)</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngIf="paramAction === 'view'">
                  <tr>
                    <td>{{ targetWinBid?.get('total').value ? (targetWinBid.get('total').value | truncateDecimal) :
                      '0'}}</td>
                    <td class="text-right">{{ targetWinBid?.get('percent').value ? (targetWinBid.get('percent').value |
                      truncateDecimal) :
                      '0'}}</td>
                    <td class="text-right">{{ targetWinBid?.get('totalTarget').value ?
                      (targetWinBid.get('totalTarget').value | truncateDecimal) :
                      '0'}}</td>
                  </tr>
                </ng-container>
                <ng-container *ngIf="paramAction === 'edit' || paramAction === 'create'">
                  <tr>
                    <td>{{ targetWinBid?.get('total').value ? (targetWinBid.get('total').value | truncateDecimal) :
                      '0'}}</td>
                    <td class="text-right">
                      <input type="text" appInputThousandSeparate [min]="0" [max]="100" class="w-100 m-0 p-0 text-right"
                        formControlName="percent" (input)="calculValueReach()">
                    </td>
                    <td class="text-right">
                      <div>
                        {{ targetWinBid?.get('totalTarget').value ? (targetWinBid.get('totalTarget').value |
                        truncateDecimal) : '0'}}
                      </div>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>