<div [@routerTransition]>
    <div class="search-box d-flex">
        <h5 class="mr-auto d-flex align-items-end">Hoạt động</h5>
        <div class="btn-toolbar">
            <div class="input-group">
                <span class="input-group-addon">Tìm kiếm theo</span>
                <input type="text" class="form-control" placeholder="Tiêu đề, vị trí, phân công" (keyup)="searchTerm$.next($event.target.value)">
            </div>
            <div class="btn-group ml-2" ngbDropdown>
                <button type="button" class="btn btn-primary" ngbDropdownToggle data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Công cụ &nbsp;
                </button>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <a class="dropdown-item" (click)="multiDelete()">Xóa</a>
                    <div class="dropdown-divider"></div>
                    <!-- <div class="fileUpload dropdown-item">
                        <a>Nhập file</a>
                        <input type="file" class="upload" (change)="fileChange($event)" />
                    </div> -->
                    <a class="dropdown-item" (click)="exportFileExcel()">Xuất file</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="downTemplate()">Tải template</a>

                </div>
            </div>  
            <button class="btn btn-primary ml-2" [routerLink]="['/activity/event/create']">
                <i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Thêm sự kiện
            </button>
            <button class="btn btn-primary ml-2" [routerLink]="['/activity/task/create']">
                <i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Thêm công việc
            </button>
            <button class="btn btn-primary ml-2" (click)="refresh(true)">
                <i class="fa fa-refresh" aria-hidden="true"></i>
            </button>
        </div>
    </div>

    <hr>
    <div>

    </div>
    <div class="filter-bar  flex-row">
        <div class="form-inline">
            <div class="form-group ml-sm-2">
                <label for="" class="form-label">Loại</label>
                <span class="custom-dropdown mx-sm-2">
                    <select class="form-control" [(ngModel)]="filterModel.activityType">
                        <option [ngValue]="null">--Lựa chọn--</option>
                        <option value="Event">Sự kiện</option>
                        <option value="Work">Công việc</option>
                    </select>
                </span>
            </div>
            <div class="form-group ml-sm-2">
                <label for="" class="form-label">Trạng thái</label>
                <span class="custom-dropdown mx-sm-2">
                    <select class="form-control" [(ngModel)]="filterModel.activityStatus">
                        <option [ngValue]="null">--Lựa chọn--</option>
                        <option *ngFor="let item of activityStatusList | async" [value]="item.id">{{item.text | translate}}</option>
                    </select>
                </span>
            </div>
        </div>
        <div class="form-inline mt-3">
            <form [formGroup]="activityForm">
                <div class="form-inline">
                    <div class="form-group ml-sm-2">
                        <label for="" class="form-label mr-2">Từ</label>
                        <div class="input-group  mr-3">
                            <owl-date-time #startDate [readonlyInput]="datePickerConfig.readonlyInput" formControlName="startDate" [dateFormat]="datePickerConfig.dateFormat" [placeHolder]="datePickerConfig.datePlaceHolder"
                                [locale]="datePickerConfig.vi" [type]="datePickerConfig.calendarType">
                            </owl-date-time>
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </div>
                    </div>
                    <div class="form-group ml-sm-2">
                        <label for="" class="form-label mr-2">Đến</label>
                        <div class="input-group  mr-3">
                            <owl-date-time #endDate [readonlyInput]="datePickerConfig.readonlyInput" formControlName="endDate" [dateFormat]="datePickerConfig.dateFormat" [placeHolder]="datePickerConfig.datePlaceHolder"
                                [locale]="datePickerConfig.vi" [type]="datePickerConfig.calendarType">
                            </owl-date-time>
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
            <button type="submit" class="btn btn-primary ml-sm-2" (click)="filter()">
                <i class="fa fa-filter" aria-hidden="true"></i>&nbsp; Lọc
            </button>
            <button class="btn btn-secondary ml-sm-2" (click)="clearFilter()">
                <i class="fa fa-times"></i>&nbsp; Xóa lọc
            </button>
        </div>


    </div>




    <div>
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table-selection stripe row-border hover">
            <thead>
                <tr>
                    <th class="text-center">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" [(ngModel)]="checkboxSeclectAll" (change)="onSelectAll($event.target.checked)">
                            <span class="custom-control-indicator"></span>

                        </label>


                    </th>
                    <th>Tiêu đề</th>
                    <th>Loại</th>
                    <th>Ngày giờ bắt đầu</th>
                    <th>Ngày giờ kết thúc</th>
                    <th class="th-mark-status">Trạng thái</th>
                    <th>Vị trí</th>
                    <th>Liên quan đến loại</th>
                    <th>Cụ thể liên quan</th>
                    <th>Phân công cho</th>
                    <th class="table-action">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of pagedResult.items">
                    <td class="text-center">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" [(ngModel)]="item.checkboxSelected">
                            <span class="custom-control-indicator"></span>
                        </label>
                    </td>
                    <td>
                        <a [title]="item.name" class="text-truncate" [routerLink]="item.activityType=='Event' ? ['/activity/event/detail', item.id] : ['/activity/task/detail', item.id]">
                            {{ item.name }}
                        </a>
                    </td>
                    <td [class.type-task]='item.activityType == "Work"' [class.type-event]='item.activityType == "Event"'>{{ item.activityType | translate }}</td>
                    <td>{{ item.startDate | date:'dd/MM/yyyy HH:mm' }}</td>
                    <td>{{ item.endDate | date:'dd/MM/yyyy HH:mm' }}</td>
                    <td class="td-mark-status">
                        <div class="mark-status" [class.status-plan]='item.status=="New"' [class.status-inprogess]='item.status=="Inprogress"'
                            [class.status-not-start]='item.status=="Issued"' [class.status-complete]='item.status=="Completed"'
                            [class.status-cancel]='item.status=="Canceled"' [class.status-pending]='item.status=="Auditing"'>
                            {{ item.status | translate }}
                        </div>
                    </td>
                    <td [title]="item.address ? item.address : ''" class="select-filter">{{ item.address }}</td>
                    <td [title]="item.relatedToType | translate">{{ item.relatedToType | translate}}</td>
                    <td class="color">
                        <a [title]="item.specificRelated.name" class="text-truncate" (click)="onClick(item.relatedToType ,item.specificRelated.id)">{{ item.specificRelated.name }}</a>
                    </td>
                    <td class="select-filter" [title]="item.assignTo">{{ item.assignTo}}</td>
                    <td>
                        <a [routerLink]="item.activityType=='Event' ? ['/activity/event/detail', item.id] : ['/activity/task/detail', item.id]">
                            <i class="fa fa-eye text-warning" aria-hidden="true"></i>
                        </a>
                        <a [routerLink]="item.activityType=='Event' ? ['/activity/event/edit', item.id] : ['/activity/task/edit', item.id]" class=" text-success ml-3">
                            <i class="fa fa-pencil  cursor-pointer" aria-hidden="true"> </i>
                        </a>
                        <a class=" text-dark ml-3">
                            <i (click)="delete(item.id, item.activityType)" class="fa fa-trash-o" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>

    <app-pagination [(pagedResult)]="pagedResult" (pagedResultChange)="pagedResultChange($event)"></app-pagination>

</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.7)" size="medium" color="#fff" type="ball-clip-rotate-multiple"></ngx-spinner>
