.pl-2r {
    padding-left: 2rem;
}

.pl-1r {
    padding-left: 1rem;

}

.custom-col-8 {
    margin-left: 1rem;
    padding-left: 0;
    max-width: calc(66.666666667% - 1rem);
}

.times-color {
    color: #c0c0c0;
    font-size: 1.2rem;
}

.w-76 {
    width: 76%;
}

.w-24 {
    width: 24%;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #ced4da;
    font-style: italic;
}

.unit-value {
    position: absolute;
    right: 1.5rem;
    top: 0.5rem;
}
.form-view {
    min-height: 3rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    font-size: 13px;
    text-align: right;
}
.form-view-bg {
    background-color: #EAEBE3;
}