<form [formGroup]="conditionContractForm">

    <div>
        <div class="p-3">
            <h5 class="text-uppercase font-weight-bold">IX. điều kiện hợp đồng (conditions of contract)</h5>
            <div formGroupName="loaiHopDong">
                <div class="row col-md-12 mt-3">
                    <div class="col-md-3">
                        <strong>1. Loại hợp đồng</strong>
                    </div>
                    <div class="col-md-8">
                        <span class="custom-dropdown w-100">
                            <select appAutoFocus tabindex="1" class="form-control" formControlName="name">
                                <option [ngValue]="null">--Chọn--</option>
                                <option [value]="'MainContract'">Tổng thầu (Main Contract)</option>
                                <option [value]="'SubContract'">Thầu phụ (Sub-Contract)</option>
                            </select>
                        </span>
                    </div>
                </div>
                <div class="row col-md-12 mt-3">
                    <div class="col-md-3 pl-2r">Ghi chú</div>
                    <div class="col-md-8">
                        <textarea disabled class="form-control pointer-none" formControlName="desc"></textarea>
                    </div>
                </div>
            </div>

            <div>
                <div class="row col-md-12 mt-3">
                    <div class="col-md-3">
                        <strong>2. Điều kiện hợp đồng</strong>
                    </div>
                </div>

                <div class="row col-md-12 mt-3">
                    <div class="col-md-3 pl-2r">
                        <strong>
                            <u class="hidden">2.1 Bảo lãnh thực hiện HĐ</u>
                        </strong>
                    </div>

                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-6 text-uppercase text-right">theo hsmt <i class="fa fa-caret-down"
                                    aria-hidden="true"></i></div>
                            <div class="col-md-6 text-uppercase text-right">theo hbc đề xuất <i class="fa fa-caret-down"
                                    aria-hidden="true"></i></div>
                        </div>
                    </div>

                </div>
                <div class="row col-md-12 mt-3">



                    <div class="col-md-3">
                        <div class="pl-1r">
                            Phần trăm %

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div formGroupName="dieuKienTheoHSMT">
                            <div formGroupName="baoLanhThucHien">
                                <input disabled formControlName="phanTram" appInputNumberNegativeDecimal [decimal]="true" class="form-control pointer-none">
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div formGroupName="dieuKienTheoHBC">
                            <div formGroupName="baoLanhThucHien">
                                <input appEnterPreventDefault tabindex="2" formControlName="phanTram" appInputNumberNegativeDecimal [decimal]="true" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row col-md-12 mt-3">
                    <div class="col-md-3">
                        <div class="pl-1r">
                            Hiệu lực bảo lãnh

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div formGroupName="dieuKienTheoHSMT">
                            <div formGroupName="baoLanhThucHien">
                                <input appEnterPreventDefault tabindex="3" formControlName="hieuLuc" class="form-control">
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div formGroupName="dieuKienTheoHBC">
                            <div formGroupName="baoLanhThucHien">
                                <input appEnterPreventDefault tabindex="4" formControlName="hieuLuc" class="form-control">
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row col-md-12 mt-3">
                    <div class="col-md-3 pl-2r">
                        <strong>
                            <u>2.2 Bảo lãnh tạm ứng</u>
                        </strong>
                    </div>
                </div>


                <div class="row col-md-12 mt-3">



                    <div class="col-md-3">
                        <div class="pl-1r">
                            Phần trăm %

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div formGroupName="dieuKienTheoHSMT">
                            <div formGroupName="baoLanhTamUng">
                                <input disabled formControlName="phanTram" appInputNumberNegativeDecimal [decimal]="true" class="form-control pointer-none">
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div formGroupName="dieuKienTheoHBC">
                            <div formGroupName="baoLanhTamUng">
                                <input appEnterPreventDefault tabindex="5" formControlName="phanTram" appInputNumberNegativeDecimal [decimal]="true" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row col-md-12 mt-3">
                    <div class="col-md-3">
                        <div class="pl-1r">
                            Hiệu lực bảo lãnh

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div formGroupName="dieuKienTheoHSMT">
                            <div formGroupName="baoLanhTamUng">
                                <input  appEnterPreventDefault tabindex="6" formControlName="hieuLuc" class="form-control">
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div formGroupName="dieuKienTheoHBC">
                            <div formGroupName="baoLanhTamUng">
                                <input appEnterPreventDefault tabindex="7" formControlName="hieuLuc" class="form-control">
                            </div>

                        </div>
                    </div>
                </div>


                <div class="row col-md-12 mt-3">
                    <div class="col-md-3 pl-2r">
                        <strong>
                            <u>2.3 Thanh toán</u>
                        </strong>
                    </div>
                </div>




                <div class="row col-md-12 mt-3">
                    <div class="col-md-3">
                        <div class="pl-1r">
                            Loại thanh toán
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div formGroupName="dieuKienTheoHSMT">
                            <div formGroupName="thanhToan">
                                <input disabled formControlName="loaiThanhToan" class="form-control pointer-none">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div formGroupName="dieuKienTheoHBC">
                            <div formGroupName="thanhToan">
                                <span class="custom-dropdown w-100">
                                    <select appEnterPreventDefault tabindex="8" class="form-control" formControlName="loaiThanhToan">
                                        <option value="">--Chọn--</option>
                                        <option *ngFor="let payment of listPayment" [value]="payment">{{payment}}</option>
                                    </select>
                                </span>
                            </div>

                        </div>
                    </div>
                </div>




                <div class="row col-md-12 mt-3">
                    <div class="col-md-3">
                        <div class="pl-1r">
                            Thời gian thanh toán (ngày)
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div formGroupName="dieuKienTheoHSMT">
                            <div formGroupName="thanhToan">
                                <input appEnterPreventDefault tabindex="9" formControlName="thoiGianThanhToan" min="0" appInputNumberNegativeDecimal class="form-control">
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div formGroupName="dieuKienTheoHBC">
                            <div formGroupName="thanhToan">
                                <input appEnterPreventDefault  tabindex="10" formControlName="thoiGianThanhToan" min="0" appInputNumberNegativeDecimal class="form-control">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row col-md-12 mt-3">
                    <div class="col-md-3">
                        <div class="pl-1r">
                            Thanh toán khi tập kết máy móc/ vật tư (Material on site)
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div formGroupName="dieuKienTheoHSMT">
                            <div formGroupName="thanhToan">
                                <input appEnterPreventDefault tabindex="11" formControlName="thanhToanKhiTapKet" class="form-control">
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div formGroupName="dieuKienTheoHBC">
                            <div formGroupName="thanhToan">
                                <input appEnterPreventDefault tabindex="12" formControlName="thanhToanKhiTapKet" class="form-control">
                            </div>

                        </div>
                    </div>
                </div>


                <div class="row col-md-12 mt-3">
                    <div class="col-md-3 pl-2r">
                        <strong>
                            <u>2.4 Tiền giữ lại</u>
                        </strong>
                    </div>
                </div>



                <div class="row col-md-12 mt-3">
                    <div class="col-md-3">
                        <div class="pl-1r">
                            Phần trăm %

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div formGroupName="dieuKienTheoHSMT">
                            <div formGroupName="tienGiuLai">
                                <input disabled formControlName="phanTram" appInputNumberNegativeDecimal [decimal]="true" class="form-control pointer-none">
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div formGroupName="dieuKienTheoHBC">
                            <div formGroupName="tienGiuLai">
                                <input appEnterPreventDefault tabindex="13" formControlName="phanTram" appInputNumberNegativeDecimal [decimal]="true" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>



                <div class="row col-md-12 mt-3">
                    <div class="col-md-3">
                        <div class="pl-1r">
                            Giới hạn tiền giữ lại

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div formGroupName="dieuKienTheoHSMT">
                            <div formGroupName="tienGiuLai">
                                <input appEnterPreventDefault tabindex="14" formControlName="gioiHanTienGiuLai" appInputNumberNegativeDecimal [decimal]="true"
                                    class="form-control">
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div formGroupName="dieuKienTheoHBC">
                            <div formGroupName="tienGiuLai">
                                <input appEnterPreventDefault tabindex="15" formControlName="gioiHanTienGiuLai" appInputNumberNegativeDecimal [decimal]="true"
                                    class="form-control">
                            </div>

                        </div>
                    </div>
                </div>



                <div class="row col-md-12 mt-3">
                    <div class="col-md-3">
                        <div class="pl-1r">
                            Thanh toán tiền giữ lại </div>
                    </div>
                    <div class="col-md-4">
                        <div formGroupName="dieuKienTheoHSMT">
                            <div formGroupName="tienGiuLai">
                                <input appEnterPreventDefault tabindex="16" formControlName="thanhToanTienGui" class="form-control">
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div formGroupName="dieuKienTheoHBC">
                            <div formGroupName="tienGiuLai">
                                <input appEnterPreventDefault tabindex="17" formControlName="thanhToanTienGui" class="form-control">
                            </div>

                        </div>
                    </div>
                </div>



                <div class="row col-md-12 mt-3">
                    <div class="col-md-3 pl-2r">
                        <strong>
                            <u>2.5 Phạt trễ tiến độ</u>
                        </strong>
                    </div>
                </div>



                <div class="row col-md-12 mt-3">
                    <div class="col-md-3">
                        <div class="pl-1r">
                            Phần trăm %

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div formGroupName="dieuKienTheoHSMT">
                            <div formGroupName="phatTreTienDo">
                                <input disabled formControlName="phanTram" appInputNumberNegativeDecimal [decimal]="true" class="form-control pointer-none">
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div formGroupName="dieuKienTheoHBC">
                            <div formGroupName="phatTreTienDo">
                                <input appEnterPreventDefault tabindex="18" formControlName="phanTram" appInputNumberNegativeDecimal [decimal]="true" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>



                <div class="row col-md-12 mt-3">
                    <div class="col-md-3">
                        <div class="pl-1r">
                            Giới hạn phạt trễ tiến độ (%)
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div formGroupName="dieuKienTheoHSMT">
                            <div formGroupName="phatTreTienDo">
                                <input appEnterPreventDefault tabindex="19" formControlName="gioiHanPhatTienDo" appInputNumberNegativeDecimal [decimal]="true"
                                    class="form-control">
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div formGroupName="dieuKienTheoHBC">
                            <div formGroupName="phatTreTienDo">
                                <input appEnterPreventDefault tabindex="20" formControlName="gioiHanPhatTienDo" appInputNumberNegativeDecimal [decimal]="true"
                                    class="form-control">
                            </div>
                        </div>
                    </div>
                </div>



                <div class="row col-md-12 mt-3">
                    <div class="col-md-3 pl-2r">
                        <strong>
                            <u>2.6 Thời hạn bảo hành (Defect Notification Period)</u>
                        </strong>
                    </div>
                </div>


                <div class="row col-md-12 mt-3">
                    <div class="col-md-3">
                        <div class="pl-1r">
                            Thời gian
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div formGroupName="dieuKienTheoHSMT">
                            <input appEnterPreventDefault tabindex="20" appInputNumberNegativeDecimal [decimal]="true" formControlName="thoiGianBaoHanh" class="form-control pr-5">
                            <span *ngIf="unitTimeguarantee" class="unit-value text-uppercase">{{ unitTimeguarantee.displayText }}</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div formGroupName="dieuKienTheoHBC">
                            <input appEnterPreventDefault tabindex="21" appInputNumberNegativeDecimal [decimal]="true" formControlName="thoiGianBaoHanh" class="form-control pr-5">
                            <span *ngIf="unitTimeguarantee" class="unit-value text-uppercase">{{ unitTimeguarantee.displayText }}</span>
                        </div>
                    </div>
                </div>


                <div class="row col-md-12 mt-3">
                    <div class="col-md-3 pl-2r">
                        <strong>
                            <u>2.7 Bảo hiểm</u>
                        </strong>
                    </div>
                </div>


                <div class="row col-md-12 mt-3">
                    <div class="col-md-2">
                        <div class="pl-1r">
                            BH máy móc thiết bị nhà thầu </div>
                    </div>
                    <div class="col-md-1">
                        <i class="fa fa-plus-square-o pointer" *ngIf="!isModeView" aria-hidden="true" (click)="addFormArrayControl()"></i>
                    </div>
                    <div class="col-md-4">
                        <div formGroupName="dieuKienTheoHSMT">
                            <div formGroupName="baoHiem">
                                <ng-container formArrayName="baoHiemMayMoc">
                                    <ng-container *ngFor="let fControl of baoHiemMayMocHSMTFA.controls; let i = index"
                                        [formGroupName]="i">
                                        <input appEnterPreventDefault [tabindex]="22 + i * 2" formControlName="baoHiemItem" class="form-control mb-2">
                                    </ng-container>
                                </ng-container>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-5">
                        <div formGroupName="dieuKienTheoHBC">
                            <div formGroupName="baoHiem">
                                <ng-container formArrayName="baoHiemMayMoc">
                                    <ng-container *ngFor="let fControl of baoHiemMayMocHBCFA.controls; let i = index"
                                        [formGroupName]="i">
                                        <div class="d-flex flex-row">
                                            <div class="w-76">
                                                <input appEnterPreventDefault [tabindex]="22 + i * 2 + 1" formControlName="baoHiemItem" class="form-control mb-2">
                                            </div>
                                            <div class="col-md-2 center-parent">
                                                <div class="w-24 mb-2">
                                                    <i *ngIf="i !== 0 && !isModeView" (click)="removeFormArrayControl('scopeInclude', i)"
                                                        class="fa fa-times-circle pointer times-color icon-delete-item"
                                                        aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="row col-md-12 mt-3">
                    <div class="col-md-3">
                        <div class="pl-1r">
                            BH con người của nhà thầu
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div formGroupName="dieuKienTheoHSMT">
                            <div formGroupName="baoHiem">
                                <input appEnterPreventDefault [tabindex]="22 + baoHiemMayMocHBCFA.controls.length * 2 + 1" formControlName="baoHiemConNguoi" class="form-control">

                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div formGroupName="dieuKienTheoHBC">
                            <div formGroupName="baoHiem">
                                <input appEnterPreventDefault [tabindex]="22 + baoHiemMayMocHBCFA.controls.length * 2 + 2" formControlName="baoHiemConNguoi" class="form-control">

                            </div>
                        </div>
                    </div>
                </div>

            </div>



            <div class="row col-md-12 mt-3">
                <div class="col-md-3">
                    <div class="pl-1r">
                        BH công trình/ và BH bên thứ ba </div>
                </div>
                <div class="col-md-4">
                    <div formGroupName="dieuKienTheoHSMT">
                        <div formGroupName="baoHiem">
                            <input appEnterPreventDefault [tabindex]="22 + baoHiemMayMocHBCFA.controls.length * 2 + 3" formControlName="baoHiemCongTrinh" class="form-control">

                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div formGroupName="dieuKienTheoHBC">
                        <div formGroupName="baoHiem">
                            <input appEnterPreventDefault [tabindex]="22 + baoHiemMayMocHBCFA.controls.length * 2 + 4" formControlName="baoHiemCongTrinh" class="form-control">

                        </div>
                    </div>
                </div>
            </div>




        </div>










    </div>

    <div class="text-center mt-4">
        <button [tabindex]="22 + baoHiemMayMocHBCFA.controls.length * 2 + 6" class="btn border" (keyup)="routerLink($event, 'tender-clarify')" routerLink="../tender-clarify">
            <i class="fa font-size-3 mr-3 fa-angle-left" aria-hidden="true"></i>
            Trở về
        </button>
        <button [tabindex]="22 + baoHiemMayMocHBCFA.controls.length * 2 + 5" class="btn btn-primary ml-1" (keyup)="routerLink($event, 'condition-tender')" routerLink="../condition-tender">
            Tiếp
            <i class="fa font-size-3 ml-3 fa-angle-right" aria-hidden="true"></i>
        </button>
    </div>

</form>
