.pl-2r {
    padding-left: 2rem;
}
.pl-1r{
    padding-left: 1rem;

}
.custom-col-8 {
    margin-left: 1rem;
    padding-left: 0;
    max-width: calc(66.666666667% - 1rem);
}
.times-color{
    color: #c0c0c0; 
    font-size: 1.2rem;
}
.w-76{
    width: 76%;
}
.w-24{
    width: 24%;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ced4da;
    font-style: italic;
}