<form [formGroup]="conditionContractForm">
    <div class="p-3">
        <h5 class="text-uppercase">IX. điều kiện hợp đồng (conditions of contract)</h5>
        <div class="row mt-3">
            <div class="col-md-3"><strong>1. Loại hợp đồng</strong></div>
            <div class="col-md-8">
                <span class="custom-dropdown w-100">
                    <select class="form-control">
                        <option [ngValue]="null">--Chọn--</option>
                    </select>
                </span>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3 pl-2r">Ghi chú</div>
            <div class="col-md-8">
                <textarea class="form-control"></textarea>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3"><strong>2. Điều kiện hợp đồng</strong></div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3 pl-2r"><strong><u>2.1 Bảo lãnh thực hiện HĐ</u></strong></div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3 pl-2r">Phần trăm %</div>
            <div class="col-md-8">
                <input type="number" class="form-control">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3 pl-2r">Hiệu lực bảo lãnh</div>
            <div class="col-md-8">
                <kendo-datepicker class="form-control" ></kendo-datepicker>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3 pl-2r"><strong><u>2.2 Bảo lãnh tạm ứng</u></strong></div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3 pl-2r">Phần trăm %</div>
            <div class="col-md-8">
                <input type="number" class="form-control">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3 pl-2r">Hiệu lực bảo lãnh</div>
            <div class="col-md-8">
                <kendo-datepicker class="form-control" ></kendo-datepicker>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3 pl-2r"><strong><u>2.3 Thanh toán</u></strong></div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3 pl-2r">Loại thanh toán</div>
            <div class="col-md-8">
                <span class="custom-dropdown w-100">
                    <select class="form-control">
                        <option [ngValue]="null">--Chọn--</option>
                    </select>
                </span>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3 pl-2r">Thời gian thanh toán</div>
            <div class="col-md-8">
                <kendo-datepicker class="form-control" ></kendo-datepicker>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3 pl-2r">Thanh toán khi tập kết máy móc/ vật tư (Material on site)</div>
            <div class="col-md-8">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3 pl-2r"><strong><u>2.4 Tiền giữ lại</u></strong></div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3 pl-2r">Phần trăm %</div>
            <div class="col-md-8">
                <input type="number" class="form-control">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3 pl-2r">Giới hạn tiền giữ lại</div>
            <div class="col-md-8">
                <input type="number" class="form-control">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3 pl-2r">Thanh toán tiền giữ lại</div>
            <div class="col-md-8">
                <input type="number" class="form-control">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3 pl-2r"><strong><u>2.5 Phạt trễ tiến độ</u></strong></div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3 pl-2r">Phần trăm %</div>
            <div class="col-md-8">
                <input type="number" class="form-control">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3 pl-2r">Giới hạn phạt trễ tiến độ</div>
            <div class="col-md-8">
                <input type="number" class="form-control">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3 pl-2r"><strong><u>2.6 Thời hạn bảo hành (Defect Notification Period)</u></strong></div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3 pl-2r">Thời gian</div>
            <div class="col-md-8">
                <kendo-datepicker class="form-control" ></kendo-datepicker>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3 pl-2r">Giới hạn phạt trễ tiến độ</div>
            <div class="col-md-8">
                <input type="number" class="form-control">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3 pl-2r"><strong><u>2.7 Bảo hiểm</u></strong></div>
        </div>
        <div formArrayName="insurances">
        <div class="row mt-3" *ngFor="let fControl of conditionContractForm.get('insurances').controls; let i = index">
            <div class="col-md-3 text-nowrap pl-2r">BH máy móc thiết bị nhà thầu <i class="fa fa-plus-square-o ml-3 pointer"
              aria-hidden="true" (click)="addFormArrayControl('insurances')" *ngIf="(i + 1) === conditionContractForm.get('insurances').length"></i></div>
            <div class="col-md-8 custom-col-8">
                <span class="custom-dropdown w-100">
                    <select class="form-control">
                        <option [ngValue]="null">--Chọn--</option>
                    </select>
                </span>
            </div>
            <div class="col-md-1 pl-0" *ngIf="i !== 0"><i (click)="removeFormArrayControl('insurances', i)" class="fa fa-times-circle pointer" style="color: #c0c0c0; font-size: 1.2rem" aria-hidden="true"></i></div>
        </div>
      </div>
        <div class="row mt-3">
            <div class="col-md-3 pl-2r">BH con người của nhà thầu</div>
            <div class="col-md-8">
                <span class="custom-dropdown w-100">
                    <select class="form-control">
                        <option [ngValue]="null">--Chọn--</option>
                    </select>
                </span>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3 pl-2r">BH công trình và BH bên thứ ba</div>
            <div class="col-md-8">
                <span class="custom-dropdown w-100">
                    <select class="form-control">
                        <option [ngValue]="null">--Chọn--</option>
                    </select>
                </span>
            </div>
        </div>
    </div>
</form>
