<!-- <div class="pad-top-table">
  <div class="table-small">
    <div class="title-detail center-parent">
      <div class="mr-auto col-md-7 no-pading-left">
        <div class="media-header header-title">
          <a>
            <img (click)="closePopup()" width="12" height="12" class="pointer not-outline" src="assets\images\nghia.png" style="margin-bottom: 1px;">
          </a>
          <h5 class="d-inline mb-0 text-dark bold-title">GỬI THÔNG THÔNG BÁO PHỎNG VẤN ĐẾN CÁC BÊN LIÊN QUAN</h5>
        </div>
      </div>
      <div class="btn-toolbar">
        <button class="btn btn-secondary ml-2 " (click)="closePopup()">
          Hủy
        </button>
        <button class="btn btn-primary ml-2" (click)="sendMail()">
          Gửi
        </button>
      </div>
    </div>
    <br>
    <div class="input-group padding-left">
      <span class="input-group-addon title-mail border-title-mail width-for-to">To:</span>
      <div style="height: 40px;" class="form-control border-left-input">
        <tag-input [(ngModel)]='items' theme='minimal' placeholder="Nhập địa chỉ email"></tag-input>
      </div>
    </div>
    <div></div>
    <br>
    <div class="input-group padding-left">
      <span class="input-group-addon title-mail border-title-mail">Tiêu đề:</span>
      <input id="msg" type="text" style="height: 40px;" [(ngModel)]="subject" class="form-control border-left-input" name="msg">
    </div>
    <div class="p-2">
    </div>
    <div class="mt-3 margin-left-content">
      <ckeditor [(ngModel)]="mycontent" #myckeditor [config]="ckEditorConfig" debounce="500" (change)="onChange($event)">
      </ckeditor>
    </div>
  </div>
</div> -->



<div class="modal-header no-boder-bottom">
    <div class="pull-left ">
        <div class="text-title icon-arrow">
            <img width="15" height="15" class="img-back pointer" src="assets\images\nghia.png" (click)="closePopup()" />
            <h4 class="modal-title text-dark d-inline text-send-noti"> GỬI THÔNG THÔNG BÁO PHỎNG VẤN ĐẾN CÁC BÊN LIÊN QUAN</h4>
        </div>
    </div>

    <div class="pull-right">
        <button type="button" class="btn btn-cancel mr-2" aria-label="Close" (click)="closePopup()">Hủy</button>
        <button type="button" class="btn btn-send" aria-label="Close" (click)="SendInformation()">Gửi</button>
    </div>
</div>
<div class="modal-body">
    <!-- <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">To:</span>
        </div>
        <kendo-multiselect [allowCustom]="true" [data]="listEmailSearchTo" [(ngModel)]="emailModel.to" [textField]="'employeeName'" [valueField]="'employeeEmail'"
            [ngClass]="{ 'bd-r' : isSendCc === false ||isSendBcc===false }" aria-label="To" autofocus (keyup)="searchTermTo$.next($event.target.value)"
            [valueNormalizer]="valueNormalizerTo">
            <ng-template kendoMultiSelectItemTemplate let-dataItem>
                <table>
                    <tr>{{ dataItem.employeeName }}</tr>
                    <tr class="text-muted">{{ dataItem.employeeEmail}}</tr>
                </table>
            </ng-template>
        </kendo-multiselect>

        <div class="input-group-append" *ngIf="!isSendCc || !isSendBcc">
            <span class="input-group-text">
                <span *ngIf="!isSendCc" title="Thêm người nhận Cc" class="send-cc" (click)="sendCc()">Cc</span>
                <span *ngIf="!isSendBcc" title="Thêm người nhận Bcc" class="send-cc" (click)="sendBcc()">Bcc</span>
            </span>
        </div>
    </div>

    <div class="input-group mb-3" *ngIf="isSendCc">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Cc:</span>
        </div>
        <kendo-multiselect [allowCustom]="true" [data]="listEmailSearchCc" [(ngModel)]="emailModel.cc" [textField]="'employeeName'" [valueField]="'employeeEmail'"
            [ngClass]="{ 'bd-r' : isSendCc === false ||isSendBcc===false }" aria-label="To" autofocus (keyup)="searchTermCc$.next($event.target.value)"
            [valueNormalizer]="valueNormalizerCc">
            <ng-template kendoMultiSelectItemTemplate let-dataItem>
                <table>
                    <tr>{{ dataItem.employeeName }}</tr>
                    <tr class="text-muted">{{ dataItem.employeeEmail}}</tr>
                </table>
            </ng-template>
        </kendo-multiselect>
    </div>

    <div class="input-group mb-3" *ngIf="isSendBcc">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Bcc:</span>
        </div>
        <kendo-multiselect [allowCustom]="true" [data]="listEmailSearchBcc" [(ngModel)]="emailModel.bcc" [textField]="'employeeName'" [valueField]="'employeeEmail'"
            [ngClass]="{ 'bd-r' : isSendCc === false ||isSendBcc===false }" aria-label="To" autofocus (keyup)="searchTermBcc$.next($event.target.value)"
            [valueNormalizer]="valueNormalizerBcc">
            <ng-template kendoMultiSelectItemTemplate let-dataItem>
                <table>
                    <tr>{{ dataItem.employeeName }}</tr>
                    <tr class="text-muted">{{ dataItem.employeeEmail}}</tr>
                </table>
            </ng-template>
        </kendo-multiselect>
    </div> -->
    <div class="input-group mb-3">
        <span class="input-group-addon">To:</span>
        <ng-select class="w-100" [items]="listEmailSearchTo" typeToSearchText="Nhập email" addTagText="Thêm email:" clearAllText="Xóa tất cả"
            [addTag]="true" [hideSelected]="true" multiple="true" bindLabel="employeeName" [searchFn]="customSearchFn" [(ngModel)]="emailModel.to">
            <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                <table>
                    <tr>{{item.employeeName}}</tr>
                    <tr>{{item.employeeEmail}}</tr>
                </table>
            </ng-template>
        </ng-select>
    </div>

    <div class="input-group mb-3" *ngIf="isSendCc">
        <span class="input-group-addon" id="basic-addon1">Cc:</span>
        <ng-select class="w-100" [items]="listEmailSearchCc" addTagText="Thêm email:" clearAllText="Xóa tất cả" [addTag]="true" [hideSelected]="true"
            multiple="true" bindLabel="employeeName" [searchFn]="customSearchFn" [(ngModel)]="emailModel.cc">
            <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                <table>
                    <tr>{{item.employeeName}}</tr>
                    <tr>{{item.employeeEmail}}</tr>
                </table>
            </ng-template>
        </ng-select>
    </div>

    <div class="input-group mb-3" *ngIf="isSendBcc">
        <span class="input-group-addon" id="basic-addon1">Bcc:</span>
        <ng-select class="w-100" [items]="listEmailSearchBcc" addTagText="Thêm email:" clearAllText="Xóa tất cả" [addTag]="true"
            [hideSelected]="true" multiple="true" bindLabel="employeeName" [searchFn]="customSearchFn" [(ngModel)]="emailModel.bcc">
            <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                <table>
                    <tr>{{item.employeeName}}</tr>
                    <tr>{{item.employeeEmail}}</tr>
                </table>
            </ng-template>
        </ng-select>
    </div>

    <div class="mb-3 ml-2" *ngIf="!isSendCc || !isSendBcc">
        <span class="">
            <span *ngIf="!isSendCc" title="Thêm người nhận Cc" class="send-cc" (click)="sendCc()">Thêm Cc</span>
            <span *ngIf="!isSendCc && !isSendBcc" class="send-cc"> | </span>
            <span *ngIf="!isSendBcc" title="Thêm người nhận Bcc" class="send-cc" (click)="sendBcc()">Thêm Bcc</span>
        </span>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Tiêu đề:</span>
        </div>
        <input type="text" [(ngModel)]="emailModel.subject" class="form-control boder-left-none" placeholder="" aria-label="Tiede"
            aria-describedby="basic-addon1">
    </div>
    <div class="body-ckeditor">
        <ckeditor [(ngModel)]="emailModel.content" [config]="ckeConfig" #ckeditor>
            <ckbutton [name]="'saveButton'" [command]="'saveCmd'" [icon]="'save.png'" [label]="'Save Document'" [toolbar]="'clipboard,1'">
            </ckbutton>
        </ckeditor>
    </div>
    <div class="d-flex">
        <div class="fileUpload width-but-upload pt-2">
            <button class="btn btn-primary">
                <i class="fa fa-paperclip" aria-hidden="true"></i>&nbsp;&nbsp; Đính kèm file</button>
            <input type="file" class="upload" tabindex="2" (change)="uploadfile($event)" multiple />
        </div>
        <div class="width-add-file-upload">
            <div *ngFor="let item of file; let i = index" class="d-flex pl-2 pt-2 float-left">
                <div class="center-parent">
                    <span class="text-truncate">{{item?.name}}</span>
                </div>
                <div class="pl-2 center-parent">
                    <button (click)="deleteFileUpload(i)" class="btn btn-secondary">X</button>
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.7)" size = "default" color="#fff" type="ball-scale"></ngx-spinner>