<div class="example-wrapper">
    <kendo-dialog (close)="close('cancel')" [width]="700" [height]="650" class="width-kendo-dialog">
      <form [formGroup]="uploadForm" novalidate>
        <div class="title-detail center-parent">
          <div class="col-md-1"></div>
          <div class="mr-auto col-md-10">
            <div class="media-header center-parent">
              <h3 class="d-inline mb-0 text-dark bold-title">UPLOAD BẢNG XEM XÉT HSMT</h3>
            </div>
          </div>
          <div class="col-md-1 close-popup">
            <span (click)="close('cancel')">X</span>
          </div>
        </div>
        <hr>
        <div class="d-flex">
          <div class="w-100  mr-auto">
            <div>
              <div class="body cus-header" id="info-main" [ngbCollapse]="isCollapsedMain">
                <table class="w-100 table">
                  <tbody>
                    <tr>
                      <td class="w-30 label no-boder bold-title">Chọn file</td>
                      <td class="no-boder d-flex">
                        <span class="w-100">
                          <span class="form-control boder-input-choose-file">
                            {{this.uploadForm.get('nameFile').value ? this.uploadForm.get('nameFile').value : 'Tên file'}}
                          </span>
                        </span>
                        <span class="input-group-addon fileUpload">
                          <i class="fa fa-upload" aria-hidden="true"></i>
                          <input type="file" class="upload" (change)="fileChange($event)" 
                          accept=".xlsx,.xls,image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf, .application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/vnd.ms-powerpoint, application/vnd.openxmlformats-officedocument.presentationml.slideshow, application/vnd.openxmlformats-officedocument.presentationml.presentation"/>
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td class="w-30 label no-boder bold-title">Loại đề nghị dự thầu</td>
                      <td class="no-boder d-flex">
                          <div class="form-group w-100" style="margin-bottom: 0!important;">
                              <span class="custom-dropdown w-100">
                                  <select class="form-control" formControlName="isSuggestedApprove">
                                      <option value="true">Đồng ý tham gia</option>
                                      <option value="false">Không đồng ý tham gia</option>
                                  </select>
                                  <!-- <span class="input-group-addon">
                                      <i class="fa fa-calendar"></i>
                                  </span> -->
                              </span>
                          </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="w-30 label no-boder bold-title">Tên</td>
                      <td class="w-70 no-boder">
                        <input class="form-control" tabindex="1" type="text" formControlName="editName">
                      </td>
                    </tr>
                    <tr>
                      <td class="w-30 label no-boder bold-title">Ngày nhận HSMT</td>
                      <td class="w-70 no-boder">
                          <div class="form-group ">
                              <div class="input-group calendarInput">
                                  <owl-date-time [locale]="datePickerConfig.vi" [placeHolder]="datePickerConfig.datePlaceHolder"
                                      [type]="datePickerConfig.calendarType" pickerType="calendar" [dateFormat]="datePickerConfig.dateFormat">
                                  </owl-date-time>
                                  <span class="input-group-addon">
                                      <i class="fa fa-calendar"></i>
                                  </span>
                              </div>
                          </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="w-30 label no-boder bold-title">Mô tả/Nội dung cập nhật</td>
                      <td class="w-70 no-boder">
                        <textarea cols="3" rows="3" class="w-100 form-control no-resize-textarea" formControlName="description"></textarea>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
  
            </div>
            <div class="action-bar alignment-but center-parent">
              <button type="submit" class="btn btn-primary ml-2 cus-but-cs" (click)="submitForm()">Upload
              </button>
              <button class="btn btn-secondary ml-2 cus-but-cs" (click)="close('cancel')">Hủy
              </button>
            </div>
          </div>
        </div>
      </form>
    </kendo-dialog>
  </div>