<!-- <form [formGroup]="createFormReport">
  <div>
    <div class="title-detail center-parent">
      <div class="col-md-1"></div>
      <div class="mr-auto col-md-10">
        <div class="media-header center-parent">
          <h3 class="d-inline mb-0 text-dark bold-title title">UPLOAD BIÊN BẢN PHỎNG VẤN
          </h3>
        </div>
      </div>
      <div class="col-md-1 close-popup close-popup-X">
        <span (click)="closePopup()">X</span>
      </div>
    </div>
    <div class="max-width pad-row d-flex">
      <div class="set-width-name-field name-field">
        File đính kèm
      </div>
      <div class="set-width-value-field d-flex">
        <div class="no-boder d-flex" style="width: 100%">
          <span class="w-100">
            <span class="form-control boder-input-choose-file">
              {{ this.createFormReport.get('documentName').value ? this.createFormReport.get('documentName').value : '-- Chọn file --'}}
            </span>
          </span>
          <span class="input-group-addon fileUpload">
            <i class="fa fa-upload" aria-hidden="true"></i>
            <input type="file" class="upload" (change)="fileChange($event)" accept=".xlsx,.xls,image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf, .application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/vnd.ms-powerpoint, application/vnd.openxmlformats-officedocument.presentationml.slideshow, application/vnd.openxmlformats-officedocument.presentationml.presentation"
            />
          </span>
        </div>
      </div>
    </div>
    <div class="max-width pad-row d-flex">
      <div class="set-width-name-field name-field">
        Đường dẫn file
      </div>
      <div class="set-width-value-field">
        <input class="form-control" type="text">
      </div>
    </div>
    <div class="max-width pad-row d-flex">
      <div class="set-width-name-field name-field">
        Tên
      </div>
      <div class="set-width-value-field">
        <input formControlName="documentName" class="form-control" type="text">
      </div>
    </div>
    <div class="max-width pad-row d-flex">
      <div class="set-width-name-field name-field">
        Version
      </div>
      <div class="set-width-value-field">
        <div class="form-control">1</div>
      </div>
    </div>
    <div class="max-width pad-row d-flex">
      <div class="set-width-name-field name-field" >
        Lần phỏng vấn
      </div>
      <div class="set-width-value-field">
        <input formControlName="interviewTimes" class="form-control" type="number">
      </div>
    </div>
    <div class="max-width pad-row d-flex">
      <div class="set-width-name-field name-field">
        Mô tả nội dung cập nhật
      </div>
      <div class="set-width-value-field">
        <textarea formControlName="documentDesc" cols="3" rows="3" class="w-100 form-control no-resize-textarea"></textarea>
      </div>
    </div>

    <div class="cus-button-popup">
      <button type="button" class="btn btn-primary" (click)="Upload()">Upload</button>
      <button type="button" class="btn btn-secondary" (click)="closePopup()">Hủy</button>
    </div>

  </div>
</form> -->


<div class="example-wrapper">
    <form [formGroup]="createFormReport">
        <div class="title-detail center-parent">
            <div class="w-20">
            </div>
            <div class="w-80">
                <div class="media-header center-parent">
                    <h3 class="d-inline mb-0 text-dark bold-title">UPLOAD BIÊN BẢN PHỎNG VẤN</h3>
                </div>
            </div>
            <div class="d-flex justify-content-end w-20">
                <div>
                    <div>
                        <img (click)="closePopup()" width="15" height="15" class="cursor-pointer not-outline" src="assets\images\close.png">
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="d-flex">
            <div class="w-100  mr-auto">
                <div>
                    <div class="body cus-header" id="info-main">
                        <div *ngIf="!((createFormReport.get('link').value &&  createFormReport.get('link').value !== '') || file) && isSubmitted" class="alert alert-danger" role="alert">
                            <span>Vui lòng chọn file hoặc đường dẫn link đến file!</span>
                        </div>
                        <table class="w-100 table">
                            <tbody>
                                <tr>
                                    <td class="w-30 label no-boder bold-title">Đường dẫn link</td>
                                    <td class="w-70 no-boder">
                                        <input class="w-100" [attr.disabled]="file ? '' : null" class="form-control" tabindex="1" type="text" formControlName="link">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-30 label no-boder bold-title">Hoặc</td>
                                    <td class="no-boder d-flex justify-content-between">
                                        <div class="fileUpload">
                                            <button class="btn btn-primary" [disabled]="createFormReport.get('link').value">
                                                <i class="fa fa-cloud-upload" aria-hidden="true"></i>&nbsp;&nbsp; Chọn File</button>
                                            <input type="file" class="upload" tabindex="2" (change)="fileChange($event)" [disabled]="createFormReport.get('link').value"
                                            />
                                        </div>
                                        <div class="d-flex justify-content-between name-file--width">
                                            <div>
                                                <span class="text-truncate">{{file?.name}}</span>
                                            </div>
                                            <div *ngIf="file">
                                                <button (click)="deleteFileUpload()" class="btn btn-secondary">X</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <!-- <tr *ngIf="!((createFormReport.get('link').value &&  createFormReport.get('link').value !== '') || file) && isSubmitted">
                                    <td class="w-30 no-boder"></td>
                                    <td class="w-70 no-boder">
                                        <div class="invalid-feedback">
                                            Bạn phải nhập đường dẫn link hoặc đính kèm file
                                        </div>
                                    </td>
                                </tr> -->
                                <tr>
                                    <td class="w-30 label no-boder bold-title required">Tên</td>
                                    <td class="w-70 no-boder">
                                        <input class="w-100" kendoTextBox tabindex="4" type="text" formControlName="documentName" [class.is-invalid]="formErrors.documentName">
                                        <div class="invalid-feedback" *ngIf="formErrors.documentName">
                                            {{formErrors.documentName}}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-30 label no-boder bold-title">Phiên bản</td>
                                    <td class="w-70 no-boder">
                                        <input appInputNumberInteger class="w-100" kendoTextBox tabindex="5" type="text" formControlName="version">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-30 label no-boder bold-title">Lần phỏng vấn</td>
                                    <td class="no-boder d-flex">
                                        <input appInputNumberInteger class="w-100" kendoTextBox tabindex="6" type="text" formControlName="interviewTimes">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-30 label no-boder bold-title">Mô tả/Nội dung cập nhật</td>
                                    <td class="w-70 no-boder">
                                        <textarea kendoTextArea tabindex="7" cols="3" rows="3" class="w-100 form-control no-resize-textarea" formControlName="documentDesc"></textarea>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="action-bar alignment-but center-parent">
                    <button tabindex="8" type="submit" class="btn btn-primary ml-1 cus-but-cs" (click)="Upload()">Upload
                    </button>
                    <button tabindex="9" class="btn btn-secondary ml-1 cus-but-cs" (click)="closePopup()">Hủy
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.7)" size="medium" color="#fff" type="ball-clip-rotate-multiple"></ngx-spinner>