footer{
    // margin-left: 225px;
    text-align: center;
    font-size: 90%;
 //   clear: both;
  //  position: relative;
    z-index: 10;
    height: 3em;
    background-color: #f6f6f6;
    padding-top: 10px;

}

:host{
    background-color: #f6f6f6;
}