<div id="outer-table">
    <div class="table-small mt-3">
        <div id="header-table-build" class=" title-list-package d-flex flex-wrap align-items-center status-filter" *ngIf="!isShowMenu">
            <div class="mr-auto d-flex align-items-end list-package mt-2 mb-2">
                <div class="d-flex justify-content-start" style="height: 40px;" id="res-header">
                    <div class="rule mr-2">
                    </div>
                    <div class="center-parent  mr-4" style="font-size: 18px">
                        <div>Đang lập HSDT</div>
                    </div>
                </div>
            </div>
            <div>
                <div class="btn-toolbar mt-2 mb-2">
                    <div>
                        <div class="input-group">
                            <span class="input-group-addon">Tìm kiếm theo</span>
                            <input type="text" class="form-control icon" placeholder="&#xf002; Tên tài liệu" (keyup)="search($event.target.value)">
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-primary ml-2">
                            Tải Template
                        </button>
                        <button class="btn btn-primary ml-2">
                            Tải xuống tài liệu
                        </button>
                        <button class="btn btn-primary ml-2">
                            Xóa
                        </button>
                        <button class="btn btn-primary ml-2">
                            In
                        </button>
                        <!-- <button class="btn btn-primary ml-2" type="button" ngbDropdownToggle data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                                Thêm mới HSDT
                            </button> -->
                        <span ngbDropdown>
                            <button class="btn btn-primary ml-2" id="dropdownBasic1" ngbDropdownToggle>Thêm mới HSDT</button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <button class="dropdown-item">Bảng tóm tắt ĐKDT</button>
                                <button class="dropdown-item" (click)="showDialogUploadFile('Yêu cầu báo giá vật tư, thầu phụ')">Yêu cầu báo giá vật tư, thầu phụ</button>
                                <button class="dropdown-item" (click)="showDialogUploadFile('Báo cáo tham quan công trình')">Báo
                                    cáo tham quan công trình</button>
                                <button class="dropdown-item" (click)="showDialogUploadFile('Bản tổng hợp dự toán')">Bản
                                    tổng hợp dự toán</button>
                                <button class="dropdown-item" (click)="showDialogUploadFile('Bản tính chi phí chung')">Bản
                                    tính chi phí chung</button>
                                <button class="dropdown-item" (click)="showDialogUploadFile('Bản câu hỏi làm rõ HSMT')">Bản
                                    câu hỏi làm rõ HSMT</button>
                                <button class="dropdown-item" (click)="showDialogUploadFile('Các HSKT có liên quan')">Các
                                    HSKT có liên quan</button>
                                <button class="dropdown-item" (click)="showDialogUploadFile('Hồ sơ pháp lý')">Hồ sơ
                                    pháp lý</button>
                                <button class="dropdown-item" (click)="showDialogUploadFile('Hồ sơ khác')">Hồ sơ khác</button>
                            </div>
                        </span>
                        <button class="btn btn-primary ml-2">
                            Chốt HSDT
                        </button>
                        <button class="btn btn-primary ml-2">
                            <i class="fa fa-refresh" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="main-content">
            <div id="toggle-menu" *ngIf="!isShowMenu">

                <div class="d-flex">
                    <div id="toggle-menu-item">
                        <div class="toggle-menu-item" [routerLink]="['./summary']" routerLinkActive="active-link">Bảng
                            tóm
                            tắt ĐKDT</div>
                        <div class="toggle-menu-item">Yêu cầu báo giá vật tư, thầu phụ</div>
                        <div class="toggle-menu-item" routerLink="./liveformsite" routerLinkActive="active-link">Báo
                            cáo
                            tham quan công trình</div>
                        <div class="toggle-menu-item">Bảng tổng hợp dự toán</div>
                        <div class="toggle-menu-item">Bảng tính chi phí chung</div>
                        <div class="toggle-menu-item">Bảng câu hỏi làm rõ HSMT</div>
                        <div class="toggle-menu-item" [routerLink]="['hskt']">Các HSKT có liên quan</div>
                        <div class="toggle-menu-item">Hồ sơ pháp lý</div>
                        <div class="toggle-menu-item">Hồ sơ khác</div>
                        <!-- <div class="line" *ngIf="!(majorTypeListItem.length == i+1)" style="width: calc(100% - 10px); border-top: #ccecf9 solid 1px; height: 1px; border-left: 1px; margin-left: 10px;"></div> -->
                    </div>
                    <div class="button-click mb-auto" (click)="toggleClick()">
                        <div class="center-parent">
                            <div>
                                <div class="iconButton iconN1"></div>
                                <div class="iconButton iconN2" style="margin: 3.5px 0;"></div>
                                <div class="iconButton iconN3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-100">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
