<div id="outer-table">
    <div class="table-small mt-3">
        <div id="header-table-build" class=" title-list-package d-flex flex-wrap align-items-center status-filter"
            *ngIf="!isShowMenu">
            <div class="mr-auto d-flex align-items-end list-package mt-2 mb-2">
                <div class="d-flex justify-content-start res-header-bar" id="res-header">
                    <div class="rule mr-2">
                    </div>
                    <div class="center-parent  mr-4 res-header-title">
                        <div>Đang lập HSDT</div>
                    </div>
                </div>
            </div>
            <div>
                <div class="btn-toolbar mt-2 mb-2">
                    <div>
                        <button class="btn btn-primary ml-2" (click)="taiTemplateHSDT()">
                            Tải Template
                        </button>
                        <button class="btn btn-primary ml-2" [ngClass]="{'d-none': hideActionSiteReport}">
                            Tải xuống tài liệu
                        </button>
                        <button class="btn btn-primary ml-2" (click)="chotHSDT($event)" [ngClass]="{'d-none': hideActionSiteReport}">
                            Chốt HSDT
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="main-content" class="d-flex flex-row w-100">
            <div id="toggle-menu" *ngIf="!isShowMenu">

                <div class="d-flex">
                    <div id="toggle-menu-item">
                        <div class="toggle-menu-item d-flex flex-column align-items-start" [routerLinkActive]="['router-link-active']"
                            [routerLink]="['./summary']">
                            <div>Bảng tóm tắt ĐKDT</div>
                            <span class="font-italic">LiveForm</span>
                        </div>
                        <div class="toggle-menu-item d-flex flex-column align-items-start" [routerLinkActive]="['router-link-active']"
                            [routerLink]="['./liveformsite']">
                            <div>Báo cáo tham quan công trình</div>
                            <span class="font-italic">LiveForm</span>
                        </div>
                        <!-- List Type of Document -->
                        <ng-container *ngFor="let uploadform of danhSachLoaiTaiLieu; index as i">
                            <div *ngIf="!uploadform.item?.isLiveForm" class="toggle-menu-item d-flex flex-column align-items-start"
                                [ngClass]="{'router-link-active': isHighlight === i}" (click)="emitData(uploadform.item?.id)">
                                <div>{{ uploadform.item?.name }}</div>
                                <span class="font-italic">Upload</span>
                            </div>
                        </ng-container>
                    </div>
                    <div class="button-click mb-auto" (click)="toggleClick()">
                        <div class="center-parent">
                            <div>
                                <div class="iconButton iconN1"></div>
                                <div class="iconButton iconN2" style="margin: 3.5px 0;"></div>
                                <div class="iconButton iconN3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grow-in-line">
                <router-outlet (activate)="onActivate($event)"></router-outlet>
            </div>
        </div>
    </div>
</div>
