<div class="boder-table">
    <div class="row">
        <ul class="progressbar">
            <li class="triangle active" [routerLink]="['../infomation-deployment']">
                <div style="width: 100%" class="center-parent">
                    <div class="arrow-down-active"></div>
                </div>
                <span class="text-color ">Triển khai &amp; phân công tiến độ</span>
            </li>
            <li class="triangle active" [routerLink]="['../build']">
                <div style="width: 100%" class="center-parent">
                    <div class="arrow-down-active"></div>
                </div>
                <span class="text-color ">Lập HSDT</span>
            </li>
            <li class="triangle" [routerLink]="['../price-review']">
                <div style="width: 100%" class="center-parent">
                    <div class="arrow-down"></div>
                </div>
                <span class="text-color ">Trình duyệt giá</span>
            </li>
            <li class="triangle">
                <div style="width: 100%" class="center-parent">
                    <div class="arrow-down"></div>
                </div>
                <span class="text-color ">Đơn báo giá dự thầu</span>
            </li>
            <li class="triangle">
                <div style="width: 100%" class="center-parent">
                    <div class="arrow-down"></div>
                </div>
                <span>Hồ sơ dự thầu đã ký</span>
            </li>
            <li class="triangle">
                <div style="width: 100%" class="center-parent">
                    <div class="arrow-down"></div>
                </div>

                <span>Quản lý phỏng vấn/thương thảo</span>
            </li>
        </ul>
    </div>
    <div id="outer-table">
        <div class="table-small mt-3">
            <div id="header-table" class=" title-list-package d-flex flex-wrap align-items-center status-filter" *ngIf="!isShowMenu">
                <div class="mr-auto d-flex align-items-end list-package mt-2 mb-2">
                    <div class="d-flex justify-content-start" style="height: 40px;" id="res-header">
                        <div class="rule mr-2">
                        </div>
                        <div class="center-parent  mr-4" style="font-size: 18px">
                            <div>Đang lập HSDT</div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="btn-toolbar mt-2 mb-2">
                        <div>
                            <div class="input-group">
                                <span class="input-group-addon">Tìm kiếm theo</span>
                                <input type="text" class="form-control icon" placeholder="&#xf002; Tên tài liệu" (keyup)="search($event.target.value)">
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-primary ml-2">
                                Tải Template
                            </button>
                            <button class="btn btn-primary ml-2">
                                Tải xuống tài liệu
                            </button>
                            <button class="btn btn-primary ml-2">
                                Xóa
                            </button>
                            <button class="btn btn-primary ml-2">
                                In
                            </button>
                            <!-- <button class="btn btn-primary ml-2" type="button" ngbDropdownToggle data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                                Thêm mới HSDT
                            </button> -->
                            <span ngbDropdown>
                                <button class="btn btn-primary ml-2" id="dropdownBasic1" ngbDropdownToggle>Thêm mới HSDT</button>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                    <button class="dropdown-item">Bảng tóm tắt ĐKDT</button>
                                    <button class="dropdown-item">Yêu cầu báo giá vật tư, thầu phụ</button>
                                    <button class="dropdown-item" (click)="showDialogUploadFile('Báo cáo tham quan công trình')">Báo cáo tham quan công trình</button>
                                    <button class="dropdown-item" (click)="showDialogUploadFile('Bản tổng hợp dự toán')">Bản tổng hợp dự toán</button>
                                    <button class="dropdown-item" (click)="showDialogUploadFile('Bản tính chi phí chung')">Bản tính chi phí chung</button>
                                    <button class="dropdown-item" (click)="showDialogUploadFile('Bản câu hỏi làm rõ HSMT')">Bản câu hỏi làm rõ HSMT</button>
                                    <button class="dropdown-item" (click)="showDialogUploadFile('Các HSKT có liên quan')">Các HSKT có liên quan</button>
                                    <button class="dropdown-item" (click)="showDialogUploadFile('Hồ sơ pháp lý')">Hồ sơ pháp lý</button>
                                    <button class="dropdown-item" (click)="showDialogUploadFile('Hồ sơ khác')">Hồ sơ khác</button>
                                </div>
                            </span>
                            <button class="btn btn-primary ml-2">
                                Chốt HSDT
                            </button>
                            <button class="btn btn-primary ml-2">
                                <i class="fa fa-refresh" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="main-content">
                <div id="toggle-menu" *ngIf="!isShowMenu">
                    <div class="button-click" (click)="toggleClick()">
                        <div class="iconButton iconN1"></div>
                        <div class="iconButton iconN2" style="margin: 3px 0;"></div>
                        <div class="iconButton iconN3"></div>
                        <!-- <ng-container *ngIf="isChangeIcon; else elseTemplate">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                        </ng-container>
                        <ng-template #elseTemplate>
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </ng-template> -->
                    </div>
                    <div id="toggle-menu-item">
                        <div class="toggle-menu-item" [routerLink]="['./summary']">Bảng tóm tắt ĐKDT</div>
                        <div class="toggle-menu-item">Yêu cầu báo giá vật tư, thầu phụ</div>
                        <div class="toggle-menu-item">Báo cáo tham quan công trình</div>
                        <div class="toggle-menu-item">Bảng tổng hợp dự toán</div>
                        <div class="toggle-menu-item">Bảng tính chi phí chung</div>
                        <div class="toggle-menu-item">Bảng câu hỏi làm rõ HSMT</div>
                        <div class="toggle-menu-item" [routerLink]="['hskt']">Các HSKT có liên quan</div>
                        <div class="toggle-menu-item">Hồ sơ pháp lý</div>
                        <div class="toggle-menu-item">Hồ sơ khác</div>
                    </div>
                </div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>