.rule {
    border-right: 5px solid #00a0e3;
    content: "";
    margin: 10px 0;
}

.btn:focus,
.btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(0, 160, 227, 0.25) !important;
}

#header-table-build {
    padding-left: 1rem;
}


button:focus {
    outline: 1px dotted;
    outline: white !important;
}

table.dataTable th {
    border-bottom: 1px solid #dddddd !important;
    background-color: white !important;
    border: 1px solid #dddddd;
}

.grow-in-line {
    flex-grow: 1;
}

#main-content {
    display: flex;

    #toggle-menu {
        // box-shadow: ;
        display: flex;
        flex-direction: column;
        padding-top: 15px;

        #toggle-menu-item {
            display: flex;
            flex-direction: column;

            .toggle-menu-item {
                cursor: pointer;
                outline: none;
                color: #009CE2;
                background-color: white;
                width: 210px;
                height: 45px;
                box-sizing: border-box;
                padding: 5px 10px;
                display: flex;
                justify-content: start;
                align-items: center;
                font-size: 0.95em;
                transition: 600ms;

                border-bottom: solid 1px #ccecf9;
                border-right: solid 1px #ccecf9;

                &:hover {
                    background-color: #009CE2;
                    color: white;
                }

                &:first-child {
                    border-top: solid 1px #ccecf9;
                }
            }

            .active-link {
                background-color: #009CE2;
                color: white;
            }
        }

        .toggle-menu-item {
            cursor: pointer;
            outline: none;
            border-right: #009CE2 solid 1px;
            color: #009CE2;
            background-color: white;
            width: 210px;
            height: 45px;
            box-sizing: border-box;
            padding: 5px 10px;
            display: flex;
            justify-content: start;
            align-items: center;
            font-size: 0.95em;
            transition: 600ms;

            &:hover {
                background-color: #009CE2;
                color: white;
            }
        }

        .button-click {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 15px;
            color: white;
            background-color: #009CE2;
            width: 25px;
            height: 25px;
            align-self: flex-end;
        }
    }
}

.hight-light {
    color: #a5a2a2 !important;
}

.color-text-gray {
    color: #a5a2a2 !important;
}

.active-menu {
    background-color: #009CE2 !important;
    color: white !important;
}

.resize {
    transition: width 300ms;
    pointer-events: none;
    width: 0px !important;
    color: transparent !important;
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    display: none;
}

.iconButton {
    height: 3px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
}

.iconN1 {
    width: 20px;
    transform: rotate(45deg) translate(5px, 5px);
    transition-duration: 600ms;
}

.iconN2 {
    transform: none;
    background-color: transparent;
    transition-duration: 600ms;
}

.iconN3 {
    width: 20px;
    transform: rotate(-45deg) translate(4px, -4px);
    transition-duration: 600ms;
}

.iconN01,
.iconN02,
.iconN03 {
    background-color: #fff !important;
    transform: none;
    transition-duration: 600ms;
}

.middle-line {
    margin: 3.5px 0;
}

.res-header-bar {
    height: 40px;
}

.res-header-title {
    font-size: 18px;
}

.toggle-width {
    width: calc(100% - 45px) !important;
}

.menu-width {
    width: 237px;
}

.table-width {
    width: calc(100% - 255px);
}

.left-menu {
    width: 25px;
}

.text-truncate-custom {
    overflow: hidden;
    text-overflow: ellipsis;
}


.dropdown-toggle::after {
    content: none !important;
    border: none !important;
}

.dropdown-item {
    cursor: pointer;
}

.toggle-menu-item.color-text-gray {
    color: #a5a2a2;
}

.router-link-active {
    background-color: #00a0e3 !important;
    color: #fff !important;
}

.router-link-active.resize {
    transition: width 300ms;
    pointer-events: none;
    width: 0px !important;
    color: transparent !important;
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    display: none;
}

.itemDisplay {
    flex-direction: column;
    align-items: flex-start !important;

    span {
        font-style: italic;
    }
}

.no-action {
    color: #7b7b7b;
}

.cursor-notallowed {
    cursor: not-allowed;
}

@media only screen and (max-width: 1024px) {
    .text-truncate-custom {
        white-space: nowrap;
        max-width: 8rem;
    }

    .toggle-menu-item {
        width: 150px !important;
        font-size: 12px !important;
    }

    #header-table-build {
        zoom: 0.8 !important;
        padding-left: 20px;

        :first-child {
            #res-header {
                position: relative;
                top: -30px;
            }
        }

        :last-child {
            div {
                :first-child {
                    margin-bottom: 5px;

                    div {
                        justify-content: flex-end;
                        align-items: flex-start;

                        span {
                            padding-bottom: 10px;
                        }
                    }
                }

                :last-child {
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: flex-end;
                }
            }
        }
    }
}
