<div class="boder-table">
  <div class="row">
    <ul class="progressbar">
      <li class="triangle active" [routerLink]="['../infomation-deployment']">
        <div style="width: 100%" class="center-parent">
          <div class="arrow-down-active"></div>
        </div>
        <span class="text-color ">Triển khai &amp; phân công tiến độ</span>
      </li>
      <li class="triangle active" [routerLink]="['../build']">
        <div style="width: 100%" class="center-parent">
          <div class="arrow-down-active"></div>
        </div>
        <span class="text-color ">Lập HSDT</span>
      </li>
      <li class="triangle active " [routerLink]="['../price-review']">
        <div style="width: 100%" class="center-parent">
          <div class="arrow-down-active"></div>
        </div>
        <span class="text-color ">Trình duyệt giá</span>
      </li>
      <li class="triangle active" [routerLink]="['../price-report']">
        <div style="width: 100%" class="center-parent">
          <div class="arrow-down-active"></div>
        </div>
        <span class="text-color ">Đơn báo giá dự thầu</span>
      </li>
      <li class="triangle active">
        <div style="width: 100%" class="center-parent">
          <div class="arrow-down-active"></div>
        </div>
        <span class="text-color">Hồ sơ dự thầu đã ký</span>
      </li>
      <li class="triangle active">
        <div style="width: 100%" class="center-parent">
          <div class="arrow-down-active"></div>
        </div>
        <span class="text-color">Quản lý phỏng vấn/thương thảo</span>
      </li>
    </ul>
  </div>
  <div id="outer-table" style="padding-top: 0px" class="pad-two-target">
    <div class="table-small">
      <div class=" title-list-package d-flex flex-wrap align-items-center status-filter" id="ipad-res" style="width: 100%">
        <div class="mr-auto align-items-end list-package mb-2" style="width: 40%">
          <div class="d-flex justify-content-start" style="height: 40px;">
            <div class="rule mr-2">
            </div>
            <div class="center-parent mr-4" style="font-size: 18px">
              <div>Đã nộp hồ sơ dự thầu</div>
            </div>
          </div>
          <div class="mr-4" style="font-size: 15px">
            <div>HỒ SƠ DỰ THẦU ĐÃ PHÊ DUYỆT</div>
          </div>
        </div>
        <div style="width: 60%">
          <div class="btn-toolbar mt-2 mb-2 d-flex flex-row-reverse">
            <div>
              <button class="btn btn-primary ml-1">
                Hiệu chỉnh HSDT
              </button>
              <button class="btn ml-1 deactive-but">
                Nộp HSDT
              </button>
              <button class="btn btn-primary ml-1">
                Tải template
              </button>
              <button class="btn ml-1 deactive-but">
                Upload file scan HSDT đã ký
              </button>
              <button class="btn btn-primary ml-1">
                <i class="fa fa-refresh" aria-hidden="true"></i>
              </button>
            </div>
            <div class="d-flex" style="padding-top: 10px;">
              <div class="input-group">
                <span class="input-group-addon">Tìm kiếm theo</span>
                <input type="text" class="form-control icon" placeholder="&#xf002; Tên tài liệu">
              </div>
              <!-- <button class="btn btn-primary ml-1">
                Tải xuống tài liệu
              </button> -->
              <button class="btn btn-primary ml-1">
                In
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bot-table" style="margin-right: 15px;margin-left: 15px;">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table-selection  row-border hover cell-border dataTable">
      <thead>
        <tr>
          <th class="stt" style="width: 5%; min-width: 15px;background-color: #f68e56!important;">
            <div class="d-flex justify-content-around">
              <div style="width: 40%;">
                <div class="center-parent">
                  <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                  </label>
                </div>
              </div>
              <div style="width: 35%;" class="center-parent">
                <div>STT</div>
              </div>
            </div>
          </th>

          <th colspan="2" style="width: 40%;background-color: #f68e56!important;">
            <div class="d-flex justify-content-center">
              <div class="center-parent">
                <div>Loại tài liệu</div>
              </div>
            </div>
          </th>

          <th style="width: 40%;background-color: #f68e56!important;">
            <div class="d-flex justify-content-center">
              <div class="center-parent">
                <div>Tên tài liệu</div>
              </div>
            </div>
          </th>

          <th style="width: 10%;background-color: #f68e56!important;">
            <div class="d-flex justify-content-center">
              <div class="center-parent">
                <div>Lần phỏng vấn</div>
              </div>
            </div>
          </th>

          <th class="table-action text-center" style="width: calc(5% - 15px);background-color: #f68e56!important; min-width: 70px!important;">
            Thao tác
          </th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="stt d-flex justify-content-around">
            <div style="width: 40%;">
              <div class="center-parent">
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input">
                  <span class="custom-control-indicator"></span>
                </label>
              </div>
            </div>
            <div style="width: 35%;" class="center-parent">
              <div>1</div>
            </div>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="text-center">
            <div class="d-flex justify-content-around">
              <div>
                <a title="Tải file">
                  <i class="fa fa-download icon-download-file" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>