.fix-m2-floor-area{
    position: relative;
    .cus-input{
        padding-right: 34px;
    }
    .span-m2{
        position: absolute;
        right: 12px;
        top: 7px;
    }
}
.w-15{
    width: 15%;
}
.w-35{
    width: 15%;
}
.textarea-content{
    resize: none;
    width: 90%;
}
.title-detail{
    box-shadow: 0 16px 3px -12px #F5F5F5, 0 4px 25px 0 #F5F5F5, 0 8px 10px -5px #F5F5F5;
    height: 55px;
    position: fixed;
    width: calc(100% - 200px);
    background-color: #ffff;
    z-index: 50;
}
.alignment-but{
    float: right;
}
.cust-width-in{
    width: 84%;
}
.mar-add{
    margin-left: 1px;
    border-radius: 0.25rem;
    cursor: pointer;
}
.main-form{
    padding: 25px 35px;
    padding-top: 90px;
}
.header-title{
    padding: 0 25px;
}
.no-boder{
    border: none;
}
.boder-table{
    border: 1px solid #dadada;
    padding: 20px 30px 35px 30px;
    background-color: #fff;

}
// .ng-valid .owl-dateTime .owl-dateTime-inputWrapper .owl-datetime-main-input{
//     padding: 0.375rem 0.75rem !important;
//     height: 34px !important;
//     border-right: none !important;
//     border-top-right-radius: 0 !important;
//     border-bottom-right-radius: 0 !important;
//     border-color: #dc3545 !important;
// }
.boder-bot-td{
    border-bottom: 2px solid #888894;
}
.form-control{
    min-height: 33px;
}

// @media only screen and (max-width: 1600px) {
//     .zoom-form{
//         zoom: 0.7;
//     }
// }

// @media only screen and (max-width: 1366px) {
//     .zoom-form{
//         zoom: 0.67;
//     }
// }

// @media only screen and (max-width: 1270px) {
//     .zoom-form{
//         zoom: 0.7;
//     }
// }

// @media only screen and (max-width: 1200px) {
//     .zoom-form{
//         zoom: 0.6;
//     }
// }
// @media only screen and (max-width: 1024px) {
//     .zoom-form{
//         zoom: 0.6;
//     }
// }
// @media only screen and (max-width: 1100px) {
//     .zoom-form{
//         zoom: 0.5;
//     }
// }
@media only screen and (max-width: 993px) {
    .title-detail{
        width: 100% !important;
    }
}

