.fix-m2-floor-area{
    position: relative;
    .cus-input{
        padding-right: 34px;
    }
    .span-m2{
        position: absolute;
        right: 12px;
        top: 7px;
    }
}
.w-15{
    width: 15%;
}
.w-35{
    width: 15%;
}
.textarea-content{
    resize: none;
    width: 90%;
}
.title-detail{
    box-shadow: 0 16px 3px -12px #F5F5F5, 0 4px 25px 0 #F5F5F5, 0 8px 10px -5px #F5F5F5;
    height: 55px;
    position: fixed;
    width: calc(100% - 200px);
    background-color: white;
    z-index: 50;
    top: 50px
}
.alignment-but{
    float: right;
}
.cust-width-in{
    width: 84%;
}
.mar-add{
    margin-left: 1px;
    border-radius: 0.25rem;
    cursor: pointer;
}
.main-form{
    padding: 25px 35px;
    padding-top: 90px;
}
.header-title{
    padding: 0 25px;
}
.no-boder{
    border: none;
}
.boder-table{
    border: 1px solid #dadada;
    padding: 20px 30px 35px 30px;
    background-color: #fff;

}
// .ng-valid .owl-dateTime .owl-dateTime-inputWrapper .owl-datetime-main-input{
//     padding: 0.375rem 0.75rem !important;
//     height: 34px !important;
//     border-right: none !important;
//     border-top-right-radius: 0 !important;
//     border-bottom-right-radius: 0 !important;
//     border-color: #dc3545 !important;
// }
.boder-bot-td{
    border-bottom: 2px solid #888894;
}
.form-control{
    min-height: 33px;
}

// @media only screen and (max-width: 1600px) {
//     .zoom-form{
//         zoom: 0.7;
//     }
// }

// @media only screen and (max-width: 1366px) {
//     .zoom-form{
//         zoom: 0.67;
//     }
// }

// @media only screen and (max-width: 1270px) {
//     .zoom-form{
//         zoom: 0.7;
//     }
// }

// @media only screen and (max-width: 1200px) {
//     .zoom-form{
//         zoom: 0.6;
//     }
// }
// @media only screen and (max-width: 1024px) {
//     .zoom-form{
//         zoom: 0.6;
//     }
// }
// @media only screen and (max-width: 1100px) {
//     .zoom-form{
//         zoom: 0.5;
//     }
// }
@media only screen and (max-width: 993px) {
    .title-detail{
        width: 100% !important;
    }
}
.main-detail {
    margin: 15px 35px; //padding: 0 25px;
    // width: 100%;
    min-height: 100px;
    padding-top: 60px; //   border: 1px solid #dbdbdb;
    .menu {
        height: 45px;
        display: flex;
        .no-action {
            outline: none;
            background-color: #dedede;
            color: #7b7b7b;
            font-weight: 400;
            font-size: 130%;
            text-align: center;
            cursor: default;
            display: inline-block;
            line-height: 50px;
            padding: 0 30px;
            height: 50px; // margin-left: 20px;
            position: relative;
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3) {
                margin-right: 20px;
            }
            &:nth-child(1)::before {
                content: none;
            }
            &:nth-child(4)::after {
                content: none;
            }
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: "";
                display: inline-block;
                border: 25px solid #dedede;
                border-left: 15px solid transparent;
                border-right: 0;
                margin-left: -15px;
            }
            &:after {
                position: absolute;
                top: 0;
                right: 0;
                content: "";
                display: inline-block;
                border: 25px solid transparent;
                border-left: 15px solid #dedede;
                border-right: 0;
                margin-right: -15px;
            }
        }
        .action {
            outline: none;
            background-color: #cceffc;
            color: #00a0e3;
            font-weight: 400;
            font-size: 130%;
            text-align: center;
            cursor: pointer;
            display: inline-block;
            line-height: 50px;
            padding: 0 30px;
            height: 50px; // margin-left: 20px;
            position: relative;
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3) {
                margin-right: 20px;
            }
            &:nth-child(1)::before {
                content: none;
            }
            &:nth-child(4)::after {
                content: none;
            }
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: "";
                display: inline-block;
                border: 25px solid #cceffc;
                border-left: 15px solid transparent;
                border-right: 0;
                margin-left: -15px;
            }
            &:after {
                position: absolute;
                top: 0;
                right: 0;
                content: "";
                display: inline-block;
                border: 25px solid transparent;
                border-left: 15px solid #cceffc;
                border-right: 0;
                margin-right: -15px;
            }
            &:hover {
                background: #00a0e3;
            }
            &:hover:before {
                border-top-color: #00a0e3;
                border-bottom-color: #00a0e3;
            }
            &:hover:after {
                border-left-color: #00a0e3;
            }
        }
        .action:hover {
            background-color: #00a0e3;
            color: #fff;
            font-size: 140%;
            font-weight: 400;
            box-shadow: 0 16px 38px -12px rgb(204, 202, 202), 0 4px 25px 0 rgb(204, 202, 202), 0 8px 10px -5px rgb(204, 202, 202),
        }
    }
}
.router-link-active {
    background-color: #00a0e3 !important;
    color: #fff !important;
    font-size: 140% !important;
    font-weight: 400 !important;
    &:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        display: inline-block;
        border: 25px solid #00a0e3 !important;
        border-left: 15px solid transparent !important;
        border-right: 0;
        margin-left: -15px;
    }
    &:after {
        position: absolute;
        top: 0;
        right: 0;
        content: "";
        display: inline-block;
        border: 25px solid transparent;
        border-left: 15px solid #00a0e3 !important;
        border-right: 0;
        margin-right: -15px;
    }
}
.width-create{
    width: calc(100% - 55px) !important;
}
.form-customer-type{
    padding: 0.5em 0.75em;
    background-color: #e9ecef;
}

.form-div-disabled{
    min-height: 33px;
    background-color: #e9ecef;
    opacity: 1;
    width: 75% !important;
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 0.8rem;
    color: #495057;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}