<form [formGroup]="feeTenderForm">
    <div class="p-3">
        <div>
            <h5 class="text-uppercase">V. tiền mua hồ sơ dự thầu (fee of tender invitation document)</h5>
        </div>
        <div class="row mt-4">
            <div class="col-md-6">
                <strong>Các mục đánh giá (item evaluation)</strong>
            </div>
            <div class="col-md-6">
                <strong>Nội dung & Nhận xét (Comments)</strong>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                1. Tiền mua hồ sơ (Fee of tender invitation document)
            </div>
            <div class="col-md-6">
                <input type="number" formControlName="feeOfTenderInvitationDocument" class="form-control input-dropdown-group">
                <div formGroupName="feeOfTenderInvitationDocumentCurrency">
                    <kendo-dropdownlist formControlName="value" [data]="listCurrency" [valuePrimitive]="true">
                    </kendo-dropdownlist>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                2. Tiền đặt cọc mua hồ sơ mời thầu (Tender document deposit (or money))
            </div>
            <div class="col-md-6">
                <input type="number" formControlName="tenderDocumentDeposit" class="form-control input-dropdown-group">
                <div formGroupName="feeOfTenderInvitationDocumentCurrency">
                    <kendo-dropdownlist formControlName="value" [data]="listCurrency" [valuePrimitive]="true">
                    </kendo-dropdownlist>
                </div>
            </div>
        </div>
        <div class="text-center mt-4">
            <button class="btn border" routerLink="../estimated-budget">
                <i class="fa font-size-3 mr-3 fa-angle-left" aria-hidden="true"></i>
                Trở về
            </button>
            <button class="btn btn-primary ml-2" routerLink="../contract-condition">
                Tiếp
                <i class="fa font-size-3 ml-3 fa-angle-right" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</form>
