<div class="reports w-100" id="reports-table">


  <ng-container>
    <div class="row menu">
      <div class="col-md-3 d-flex align-items-center">
        <h5 class="d-inline mb-0 mr-auto text-dark text-uppercase">danh sách nhóm </h5>
      </div>
      <div class="col-md-9">
        <div class="btn-toolbar pull-right menu" style="flex-wrap: nowrap;">
          <div class="input-group btn-rg">
            <span class="input-group-addon">Tìm kiếm</span>
            <input type="text" class="form-control icon" placeholder="&#xf002; Nhập tên, mô tả" (keyup)="searchTerm$.next($event.target.value)"
              [value]="searchTerm$.value">
          </div>
          <button type="submit" class="btn btn-primary btn-rg but-with-90px pull-right ml-2" (click)="createGroupConfig()">
            Thêm mới
          </button>
          <button type="button" class="btn btn-primary btn-rg pull-right ml-2" (click)="multiDeleteGroupConfig()">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="table-responsive position-relative">
      <table class="row-border cell-border dataTable pt-2 fix-table-layout">
        <thead>
          <tr>
            <th class="text-center text-uppercase font-weight-bold check-box--width">
              <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input input-checkbox" (change)="onSelectAll($event.target.checked)"
                  [(ngModel)]="checkboxSeclectAll">
                <span class="custom-control-indicator"></span>
              </label>
            </th>
            <th class="font-weight-bold" title="Tên nhóm">Tên nhóm</th>
            <th class="font-weight-bold" title="Mô tả">Mô tả</th>
            <th class="font-weight-bold" title="Trạng thái">Trạng thái</th>
            <th class="text-center font-weight-bold manipulation" title="Thao tác">Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of pagedResult.items">
            <td class="text-center">
              <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" [(ngModel)]="item.checkboxSelected">
                <span class="custom-control-indicator"></span>
              </label>
            </td>
            <td class="text-truncate" [title]="item?.name ? item?.name : ''">{{item?.name}}</td>
            <td class="text-truncate" [title]="item?.desc ? item?.desc : ''">{{item?.desc}}</td>
            <td class="text-truncate" [title]="item?.status?.value ? item?.status?.value : ''">{{item?.status?.value}}</td>
            <td>
              <div class="center-parent w-100 h-100">
                <div class="col-md-4 center-parent cursor-pointer" (click)="editGroupConfig(item?.id)">
                  <i [title]="'Sửa'" class="fa fa-pencil cursor-pointer" style="color: #1e7e34"></i>
                </div>
                <div class="col-md-4 center-parent cursor-pointer">
                  <div style="zoom: 0.5; padding-top: 8px;">
                    <label class="switch" style="margin: 0px">
                      <input type="checkbox" [checked]="item.isActive">
                      <span class="slider round" (click)="changeStatusActive(item.isActive, item?.id)"></span>
                    </label>
                  </div>
                </div>
                <div class="col-md-4 center-parent cursor-pointer" (click)="deleteGroupConfig(item?.id)">
                  <i *ngIf="item?.status?.key === 'ChuaSuDung'" [title]="'Xóa'" class="fa fa-trash-o point cursor-pointer"></i>
                </div>
              </div>
            </td>
          </tr>
          <tr *ngIf="pagedResult.items && pagedResult.items.length === 0">
            <td class="text-center" colspan="5">Không có dữ liệu</td>
          </tr>
        </tbody>
      </table>
      <ngx-loading [show]="loading"></ngx-loading>
      <app-pagination *ngIf="!loading" [(pagedResult)]="pagedResult" (pagedResultChange)="pagedResultChange($event)"></app-pagination>
    </div>
  </ng-container>
</div>