<div class="p-3">
    <h5 class="text-uppercase">bảng tóm tắt điều kiện dự thầu (tender conditional summary)</h5>
    <div class="mt-5" *ngIf="!summaryCondition">
        <div class="text-center">
            <img style="width: 116px" src="assets/images/ic_file.png">
            <div class="mt-3">Hiện chưa có bản tóm tắt dự thầu nào</div>
            <div class="mt-3 d-flex justify-content-center">
                <button class="btn btn-primary" routerLink="./form/create">
                    Tạo mới bảng tóm tắt điều kiện dự thầu
                </button>
            </div>
        </div>
    </div>

    <div class="mt-5" *ngIf="summaryCondition">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead>
                <tr>

                    <th>Tên tài liệu</th>
                    <th>Lần phỏng vấn</th>
                    <th>Người tạo</th>
                    <th>Ngày tạo</th>
                    <th class="text-center">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                    <td>{{summaryCondition?.documentName}}</td>
                    <td>{{summaryCondition?.thongTinDuAn?.lanPhongVan}}</td>
                    <td>{{summaryCondition?.createdEmployee?.employeeName}}</td>
                    <td></td>
                    <td>
                        <div class="d-flex justify-content-center">
                            <div>
                                <a [routerLink]="['./form/detail']">
                                    <i class="fa fa-eye text-warning" aria-hidden="true"></i>
                                </a>
                                <a class=" text-success ml-3" [routerLink]="['./form/edit']">
                                    <i class="fa fa-pencil cursor-pointer" aria-hidden="true"> </i>
                                </a>
                                <a class=" text-dark ml-3" (click)="delete()">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <!-- <div class="mt-5 ml-3" *ngIf="historyList && historyList.length !== 0">
        <div class="d-flex justify-content-between">
            <h5 class="text-uppercase mb-3">Lịch sử cập nhật</h5>
        </div>
    
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger2" class="w-100 table-layout--fixed">
            <thead>
                <tr>
                    <th class="text-center w-5">STT</th>
                    <th class="w-10">Lần cập nhật</th>
                    <th class="w-10">Người cập nhật</th>
                    <th class="w-15">Ngày cập nhật</th>
                    <th class="w-20">Nội dung cập nhật</th>
                    <th class="w-40">Chi tiết cập nhật</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let itemByChangedTimes of historyList; let i = index">
                    <td class="text-center">{{i + 1}}</td>
                    <td class="text-center">
                        {{itemByChangedTimes.value + 1}}
                    </td>
                    <td> {{itemByChangedTimes.items[0].employee?.employeeName}}</td>
                    <td>{{ (itemByChangedTimes.items[0].changedTime)*1000 | date:'dd/MM/yyyy , HH:mm':'+0000' }}</td>
                    <td>
                        <div class="text-truncate" [title]="itemByChangedTimes.items[0].updateDesc">{{itemByChangedTimes.items[0].updateDesc}}</div>
                    </td>
                    <td>
                        <div *ngIf="itemByChangedTimes.items && itemByChangedTimes.items !== 0">
                            <div *ngFor="let itemByChangeTime of itemByChangedTimes.items">
                                <div *ngFor="let itemByLiveFormChanged of itemByChangeTime.liveFormChangeds">
                                    <div class="text-truncate" title="* {{itemByChangeTime.liveFormChangeds[0].value | translate}}">* {{itemByChangeTime.liveFormChangeds[0].value | translate}}
                                        <div *ngFor="let itemByLiveFormStep of itemByLiveFormChanged.items">
                                            <div *ngIf="itemByChangeTime.liveFormChangeds[0].value !== 'TenderDirectorProposal'" class="text-truncate" title="- {{itemByLiveFormStep.liveFormTitle | translate}}: từ {{itemByLiveFormStep.oldValue ? itemByLiveFormStep.oldValue : 'không có'}} thành {{itemByLiveFormStep.newValue ? itemByLiveFormStep.newValue : 'không có'}}">
                                                -
                                                <span class="font-weight-bold">{{itemByLiveFormStep.liveFormTitle | translate}}</span>: từ
                                                <span class="font-weight-bold">{{itemByLiveFormStep.oldValue ? itemByLiveFormStep.oldValue : 'không có'}}</span>
                                                thành
                                                <span class="font-weight-bold">{{itemByLiveFormStep.newValue ? itemByLiveFormStep.newValue : 'không có'}}</span>
                                            </div>
                                            <div *ngIf="itemByChangeTime.liveFormChangeds[0].value === 'TenderDirectorProposal'" class="text-truncate" title="- {{itemByLiveFormStep.liveFormTitle | translate}}: từ {{itemByLiveFormStep.oldValue ? itemByLiveFormStep.oldValue : 'không có'}} thành {{itemByLiveFormStep.newValue ? itemByLiveFormStep.newValue : 'không có'}}">
                                                -
                                                <span class="font-weight-bold">{{itemByLiveFormStep.liveFormTitle | translate}}</span>: từ
                                                <span *ngIf="itemByLiveFormStep.liveFormTitle === 'IsAgreed'">
                                                    <span class="font-weight-bold">{{itemByLiveFormStep.oldValue ? (itemByLiveFormStep.oldValue === 'True' ?
                                                        'Đông ý tham gia' : 'Không đồng ý tham gia') : 'không có'}}</span> thành
                                                    <span class="font-weight-bold">{{itemByLiveFormStep.newValue ? (itemByLiveFormStep.newValue === 'True' ?
                                                        'Đồng ý tham gia' : 'Không đồng ý tham gia') : 'không có'}}</span>
                                                </span>
                                                <span *ngIf="itemByLiveFormStep.liveFormTitle === 'IsSigned'">
                                                    <span class="font-weight-bold">{{itemByLiveFormStep.oldValue ? (itemByLiveFormStep.oldValue === 'True' ?
                                                        'Đã ký' : 'Chưa ký') : 'không có'}}</span> thành
                                                    <span class="font-weight-bold">{{itemByLiveFormStep.newValue ? (itemByLiveFormStep.newValue === 'True' ?
                                                        'Đã ký' : 'Chưa ký') : 'không có'}}</span>
                                                </span>
    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div> -->


</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.7)" size="medium" color="#fff" type="ball-clip-rotate-multiple"></ngx-spinner>
