<div class="p-3">
    <h5 class="text-uppercase font__heading--size">bảng tóm tắt điều kiện dự thầu (tender conditional summary)</h5>
    <div class="mt-3" *ngIf="!summaryCondition">
        <div class="text-center">
            <img class="image-empty" src="assets/images/file_empty.png">
            <div class="mt-3">Hiện chưa có bảng tóm tắt điều kiện dự thầu nào</div>
            <div class="mt-3 d-flex justify-content-center">
                <ng-container *ngIf="TaoMoiLiveForm">
                    <button *ngIf="!isChotHoSo" class="btn btn-primary" routerLink="./form/create">
                        Tạo mới bảng tóm tắt điều kiện dự thầu
                    </button>
                </ng-container>

            </div>
        </div>
    </div>

    <div class="mt-4 table-responsive" *ngIf="summaryCondition">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border cell-border dataTable table-layout--fixed table-layout--minwidth">
            <thead>
                <tr>

                    <th class="w-20">Tên tài liệu</th>
                    <th>Lần phỏng vấn</th>
                    <th>Tình trạng</th>
                    <th>Người tạo</th>
                    <th>Ngày tạo</th>
                    <th class="w-20 text-center">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <ng-container *ngIf="XemLiveForm">
                        <td class="table-data__title--maxwidth" [title]="summaryCondition?.documentName">
                            <a class="link-effect" [routerLink]="['./form/detail']">
                                {{summaryCondition?.documentName}}
                            </a>
                        </td>
                    </ng-container>
                    <ng-container *ngIf="!XemLiveForm">
                        <td class="table-data__title--maxwidth" [title]="summaryCondition?.documentName">
                            {{summaryCondition?.documentName}}
                        </td>
                    </ng-container>
                    <td>
                        {{summaryCondition?.thongTinDuAn?.lanPhongVan}}
                    </td>
                    <td [title]="(summaryCondition?.isDraftVersion) ? 'Bản nháp' : 'Chính thức'">
                        {{ (summaryCondition?.isDraftVersion) ? 'Bản nháp' : 'Chính thức' }}
                    </td>
                    <td [title]="summaryCondition?.createdEmployee?.employeeName">
                        {{summaryCondition?.createdEmployee?.employeeName}}
                    </td>
                    <td [title]="summaryCondition.ngayTao*1000 | date:'dd/MM/yyyy HH:mm': '+0000'">
                        {{summaryCondition.ngayTao*1000 | date:'dd/MM/yyyy HH:mm': '+0000' }}
                    </td>
                    <td>
                        <div class="d-flex justify-content-center">
                            <div>
                                <ng-container *ngIf="XemLiveForm">
                                    <a [routerLink]="['./form/detail']">
                                        <i class="fa fa-eye text-warning" aria-hidden="true"></i>
                                    </a>
                                </ng-container>
                                <ng-container *ngIf="SuaLiveForm">
                                    <a *ngIf="!isChotHoSo" class=" text-success ml-3" [routerLink]="['./form/edit']">
                                        <i class="fa fa-pencil cursor-pointer" aria-hidden="true"> </i>
                                    </a>
                                </ng-container>
                                <ng-container *ngIf="XoaLiveForm">
                                    <a *ngIf="!isChotHoSo" class=" text-dark ml-3" (click)="delete()">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </a>
                                </ng-container>
                                <ng-container *ngIf="InLiveForm">
                                    <a class=" text-dark cursor-pointer ml-3" title="In" (click)="openPopup()">
                                        <i class="fa fa-print cursor-pointer icon-print" aria-hidden="true"></i>
                                    </a>
                                </ng-container>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>





</div>


<div class="mt-5  p-3" *ngIf="historyList && historyList.length !== 0">
    <div class="d-flex justify-content-between">
        <h5 class="text-uppercase mb-3">Lịch sử cập nhật</h5>
    </div>
    <div class="table-responsive">
        <!-- datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger2" -->
        <table class="row-border cell-border dataTable table-layout--fixed table-layout--minwidth">
            <thead>
                <tr>
                    <th class="w-10">Lần cập nhật</th>
                    <th>Người cập nhật</th>
                    <th>Ngày cập nhật</th>
                    <th class="w-25">Nội dung cập nhật</th>
                    <th class="w-30">Chi tiết cập nhật</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let itemByChangedTimes of historyList; let i = index">
                    <td class="text-center">
                        {{ indexItemHistoryChange - i }}
                    </td>
                    <td> {{itemByChangedTimes.items[0].employee?.employeeName}}</td>
                    <td>{{ (itemByChangedTimes.items[0].changedTime)*1000 | date:'dd/MM/yyyy , HH:mm':'+0000' }}</td>
                    <td>
                        <div class="text-truncate whitespace-normal" [title]="itemByChangedTimes.items[0].updateDesc">{{itemByChangedTimes.items[0].updateDesc}}</div>
                    </td>
                    <td class="font-size-90">
                        <div class="overflow-scroll" *ngIf="itemByChangedTimes.items && itemByChangedTimes.items !== 0">
                            <div *ngFor="let itemByChangeTime of itemByChangedTimes.items">
                                <div *ngFor="let itemByLiveFormChanged of itemByChangeTime.liveFormChangeds">

                                    <div *ngFor="let itemByLiveFormStep of itemByLiveFormChanged.items">

                                        <div *ngIf="itemByLiveFormStep.liveFormStep !== 'OtherSpecialRequirement' && 
                                        itemByLiveFormStep.liveFormTitle !=='TaxTypes' && 
                                        itemByLiveFormStep.liveFormTitle !== 'AttentiveDocuments' &&
                                        itemByLiveFormStep.liveFormTitle !== 'ProgressCompletionContractorDate' &&
                                        itemByLiveFormStep.liveFormTitle !== 'IsProgressCompletionDate' &&
                                        (itemByLiveFormStep.oldValue || itemByLiveFormStep.newValue)
                                        " class="d-flex" title="* {{
                                                    itemByLiveFormStep.liveFormTitle ?
                                                    (itemByLiveFormStep.liveFormTitle | translate) :
                                                    ( itemByLiveFormStep.liveFormSubject ? 
                                                        (itemByLiveFormStep.liveFormSubject | translate) :
                                                            (itemByLiveFormStep.liveFormStep | translate)
                                                    )
                                                }}">
                                            <ng-container>
                                                *{{ itemByLiveFormStep.liveFormTitle | translate }}
                                                <ng-container *ngIf="itemByLiveFormStep.liveFormSubject">
                                                    ({{ itemByLiveFormStep.liveFormSubject | translate }})

                                                </ng-container>
                                                :&nbsp;
                                            </ng-container>
                                            <div class="detail-changed pl-1">từ
                                                <!-- --- -->
                                                <span class="font-weight-bold" *ngIf="itemByLiveFormStep.liveFormTitle == 'ClosingTime'">
                                                    {{(itemByLiveFormStep.oldValue != 0) ? ((itemByLiveFormStep.oldValue)*1000 | date:'dd/MM/yyyy') : 'không có'}}
                                                </span>
                                                <!-- --- -->
                                                <span class="font-weight-bold" *ngIf="itemByLiveFormStep.liveFormTitle != 'ClosingTime'">
                                                    {{itemByLiveFormStep.oldValue ? (itemByLiveFormStep.oldValue | translate) : 'không có'}}
                                                </span>
                                                thành
                                                <!-- --- -->
                                                <span class="font-weight-bold" *ngIf="itemByLiveFormStep.liveFormTitle == 'ClosingTime'">
                                                    {{(itemByLiveFormStep.newValue != 0) ? ((itemByLiveFormStep.newValue)*1000 | date:'dd/MM/yyyy') : 'không có'}}
                                                </span>
                                                <!-- --- -->
                                                <span class="font-weight-bold" *ngIf="itemByLiveFormStep.liveFormTitle != 'ClosingTime'">
                                                    {{itemByLiveFormStep.newValue ? (itemByLiveFormStep.newValue | translate) : 'không có'}}
                                                </span>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <app-pagination [(pagedResult)]="pagedResultChangeHistoryList" (pagedResultChange)="pagedResultChangeHistory($event)"></app-pagination>
</div>

<app-popup-confirm-type-form-in *ngIf="isShowPopupFormIn" (closed)="closePopup($event)"></app-popup-confirm-type-form-in>