input.placeholder-icon {
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.custom-cb {
    left: 0.5rem;
    top: 0.9rem;
}

.ml--1 {
    margin-left: -0.5rem;
}
.set-width-checkbox{
    width: 15px;
    padding-left: 7px;
}
.set-width-manipulation{
    width: 55px;
    min-width: 60px!important;
}