


.title-detail {
  position: absolute;
  width: 100%;
  box-shadow: 0 16px 3px -12px #F5F5F5, 0 4px 25px 0 #F5F5F5, 0 8px 10px -5px #F5F5F5;
  height: 55px;
  background-color: white; // z-index: 50;
  right: 0; //left: auto;
  z-index: 50;
}

.title-detail-toggle{
  width: calc(100% - 55px)!important;
}

.header-title {
  padding: 0 15px;
}

.ellipsis{
  color: black;
}

.boder-table{
  // border: 1px solid #dadada;
  padding: 20px 0px 35px 0px;
  // border-top: none;
  // background-color: white;
  margin-left: 1.3rem;
  margin-right: 1.3rem
}

.fa-ellipsis{
  color: #07afed;
  font-size: 1rem;
  padding: 0.25rem 1.5rem;
  cursor: pointer;
}

.main-detail{
  padding-top: 4.3rem;
}

.menu{
  margin-left: 1.3rem;
  margin-right: 1.3rem;
  margin-bottom: 0.3rem;
}

.ul-chirld--index{
  z-index: 99999900;
  transform: translate(-40%, -10%) !important;
  font-size: 0.6rem;
  min-width: none;
  .ul-chirld-of-chirl--pad{
      padding: 0.25rem 0.5rem;
  }
}
.min-width-none{
  min-width: 0;
}
.notification-item {
  border-bottom: 1px solid #cccccc;
  .span--margin{
      margin: 0rem 0.3rem 0rem 0rem;
  }
  .content--bold{
      font-weight: 600;
  }
}
.bot-when-have-data{
  border-bottom: 1px solid #cccccc;
}
a {
  cursor: pointer;
}
.notification--not-read{
  background-color: #edf2fa;
}

.pl-16{
  padding-left: 1.6rem;
}
.toolbar{
  display: flex;
  justify-content: flex-end;
  padding: 0rem 1.5rem 0.25rem 0rem;
  .toolbar-list-notification--color{
    color: #019cff;
    cursor: pointer;
  }
  .dot--color{
    color: #019cff;
    font-size: 20%;
  }
}
.avatar {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.infinite-scroll {
  padding: 8px;
  /* width: auto; */
  // margin: auto;
  // max-width: 200px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  color: #607d8b!important;
  background-color: #b0bec5!important;
}