<!-- <div [@routerTransition] class="wrapper">
  <div class="page-header">
    <h1 id="timeline">THÔNG BÁO</h1>
    <hr>
  </div>
  <div>
    <ul>
      <li (click)="read(item)"  [class.unread]="item.unread" class="cursor-pointer">
        <div>
          <div class="title">Bạn có 1  <strong></strong></div>
          <div class="info"> bắt đầu:&nbsp;
              <strong></strong>
            </div>
          <div class="type">Thời gian diễn ra:&nbsp;
            <strong></strong>
            đến ngày
            <strong></strong>.
          </div>
        </div>
        <span class="number">
          <span></span>
          <span></span>
        </span>
      </li>
    </ul>
    <div  class="text-center cursor-pointer mt-5" >
      <a class="text-primary" (click)="onLoadMore()">Xem thêm</a>
    </div>
  </div>
</div> -->

<div [@routerTransition]>
  <div class="title-detail center-parent">
    <div class="mr-auto col-md-12">
      <div class="media-header header-title p-0">
        <div class="d-flex justify-content-between">
          <div class="text-truncate ellipsis">
            <h4 class="d-inline mb-0 text-dark">
              <span>
                THÔNG BÁO CỦA BẠN
              </span>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-detail">
    <div class="menu" id="bigMenu">
    </div>
    <div>
      <div class="boder-table">
        <div class="d-flex">
          <div class="mr-auto w-100">
            <div>
              <div class="w-100 text-right" [class.bot-when-have-data]="notificationList && notificationList.length !== 0">
                <!-- <li role="menuitem" dropdown placement="right" container="body">
                  <a dropdownToggle (click)="false">
                    <i class="fa fa-ellipsis-v fa-ellipsis text-right" aria-hidden="true"></i>
                  </a>
                  <ul #DropToolThongBao222222 *dropdownMenu class="dropdown-menu ul-chirld--index min-width-none" role="menu">
                    <li role="menuitem">
                      <a class="dropdown-item ul-chirld-of-chirl--pad" (click)="readAllNotification()">Đánh dấu tất cả là đã đọc</a>
                    </li>
                    <li role="menuitem">
                      <a class="dropdown-item ul-chirld-of-chirl--pad" (click)="deleteAllNotification()">Xóa tất cả thông báo</a>
                    </li>
                  </ul>
                </li> -->

                <div class="btn-group" dropdown>
                  <!-- <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
                    Button dropdown
                    <span class="caret"></span>
                  </button> -->
                  <a dropdownToggle (click)="false">
                    <i class="fa fa-ellipsis-v fa-ellipsis" aria-hidden="true"></i>
                  </a>
                  <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu ul-chirld--index min-width-none" role="menu" aria-labelledby="button-basic">
                    <li role="menuitem">
                      <a class="dropdown-item ul-chirld-of-chirl--pad" (click)="readAllNotification()">Đánh dấu tất cả là đã đọc</a>
                    </li>
                    <li role="menuitem">
                      <a class="dropdown-item ul-chirld-of-chirl--pad" (click)="deleteAllNotification()">Xóa tất cả thông báo</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="w-100 d-flex notification-item" *ngFor="let item of notificationList" style="padding: 0.4rem 0rem;" [class.notification--not-read]="item.notificationState?.id === 'UnRead'">
                <div class="d-flex" style="padding: 0.25rem 1.5rem;">
                  <div class="action" width="">
                    <div>
                      <img [src]="item.sendEmployee.employeeAvatar" width="30" height="30">
                      <!-- <img *ngIf="item.sendEmployee.employeeAvatar ==== ''"(click)="toggleSidebar()" [src]="assets/images/no-avatar.png" width="30" height="30"> -->
                    </div>
                  </div>
                </div>
                <a class="w-100" (click)="read(item)" [class.notification--not-read]="item.notificationState?.id === 'UnRead'">
                  <strong>Gói thầu: {{item.bidOpportunityName}}</strong>
                  <div>
                    <span class="last span--margin">Bạn vừa nhận được yêu cầu Duyệt Đề nghị dự thầu từ
                      <span class="content--bold">{{item.sendEmployee?.employeeName}} </span>, thời gian mong đợi được duyệt trước ngày
                      <span class="content--bold">"thời gian mong đợi duyệt"</span>
                    </span>
                    <span class="badge badge-info">Chi tiết</span>
                  </div>

                  <p class="small text-muted">
                    <em>{{item.sendDate*1000 | date:'dd/MM/yyyy HH:mm'}}</em>
                  </p>
                </a>
                <a *ngIf="item.notificationType === 'NhacDuyetDeNghiDuThauTruoc3Ngay'" class="w-100" (click)="read(item)">
                  <strong>Gói thầu: {{item.bidOpportunityName}}</strong>
                  <div>
                    <span class="last span--margin">Nếu chưa duyệt ĐNDT, dựa vào thời gian mong đợi được duyệt để thông báo đến ban giám đốc duyệt
                    </span>
                    <span class="badge badge-info ">Chi tiết</span>
                  </div>
                  <p class="small text-muted">
                    <em>{{item.sendDate*1000 | date:'dd/MM/yyyy HH:mm'}}</em>
                  </p>
                </a>

                <a *ngIf="item.notificationType === 'GuiPhanCongTienDo'" class="w-100" (click)="read(item)" [class.notification--not-read]="item.notificationState?.id === 'UnRead'">
                  <div>
                    <span class="last span--margin">Bạn được phân công nhiệm vụ ở gói thầu
                      <span class="content--bold">{{item.bidOpportunityName}}</span>
                    </span>
                    <span class="badge badge-info">Chi tiết</span>
                  </div>
                  <p class="small text-muted">
                    <em>{{item.sendDate*1000 | date:'dd/MM/yyyy HH:mm'}}</em>
                  </p>
                </a>
                <a *ngIf="item === 'GuiDuyetTrinhDuyetGia'" class="w-100" (click)="read(item)" [class.notification--not-read]="item.notificationState?.id === 'UnRead'">
                  <strong>Gói thầu: {{item.bidOpportunityName}}</strong>
                  <div>
                    <span class="last span--margin">Bạn vừa nhận được yêu cầu Duyệt Trình duyệt giá từ
                      <span class="content--bold">{{item.sendEmployee?.employeeName}}</span>
                    </span>
                    <span class="badge badge-info pre--margin">Chi tiết</span>

                  </div>
                  <p class="small text-muted">
                    <em>{{item.sendDate*1000 | date:'dd/MM/yyyy HH:mm'}}</em>
                  </p>
                </a>
                <a *ngIf="item.notificationType === 'GuiLaiTrinhDuyetGia'" class="w-100" (click)="read(item)" [class.notification--not-read]="item.notificationState?.id === 'UnRead'">
                  <strong>Gói thầu: {{item.bidOpportunityName}}</strong>
                  <div>
                    <span class="last span--margin">Trình duyệt giá đã được điều chỉnh bởi
                      <span class="content--bold">{{item.sendEmployee?.employeeName}}</span>, vui lòng xem xét phê duyệt trình duyệt giá</span>
                    <span class="badge badge-info pre--margin">Chi tiết</span>
                  </div>
                  <p class="small text-muted">
                    <em>{{item.sendDate*1000 | date:'dd/MM/yyyy HH:mm'}}</em>
                  </p>
                </a>
                <a *ngIf="item.notificationType === 'ChuyenGiaoTaiLieu'" class="w-100" (click)="read(item)" [class.notification--not-read]="item.notificationState?.id === 'UnRead'">
                  <div>
                    <span class="last span--margin">Bạn vừa nhận được tài liệu chuyển giao từ
                      <span class="content--bold">{{item.sendEmployee?.employeeName}}</span> ở gói thầu
                      <span class="content--bold">{{item.bidOpportunityName}}</span>
                    </span>
                    <span class="badge badge-info pre--margin">Chi tiết</span>
                  </div>
                  <p class="small text-muted">
                    <em>{{item.sendDate*1000 | date:'dd/MM/yyyy HH:mm'}}</em>
                  </p>
                </a>
                <div [hidden]="item.notificationState.key === Read" style="padding: 0.25rem 0rem 0.25rem 1rem; min-width: 10rem; color: #019cff; font-weight: bold; cursor: pointer" (click)="tickReaded(item)">
                  Đánh dấu đã đọc
                </div>
                <div style="padding: 0.25rem 1.4rem 0.25rem 0rem;color: #ff1717; font-weight: bold; cursor: pointer" (click)="deleteOneNotification(item)">Xóa</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>