<div [@routerTransition]>
  <div class="title-detail center-parent">
    <div class="mr-auto col-md-12 pl-16">
      <div class="media-header header-title p-0">
        <div class="d-flex justify-content-between">
          <div class="text-truncate ellipsis">
            <h4 class="d-inline mb-0 text-dark">
              <span>
                THÔNG BÁO CỦA BẠN
              </span>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-detail">
    <div class="menu" id="bigMenu">
    </div>
    <div>
      <div class="boder-table">
        <div class="d-flex">
          <div class="mr-auto w-100">
            <div>
              <div class="w-100 d-flex toolbar" [class.bot-when-have-data]="notificationList && notificationList.length !== 0" *ngIf="notificationList && notificationList.length !== 0">
               
                <span class="toolbar-list-notification--color pr-2" (click)="readAllNotification()">Đánh dấu tất cả là đã đọc</span>
                <span class="center-parent pr-2">
                  <i class="fa fa-circle dot--color" aria-hidden="true"></i>
                </span> 
                <span class="toolbar-list-notification--color" (click)="deleteAllNotification()">Xóa tất cả thông báo</span>
              </div>
              <div class="w-100 d-flex notification-item" *ngFor="let item of notificationList" style="padding: 0.4rem 0rem;" [class.notification--not-read]="item.notificationState?.id === 'UnRead'">
                <div class="d-flex" style="padding: 0.25rem 1.5rem;">
                  <div class="action" width="">
                    <div>
                      <img [src]="item.sendEmployee.employeeAvatar && item.sendEmployee.employeeAvatar.thumbSizeUrl  ? item.sendEmployee.employeeAvatar.thumbSizeUrl : 'assets/images/no-avatar.png'" class="avatar" alt="Avatar">
                    </div>
                  </div>
                </div>
                <a *ngIf="item.notificationType === 'GuiDuyetDeNghiDuThau'" class="w-100" (click)="read(item)" [class.notification--not-read]="item.notificationState?.id === 'UnRead'">
                  <strong>Gói thầu: {{item.bidOpportunityName}}</strong>
                  <div>
                    <span class="last span--margin">Bạn vừa nhận được yêu cầu Duyệt Đề nghị dự thầu từ
                      <span class="content--bold">{{item.sendEmployee?.employeeName}} </span>, thời gian mong đợi được duyệt trước ngày
                      <span class="content--bold">{{item.data*1000 | date:'dd/MM/yyyy HH:mm':'+0000'}}</span>
                    </span>
                    <span class="badge badge-info">Chi tiết</span>
                  </div>

                  <p class="small text-muted">
                    <em>{{item.sendDate*1000 | date:'dd/MM/yyyy HH:mm':'+0000'}}</em>
                  </p>
                </a>

                <a *ngIf="item.notificationType === 'NhacDuyetDeNghiDuThauTruoc3Ngay'" class="w-100" (click)="read(item)" [class.notification--not-read]="item.notificationState?.id === 'UnRead'">
                  <strong>Gói thầu: {{item.bidOpportunityName}}</strong>
                  <div>
                    <span class="last span--margin">Nếu chưa duyệt ĐNDT, dựa vào thời gian mong đợi được duyệt để thông báo đến ban giám đốc duyệt
                    </span>
                    <span class="badge badge-info ">Chi tiết</span>
                  </div>
                  <p class="small text-muted">
                    <em>{{item.sendDate*1000 | date:'dd/MM/yyyy HH:mm':'+0000'}}</em>
                  </p>
                </a>

                <a *ngIf="item.notificationType === 'GuiPhanCongTienDo'" class="w-100" (click)="read(item)" [class.notification--not-read]="item.notificationState?.id === 'UnRead'">
                  <div>
                    <span class="last span--margin">Bạn được phân công nhiệm vụ ở gói thầu
                      <span class="content--bold">{{item.bidOpportunityName}}</span>
                    </span>
                    <span class="badge badge-info">Chi tiết</span>
                  </div>
                  <p class="small text-muted">
                    <em>{{item.sendDate*1000 | date:'dd/MM/yyyy HH:mm':'+0000'}}</em>
                  </p>
                </a>

                <a *ngIf="item.notificationType === 'GuiDuyetTrinhDuyetGia'" class="w-100" (click)="read(item)" [class.notification--not-read]="item.notificationState?.id === 'UnRead'">
                  <strong>Gói thầu: {{item.bidOpportunityName}}</strong>
                  <div>
                    <span class="last span--margin">Bạn vừa nhận được yêu cầu Duyệt Trình duyệt giá từ
                      <span class="content--bold">{{item.sendEmployee?.employeeName}}</span>
                    </span>
                    <span class="badge badge-info pre--margin">Chi tiết</span>

                  </div>
                  <p class="small text-muted">
                    <em>{{item.sendDate*1000 | date:'dd/MM/yyyy HH:mm':'+0000'}}</em>
                  </p>
                </a>

                <a *ngIf="item.notificationType === 'GuiLaiTrinhDuyetGia'" class="w-100" (click)="read(item)" [class.notification--not-read]="item.notificationState?.id === 'UnRead'">
                  <strong>Gói thầu: {{item.bidOpportunityName}}</strong>
                  <div>
                    <span class="last span--margin">Trình duyệt giá đã được điều chỉnh bởi
                      <span class="content--bold">{{item.sendEmployee?.employeeName}}</span>, vui lòng xem xét phê duyệt trình duyệt giá</span>
                    <span class="badge badge-info pre--margin">Chi tiết</span>
                  </div>
                  <p class="small text-muted">
                    <em>{{item.sendDate*1000 | date:'dd/MM/yyyy HH:mm':'+0000'}}</em>
                  </p>
                </a>

                <a *ngIf="item.notificationType === 'ChuyenGiaoTaiLieu'" class="w-100" (click)="read(item)" [class.notification--not-read]="item.notificationState?.id === 'UnRead'">
                  <div>
                    <span class="last span--margin">Bạn vừa nhận được tài liệu chuyển giao từ
                      <span class="content--bold">{{item.sendEmployee?.employeeName}}</span> ở gói thầu
                      <span class="content--bold">{{item.bidOpportunityName}}</span>
                    </span>
                    <span class="badge badge-info pre--margin">Chi tiết</span>
                  </div>
                  <p class="small text-muted">
                    <em>{{item.sendDate*1000 | date:'dd/MM/yyyy HH:mm':'+0000'}}</em>
                  </p>
                </a>

                <div class="mr-3">
                  <span title="Đánh dấu đã đọc" *ngIf="item.notificationState.id === 'UnRead'" style="cursor: pointer" (click)="tickReaded(item)"><i class="fa fa-check" aria-hidden="true"></i></span> 
                </div>
                <div class="mr-4" title="Xóa thông báo" (click)="deleteOneNotification(item)"><i class="fa fa-ban" aria-hidden="true"></i></div>
              </div>
            </div>

            <div *ngIf="notificationList && notificationList.length === 0 && !loading">
              <div class="notification-item">
                  <a class="dropdown-item py-2 center-parent">
                      <div>
                          <span class="last span--margin">Không có thông báo
                          </span>
                      </div>
                  </a>
              </div>
          </div>
          </div>
         
        </div>
        <div class="position-relative">
          <div class="infinite-scroll text-center mt-2 mb-4" *ngIf="showButton && !loading" (click)="onLoadMore()">
              <span >Xem thêm</span>
          </div>
          <ngx-loading [show]="loading"></ngx-loading>
      </div>
      </div>

      
    </div>
  </div>