.zui-table thead th{
    background-color: #34a5e4;
}

.select-year--width{
    width: 122px;
}

.parent-percent{
    position: relative;
    .cus-input{
        padding-right: 25px !important;
    }
    .span-percent{
        position: absolute;
        right: 12px;
        top: 2px;
    }
}

.required::after{
    content: "*";
    color: red;
    font-style: italic;
}

.manipulation{
    .year--pad-top{
        padding-top: 6px;
    }
    .year-validate{
        padding-top: 2px;
        display: block !important;
        font-size: 90%;
        color: #dc3545;
    }
    .total-target--pad-top{
        padding-top: 6px;
    }
}