.btn-sign {
    min-width: 100px;
}

.icon-check {
    font-size: 1.5rem;
    left: 4px;
    position: absolute;
    top: 3px;
}

:host /deep/ .b-form-readonly {
    bottom: 120px;
}

.but--disabled{
    cursor: default;
    opacity: 1;
}
.cursor-cancel{
    cursor: not-allowed;
    opacity: 1;
}