<form [formGroup]="directorProposalForm">
    <div class="p-3 position-relative">
        <div *ngIf="routerAction == 'view' || directorProposalForm.get('isSigned').value" class="b-form-readonly"></div>
        <div>
            <h5 class="text-uppercase">VII. ý kiến đề xuất của giám đốc dự thầu (tender director proposal)</h5>
        </div>
        <div class="row mt-4">
            <div class="col-md-4">
                Tham gia dự thầu
            </div>
            <div class="col-md-8 row">
                <div class="col-md-6">
                    <input type="radio" [appAutoFocus]="routerAction != 'view'" appEnterPreventDefault tabindex="1" [value]="true" formControlName="isAgreed"> Đồng ý tham gia/ Agree
                </div>
                <div class="col-md-6">
                    <input type="radio" appEnterPreventDefault tabindex="2" [value]="false" formControlName="isAgreed"> Không đồng ý tham gia/ No agree
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-4 d-flex align-items-center">
                Lý do/ Reason
            </div>
            <div class="col-md-8">
                <textarea class="form-control" appEnterPreventDefault tabindex="3" formControlName="reason" rows="2"></textarea>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-4 d-flex align-items-center">
                Ngày/ Date
            </div>
            <div class="col-md-8">
                <kendo-datepicker tabindex="4" formControlName="date" class="form-control"></kendo-datepicker>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-4 d-flex align-items-center">
                Thời gian mong đợi được duyệt
            </div>
            <div class="col-md-8">
                <kendo-datepicker tabindex="5" formControlName="expectedDate" class="form-control"></kendo-datepicker>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-4 d-flex align-items-center">
                Ký tên/ Signing
            </div>
            <div class="col-md-8">
                <button *ngIf="!directorProposalForm.get('isSigned').value" tabindex="6" class="btn btn-primary btn-sign" (click)="clickSigned()">Xác nhận ký</button>
                <button *ngIf="directorProposalForm.get('isSigned').value" tabindex="6" disabled class="btn btn-primary btn-sign position-relative but--disabled">
                        <i class="fa fa-check-square icon-check" aria-hidden="true"></i> Đã ký
                </button>
            </div>
        </div>
        <div class="text-center mt-4">
            <button class="btn border" tabindex="8" routerLink="../contract-condition" (keyup)="routerLink($event, 'contract-condition')">
                <i class="fa font-size-3 mr-3 fa-angle-left" aria-hidden="true"></i>
                Trở về
            </button>
            <button class="btn btn-primary ml-2" tabindex="7" routerLink="../descion-board" (keyup)="routerLink($event, 'descion-board')">
                Tiếp
                <i class="fa font-size-3 ml-3 fa-angle-right" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</form>
