<form [formGroup]="packagePermissionReviewForm" *ngIf="packagePermissionReviewForm">
    <div class="boder-table mt-3">
        <div class="">
            <div class="media-header" style="text-align: right; padding-right: 1rem; margin-top: -0.75rem;">
                <span class="action-bar alignment-but">
                    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Lưu
                    </button>
                    <button type="submit" class="btn btn-secondary" (click)="routeToPackageInfo()">Hủy
                    </button>
                </span>
            </div>
        </div>
        <div style="margin-top: -1rem; margin-right: 1rem">
            <h5 class="mb-3 text-uppercase">Quản lý hồ sơ mời thầu</h5>
            <!-- datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table-selection stripe hover" -->
            <table class="zui-table table table-striped table-hover">
                <thead>
                    <tr style="width: 100%">
                        <th class="set-width-hsmt">
                            <div class="text-center">Hồ sơ mời thầu</div>
                        </th>
                        <th></th>
                        <th>
                            <div class="text-center">Upload HSMT</div>
                        </th>
                        <th>
                            <div class="text-center">Dowload file</div>
                        </th>
                        <th>
                            <div class="text-center">Xóa file</div>
                        </th>
                        <th>
                            <div class="text-center">Xác nhận Đã đủ HSMT</div>
                        </th>
                        <!-- <th>
                            <div class="text-center">Đánh giá HSMT</div>
                        </th> -->

                    </tr>
                </thead>
                <tbody [formGroupName]="'HSMT'">
                    <ng-container [formArrayName]="'permission'">
                        <tr *ngFor="let item of packagePermissionReviewForm.get('HSMT').get('permission').controls; let i = index;" [formGroupName]="i" [class.odd]="i % 2 == 0">
                            <td>
                                <div class="grid-container-3">
                                    <div class="btn-icon btn-icon-plus" *ngIf="packagePermissionReviewForm.get('HSMT').get('permission').value.length < this.listBidGroupUser.length" (click)="addFormArrayItem(listFormData[0], {})">
                                        <i class="fa fa-plus" style="margin-top: 2px" aria-hidden="true"></i>
                                    </div>
                                    <div *ngIf="!(packagePermissionReviewForm.get('HSMT').get('permission').value.length < this.listBidGroupUser.length)">

                                    </div>
                                    <div class="btn-icon btn-icon-minus" [class.invisible]="i == 0" (click)="removeFormItem(listFormData[0], i)">
                                        <i class="fa fa-minus" style="margin-top: 2px" aria-hidden="true" *ngIf="i != 0"></i>
                                    </div>
                                    <div>
                                        <span style="margin-left: 12px" class="custom-dropdown w-100">
                                            <select class="form-control" formControlName="userName" (change)="hiddenUserName()">
                                                <option [ngValue]="null">--Chọn--</option>
                                                <option *ngFor="let user of listBidGroupUser; let i = index" [value]="user.id" [hidden]="userNameChoosed.includes(user.id)">{{user.desc}}</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" formControlName="all" class="custom-control-input" (click)="checkAll($event.target.checked, 'HSMT', i)">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="UploadHSMT" (click)="removeCheckAll($event.target.checked, 'HSMT', i); autoCheckAll('HSMT', i)">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="DownloadFile" (click)="removeCheckAll($event.target.checked, 'HSMT', i); autoCheckAll('HSMT', i)">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="XoaFile" (click)="removeCheckAll($event.target.checked, 'HSMT', i); autoCheckAll('HSMT', i)">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="XacNhanDaDuHSMT" (click)="removeCheckAll($event.target.checked, 'HSMT', i); autoCheckAll('HSMT', i)">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <!-- <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="DanhGiaHSMT">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td> -->
                        </tr>
                    </ng-container>
                </tbody>
            </table>

            <!-- <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table-selection stripe hover mt-4">
                <thead>
                    <tr style="width: 100%">
                        <th style="width: 280px !important">
                            <div class="text-center">Phiếu đề nghị dự thầu</div>
                        </th>
                        <th></th>
                        <th>
                            <div class="text-center">Upload file</div>
                        </th>
                        <th>
                            <div class="text-center">Tải xuống tệp tin</div>
                        </th>
                        <th>
                            <div class="text-center">Xóa file</div>
                        </th>
                        <th>
                            <div class="text-center">Tải template</div>
                        </th>
                        <th>
                            <div class="text-center">Gửi duyệt đề nghị dự thầu</div>
                        </th>
                        <th>
                            <div class="text-center">Tham gia/ Từ chối dự thầu</div>
                        </th>
                        <th>
                            <div class="text-center">Gửi thư từ chối dự thầu</div>
                        </th>
                    </tr>
                </thead>
                <tbody formGroupName="PhieuDeNghiDuThau">
                    <ng-container formArrayName="permission">
                        <tr *ngFor="let item of packagePermissionReviewForm.get('PhieuDeNghiDuThau').get('permission').controls; let i = index;" [formGroupName]="i" [class.odd]="i % 2 == 0">
                            <td>
                                <div class="grid-container-3">
                                    <div class="btn-icon btn-icon-plus" (click)="addFormArrayItem(listFormData[1], {})">
                                        <i class="fa fa-plus" style="margin-top: 2px" aria-hidden="true"></i>
                                    </div>
                                    <div class="btn-icon btn-icon-minus" [class.invisible]="i == 0" (click)="removeFormItem(listFormData[1], i)">
                                        <i class="fa fa-minus" style="margin-top: 2px" aria-hidden="true" *ngIf="i != 0"></i>
                                    </div>
                                    <div>
                                        <span style="margin-left: 12px" class="custom-dropdown w-100">
                                            <select class="form-control" formControlName="userName">
                                                <option [ngValue]="null">--Chọn--</option>
                                                <option *ngFor="let user of listBidGroupUser" [value]="user.id">{{user.desc}}</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" (click)="checkAll($event.target.checked, 'PhieuDeNghiDuThau', i)">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="UploadFile">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="TaiXuongTepTin">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="XoaFile">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="TaiTemplate">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="GuiDuyetDeNghiDuThau">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="ThamGiaTuChoiDuThau">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="GuiThuTuChoiDuThau">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table> -->
           
        </div>
    </div>

</form>
<!-- <ngx-spinner bdColor="rgba(51, 51, 51, 0.7)" size = "default" color="#fff" type="ball-scale"></ngx-spinner> -->
