<form [formGroup]="packagePermissionReviewForm">
    <div class="boder-table mt-3">
        <div class="">
            <div class="media-header" style="text-align: right; padding-right: 1rem; margin-top: -0.75rem;">
                <span class="action-bar alignment-but">
                    <button type="submit" class="btn btn-primary" [routerLink]="['/package/detail']">Lưu
                    </button>
                    <button type="submit" class="btn btn-secondary" [routerLink]="['/package/detail']">Hủy
                    </button>
                </span>
            </div>
        </div>
        <div style="margin-top: -1rem; margin-right: 1rem">
            <h5 class="mb-3 text-uppercase">Quản lý hồ sơ mời thầu</h5>
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table-selection stripe hover">
                <thead>
                    <tr style="width: 100%">
                        <th>
                            <div class="text-center">Hồ sơ mời thầu</div>
                        </th>
                        <th>
                            <div class="text-center">Upload HSMT</div>
                        </th>
                        <th>
                            <div class="text-center">Tải xuống tệp tin</div>
                        </th>
                        <th>
                            <div class="text-center">Xóa file</div>
                        </th>
                        <th>
                            <div class="text-center">Chuyển đánh giá HSMT</div>
                        </th>
                        <th>
                            <div class="text-center">Đánh giá HSMT</div>
                        </th>

                    </tr>
                </thead>
                <tbody>
                    <ng-container formArrayName="profiles">
                        <tr *ngFor="let item of packagePermissionReviewForm.get('profiles').controls; let i = index;" [formGroupName]="i" [class.odd]="i % 2 == 0">
                            <td>
                              <div class="grid-container-3">
                                  <div class="btn-icon btn-icon-plus" (click)="addFormItem('profiles')">
                                      <i class="fa fa-plus" style="margin-top: 2px" aria-hidden="true"></i>
                                  </div>
                                  <div [class.btn-icon]="i != 0" [class.btn-icon-minus]="i != 0" (click)="removeFormItem('profiles', i)" >
                                      <i class="fa fa-minus" style="margin-top: 2px" aria-hidden="true" *ngIf="i != 0"></i>
                                  </div>
                                  <div>
                                      <span style="padding-left: 12px" class="custom-dropdown w-100">
                                          <select class="form-control">
                                              <option [ngValue]="null">--Chọn--</option>
                                          </select>
                                      </span>
                                  </div>
                              </div>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>

            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table-selection stripe hover mt-4">
                <thead>
                    <tr style="width: 100%">
                        <th>
                            <div class="text-center">Phiếu đề nghị dự thầu</div>
                        </th>
                        <th>
                            <div class="text-center">Upload file</div>
                        </th>
                        <th>
                            <div class="text-center">Tải xuống tệp tin</div>
                        </th>
                        <th>
                            <div class="text-center">Xóa file</div>
                        </th>
                        <th>
                            <div class="text-center">Tải template</div>
                        </th>
                        <th>
                            <div class="text-center">Gửi duyệt đề nghị dự thầu</div>
                        </th>
                        <th>
                            <div class="text-center">Tham gia/ Từ chối dự thầu</div>
                        </th>
                        <th>
                            <div class="text-center">Gửi thư từ chối dự thầu</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container formArrayName="formOfBids">
                        <tr *ngFor="let item of packagePermissionReviewForm.get('formOfBids').controls; let i = index;" [formGroupName]="i" [class.odd]="i % 2 == 0">
                            <td>
                              <div class="grid-container-3">
                                  <div class="btn-icon btn-icon-plus" (click)="addFormItem('formOfBids')">
                                      <i class="fa fa-plus" style="margin-top: 2px" aria-hidden="true"></i>
                                  </div>
                                  <div [class.btn-icon]="i != 0" [class.btn-icon-minus]="i != 0" (click)="removeFormItem('formOfBids', i)" >
                                      <i class="fa fa-minus" style="margin-top: 2px" aria-hidden="true" *ngIf="i != 0"></i>
                                  </div>
                                  <div>
                                      <span style="padding-left: 12px" class="custom-dropdown w-100">
                                          <select class="form-control">
                                              <option [ngValue]="null">--Chọn--</option>
                                          </select>
                                      </span>
                                  </div>
                              </div>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>

</form>
