<form [formGroup]="uploadForm" novalidate>
    <div class="title-detail center-parent">
        <div>
            <div class="media-header center-parent">
                <h3 class="d-inline mb-0 text-dark bold-title">
                    UPLOAD
                    <span style="text-transform: uppercase">{{nameFile}}</span>
                </h3>
            </div>
        </div>
        <div class="position-absolute x-button">
            <img (click)="closePopup()" width="15" height="15" class="cursor-pointer not-outline" src="assets\images\close.png">
        </div>
    </div>
    <hr>
    <div class="d-flex">
        <div class="w-100  mr-auto">
            <div>
                <div class="body cus-header" id="info-main">
                    <div class="w-100 center-parent" *ngIf="errorMess" class="alert alert-danger" role="alert">
                        <span> {{errorMess}}</span>
                    </div>
                    <table class="w-100 table">

                        <tbody>
                            <tr>
                                <td class="w-30 label no-boder bold-title">Đường dẫn link</td>
                                <td class="w-70 no-boder">
                                    <input class="w-100" [class.disable-input]="displayName" class="form-control" formControlName="linkFile"
                                        tabindex="1" type="text">
                                </td>
                            </tr>
                            <tr>
                                <td class="w-30 label no-boder bold-title">Hoặc</td>
                                <td class="no-boder d-flex justify-content-between">
                                    <div class="fileUpload">
                                        <button class="btn btn-primary" [disabled]="uploadForm.get('linkFile').value">
                                            <i class="fa fa-cloud-upload" aria-hidden="true"></i>&nbsp;&nbsp;
                                            Chọn File</button>
                                        <input type="file" class="upload" tabindex="2" [disabled]="uploadForm.get('linkFile').value"
                                            (change)="uploadFile($event)" />
                                    </div>
                                    <div style="width: calc(100% - 120px);" class="d-flex justify-content-between">
                                        <div> <span class="text-truncate">{{displayName}}</span></div>
                                        <div *ngIf="displayName">
                                            <button (click)="deleteFileUpload()" class="btn btn-secondary">X</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="w-30 label no-boder bold-title required">Tên</td>
                                <td class="w-70 no-boder">
                                    <input class="w-100" kendoTextBox tabindex="4" type="text" formControlName="editName"
                                        [class.is-invalid]="formErrors.editName">
                                    <div class="invalid-feedback" *ngIf="formErrors.editName">
                                        {{formErrors.editName}}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="w-30 label no-boder bold-title">Phiên bản</td>
                                <td class="w-70 no-boder">
                                    <input appInputNumberInteger class="w-100" kendoTextBox tabindex="5" type="text"
                                        formControlName="version">
                                </td>
                            </tr>
                            <tr>
                                <td class="w-30 label no-boder bold-title">Lần phỏng vấn</td>
                                <td class="w-70 no-boder">
                                    <input appInputNumberInteger class="w-100" kendoTextBox tabindex="5" type="text"
                                        formControlName="interViewTimes">
                                </td>
                            </tr>
                            <tr>
                                <td class="w-30 label no-boder bold-title">Mô tả/Nội dung cập nhật</td>
                                <td class="w-70 no-boder">
                                    <textarea kendoTextArea tabindex="7" cols="3" rows="3" class="w-100 form-control no-resize-textarea"
                                        formControlName="description"></textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="action-bar alignment-but center-parent">
                <button type="submit" class="btn btn-primary ml-2 cus-but-cs" (click)="submitUpload()">Upload
                </button>
                <button class="btn btn-secondary ml-2 cus-but-cs" (click)="closePopup()">Hủy
                </button>
            </div>
        </div>
    </div>
</form>
