<form [formGroup]="uploadForm" novalidate>
    <div class="title-detail center-parent">
        <div>
            <div class="media-header center-parent">
                <h3 class="d-inline mb-0 text-dark bold-title">
                    UPLOAD
                    <span style="text-transform: uppercase">{{nameFile}}</span>
                </h3>
            </div>
        </div>
        <div class="position-absolute x-button" tabindex="10" (focus)="onFocus($event)">
            <img (click)="closePopup()" width="15" height="15" class="cursor-pointer not-outline" src="assets\images\close.png" />
        </div>
    </div>
    <hr>
    <div class="d-flex">
        <div class="w-100  mr-auto">
            <div>
                <div class="body cus-header" id="info-main">
                    <div class="w-100 center-parent" *ngIf="errorMess" class="alert alert-danger" role="alert">
                        <span> {{errorMess}}</span>
                    </div>
                    <table class="w-100 table">
                        <tbody>
                            <tr>
                                <td class="w-30 label no-boder bold-title">Đường dẫn link</td>
                                <td class="w-70 no-boder">
                                    <input class="w-100" #autofocus tabindex="1" [class.disable-input]="displayName"
                                        class="form-control" formControlName="linkFile" type="text">
                                </td>
                            </tr>
                            <tr>
                                <td class="w-30 label no-boder bold-title">Hoặc</td>
                                <td class="no-boder d-flex justify-content-between">
                                    <div class="fileUpload">
                                        <button class="btn btn-primary" [disabled]="lockField"
                                            [class.pointer-default]="lockField">
                                            <i class="fa fa-cloud-upload" aria-hidden="true"></i>&nbsp;&nbsp;
                                            Chọn File</button>
                                        <input type="file" class="upload" [class.pointer-default]="lockField" tabindex="2"
                                            [disabled]="lockField" (change)="uploadFile($event)" />
                                    </div>
                                    <div style="width: calc(100% - 120px);" class="d-flex justify-content-between">
                                        <div> <span class="text-breakline">{{ displayName }}</span></div>
                                        <div *ngIf="displayName">
                                            <button (click)="deleteFileUpload()" class="btn btn-secondary">X</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td class="w-30 label no-boder bold-title table__label--align">Hình ảnh</td>
                                <td class="no-boder">

                                    <div class="image-demo-img">
                                        <input type="file" accept="image/*" #uploadImage (change)="uploadImageF($event)">
                                        <div class="display-img" *ngFor="let url of imageUrls" (click)="viewFullScreenImage(structureImageUrls)">
                                            <img [src]="url.largeSizeUrl">
                                            <div class="icon-delete-image" (click)="deleteImage(url)">
                                                <i class="fa fa-times delete-icon" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <div class="perspective-image" (focus)="onFocus($event)"
                                            (click)="uploadImage.click()" tabindex="3">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                            <p>Image</p>
                                            <div id="uploadImageLoading"></div>
                                        </div>
                                    </div>

                                </td>
                            </tr>

                            <tr *ngIf="listTypeChildren.length">
                                <td class="w-30 label no-boder bold-title">Loại HSDT</td>
                                <td class="no-boder d-flex">
                                    <kendo-dropdownlist class="w-100" formControlName="type" [textField]="'name'"
                                        tabindex="4" [valueField]="'id'" [data]="listTypeChildren" [valuePrimitive]="true"
                                        (valueChange)="valueTypeDocChange($event)">
                                    </kendo-dropdownlist>
                                </td>
                            </tr>


                            <tr>
                                <td class="w-30 label no-boder bold-title required">Tên</td>
                                <td class="w-70 no-boder">
                                    <input class="w-100 text-truncate" kendoTextBox type="text" formControlName="editName"
                                        tabindex="4" [class.is-invalid]="formErrors.editName">
                                    <div class="invalid-feedback" *ngIf="formErrors.editName">
                                        {{formErrors.editName}}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="w-30 label no-boder bold-title">Phiên bản</td>
                                <td class="w-70 no-boder">
                                    <input appInputNumberInteger class="w-100" kendoTextBox type="number" tabindex="5"
                                        formControlName="version">
                                </td>
                            </tr>
                            <tr>
                                <td class="w-30 label no-boder bold-title required">Lần phỏng vấn</td>
                                <td class="w-70 no-boder">
                                    <input appInputNumberInteger class="w-100" kendoTextBox type="number" tabindex="6"
                                        formControlName="interViewTimes" [class.is-invalid]="formErrors.interViewTimes">
                                        <div class="invalid-feedback" *ngIf="formErrors.interViewTimes">
                                            {{formErrors.interViewTimes}}
                                        </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="w-30 label no-boder bold-title">Mô tả/Nội dung cập nhật</td>
                                <td class="w-70 no-boder">
                                    <textarea kendoTextArea cols="3" rows="3" class="w-100 form-control no-resize-textarea"
                                        tabindex="7" formControlName="description"></textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="action-bar alignment-but center-parent">
                <button type="submit" class="btn btn-primary ml-1 cus-but-cs" (click)="submitUpload()"
                    tabindex="8">Upload
                </button>
                <button class="btn btn-secondary ml-1 cus-but-cs" (click)="closePopup()"
                    tabindex="9">Hủy
                </button>
            </div>
        </div>
    </div>
</form>
