<div class="back-ground-table">
  <div class="table-body">
    <div class="row menu">
      <div class="col-md-3">
        <h5 class="d-inline mb-0 mr-auto text-dark text-uppercase">danh sách người dùng </h5>
      </div>
      <div class="col-md-9">
        <div class="btn-toolbar pull-right" style="flex-wrap: nowrap;">
          <div class="pr-4 d-flex">
            <label for="" class="form-label mx-sm-2 mb-0 center-parent">Hệ thống:</label>
            <span class="custom-dropdown" style="width: 150px;margin-right: 2px;">
              <select class="form-control" tabindex="4" [(ngModel)]="filterSystemType" (change)="changeFilterSystemType()">
                <option value="ALL">Tất cả</option>
                <option value="BID">Dự thầu</option>
                <option value="CRM">CRM</option>
              </select>
            </span>
          </div>
          <div class="input-group btn-rg">
            <span class="input-group-addon">Tìm kiếm</span>
            <input type="text" class="form-control icon" placeholder="&#xf002; Nhập tên, email" [value]="searchTerm$.value"
              (keyup)="searchTerm$.next($event.target.value)">
          </div>
          <button type="button" class="btn btn-primary btn-rg pull-right" [routerLink]="['../add-user']">
            Tạo mới
          </button>
          <button type="submit" class="btn btn-primary btn-rg pull-right" (click)="disableMultiple()">
            <!-- <i class="fa fa-trash-o" aria-hidden="true"></i> -->
            <!-- Xóa -->
            Vô hiệu hóa
          </button>
          <button type="button" class="btn btn-primary pull-right" (click)="loadPage()">
            <i class="fa fa-refresh" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="boder-table position-relative mt-3">
      <table *ngIf="!loading" class="zui-table table-striped table-hover">
        <thead *ngIf="pagedResult.items">
          <tr style="width: 100%">
            <th class="text-center min-width-stt">
              <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input input-checkbox" [(ngModel)]="checkboxSeclectAll"
                  (change)="onSelectAll($event.target.checked)">
                <span class="custom-control-indicator"></span>
              </label>
            </th>
            <th style="width: 12%">
              <div class="d-flex justify-content-start">
                <div style="margin-right: 10px">Tên đăng nhập</div>
              </div>
            </th>
            <th style="width: 10%">
              <div class="d-flex justify-content-start">
                <div style="margin-right: 10px">Email</div>
              </div>
            </th>
            <th style="width: 13%">
              <div class="d-flex justify-content-start">
                <div style="margin-right: 10px">Phòng ban</div>
              </div>
            </th>
            <th style="width: 12%">
              <div class="d-flex justify-content-start">
                <div style="margin-right: 10px">Chức vụ</div>
              </div>
            </th>
            <th style="width: 8%">
              <div class="d-flex justify-content-start">
                <div style="margin-right: 10px">Tên</div>
              </div>
            </th>
            <th style="width: 7%">
              <div class="d-flex justify-content-start">
                <div style="margin-right: 10px">Họ</div>
              </div>
            </th>
            <th style="width: 10%" class="text-center">
              <div class="d-flex justify-content-start">
                <div style="margin-right: 10px">Nhóm</div>
              </div>
            </th>
            <th style="width: 10%" class="text-center">
              <div class="d-flex justify-content-center">
                <div style="" class="text-center">Tình trạng</div>
              </div>
            </th>
            <th class="text-center min-width-manipulation">
              <div class="d-flex justify-content-center">
                <div style="" class="text-center">Thao tác</div>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of pagedResult.items">
            <td class="text-center min-width-stt">
              <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" [(ngModel)]="item.checkboxSelected">
                <span class="custom-control-indicator"></span>
              </label>
            </td>
            <td class="text-truncate">
              <img class="avatar-img rounded-circle" [src]="item.avatar || 'assets/images/no-avatar.png'">&nbsp;
              <span [title]="item?.userName ? item?.userName : ''">{{item?.userName}}</span>
            </td>
            <td class="text-truncate">
              <span [title]="item?.email ? item?.email : ''">
                {{item?.email}}
              </span>
            </td>
            <td class="text-truncate">
              <span [title]="item?.department?.value ? item?.department?.value : ''">
                {{item?.department?.value}}
              </span>
            </td>
            <td class="text-truncate">
              <span [title]="item?.level?.value ? item.level?.value : ''">
                {{item?.level?.value}}
              </span>
            </td>
            <td class="text-truncate">
              <span [title]="item?.lastName ? item?.lastName : ''">
                {{item?.lastName}}
              </span>
            </td>
            <td class="text-truncate">
              <span [title]="item?.firstName ? item?.firstName : ''">
                {{item?.firstName}}
              </span>
            </td>
            <td class="text-truncate">
              <div class="d-flex justify-content-between">
                <div class="text-truncate" [title]="(item.userGroup && item.userGroup.displayText)? item.userGroup.displayText : '/'">
                  {{(item.userGroup && item.userGroup.displayText)? item.userGroup.displayText : '/'}}
                </div>
                <div class="text-center" style="padding-left: 2px;">
                  <i class="fa fa-random color-random pointer" [title]="'Thay đổi nhóm'" aria-hidden="true" (click)="showPopupSelect(item.id, selectGroup)"></i>
                </div>
              </div>
            </td>
            <td class="text-truncate text-center">
              <div style="padding-right: 8px;padding-left: 8px;">
                <div *ngIf="item.isActive" class="color-active-show" style="color: white; padding: 0.1rem 0.1rem; border: 1px solid transparent; border-radius: 0.25rem;"
                  title="Hoạt động">
                  Active
                </div>
              </div>
              <div style="padding-right: 8px;padding-left: 8px;">
                <div *ngIf="!item.isActive" class="color-deactive-show" style="color: white; padding: 0.1rem 0.1rem; border: 1px solid transparent; border-radius: 0.25rem;"
                  title="Không hoạt động">
                  Deactive
                </div>
              </div>
            </td>
            <td class="text-truncate">
              <div class="d-flex justify-content-around">
                <div class="text-center not-outline" [routerLink]="['../edit-user/',item.id]">
                  <i class="fa fa-pencil color-edit pointer" aria-hidden="true" [title]="'Chỉnh sửa'"></i>
                </div>
                <div class="text-center">
                  <i class="fa fa-key color-edit pointer" aria-hidden="true" [title]="'Đặt lại mật khẩu'" (click)="resetPassword(item.id, item.userName)"></i>
                </div>
                <div style="zoom: 0.5;">
                  <label class="switch" style="margin: 0px">
                    <input type="checkbox" [checked]="item.isActive">
                    <span class="slider round" (click)="changeActive(item.id, item.isActive)"></span>
                  </label>
                </div>
              </div>
            </td>
          </tr>
          <tr *ngIf="!(pagedResult.items && pagedResult.items.length !== 0)">
            <td colspan="10" class="text-center">Không có dữ liệu</td>
          </tr>
        </tbody>
      </table>
      <ngx-loading [show]="loading"></ngx-loading>

    </div>
    <app-pagination *ngIf="!loading" [(pagedResult)]="pagedResult" (pagedResultChange)="pagedResultChange($event)"></app-pagination>

  </div>
</div>
<!-- Model Xóa user -->
<ng-template #deactive>
  <div class="modal-header no-boder-bottom">
    <div class="col-md-10 offset-md-1 text-center">
      <p class="modal-title text-title text-model">Bạn có chắc chắn muốn {{isActive ? 'khóa' : 'mở khóa'}} người dùng
        này? </p>
    </div>
    <div class="col-md-1">
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <div class="text-center pd-b20">
    <button type="submit" class="btn btn-primary w-80" (click)="onDeactiveUserGroup(userId,isActive);">Có</button>
    <button type="button" class="btn btn-default w-80" (click)="modalRef.hide()">Không</button>
  </div>
</ng-template>
<!--Start chọn nhóm cho người dùng-->
<ng-template #selectGroup>
  <div class="custom-table-header d-flex justify-content-between padding-title">
    <div class="center-parent" style="font-size: 150% !important; padding-left: 15px">
      Chọn nhóm cho người dùng
    </div>
    <div class="col-md-1">
      <a class="close pull-right" (click)="modalRef.hide()">
        <span class="point point-delete" aria-hidden="true">&times;</span>
      </a>
    </div>
  </div>
  <div class="modal-header no-boder-bottom-title no-border">
    <div class="form-group col-md-12">
      <label for="" class="form-label col-md-2">Nhóm</label>
      <span class="custom-dropdown col-md-9 no-padding-right">
        <select class="form-control" [(ngModel)]="changeUser.userGroup.key">
          <option value="0">--Chọn nhóm--</option>
          <option *ngFor="let item of dataGroupUser" [value]="item.id">{{item.text}}</option>
        </select>
      </span>
    </div>
  </div>
  <div class="pd-b20 d-flex justify-content-end">
    <button type="submit" class="btn btn-primary w-80" (click)="changeGroupUser();" style="margin-right: 8px">Lưu</button>
    <button type="button" class="btn btn-default w-80" (click)="modalRef.hide()" style="margin-right: 15px">Hủy</button>
  </div>
</ng-template>
<!--End chọn nhóm cho người dùng-->

<!-- <ngx-spinner bdColor="rgba(51, 51, 51, 0.7)" size = "default" color="#fff" type="ball-scale"></ngx-spinner> -->