.btn-up {
    color: white;
    margin-right: 4px;
}

.rule {
    border-right: 5px solid #00a0e3;
    content: "";
    margin: 10px 0;
}

.icon-filter {
    width: 116px;
}

.h-40 {
    height: 40px;
}

.ic-print-color {
    color: #EF6127;
}

.logo-hbc {
    max-width: 50%;
    object-fit: contain;
    max-height: 10em;
}

.ic-close {
    position: absolute;
    right: 1rem;
    top: 1.5rem;
}

.color-black {
    color: black;
}

.b-btn {
    min-width: 5rem;
}

.disable {
    cursor: default;
    i {
        color: gray;
        cursor: default;
    }
}
.table-history-stt--width{
    width: 2rem;
}
:host /deep/ .dataTables_wrapper {
    position: inherit !important;
}
:host /deep/ .dataTables_empty {
    display: none !important;
}
.table-layout--fixed{
    table-layout: fixed
}
.w-5{
    width: 5% !important;
    width: 3rem !important;
}
.w-10{
    width: 10% !important;
}
.w-15{
    width: 15% !important;
}
.w-20{
    width: 20% !important;
}
.w-30{
    width: 30% !important;
}
.w-40{
    width: 40% !important;
}
.w-60{
    width: 60% !important;
}
