.btn-up {
    color: white;
    margin-right: 4px;
}

.rule {
    border-right: 5px solid #00a0e3;
    content: "";
    margin: 10px 0;
}

.icon-filter {
    width: 116px;
}

.h-40 {
    height: 40px;
}