<div class="p-3">
    <h5 class="text-uppercase">II. các bên liên quan (stakeholders)</h5>
    <div class="d-flex flex-column">
        <div *ngFor="let stackholder of listOfBidUserStackholder">
            <div class="d-flex flex-row mt-3">
                <div class="w-15">1. {{ stackholder.groupDesc }}</div>
                <div class="w-25 ml-4">
                    <div class="form-control label-contact">Công ty TNHH ABC</div>
                </div>

                <div class="w-25 ml-4 mr-4 d-flex flex-row">
                    <div class="label-contact text-center w-20 d-flex align-content-center justify-content-center">Liên hệ</div>
                    <span [class.hide-dropdown]="stackholder.customers?.length <= 1" class="custom-dropdown-liveform w-80 custom-dropdown">
                        <select class="form-control value-option">
                            <option *ngIf="stackholder.customers?.length > 1" [ngValue]="null">---Chọn---</option>
                            <option *ngFor="let customer of stackholder.customers" [value]="customer.customerId">{{
                                customer.customerName }}</option>
                        </select>
                    </span>
                </div>

                <div class="w-25 ml-4 mr-4 d-flex flex-row">
                    <div class="label-contact text-center w-25 d-flex align-content-center justify-content-center">Ghi chú</div>
                    <input class="form-control">
                </div>
            </div>
        </div>
    </div>
</div>
