<div class="p-3">
    <h5 class="text-uppercase font-weight-bold">II. các bên liên quan (stakeholders)</h5>
    <div class="d-flex flex-column mt-4">


        <div class="d-flex flex-row mb-2" *ngFor="let item of stakeHolderList; index as i">
            <div class="w-15 d-flex flex-row">
                <div>{{i+1}}. &nbsp;</div>
                <div>{{item?.groupDesc}}</div>
            </div>
            <div class="w-85">
                <ng-container *ngIf="item.customers.length === 0">
                    <div class="d-flex flex-row w-100 mb-3">
                        <div class="w-3 ml-3">
                            <span class="form-control form-control-customer">
                                <textarea disabled="true" class="form-control b-textarea h-100"></textarea>

                            </span>
                        </div>

                        <div class="w-3 ml-3 d-flex flex-row">
                            <div class="label-contact w-20 text-center center-parent">
                                <div>Liên hệ</div>
                            </div>
                            <span class="form-control form-control-custom w-80">
                                <textarea disabled="true" class="form-control b-textarea h-100"></textarea>

                            </span>
                        </div>
                        <div class="w-3 ml-3 d-flex flex-row">
                            <div class="label-contact w-20 text-center center-parent">
                                <div>Ghi chú</div>
                            </div>
                            <span class="form-control form-control-custom w-80">
                                <textarea #autofocusone tabindex="1" disabled="true" class="form-control b-textarea h-100"></textarea>
                            </span>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngFor="let customer of item.customers; index as k">
                    <div class="d-flex flex-row w-100 mb-3">
                        <div class="w-3 ml-3">
                            <span class="form-control form-control-customer"> {{customer?.customerName}} </span>
                        </div>

                        <div class="w-3 ml-3 d-flex flex-row">
                            <div class="label-contact w-20 text-center center-parent">
                                <div>Liên hệ</div>
                            </div>
                            <span class="form-control form-control-custom w-80">
                                <span *ngFor="let contact of customer.contacts; index as k">
                                    {{contact.name}}<span *ngIf="customer.contacts.length > 1">, </span>
                                </span>
                            </span>
                        </div>
                        <div class="w-3 ml-3 d-flex flex-row">
                            <div class="label-contact w-20 text-center center-parent">
                                <div>Ghi chú</div>
                            </div>
                            <span class="form-control form-control-custom w-80">
                                <textarea id="ghichu{{k}}" tabindex="k+2" [disabled]="isModeView" class="form-control b-textarea h-100" (input)="noteChange($event)" [(ngModel)]="customer.note"></textarea>
                            </span>
                        </div>
                    </div>
                </ng-container>
            </div>


        </div>


    </div>
    <div class="text-center mt-4">
        <button class="btn border" routerLink="../info">
            <i class="fa font-size-3 mr-3 fa-angle-left" aria-hidden="true"></i>
            Trở về
        </button>
        <button tabindex="1" class="btn btn-primary ml-1" routerLink="../scope">
            Tiếp
            <i class="fa font-size-3 ml-3 fa-angle-right" aria-hidden="true"></i>
        </button>
    </div>
</div>