.boder-table {
    border: 1px solid #ebebeb;
    padding-bottom: 35px;
    margin-top: 10px;
    border-radius: 4px;
    box-shadow: 0 0 10px 3px #f1f1f1;
    height: 1009px;
    background-color: #fff;
}

.container {
    width: 100%;
    margin-left: 30px;
    padding: 20px 0px 0px 10px;
}

.progressbar {
    width: 100% !important;
    counter-reset: step;
    padding: 20px 0px 10px 30px;
}

.progressbar li {
    list-style-type: none;
    width: 16%;
    float: left;
    font-size: 12px;
    position: relative;
    text-align: center;
    color: #7d7d7d;
    z-index: 20;
    outline: none;
}

.progressbar li:before {
    width: 30px;
    height: 30px;
    content: counter(step);
    counter-increment: step;
    line-height: 30px;
    border: 1px solid #b8b8b8;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 10%;
    background-color: #ebebeb;
    z-index: 30;
    cursor: pointer;

   // border-top: 1px dashed #8c8b8b;

}

.progressbar li:after {
    width: calc(100% - 30px);
    height: 1px;
    content: '';
    position: absolute;
    background-color: #ebebeb;
    border-top: 1px dashed #8c8b8b;

    top: 15px;
    left: calc(-50% + 15px);
    z-index: 1;
}

.progressbar li:first-child:after {
    content: none;
}

.progressbar li.active {
    color: white;
}

.progressbar li.active .text-color {
    color: #00a0e3 !important;
}

.progressbar li.active:before {
    border-color: #00a0e3;
    background-color: #00a0e3;
}

.progressbar li.active:after {
   // background-color: #00a0e3;
   border-top: 1px dashed #00a0e3!important;

}

.rule {
    border-right: 5px solid #00a0e3;
    content: "";
    margin: 10px 0;
}

.color-dep {
    border-left: 5px solid #00a0e3;
    padding-left: 6px;
    height: 16px;
}

.btn-dep {
    background-color: #00a0e3;
    border: #00a0e3;
    color: white;
    margin-right: 4px;
}

.btn-up {
    color: white;
    margin-right: 4px;
}

.btn:focus,
.btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(0, 160, 227, 0.25) !important;
}

.pd-left {
    padding: 0px 50px 0px 0px;
}

.disable {
    cursor: not-allowed;
    pointer-events: none;
}

.content-deployment {
    padding: 20px 0px 100px 50px;
}

.content-UploadFile {
    padding: 20px 0px 20px 50px;
}

.text-title {
    text-transform: uppercase;
}

#outer-table {
    padding: 20px 70px;
}

.table-assignment {
    padding: 10px 0px 0px 0px;
    text-transform: uppercase;
}

.no-boder-bottom {
    border-bottom: none;
}
input.icon{
    font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.input-group>.input-group-prepend>.input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    border: 1px solid #ced4da;
    border-right: none;
    border-radius: .25rem;
}

.boder-left-none {
    border-left: none;
    padding-left: 0px;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #d8d8d8;
    outline: none; // box-shadow: 0 0 0 0.02rem rgba(0, 160, 227, 0.25);
    box-shadow: none;
}

.icon-arrow {
    padding: 5px 0px 0px 5px;
}

.color-arrow {
    color: #00a0e3;
    font-size: 20px;
}

.text-dark {
    color: #343a40 !important;
}

.d-inline {
    display: inline !important;
}

.pd-Upload {
    padding: 0px 0px 0px 90px;
}

.close {
    font-size: 1.8rem !important;
}

.pd-up {
    padding-bottom: 10px;
}

.custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1; // height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
}

.btnOther {
    padding: 0px 4px 0px 3px;
    font-size: 10px;
    color: #00a0e3;
}

.pdOther {
    padding: 10px 0px 10px 0px;
}

.text-model {
    color: #343a40 !important;
    font-weight: 700
}
.dot-dot-dot{
    ul{
        padding: 0 6px!important;
    }
    li {
        width: 5px;
        height: 5px;
        text-align: center;
        line-height: 2epx;
        border-radius: 50%;
        background: dodgerblue;
        margin: 0 1px;
        display: inline-block;
        color: white;
        position: relative;
      }

      li::before{
       // content: '';
        position: absolute;
        top: .9px;
        left: -4px;
        width: 4px;
        height: .2px;
        background: dodgerblue;
        z-index: -1;
      }



      li:first-child::before {
        display: none;
      }

      .active {
        background: dodgerblue;
      }

      .active ~ li {
        background: lightblue;
      }

      .active ~ li::before {
        background: lightblue;
      }

}

.custom-filter-bar {
    padding: 10px;
}
.pending-img{
    width: 30px;
}

.btn-default-w {
    width: 110px;
    height: 34px;
}

.setHSDT {
    height: 20px;
    line-height: 4px;
}

.pd-body {
    padding-bottom: 100px;
}

button:focus {
    outline: 1px dotted;
    outline: #fff !important;
}

table.dataTable th {
    border-bottom: 1px solid #dddddd !important;
    background-color: white!important;
    border: 1px solid #dddddd;
}
