<div class="mx-20 detail-container">
    <div class="d-flex">
        <ul class="progressbar">
            <li class="triangle" [routerLink]="['./create-request']" [class.noActive]="(currentUrl !== 'create-request') && (statusPackageID > -1)"
                [class.active]="currentUrl === 'create-request'" [class.allow]="(statusPackageID > -1)">
                <div style="width: 100%" class="center-parent">
                    <div class="arrow-down"></div>
                </div>
                <span class="text-color">
                    <strong>Cần lập đề nghị dự thầu</strong>
                </span>
            </li>
            <!-- (statusPackageID > 0) || statusPackageName === 'ThamGiaDuThau' ? ['./infomation-deployment'] : [] -->
            <li class="triangle" [routerLink]="(statusPackageID > 0) || statusPackageName === 'ThamGiaDuThau' ? ['./infomation-deployment'] : []"
                [class.noActive]="( (currentUrl !== 'infomation-deployment') && statusPackageID > 0) ||  ( currentUrl === 'create-request' && statusPackageName === 'ThamGiaDuThau' )"
                [class.active]="currentUrl === 'infomation-deployment'"
                [class.allow]="(statusPackageID > 0) || statusPackageName === 'ThamGiaDuThau'"
                [class.no-allow]="(statusPackageID < 1) && statusPackageName !== 'ThamGiaDuThau'">
                <div style="width: 100%" class="center-parent">
                    <div class="arrow-down"></div>
                </div>
                <span class="text-color">
                    <strong>Triển khai &amp; phân công tiến độ</strong>
                </span>
            </li>
            <!-- (statusPackageID > 1) ? ['./build'] : [] -->
            <li class="triangle" [routerLink]="['./build']" [class.noActive]="currentUrl !== 'build' && statusPackageID > 1"
                [class.active]="currentUrl === 'build'" [class.allow]="(statusPackageID > 1)" [class.no-allow]="(statusPackageID < 2)">
                <div style="width: 100%" class="center-parent">
                    <div class="arrow-down"></div>
                </div>
                <span class="text-color ">
                    <strong>Lập HSDT</strong>
                </span>
            </li>
            <!-- (statusPackageID > 2) ? ['./price-review'] : [] -->
            <li class="triangle" [routerLink]="(statusPackageID > 2) ? ['./price-review'] : []" [class.noActive]="currentUrl !== 'price-review' && statusPackageID > 2"
                [class.active]="currentUrl === 'price-review'" [class.allow]="(statusPackageID > 2)" [class.no-allow]="(statusPackageID < 3)">
                <div style="width: 100%" class="center-parent">
                    <div class="arrow-down"></div>
                </div>
                <span class="text-color ">
                    <strong>Trình duyệt giá</strong>
                </span>
            </li>
            <!-- (statusPackageID > 3)  ? ['./interview-negotiation'] : [] -->
            <li class="triangle" [routerLink]="['./interview-negotiation']" [class.noActive]="currentUrl !== 'interview-negotiation' && statusPackageID > 3"
                [class.active]="currentUrl === 'interview-negotiation'" [class.allow]="(statusPackageID > 3)" [class.no-allow]="(statusPackageID < 4)">
                <div style="width: 100%" class="center-parent">
                    <div class="arrow-down"></div>
                </div>
                <span class="text-color">
                    <strong>Quản lý phỏng vấn/thương thảo</strong>
                </span>
            </li>
        </ul>
    </div>
    <div class="set-min-height">
        <router-outlet></router-outlet>
    </div>
</div>