<div class="enter-active-code-page center-parent" [@routerTransition] style="background: url('assets/images/background2.jpg') no-repeat; background-size:cover;">
    <div class="center-parent">
            <div id="formLogin"  class="col-xl-8 col-md-12 col-lg-10 col-sm-12 col-sx-12">
                <div class="row no-gutters">
                    <div class="col-md-6 col-lg-6 col-sm-6">
                            <img src="assets\images\Logo2.jpg" style="width:100%; height: 100%;">

                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6">
                            <div class="panel">
                                    <!-- <h1 class="pb-3">BYS CRM</h1> -->
                        
                                    <div class="form-wrapper h-100">
                                            <form role="form" class="h-100"[formGroup]="enterActiveCodeForm" (ngSubmit)="submitForm()">
                                                    <app-list-errors [errorCode]="apiErrorCode"></app-list-errors>
                                    
                                                    <div class="header mb-2 mt-4">
                                                        <div class="font-weight-bold">NHẬP MÃ XÁC NHẬN</div>
                                                    </div>
                                                    <div class="messenger mt-5">
                                                        <label>Vui lòng nhập mã xác nhận đã được gửi đến địa chỉ email
                                                            <a href="mailto:someone@example.com?Subject=Hello%20again" target="_top">{{ email }}</a>
                                                        </label>
                                                    </div>
                                    
                                                    <div class="form-group list-code mt-1">
                                                        <div class="row">
                                                            <div class="code col-lg-2 col-md-2 col-sm-2" [class.is-invalid-2]="formErrors.numberOne">
                                                                <input autofocus maxlength="1" appInputNumber class="form-control" formControlName="numberOne" (keyup)="(($event.keyCode >= 48 && $event.keyCode <= 57) || ($event.keyCode >= 96 && $event.keyCode <= 105)) && code2.select()">
                                                            </div>
                                                            <div class="code col-lg-2 col-md-2 col-sm-2" [class.is-invalid-2]="formErrors.numberTwo">
                                                                <input #code2 maxlength="1" appInputNumber class="form-control" formControlName="numberTwo" (keyup)="(($event.keyCode >= 48 && $event.keyCode <= 57) || ($event.keyCode >= 96 && $event.keyCode <= 105))  && code3.select()">
                                                            </div>
                                                            <div class="code col-lg-2 col-md-2 col-sm-2" [class.is-invalid-2]="formErrors.numberThree">
                                                                <input #code3 maxlength="1" appInputNumber class="form-control" formControlName="numberThree" (keyup)="(($event.keyCode >= 48 && $event.keyCode <= 57) || ($event.keyCode >= 96 && $event.keyCode <= 105)) && code4.select()">
                                                            </div>
                                                            <div class="code col-lg-2 col-md-2 col-sm-2" [class.is-invalid-2]="formErrors.numberFour">
                                                                <input #code4 maxlength="1" appInputNumber class="form-control" formControlName="numberFour" (keyup)="(($event.keyCode >= 48 && $event.keyCode <= 57) || ($event.keyCode >= 96 && $event.keyCode <= 105)) && code5.select()">
                                                            </div>
                                                            <div class="code col-lg-2 col-md-2 col-sm-2" [class.is-invalid-2]="formErrors.numberFive">
                                                                <input #code5 maxlength="1" appInputNumber class="form-control" formControlName="numberFive" (keyup)="(($event.keyCode >= 48 && $event.keyCode <= 57) || ($event.keyCode >= 96 && $event.keyCode <= 105)) && code6.select()">
                                                            </div>
                                                            <div class="code col-lg-2 col-md-2 col-sm-2" [class.is-invalid-2]="formErrors.numberSix">
                                                                <input #code6 maxlength="1" appInputNumber class="form-control" formControlName="numberSix" (keyup)="btnSubmit.focus()">
                                                            </div>
                                                        </div>
                                                    </div>
                                    
                                                    <div class="footer-1 mt-3">
                                                        <a class="btn underline" (click)="sendCodeAgain()">Không nhận được mã xác nhận,
                                                            <span class="bold"> gửi lại</span>
                                                        </a>
                                                    </div>
                                                    <div class="text-warning" *ngIf="isMessengerAlert">
                                                        {{ messengerAlert }}
                                                    </div>
                                    
                                                    <button #btnSubmit type="submit" class="btn btn-primary w-100 mt-4 text-uppercase">TIẾP TỤC</button>
                                    
                                                    <div class="footer-2 mt-3">
                                                        <a class="" [routerLink]="['/login']">Trở về</a>
                                                    </div>
                                                </form>
                                    </div>
                        
                                   
                                </div>
                        </div>
                </div>
                <div class="row mt-5 center-parent">
                        <div class="copy-right">Copyright &copy; 2018. Bản quyền thuộc về BYS</div>
        
                    </div>
            </div>
      
    </div>
</div>
