.header {
    margin-top: 34px;

    button.btn.btn-primary {
        margin-right: 50px;
        padding: 10px 25px 10px 40px;

        p{
            margin: 0; padding: 0;
        }
    }
}


//step process

.progressbar {
    width: 100% !important;
    counter-reset: step;
    padding: 0px 0px 0px 0px;
}

.progressbar li {
    list-style-type: none;
    width: 14%;
    float: left;
    font-size: 12px;
    position: relative;
    text-align: center;
    color: black;
    z-index: 20;
    outline: none;
    font-weight: bold;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #ebebeb;
    position: relative;
    top: -10px;
    z-index: 3;
}
.arrow-down-active {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #00a0e3;
    position: relative;
    top: -10px;
    z-index: 3;
}

.progressbar li:before {
    width: 150px;
    height: 36px;
    // content: counter(step);
    counter-increment: step;
    line-height: 35px;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    background-color: #fff;
    z-index: 30;
    cursor: pointer;    
    box-shadow: 0 1pt 12pt rgba(0, 0, 0, 0.15)
}


.progressbar li.triangle:before {  
    content:'1 Kết quả dự thầu' ;  
}
.progressbar li.triangle2:before {   
    content:'2 Hợp đồng ký kết' ;  
   
}
.progressbar li.triangle3:before {   
    content:'3 Họp kick-off' ;   
}

.progressbar li:after {
    width: calc(100% - 150px);
    height: 3px;
    content: '';
    position: absolute;
    background-color: #fff;
    box-shadow: 0 1pt 12pt rgba(0, 0, 0, 0.15);
    top: 15px;
    left: calc(-50% + 75px);
    z-index: 1;
}

.progressbar li:first-child:after {
    content: none;
}

.progressbar li.active {
    color: white;
}

.progressbar li.active .text-color {
    color: #00a0e3 !important;
}

.progressbar li.active:before {
    border-color: #00a0e3;
    background-color: #00a0e3;
    .arrow-down {
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 8px solid #00a0e3!important;
        position: relative;
        top: -10px;
        z-index: 3;
      }
}

.progressbar li.active:after {
    border-top: 3px solid #00a0e3!important;

}

.router-link-active{
    background-color: #00a0e3!important;
    color: #fff!important;
    font-size: 140%!important;
    font-weight: 400!important;  

}
.disable {
    cursor: not-allowed;
    pointer-events: none;
}


.active{
    // css active, co phia tren ak N
    .arrow-down{
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 8px solid #00a0e3;
        position: relative;
        top: -10px;
        z-index: 3;
    } 
}
@media only screen and (max-width: 1270px) {
    .menu {
        zoom: 0.9;
    }
    
}
@media only screen and (max-width: 1366px) {
    .progressbar li {
        width: 16%;
    }
    
}
@media only screen and (max-width: 1200px) {
    .menu {
        zoom: 0.85;
    }
    .progressbar li {
        width: 18.4%;
    }
}

@media only screen and (max-width: 1024px) {
    #bigMenu {
        zoom: 0.8 !important;
    }
    .router-link-active {
        font-size: 110% !important;
    }
    .action {
        font-size: 110% !important
    }
    .progressbar li {
        width: 22%;
    }
}

@media only screen and (max-width: 1100px) {
    #bigMenu {
        zoom: 0.8;
    }
}

@media only screen and (max-width: 993px) {
    .title-detail {
        width: 100% !important;
    }
}
