<form [formGroup]="specialRequirementForm">
    <div class="p-3">
        <h5 class="text-uppercase font-weight-bold">XI. YÊU CẦU ĐẶC BIỆT KHÁC (OTHERS SPECIAL REQUIREMENT)</h5>
        <div>
            <div>
                <div class="title-container d-flex align-items-center">
                    <h6>Yêu cầu</h6>
                    <i class="fa fa-plus-square-o ml-3 pointer" aria-hidden="true" (click)="addFormArrayControl('requirements')"
                        *ngIf="!isModeView"></i>
                </div>

                <div class="container-table mt-3">
                    <table class="table-requirement">

                        <tr class="tr-requirement">
                            <td rowspan="2" class="text-center">
                                <div class="index-row-table">2</div>
                            </td>
                            <td rowspan="2" class="w-40">
                                <textarea rows="3" class="form-control tenderEvaluation-text" formControlName="tenderEvaluation"></textarea>
                            </td>
                            <td rowspan="2">
                                <textarea rows="3" class="form-control tenderEvaluation-text" formControlName="tenderEvaluationSteps"></textarea>
                            </td>
                            <td>
                                <input type="text" class="form-control" formControlName="tenderEvaluationStep1">
                            </td>
                        </tr>
                        <tr class="tr-requirement">
                            <td>
                                <input type="text" class="form-control" formControlName="tenderEvaluationStep2">
                            </td>
                        </tr>

                        <!-- Begin Map -->
                        <ng-container formArrayName="requirements">
                            <tr class="tr-requirement hover-row" *ngFor="let fControl of requirementsFA.controls; index as i"
                                [formGroupName]="i" id="requirementsrow{{i}}">
                                <td class="text-center">
                                    <div class="index-row-table text-center" [ngClass]="{'index-row': i>1 && !isModeView}">
                                        {{ (i==0)? (i+1) : (i+2) }}
                                    </div>
                                    <div *ngIf="i>1 && !isModeView" class="index-row-table text-center delete-icon">
                                        <i (click)="removeFormArrayControl('requirements', i)" class="fa fa-times-circle pointer"
                                            aria-hidden="true"></i>
                                    </div>
                                </td>
                                <td class="w-40">
                                    <input type="text" class="form-control" formControlName="requirementName">
                                </td>
                                <td>
                                    <input type="text" class="form-control" formControlName="requirementLink">
                                </td>
                                <td>
                                    <input type="text" class="form-control" formControlName="requirementDesc">
                                </td>
                            </tr>
                        </ng-container>
                        <!-- End Map -->
                    </table>
                </div>

            </div>
        </div>
        <footer>
            <div class="text-center mt-4">
                <button appAutoFocus  tabindex="1" class="btn border" routerLink="../condition-tender">
                    <i class="fa font-size-3 mr-3 fa-angle-left" aria-hidden="true"></i>
                    Trở về
                </button>
                <button class="btn border  cursor-cancel" disabled>
                    Tiếp
                    <i class="fa font-size-3 ml-3 fa-angle-right" aria-hidden="true"></i>
                </button>

            </div>
        </footer>

    </div>
</form>
