<form [formGroup]="specialRequirementForm">
    <div class="p-3">
        <h5 class="text-uppercase font-weight-bold">IV. danh sách các nhà thầu phụ được chỉ định (list of nonminated sub-contractors)</h5>
        <div>
            <div>

                <div class="container-table mt-3">
                    <table class="table-requirement">
                        <tr class="tr-requirement">
                            <td>
                                <div class="index-row-table">1</div>
                            </td>
                            <td>
                                Green Building Standard
                            </td>
                            <td>
                                <input formControlName="descOne" class="form-control" type="text">
                            </td>
                            <td>
                                <input formControlName="linkOne" class="form-control" type="text">
                            </td>
                        </tr>

                        <tr class="tr-requirement">
                            <td rowspan="2">
                                <div class="index-row-table">2</div>
                            </td>
                            <td rowspan="2">
                                Tender Evaluation
                            </td>
                            <td rowspan="2">
                                Two (02) steps
                            </td>
                            <td>
                                <input type="text" formControlName="linkTwo">
                            </td>
                        </tr>

                        <tr class="tr-requirement">
                            <td>
                                <input type="text" formControlName="link2Two">
                            </td>
                        </tr>

                        <tr class="tr-requirement">
                            <td>
                                <div class="index-row-table">3</div>
                            </td>
                            <td>
                                Profit, Overhead and Attendance
                            </td>
                            <td>
                                <input type="text" formControlName="descThree">
                            </td>
                            <td>
                                <input type="text" formControlName="linkThree">
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
        <footer>
                <div class="text-center mt-4">
                        <button class="btn border" routerLink="../condition-tender">
                            <i class="fa font-size-3 mr-3 fa-angle-left" aria-hidden="true"></i>
                            Trở về
                        </button>
                    </div>
        </footer>
    
    </div>
</form>