.title-container {
    margin-left: 1rem;

    h6 {
        margin-bottom: unset;

    }
}

.container-table {
    margin-left: 1rem;
}

table.table-requirement,
td,
    {
    border: 2px solid #D4D4D4;
    border-collapse: collapse;
}

.tr-requirement {

    input {
        border: none;
    }

    .index-row-table {
        margin: 0.3rem;
    }
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #ced4da;
    font-style: italic;
}

.cursor-cancel {
    cursor: not-allowed;
}

.tenderEvaluation-text {
    border: none;
    text-align: left;
}

.fa.fa-times-circle.pointer {
    color: #c0c0c0;
    font-size: 1.2rem
}

.hover-row {
    .index-row {
        display: unset;
    }

    .delete-icon {
        display: none;
    }

    &:hover {
        .index-row {
            display: none;
        }

        .delete-icon {
            display: unset;
            margin: unset;
        }
    }
}